// Silent classes
%header_text {
    color: $heading-color;
    font-family: $main-font;
    font-weight: 700;
}
%semi-header_text {
    color: $heading-color;
    font-family: $main-font;
    font-weight: 600;
}
// checkbox style
.c-checkbox-style input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}
.c-checkbox-style label {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #7F8C8D;
    padding: 5px 0px 5px 20px;
    margin: 0px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}
.c-checkbox-style .check {
    display: block;
    position: absolute;
    border: 1px solid #979797;
    background-color: #ECF0F1;
    border-radius: 2px;
    height: 16px;
    width: 16px;
    top: 9px;
    left: 5px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.c-checkbox-style .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 2px;
    height: 9px;
    width: 10px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.c-checkbox-style input[type=checkbox]:checked ~ .check {
    border: 1px solid #34495E;
}
.c-checkbox-style input[type=checkbox]:checked ~ .check::before {
    background: #34495E;
}
.c-checkbox-style input[type=checkbox]:checked ~ label {
    color: #34495E;
}
// Toogle Style
.switch_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    //max-width: 200px;
    //min-width: 200px;
    //height: 200px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* Switch Specific Styles Start */

.box_4 {
    background: #eee;
}
.input_wrapper {
    width: 80px;
    height: 40px;
    position: relative;
    cursor: pointer;
}
.input_wrapper input[type="checkbox"] {
    width: 80px;
    height: 40px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #315e7f;
    border-radius: 2px;
    position: relative;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.input_wrapper input[type="checkbox"]:after {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 34px;
    height: 34px;
    background: #dfeaec;
    z-index: 2;
    border-radius: 2px;
    -webkit-transition: all .35s;
    transition: all .35s;
}
.input_wrapper span {
    position: absolute;
    top: 40%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    fill: #fff;
    -webkit-transition: all .35s;
    transition: all .35s;
    z-index: 1;
    color: #fff;
    font-weight: 700;
}
.input_wrapper .is_checked {
    width: 30px;
    left: 8%;
    -webkit-transform: translateX(190%) translateY(-30%) scale(0);
    transform: translateX(190%) translateY(-30%) scale(0);
}
.input_wrapper .is_unchecked {
    width: 30px;
    right: 8%;
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}

/* Checked State */

.input_wrapper input[type="checkbox"]:checked {
    background: #23da87;
}
.input_wrapper input[type="checkbox"]:checked:after {
    left: calc(100% - 37px);
}
.input_wrapper input[type="checkbox"]:checked + .is_checked {
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}
.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked {
    -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
    transform: translateX(-190%) translateY(-30%) scale(0);
}

/* Loader style */

.sk-double-bounce {
    width: 40px;
    height: 40px;
    position: relative;
    //margin: 40px auto;
}
.sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f05f40;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
    animation: sk-doubleBounce 2s infinite ease-in-out;
}
.sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes sk-doubleBounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes sk-doubleBounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* /Loader style */


/* Switch Specific Style End */
