<p>
Hi {{name}},
</p>

<p>
Your friend {{friend_name}} would love for you to join the Peace with Food movement.  First download the app!
</p>
<p>
<a href="https://itunes.apple.com/us/app/peace-with-food/id1358837136?mt=8">Download iOS</a> | i<a href="https://play.google.com/store/apps/details?id=com.hellopeacewithfood.android">Download Android</a>
</p>

<p>
Once you have the app, go to CONNECT, then Add New Friend, and enter this code:
</p>
<p>
{{code}}
</p>

<p>
Cheers!
- The Peace With Food Team
</p>

<p style="max-width:300px;">
What is Peace with Food?
<hr/>
At Peace with Food we seek to empower all individuals to regain confidence with their ability to listen and respond to their unique rhythms of hunger and fullness. This releases you from burdensome dieting, food rules and chaotic eating… resulting in peace with food and peace with your body.
</p>
