body,
html {
    height: 100%;
    font-family: $main-font;
}
.navbar-brand--logo {
    font-family: $main-font;
    font-weight: 400;
    font-size: 30px;
    background-color: #ECF0F1;
    margin-right: 0px;
    padding: 5px 10px;
    border-radius: 2px;
    color: $primary-dark-grey-active !important;
    span {
        font-weight: 700;
    }
}
.o-post-logged {
    display: inline-block;
    float: left;
    color: #e2e2e2;
    margin-top: 4px;
    font-weight: 400;
    span {
        color: $white;
        font-weight: 700;
    }
}
.logout-link {
    float: left;
    background-color: #7491a5;
    margin-left: 5px;
    border-radius: 2px;
    padding: 5px;
    margin-top: 0px;
    &:hover {
        background-color: $primary-blue;
        color: rgba(255, 255, 255, 1);
    }
}
