<template>
  <div id="app">
    <add-header></add-header>
    <router-view/>
  </div>
</template>

<script>
import appHeader from './components/header'
export default {
  components:{
    'add-header':appHeader
  },
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
