<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

	{{{body}}}
	{{!-- To access the partial layout --}}
	{{!-- <div>{{>test}}</div> --}}

	

</body>
</html>