.bgColor{
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.9));
    background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.9));
    background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0.9));
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.9));
}