<div class="container-fluid">
	<div class="row">
		<div class="col-sm my-3" *ngFor="let item of items | async; let i = index">
			<a routerLink="/items/{{i}}">
				<div class="card card-inverse">
				  <img class="card-img" src="{{item.img}}" alt="Card image">
				  <div class="card-img-overlay bgColor">
				    <h4 class="card-title">{{item.name}}</h4>
				    <p class="card-text">{{item.address}}</p>
				    
				  </div>
				</div>
			</a>
		</div>
	</div>
</div>