<div class="container-fluid">
	<div class="row">
		<div class="col-sm my-3" *ngFor="let item of items | async">
			<a href="#">
				<div class="card" style="width: 20rem;">
				  <img class="card-img-top" src="{{item.img}}" alt="Card image cap">
				  <div class="card-block">
				    <h4 class="card-title">{{item.name}}</h4>
				    <p class="card-text"></p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				</div>
			</a>
		</div>
	</div>
</div>