<div class="container">
  <div class="row omb_row-sm-offset-3 omb_socialButtons">
    <div class="col-xs-6 col-sm-2">
      <a href="javascript:void(0)" class="btn btn-lg btn-block omb_btn-facebook">
        <i class="fa fa-facebook visible-xs"></i>
        <span class="hidden-xs">Facebook</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-2">
      <a href="javascript:void(0)" (click)="loginWithGoogle()" class="btn btn-lg btn-block omb_btn-google">
        <i class="fa fa-google-plus visible-xs"></i>
        <span class="hidden-xs">Google+</span>
      </a>
    </div>  
  </div>
  <form class="form-signin" autocomplete="off" novalidate="" [formGroup]="form" (submit)="login()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" autofocus="" formControlName="email">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" formControlName="password">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>