<style type="text/css">
	table, th, td {
	   border: 1px solid black;
	}
</style>

<h1>{{title}}</h1>
<h3>{{body}}</h3>

<form action="/email/sent" method="post">
	<table>
		<tr>
			<td>To</td>
			<td style="padding:3px"><input type="text" name="emailaTo" required="Field is required" placeholder="To"></td>
		</tr>
		<tr>
			<td>Subject</td>
			<td style="padding:3px"><input type="text" name="emailSub" required="Field is required" placeholder="Subject"></td>
		</tr>
		<tr>
			<td>Body</td>
			<td style="padding:3px"><input type="text" name="emailBody" required="Field is required" placeholder="Body"></td>
		</tr>
		<tr>
			<td></td>
			<td><button type="submit">Send</button></td>
		</tr>
	</table>
</form>