<h1>Welcome to, {{title}}</h1>
<h1>{{body}}</h1>

<style type="text/css">
	table, th, td {
	   border: 1px solid black;
	}
</style>

<!-- <table>
	<tr>
		<th>Full Name</th>
		<th>Last name</th>
		<th>Email</th>
		<th>Mobile</th>
	</tr>

	{{#each data}}
	<tr>
		<td>{{this.fname}}</td>
		<td>{{this.lname}}</td>
		<td>{{this.email}}</td>
		<td>{{this.mobile}}</td>
	</tr>
	{{/each}}

</table> -->