<h1>{{title}}</h1>
<h3>{{body}}</h3>

<style type="text/css">
	table, th, td {
	   border: 1px solid black;
	}
</style>
<h2>Registration</h2>
<form action="mongodb/form/submit" method="post">
	<table>
		<tr>
			<td>First Name</td>
			<td><input type="text" name="fname" required=""></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><input type="text" name="lname" required=""></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" required=""></td>
		</tr>
		<tr>
			<td></td>
			<td><button type="submit">Submit</button></td>
		</tr>
	</table>
</form>

<br>
<br>
<br>
<br>
<br>

<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Action</th>
	</tr>
	{{#each usersData}}
		<tr>
			<td>{{this.fname}}</td>
			<td>{{this.lname}}</td>
			<td>{{this.email}}</td>
			<td>
				<button class="doUpdate" value={{this.email}}>update</button>
				<button class="doDelete" value={{this.email}}>delete</button>
			</td>
		</tr>
	{{/each}}

</table>


<script>
	$(document).ready(function() {
		$(".doUpdate").click(function(event) {
			window.location="http://localhost:2000/update/"+$(this).val()
		});
		$(".doDelete").click(function(event) {
			window.location="http://localhost:2000/user/delete/"+$(this).val()	
		});
	});
</script>