<h1>{{title}}</h1>
<h4>{{content}}</h4>

<form action="/reg/submit" method="post">
	<input type="text" name="fname"><br>
	<input type="text" name="lname"><br>
	<input type="text" name="email"><br>
	<input type="password" name="password"><br>
	<button type="submit">Submit</button>
</form>