<h1>{{title}}</h1>
<h3>{{body}}</h3>


<form action="/upload/submit" method="post" encType="multipart/form-data" >
	<input type="file" name="my_file"><br>
	<button type="submit">Upload</button>
</form>