<h1>{{title}}</h1>
<h3>{{body}}</h3>

<style type="text/css">
	table, th, td {
	   border: 1px solid black;
	}
</style>

<form action="/user/update/submit" method="post">
	<table>
		<tr>
			<td>First Name</td>
			<td><input type="text" name="fname" required="" value={{usersData.0.fname}}></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><input type="text" name="lname" required="" value={{usersData.0.lname}}></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" required="" value={{usersData.0.email}} readonly=""></td>
		</tr>
		<tr>
			<td></td>
			<td><button type="submit">Update</button></td>
		</tr>
	</table>
</form>