<div class="top-spacer">
</div>
<section class="full-wrapper banner-wrapper" ng-if="!loggedIn">
<a href="#vid" data-target='vidModal' modal><div class="video-playBut" ng-click="start();"></div></a>

<img id="vidmg" src="images/video-back.png" width="100%">
</section>

<div class="clr"></div>
<div class="full-wrapper shopping-install" ng-if="!loggedIn">
    <div class="container">
        <div class="row">
            <div class="col m12 l6">
                <span class="headline">SHOP, SAVE, SUPPORT!</span>
                <div class="sub-head">
                   Cash in on amazing discounts plus get the bonus of earning cash back!
                </div>
                <div class="clr"></div>
                <p>
                    Sign up now to start earning, sharing and accessing exclusive offers. Or better yet, install our BackPack app to get coupon alerts and automatically check coupons in your shopping cart.
                </p>
                <div class="shopping-install-button">
                    <div class="login-border" ng-if="!loggedIn"><a href="#signup-pop" class="waves-effect waves-light btn button login but-icon1" modal>Sign up and Earn</a></div>
                    
                    <div class="signup-border"><a class="waves-effect waves-light btn button signup but-icon2 installCashPackExtension" target="_blank" href="javascript:void(0);" ng-click="inst();">Install BackPack </a></div>
                </div>
            </div>
            <div class="col m12 l6 shopping-install-right"><img src="images/shopping-install.png" width="100%"></div>
        </div>
    </div>
</div>
<section class="full-wrapper coupon-scroll top-merchants">
    <div class="container">
        <h1>Featured Stores</h1>
        <div class="sub-head">
            If you're looking for the hottest stores of the moment, look no further! These are the stores trending among CashPack users right now. If you want to know what the buzz is, check 'em out!
        </div>
        <div class="clr"></div>
        <div class="row">
            <data-owl-carousel class="owl-carousel home-slider topslide" data-options="{items:3}">
                <div owl-carousel-item="" ng-repeat="slides in [1,2,3]" class="item">
                    <div id="TMslides" class="owl-slider-tab">
                        <div class="col m3 coupon-scroll-tabs">
                            <div class="icons">
                                <favouitemer favdata="obj1" fid="obj1.id" favorite="obj1.favorite"  ng-if="$index==0"></favouitemer>
                                <favouitemer favdata="obj2" fid="obj2.id" favorite="obj2.favorite" ng-if="$index==1"></favouitemer>
                                <favouitemer favdata="obj3" fid="obj3.id" favorite="obj3.favorite" ng-if="$index==2"></favouitemer>

                                <share></share>
                            </div>
                            <div class="top-img">
                                <div class="top-merchants-numbers" ng-if="$index==0">{{obj1.sum}}</div>
                                <div class="top-merchants-numbers" ng-if="$index==1">{{obj2.sum}}</div>
                                <div class="top-merchants-numbers" ng-if="$index==2">{{obj3.sum}}</div>
                               
                                <img ng-src="images/top-merchants{{$index + 1}}.png" ng-cloak>
                            </div>
                            <div class="tabInner">
                                <div class="txt landingowl1">
                                    <span ng-if="$index==0">Macy's US</span>
                                    <span ng-if="$index==1">Barnes & Noble</span>
                                    <span ng-if="$index==2">Walmart</span>
                                  
                                    <div  ng-if="$index==0">
                                        <span class="amtmerchant" ng-if="obj1.cashbackType==='Flat Rate'"> Up To ${{obj1.cashbackValue}} Cash Back</span>
                                        <span class="amtmerchant" ng-if="obj1.cashbackType==='Percentage'"> Up To {{obj1.cashbackValue}}% Cash Back</span>
                                    </div>
                                    <div  ng-if="$index==1">
                                        <span class="amtmerchant" ng-if="obj2.cashbackType==='Flat Rate'"> Up To ${{obj2.cashbackValue}} Cash Back</span>
                                        <span class="amtmerchant" ng-if="obj2.cashbackType==='Percentage'"> Up To {{obj2.cashbackValue}}% Cash Back</span>
                                    </div>
                                      <div  ng-if="$index==2">
                                        <span class="amtmerchant" ng-if="obj3.cashbackType==='Flat Rate'"> Up To ${{obj2.cashbackValue}} Cash Back</span>
                                        <span class="amtmerchant" ng-if="obj3.cashbackType==='Percentage'"> Up To {{obj2.cashbackValue}}% Cash Back</span>
                                    </div>
                                </div>
                                <div class="clr"></div>
                                <div class="cupon-code-border">
                                   <a href="#/store/macys.com?US" ng-if="$index==0" ><span class="btn button cupon-code">Coupons</span></a>
                                    <a href="#/store/walmart.com?US" ng-if="$index==2" ><span class="btn button cupon-code">Coupons</span></a>
                                    <a href="#/store/barnesandnoble.com?US" ng-if="$index==1" ><span class="btn button cupon-code">Coupons</span></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </data-owl-carousel>
            <div class="v-all-section">
                <a href="#/allstores">
                    <span class="view-all waves-effect waves-light btn">View All</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="full-wrapper coupon-scroll ttc">
    <div class="container">
        <h1>Top Trending Offers</h1>
        <div class="sub-head">
            Our massive stockpile of coupons is constantly changing... but here's what's hot as we speak! These coupons are getting the most action from CashPack users at any given time.
        </div>
        <div class="clr"></div>
        <div class="row">
            <data-owl-carousel class="owl-carousel home-slider" data-options="{items:4}">
                <div owl-carousel-item="" ng-repeat="slides in toptrendingList|limitTo:12 track by slides.id" class="item">
                    <div class="owl-slider-tab">
                        <div class="col m3 coupon-scroll-tabs">
                            <div class="icons">
                                <favouite user="slides"></favouite>
                                <share></share>
                            </div>
                            <div class="tabInner">
                                <div class="top"><img ng-src="{{::slides.logo}}" alt="{{::slides.merchantName}}" class="img" ng-cloak></div>
                                    <span class="txt landingowl2">{{::slides.offer}}</span>
                                    <div class="time-count">{{::slides.endDate | date: "MM/dd/y"}}</div>
                               
                                <div class="clr"></div>
                                <div ng-if="slides.code">
                            <copy user="slides"></copy>
                            </div>
                                <div ng-if="!slides.code">
                            <div class="cupon-code-border">
                                <a href="{{::slides.startLink}}" target="blank"><span class="btn button getdeal">Get Deals</span></a>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </data-owl-carousel>
            <div class="see-all-sectio">
            <a href="#/allcoupons">
                <span class="see-all waves-effect waves-light btn">See All</span>
            </a>
            </div>
        </div>
    </div>
</section>
<section class="full-wrapper new-cupon">
    <div class="container">
        <div class="row">
            <div class="col m12 l6"><img src="images/new-cupon.png" width="100%"></div>
            <div class="col m12 l6">
                <span class="headline">Featured Coupons</span>
                <div class="clr"></div>
                <p>We have a great team of coupon experts! Every day we each pick our favorites. So we've already taken a load off you by combing through all the new coupons and deals as they come in. Here are the ones we think you shouldn't miss out on!
                    
                </p>
            </div>
        </div>
     
    </div>
</section>

<section class="full-wrapper coupon-scroll featured-coupons fc">
    <div class="container">
        <div class="row coupon-wrapper" ng-if="getstoreAllList && getstoreAllList.length > 0">
            <div ng-repeat="slides in getstoreAllList |limitTo:8 track by slides.id" class="coupon-item">
                
                    <div class="col m3 s12 coupon-scroll-tabs ftc" id="FCslides" >
                        <div class="icons">
                            <favouite user="slides"></favouite>
                            <share></share>
                        </div>
                        <div class="tabInner">
                            <div class="top"><a href="{{::slides.startLink}}" target="blank"><img ng-src="{{::slides.logo}}" alt="{{::slides.name}}" class="img" ng-cloak></a></div>
                            <div class="txt" style="padding: 0px">{{::slides.name}}
                                <br>
                                <span > {{::slides.offer| limitTo:17}}..</span>
                                <div class="time-count">{{::slides.endDate | date: "MM/dd/y"}}</div>
                                <div  ng-if="slides.code">
                                    <copy user="slides"></copy>
                                </div> 
                               
                                <div class="cupon-code-border" ng-if="!slides.code">
                                    <a href="{{::slides.startLink}}" target="blank"><span class="btn button getdeal">Get Deals</span></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
                
            </div>
        </div>
        <div class="v-all-section">
            <a href="#/Featuredcoupons">
                <span class="view-all waves-effect waves-light btn">View All</span>
            </a>
        </div>
    </div>
</section>
<section class="full-wrapper cupons-list-main">
    <div class="container">
    <div class="row coupon-wraper-heading featcls">
            <div class="col l8 m12 s12">
                <h2>
                New Coupons & Deals
                
            </h2>
                <p>We offer tens of thousands of coupons and deals from thousands of our partner stores. There are new coupons and deals available every minute of the day! Here are the most updated coupons as they hit our system. Snag 'em while they're fresh!
                </p>
            </div>
            <div class="col l4 m12 s12 see-all-sectio">
                <a href="#/allcoupons">
                    <span class="see-all waves-effect waves-light btn">See All</span>
                </a>
            </div>
        </div>
        <div class="cupons-list">
            <ul equalize-height="off">
                <li class="LCslides" ng-repeat="off in offerList|limitTo:8 track by off.id" equalize-height-add="off">
                    <div class="row" equalize-height-add="off">
                        <div class="icons">
                            <favouite user="off"></favouite>
                            <share></share>
                        </div>
                        <div class="col l2 s12 left lcscop-img"><a href="{{::off.startLink}}" target="blank"><img ng-src="{{::off.logo}}" ng-cloak></a></div>
                        <div class="col l8 s12 middle">
                            <a href="{{::off.startLink}}" target="blank">
                            <div class="time-count">{{::off.endDate | date: "MM/dd/y"}}</div>
                            <div class="middle-inner" ng-if="off.offer.length>60">{{::off.offer | limitTo:60}}..</div>
                            <div class="middle-inner" ng-if="off.offer.length<60">{{::off.offer | limitTo:60}}</div>
                            </a>
                            
                        </div>
                        <div class="col l2 s12 right" ng-if="off.code">
                            <copy user="off"></copy>
                        </div>
                        <div class="col l2 s12 right" ng-if="!off.code">
                            <div class="cupon-code-border">
                                <a href="{{::off.startLink}}" target="blank"><span class="btn button getdeal">Get Deals</span></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clr"></div>

    </div>
</section>



<div class="modal vidcls" id="vidModal"> 
<div class="modal-content pro-fundraiser">
   <a href="javascript:void(0);" ng-click="close();" class="modal-content-modal-close modal-close ex">X</a>
    <div class="pro-fundraiser-content">   
    <video style="width: 100%;" id="video1" class="pro-fundraiser-content" controls ng-click="playIt()">
      <source ng-src="https://s3-us-west-2.amazonaws.com/cash-pack-assets/how-it-works-video/how-it-works.mp4" type="video/mp4">
    </video> 
    </div>
    </div>
</div>
