<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Save Apply Coupon Information</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <style type="text/css">
    #saveInformation { width: 100%; }
    tr [colspan="10"] { text-align: center; font-size: 25px; }
    </style>
</head>

<body>
    <div class="row">
        <form class="col s12" id="checkoutFromInfo" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col l3 m6 s12">
                    <input id="input_fields" name="input_fields" type="text" class="validate" required="required">
                    <label for="input_fields">Coupon Field Selector*</label>
                </div>
                <div class="input-field col l3 m6 s12">
                    <input id="apply_button" name="apply_button" type="text" class="validate" required="required">
                    <label for="apply_button">Apply Button Selector*</label>
                </div>
                <div class="input-field col l3 m6 s12">
                    <input id="change_button" name="change_button" type="text" class="validate">
                    <label for="change_button">Change Button Selector</label>
                </div>
                <div class="input-field col l3 m6 s12">
                    <input id="form_field" name="form_field" type="text" class="validate" required="required">
                    <label for="form_field">Form Field Selector</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l3 m12 s12">
                    <input id="price_field" name="price_field" type="text" class="validate" required="required">
                    <label for="price_field">Price Field Selector</label>
                </div>
                <div class="input-field col l3 m12 s12">
                    <input id="website" name="website" id="website" type="text" class="validate" required="required">
                    <label for="website">Website URL (http:// or https://)*</label>
                </div>
                <div class="input-field col l3 m12 s12">
                    <input id="checkout_url" name="checkout_url" type="text" class="validate" required="required">
                    <label for="checkout_url">Checkout URL (http:// or https://)*</label>
                </div>
                <div class="input-field col l3 m12 s12">
                    <input id="error_field" name="error_field" type="text" class="validate" required="required">
                    <label for="error_field">Error Field</label>
                </div>
                <div class="input-field col l12 m12 s12">
                    <select id="submit_type" name="submit_type">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Ajax">Ajax</option>
                        <option value="Reload">Reload</option>
                    </select>
                    <label>Submit Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l12 m12 s12 center">
                    <button class="btn waves-effect waves-light btn-large full-width" type="submit" id="saveInformation" name="action">Save Coupon Information
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <table id="websiteTable" class="bordered responsive-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Website</th>
                    <th>Input&nbsp;Fields</th>
                    <th>Apply&nbsp;Button</th>
                    <th>Change&nbsp;Button</th>
                    <th>Form&nbsp;Field</th>
                    <th>Checkout&nbsp;Url</th>
                    <th>Price&nbsp;Field</th>
                    <th>Error&nbsp;Field</th>
                    <th>Submit&nbsp;Type</th>
                </tr>
            </thead>
            <tbody>
                <script id="tableBodyTemplate" type="text/x-handlebars-template">
                {{#ifCond this.status}}
                    <tr>
                        <td>{{this.attributes.id}}</td>
                        <td><a href="{{this.website}}" target="_blank">{{this.attributes.website}}</a></td>
                        <td>{{this.attributes.input_fields}}</td>
                        <td>{{this.attributes.apply_button}}</td>
                        <td>{{this.attributes.change_button}}</td>
                        <td>{{this.attributes.form_field}}</td>
                        <td><a href="{{this.checkout_url}}" target="_blank">{{this.attributes.checkout_url}}</a></td>
                        <td>{{this.attributes.price_field}}</td>
                        <td>{{this.attributes.error_field}}</td>
                        <td>{{this.attributes.submit_type}}</td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="10">No Data Found</td>
                    </tr>
                {{/ifCond}}
                </script>
            </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
