html{height:100%}*{box-sizing:border-box;border:0; cursor: pointer; }img{width:100%;display:block}body{margin:0;padding:0;overflow:hidden;position:relative;}.container{width:300px;height:600px;position:relative}
/*# sourceMappingURL=style.css.map */
