<div class="top-spacer">
</div>

<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a><!-- <a href="#/profile" class="breadcrumb first-breadcrumb">My Account</a> --> <a href="javascript:void(0)" class="breadcrumb"><strong>My Causes</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<div class="top-merchants-fav pro-profile">
    <div class="container">

        <div class="tab-section">
            <div class="row">
                <div class="col s12">
                </div>
                <div class="col s12 tab-panel cause1">
                    <div class="tab-panel-filter">
                    <!-- <div class="row">
                            <div class="col l8 m12 s12 filter-btn">
                                <ul>
                                    <li>
                                        <button ng-click="causesCtrl.getSchool()" data-val="school"><img src="images/fil-1img.png" alt="" /> Schools</button>
                                    </li>
                                    <li>
                                        <button ng-click="causesCtrl.getSports()" data-val="sports"><img src="images/fil-2img.png" alt="" />Sports</button>
                                    </li>
                                    <li>
                                        <button ng-click="causesCtrl.getCharity()" data-val="nonprofit"><img src="images/fil-3img.png" alt=""  />Non-Profit</button>
                                    </li>
                                    <li>
                                        <button ng-click="causesCtrl.getOrganization()" data-val="organization"><img src="images/fil-4img.png" alt="" />Organization</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col l4 m12 s12">
                                <div class="search-filer">
                                    <div class="search-input-section-cover">
                                    <div input-field>
                                        <form novalidate="" name="searchFrm" id="searchFrm" ng-submit="causesCtrl.searchData(searchFrm.$valid)">
                                            <div class="serch-input-filter"> -->
                                              <!--   <span class="search-new"></span> -->
<!--                                                 <input type="text" ng-model="causesCtrl.searchText" length="150" placeholder="Search" ng-required>
                                                
                                            </div>
                                            <input type="submit" value="" name="submit" />
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div> -->
                <div class="row causeslistdiv" equalize-height='cause1'>
                    <div class="col l12 m12 s12 my-causes-section">
                        <div class="container">
                            <div class="row">
                                <div class="col l10 m7 s12">
                                    <p style="text-align: -webkit-center;padding-left: 21%;padding-bottom: 60px;padding-top: 38px;" ng-if="listsupport.length==0"> No Data Found</p>
                                    <div class="pro-support-listing-content" ng-repeat="res in listsupport track by res.id">

                                        <div class="pro-support-listing-content-img">
                                            <img ng-src="images/Mask.png" alt="">
                                            
                                        </div>
                                        <div class="pro-support-listing-content-text" >
                                            <a href="#/supportacauseabout/{{::res.charityId}}"><h3>{{::res.name | lowercase}}</h3></a>
                                            <p>{{::res.state}}</p>
                                        </div>
                                        <div class="pro-support-listing-content-btn">
                                            <span class="support-listing-cover" ng-if="res.charityId">
                                                <a href="#/supportacauseabout/{{::res.charityId}}" class="waves-effect waves-light btn support-listing-btn">About</a>
                                            </span>
                                            <span style="right: 6%;position: relative;" ng-click="DelFavCause(res)"  class="support-listing-cover causes-add" >
                                                <a href="javascript:void(0)" class="waves-effect waves-light btn support-listing-btn">Remove Cause</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div style="text-align: center;clear:both;" ng-if="listsupport.length!=0">
                                        <pagination
                                          page="page"
                                          page-size="recordsPerPage"
                                          total="totalRecords"
                                          show-prev-next="true"
                                          use-simple-prev-next="false"
                                          dots="...."
                                          hide-if-empty="false"
                                          adjacent="2"
                                          scroll-top="false"
                                          pagination-action="findNextSupport(page)"
                                      />
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- <div class="col l6 m6 s12 my-causes-section" ng-repeat="row in causesCtrl.schoolsList">
                            <div class="my-causes-section-thumnel" equalize-height-add>
                                <div class="my-causes-section-top" equalize-height>
                                    <div class="my-causes-section-top-inner" equalize-height-add>
                                        <div class="my-causes-section-thumnel-image">
                                            <img src="images/suc-img1.png" alt="" />
                                        </div>
                                        <div class="my-causes-section-thumnel-text mytext" equalize-height>
                                            <div equalize-height-add ng-if="!row.schoolName">
                                                <h5>{{row.charityName }}</h5>
                                                <p style="text-transform: capitalize;"><span>City : </span>{{row.city|lowercase}}</p>
                                                <p style="text-transform: capitalize;"><span>State : </span>{{row.state|lowercase}}</p>
                                                <p style="text-transform: capitalize;"><span>zipCode : </span>{{row.zipCode|lowercase}}</p>
                                            </div>
                                            <div equalize-height-add ng-if="row.schoolName">
                                                <h5>{{row.schoolName }}</h5>
                                                <p style="text-transform: capitalize;"><span>Country : </span>{{row.countyName|lowercase }}</p>
                                                <p style="text-transform: capitalize;"><span>City : </span>{{row.city|lowercase}}</p>
                                                <p style="text-transform: capitalize;"><span>State : </span>{{row.state|lowercase}}</p>
                                                <p style="text-transform: capitalize;"><span>District : </span>{{row.district|lowercase}}</p>
                                            </div>
                                        </div>
                                        <div class="my-causes-icone">
                                            <div class="my-causes-edit">
                                                <a href="javascript:void(0);"><img src="images/edit-pen.png">
                                                </a>
                                            </div>
                                            <div class="icons">
                                                <share></share>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-causes-section-btn" equalize-height>
                                    <div class="my-causes-section-btn-inner" equalize-height-add>
                                        <div class="my-causes-section-heading"><span>Cause</span></div>
                                        <div class="my-causes-section-text">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

<!--                         <div style="text-align: center;padding: 34px;">
                            <br><b>You are currently not

supporting a Cause</b>
                        </div> -->
                    </div>

                    <!-- <div ng-if="(causesCtrl.loadingMsg!='')" style="text-align: center;padding: 34px;">
                        <br><b>{{causesCtrl.loadingMsg}}</b>
                    </div> -->
                    <!-- <div ng-if="(causesCtrl.schoolsList.length==0 &&  causesCtrl.loadingMsg=='')" style="text-align: center;padding: 34px;">
                        <br> <b>No School result found</b>
                    </div>
                    <div style="text-align: center;clear:both;"
                    ng-if="causesCtrl.totalRecords!=0">
                        <pagination
                            page="1"
                            page-size="causesCtrl.recordsPerPage"
                            total="causesCtrl.totalRecords"
                            show-prev-next="true"
                            use-simple-prev-next="false"
                            dots="...."
                            hide-if-empty="false"
                            adjacent="2"
                            scroll-top="false"
                            pagination-action="pagenext()"
                        />
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>
