<template>

<div class="content-wrapper">
<div class="jumbotron">
       <h1>
       Bootstrap Navbar Sidebar
       </h1>
       <p>
         <strong>
         Use classic Bootstrap navbar as sidebar, on left or right side.
         </strong>
       </p>
     </div>
     <p>Click buttons below, and appropriate class will be added to example navbar.</p>
     <p>
       <span class="btn-group">
         <a data-class="navbar-fixed-left" class="btn btn-lg btn-default">
           <i class="fa fa-arrow-left"></i>
           Fixed Left
         </a>
         <a data-class="navbar-fixed-top" class="btn btn-lg btn-default">
           <i class="fa fa-arrow-up"></i>
           Fixed Top
           <small>(original)</small>
         </a>
         <a data-class="navbar-fixed-right" class="btn btn-lg btn-default">
           <i class="fa fa-arrow-right"></i>
           Fixed Right
         </a>
       </span>
     </p>
</div>
</template>
<script>
export default {
name: 'dashborad',
components: {

},
data () {
return {

}
},
mounted() {

},
methods: {
   

 }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>