<template>

<div class="panel-wrapper">
    <div class="panel-heading">
        <div class="panel-title">{{signInMsg}}</div>
        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
    </div>
    <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        
        <form id="loginform" class="form-horizontal" role="form" @submit.prevent="LoginForm()">
            
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email" v-model="loginemail">
            </div>
            
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="login-password" type="password" class="form-control" name="password" placeholder="password" v-model="loginpassword">
            </div>
            
            
            <div class="input-group">
                <div class="checkbox">
                    <label>
                        <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                    </label>
                </div>
            </div>
            <div style="margin-top:10px" class="form-group">
                <!-- Button -->
                <div class="col-sm-12 controls">
                <button id="btn-login" class="btn btn-success" type="submit">Login</button>
                    <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 control">
                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                        Don't have an account!
                        <router-link :to="'signup'">Sign Up</router-link>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</div>
</template>
<script>
import { EventBus } from '@/event-bus.js';

export default {
name: 'index',
components: {

},
data () {
return {
signInMsg: 'Sign In',
loginemail:'',
loginpassword:''
}
},
mounted() {

  if(this.$session.has('user'))
  {
   this.$router.push('/dashboard');  
  }

},
methods: {
   LoginForm(){

   
       this.$session.set('user', {useremail : this.loginemail});
       EventBus.$emit('checkLoginStatus', this.$session.has('user'));
       this.$router.push('/dashboard');  

   


   }

 }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>