
<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html dir="ltr" lang="en-US"class="no-js iem7" ng-app="cashpack"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="no-js ie6 oldie" ng-app="cashpack"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="no-js ie7 oldie" ng-app="cashpack"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="no-js ie8 oldie" ng-app="cashpack"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<!--<![endif]-->
<html ng-app="cashpack">
<head ng-controller="metaController">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#20709E">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#20709E">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#20709E">
    <meta property="og:title" content="Cashpack" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="{{metaimgpath}}" />
    <meta property="og:description" content="Sign up now to start earning, sharing and accessing exclusive offers. Or better yet, install our BackPack app for coupons alerts and to automatically check coupons in your shopping cart with a click." />

    <title update-title>Cashpack</title>
    <link link rel="chrome-webstore-item"  href="https://chrome.google.com/webstore/detail/hcggnikhmdneeojjdcnbojmpjbglobme">
    <!-- Google Analytics -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-92290173-1', 'auto');
    ga('send', 'pageview');
    </script>
<!--      <base href="/www-cashpack/">
 -->   
  <style type="text/css">
    #page-loading {
        position: relative;
        top: 100px;
        margin: 0 auto;
        text-align: center;
        width: 100px;
        height: auto;
    }
    
    .loader,
    .loader:before,
    .loader:after {
        background: #ec5614;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }
    
    .loader {
        color: #ec5614;
        text-indent: -9999em;
        margin: 88px auto;
        position: relative;
        font-size: 11px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    
    .loader:before,
    .loader:after {
        position: absolute;
        top: 0;
        content: '';
    }
    
    .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    
    .loader:after {
        left: 1.5em;
    }
    
    @-webkit-keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }
    
    @keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }
    </style>

    <!-- End Google Analytics -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- css-->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Questrial&amp;subset=latin-ext" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="css/style.css" rel="stylesheet" media="screen, projection" type="text/css">
   
    <link type="text/css" rel="stylesheet" href="css/header.css" media="screen,projection" />
    
    <link type="text/css" rel="stylesheet" href="css/main.css" media="screen,projection" />
    <link rel="stylesheet" href="bower_components/swiper/dist/css/swiper.css">
    <link rel="stylesheet" href="css/jquery.custom-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="bower_components/select2/select2.css"> -->
    <link rel="stylesheet" type="text/css" href="bower_components/chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <!-- Libraries-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>

    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>

    <!-- Google Maps API Start -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVkwgr5CNV-8HQ1CiHkOk3u3ygFEA38K4"></script>
    <!-- Google Maps API End -->

    <!--   <script src="//connect.facebook.net/en_US/all.js" type="text/javascript"></script> -->
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="bower_components/angular-materialize/js/materialize.min.js"></script>
    <script src="bower_components/angular-resource-unstable/angular-resource.js"></script>
    <script type="text/javascript" src="bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script type="text/javascript" src="bower_components/swiper/dist/js/swiper.js"></script>
    <script type="text/javascript" src="bower_components/angular-swiper/dist/angular-swiper.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.js"></script>
    <script type="text/javascript" src="bower_components/angular-utils-ui-breadcrumbs/uiBreadcrumbs.js"></script>
    <script type="text/javascript" src="bower_components/clipboard/dist/clipboard.min.js"></script>
    <script type="text/javascript" src="bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-socialshare/dist/angular-socialshare.js"></script>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.0/select2.min.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script> -->
    <script data-require="chosen@*" data-semver="1.0.0" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.proto.min.js"></script>
    <script src="bower_components/chosen/chosen.jquery.js"></script>
    <script src="bower_components/angular-chosen-localytics/dist/angular-chosen.min.js"></script>
    <!-- <script src="bower_components/angular-ui-select2/src/select2.js"></script> -->
    <!--     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script type="text/javascript" src="bower_components/ng-repeat-owl-carousel/dist/ngRepeatOwlCarousel.min.js"></script> -->
    <!-- <script src="bower_components/angular-addthis/dist/angular-addthis.min.js"></script>
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid={pubid}&async=1"></script> -->
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script type="text/javascript" src="js/jquery.custom-scrollbar.js"></script>
    <script src="js/header.js"></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script src="bower_components/angular-base64-upload/src/angular-base64-upload.js"></script>
    <!--  Router -->
    <script type="text/javascript" src="main/main.js"></script>
    <script type="text/javascript" src="landing/landing.js"></script>
    <script type="text/javascript" src="home/home.js"></script>
    <script type="text/javascript" src="marchent/marchent.js"></script>
    <script type="text/javascript" src="allmarchent/allmarchent.js"></script>
    <script type="text/javascript" src="aboutUs/about.js"></script>
    <script type="text/javascript" src="faq/faq.js"></script>
    <script type="text/javascript" src="allcupons/allcupons.js"></script>
    <script type="text/javascript" src="profile/profile.js"></script>
    <script type="text/javascript" src="favourites/favourites.js"></script>
    <script type="text/javascript" src="settings/settings.js"></script>
    <script type="text/javascript" src="causes/causes.js"></script>
    <script type="text/javascript" src="privacy/privacy.js"></script>
    <script type="text/javascript" src="fundraiser/fundraiser.js"></script>
    <!--  Controller -->
    <script type="text/javascript" src="main/main.footer.controller.js"></script>
    <script type="text/javascript" src="main/main.header.controller.js"></script>
    <script type="text/javascript" src="landing/landing.controller.js"></script>
    <script type="text/javascript" src="home/home.controller.js"></script>
    <script type="text/javascript" src="allmarchent/allmarchent.controller.js"></script>
    <script type="text/javascript" src="marchent/marchent.controller.js"></script>
    <script type="text/javascript" src="aboutUs/about.controller.js"></script>
    <script type="text/javascript" src="faq/faq.controller.js"></script>
    <script type="text/javascript" src="allcupons/allcupons.controller.js"></script>
    <script type="text/javascript" src="profile/profile.controller.js"></script>
    <script type="text/javascript" src="favourites/favourites.controller.js"></script>
    <script type="text/javascript" src="settings/settings.controller.js"></script>
    <script type="text/javascript" src="causes/causes.controller.js"></script>
    <script type="text/javascript" src="privacy/privacy.controller.js"></script>
    <script type="text/javascript" src="fundraiser/fundraiser.controller.js"></script>
    <script type="text/javascript" src="fundraiser/invite.controller.js"></script>
    <script type="text/javascript" src="fundraiser/payment.controller.js"></script>
    <script type="text/javascript" src="fundraiser/feedback.controller.js"></script>
    <script type="text/javascript" src="fundraiser/support-a-cause.controller.js"></script>
    <!-- factory-->
    <script type="text/javascript" src="main/main.factory.js"></script>
    <!--all directive and main app DI-->
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-cloak>
    <!-- <div id="page-loading" loading>
        <div class="loader">Loading...</div>
    </div> -->
    <div ui-view></div>
</body>

</html>
