/* Superslides */
.slides-navigation,.slides-pagination{position:absolute;z-index:3;width:100%}#slides{position:relative}#slides .slides-container{display:none}#slides .scrollable{position:relative;top:0;left:0;overflow-y:auto;-webkit-overflow-scrolling:touch;height:100%}#slides .scrollable:after{content:"";display:table;clear:both}.slides-navigation{margin:0 auto;top:46%}.slides-navigation a{position:absolute;display:block}.slides-navigation a.prev{left:0}.slides-navigation a.next{right:0}.slides-pagination{bottom:0;text-align:center}.slides-pagination a{border:2px solid #222;border-radius:15px;width:10px;height:10px;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);margin:2px;overflow:hidden;text-indent:-400%}.slides-pagination a.current{background:#222}


/*
 *  Remodal - v1.0.3
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  /*-webkit-filter: blur(3px);
  filter: blur(3px);*/
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background-color: rgba(0,0,0,.7);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation: remodal-overlay-opening-keyframes 0.3s;
  animation: remodal-overlay-opening-keyframes 0.3s;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation: remodal-overlay-closing-keyframes 0.3s;
  animation: remodal-overlay-closing-keyframes 0.3s;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation: remodal-opening-keyframes 0.3s;
  animation: remodal-opening-keyframes 0.3s;
}

.remodal.remodal-is-closing {
  -webkit-animation: remodal-closing-keyframes 0.3s;
  animation: remodal-closing-keyframes 0.3s;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 550px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}


/* Slick */
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}



/*!
 * jQuery Smart Web App Banner (Add to Home Screen)
 * Copyright (c) 2014 Kurt Zenisek @ kzeni.com
 * Version: 1.4 (24-MAY-2014)
 */
/* General (based on iOS 6) */
#smartWebBanner { position:absolute; left:0; top:-4.85em; border-bottom:0.1em solid #e8e8e8; width:100%; height:4.85em; font-family:'Helvetica Neue',sans-serif; font-size:16px; text-align:left; background:-webkit-linear-gradient(top, #f4f4f4 0%,#cdcdcd 100%); box-shadow:0 0.1em 0.15em rgba(0,0,0,0.5); z-index:9998; -webkit-font-smoothing:antialiased; overflow:hidden; -webkit-text-size-adjust:none; }
#swb-close { position:absolute; left:0.6em; top:0.6em; display:block; border:0.3em solid #fff; width:1.4em; height:1.4em; font-family:'ArialRoundedMTBold','Helvetica Neue',sans-serif; font-size:0.6em; line-height:1.4em; text-align:center; color:#fff; background:#070707; text-decoration:none; text-shadow:none; border-radius:1.4em; box-shadow:0 0.3em 0.4em rgba(0,0,0,0.4); -webkit-font-smoothing:subpixel-antialiased; }
#swb-close:active { color:#aaa; }
#swb-icon { position:absolute; left:1.9em; top:0.65em; display:block; width:3.6em; height:3.6em; background:rgba(0,0,0,0.6); background-size:cover; border-radius:0.65em; box-shadow:0 0.1em 0.2em rgba(0,0,0,0.3); }
#swb-icon.gloss:after { content:''; position:absolute; left:0; top:-0.1em; border-top:0.1em solid rgba(255,255,255,0.8); width:100%; height:50%; background:-webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); border-radius:0.65em 0.65em 0.8em 0.8em; }
#swb-icon.gloss:hover:after { opacity:0.8; }
#smartWebBanner.no-icon #swb-icon { display:none; }
#swb-info { position:absolute; left:8.95em; top:2.2em; width:44%; font-size:0.7em; line-height:1.2em; font-weight:bold; color:#fff; text-shadow:0 0.1em 0 rgba(255,255,255,0.8); }
#smartWebBanner.free #swb-info { top:1.7em; }
#smartWebBanner.free #swb-info:after { content:'FREE - Web Application'; display:block; }
#smartWebBanner.no-icon #swb-info { left:3.1em; }
#swb-info strong { display:block; font-size:1.2em; color:#4d4d4d; }
#swb-info em { font-style:normal; text-transform:uppercase; }
#swb-save { position:absolute; right:1.4em; top:1.7em; border:0.1em solid #bfbfbf; width:10%; min-width:4.1em; height:1.7em; font-size:0.9em; line-height:1.7em; text-align:center; font-weight:bold; color:#6a6a6a; background:-webkit-linear-gradient(top, #efefef 0%,#dcdcdc 100%); text-transform:uppercase; text-decoration:none; text-shadow:0 0.1em 0 rgba(255,255,255,0.8); border-radius:0.25em; box-shadow:0 0.1em 0 rgba(255,255,255,0.6),0 0.1em 0 rgba(255,255,255,0.7) inset; }
#swb-save:active { line-height:1.8em; background:-webkit-linear-gradient(top, #dcdcdc 0%,#efefef 100%); }
#swb-instructions { display:none; position:fixed; left:50%; bottom:0.8em; margin:0 0 0 -6.3em; padding:0.9em; border:0.1em solid rgba(180,180,180,0.9); width:10.8em; font-size:16px; color:#fff; background:-webkit-linear-gradient(top, rgba(84,84,84,0.8) 0%,rgba(22,22,22,0.8) 20%,rgba(0,0,0,0.8) 21%,rgba(19,19,19,0.8) 100%); text-shadow:0 0.1em 0.1em #000; border-radius:0.3em; box-shadow:0 0 0.2em rgba(0,0,0,0.8); z-index:99; -webkit-transform:translateZ(10px); }
#swb-instructions .icon { display:inline-block; width:1.5em; height:0.95em; background:no-repeat center center; background-size:contain; background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAeCAMAAABzP0xhAAAAMFBMVEWrq6tERETFxcXv7+/q6urw8PAaGhoAAAAICAjt7e1tbW0AAADs7OwAAAD////v7+8oaTOHAAAADnRSTlP56xJKeLk5fNuc4qzhAMdbNxYAAADeSURBVHjatdJBEoMgDEBRjEBAQnL/2zYGOqjF1k3/SuTNGBhdnQdQR3fICzxBsv5Eq4j4J0jCEyQEDZH0mKDv+0AkvfWEuI0AnuSU74itBe1QHwVDTGlvN0EmhYZQUwM0Icy5odoKU7NhG7yZ/H5v9WdZChiiw820fXLEtnA26kDBhLhtSdrCwwwEO3EKCmKMNdqtlFhPaFWiQvctRZRKtQbKOiKasLx96gOlnQy0JV3CBSHWY5gUZLqgWE/FqEaO6PaXCv9A4vMkH47otoGEv0QdbV/rCMt9CTuqD3oBHhk0EQgSva4AAAAASUVORK5CYII=); }
#swb-instructions strong { display:block; }
#swb-instructions .arrow { position:absolute; left:50%; bottom:-0.8em; margin:0 0 0 -0.8em; width:0; height:0; border-left:0.8em solid transparent; border-right:0.8em solid transparent; border-top:0.8em solid rgba(19,19,19,0.8); }
#swb-instructions.ipad { left:3.55em; top:0.6em; bottom:auto; margin:0; width:11.45em; border-color:rgba(18,18,18,0.9); font-size:21px; background:-webkit-linear-gradient(top, rgba(115,118,129,0.9) 0%,rgba(64,69,83,0.9) 20%,rgba(39,45,60,0.9) 21%,rgba(39,45,60,0.9) 100%); border-radius:0.4em; box-shadow:0 0.3em 0.9em rgba(0,0,0,0.6); }
#swb-instructions.ipad .arrow { top:-0.6em; bottom:auto; border-top:none; border-bottom:0.6em solid rgba(115,118,129,0.9); }

/* iOS 7 */
#smartWebBanner.ios7 { border-color:#000; background:#000; box-shadow:none; }
.ios7 #swb-close { left:0; top:1.7em; border:0; width:2.1em; height:1.8em; font-family:'Helvetica Neue',sans-serif; font-size:0.9em; line-height:1.8em; color:#797979; background:none; box-shadow:none; }
.ios7 #swb-icon { border-radius:0.8em; box-shadow:0 0 1px 1px rgba(0,0,0,0.25) inset; }
.ios7 #swb-icon.gloss:after { display:none; }
#swb-instructions.ios7 { border:1px solid #c2c2c2; color:#000; background:rgba(250,250,250,0.9); text-shadow:none; box-shadow:none; }
#swb-instructions.ios7 .icon { width:1.1em; height:1.4em; background:#007aff; -webkit-mask-box-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAA1CAQAAACHdlEQAAAArElEQVR4Ae3PIQpCQRCH8S+IwWbwCGYvYTJ6AhGDYBC9gAgG4YG3UfAWgmcxCOoIEx5MeLDsTtv5/nX4wZDUngcjXNohCHf6FLflh+iupdympV4ItxJurdRBsWkZt1LqCIpRwi2VOkGLZXMLvghnMFgWN+eD0IDFDNcjsRlvLmAxwz0ZkNwYOjGYMCQ7i2lVY9I9iyXcu2MubwYWWGCBVYcBgQUWWGCVYT5zx/60/3j7VZPqwQAAAABJRU5ErkJggg==); }
#swb-instructions.ios7 .arrow { position:absolute; left:50%; bottom:-0.8em; margin:0 0 0 -0.8em; width:0; height:0; border-left:0.8em solid transparent; border-right:0.8em solid transparent; border-top:0.8em solid rgba(250,250,250,0.9); }
#swb-instructions.ipad.ios7 { left:0.4em; }
#swb-instructions.ipad.ios7 .arrow { top:-0.6em; bottom:auto; border-top:none; border-bottom:0.6em solid rgba(250,250,250,0.9); }
.ios7 #swb-info { font-weight:normal; color:#BABABA; text-shadow:none; }
.ios7 #swb-info strong { font-weight:normal; color:#fff; }
.ios7 #swb-save { border:none; font-weight:normal; color:#47B64C; background:none; box-shadow:none; text-shadow:none;}

/* Dark */
#smartWebBanner.dark { border-color:#212228; background:-webkit-linear-gradient(top, rgba(33,37,41,1) 0%,rgba(65,68,78,1) 100%); box-shadow:0 0.15em 0.35em rgba(0,0,0,0.8) inset,0 0.1em 0 rgba(255,255,255,0.1); }
.dark #swb-close { border:0; width:1.8em; height:1.8em; line-height:1.8em; color:#b1b1b3; background:#1c1e21; text-shadow:0 0.1em 0.1em #000; box-shadow:0 0.2em 0.3em rgba(0,0,0,0.8) inset,0 0.1em 0.1em rgba(255,255,255,0.3); }
.dark #swb-close:active { color:#eee; -webkit-transform:scale(0.9); }
.dark #swb-icon { -webkit-box-reflect:below 0.1em -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(255,255,255,0.5) 100%); }
.dark #swb-info { color:#ccc; text-shadow:0 0.1em 0.3em #000; }
.dark #swb-info strong { color:#fff; }
.dark #swb-info strong:before { content:''; display:block; float:left; margin:0.2em 0.3em 0 0; width:0.8em; height:0.8em; background:-webkit-linear-gradient(top, rgba(81,157,251,1) 0%,rgba(45,102,250,1) 100%); border-radius:0.8em; box-shadow:0 0.1em 0.3em #000; }
.dark #swb-save { border:0; color:#d1d1d1; background:-webkit-linear-gradient(top, rgba(48,54,61,1) 0%,rgba(23,27,37,1) 100%); text-transform:none; text-shadow:0 0.1em 0.2em #000; box-shadow:0 0.1em 0.3em #000 inset; }
.dark #swb-save:active { background:-webkit-linear-gradient(top, rgba(23,27,37,1) 0%,rgba(48,54,61,1) 100%); }