<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="#/allstores" class="breadcrumb first-breadcrumb">Stores</a> <a href="javascript:void(0)" class="breadcrumb"><strong>{{allList.name}}</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<section class="full-wrapper cupons-list-page" ng-class="{'log-mar':isLoggedIn() ==true}">
    <div class="container">
        <div class="row" >
            <div class="col l4 m12 s12">
                <div class="cupon-Merchant"><img src="{{allList.logo}}" ng-cloak></div>
            </div>
            <div class="col l8 m12 s12 cupon-Merchant-right">
                <div class="head-txt">
                    <span>{{allList.name}}
                        <div class="icon-tab">
                        <div class="icons" ng-if="allList.featured==true"><img src="images/rating1.png"></div>
                        <div class="icons" ng-if="allList.favorite==true"><img src="images/like1.png"></div>
                    </div>
                    </span>
                    
                </div>
                <div class="tag">{{alldealList.length + allcodeList.length}}</div>
                    <div class="txt" ng-if="!isfull">
                         {{allList.description| limitTo:numLimit}}<span><a ng-click="toggleState()" ng-if="allList.description.length > numLimit"><img src="images/expand_more.png" class="more-less"></a></span>
                    </div>
                    <div class="txt" ng-if="isfull">
                         {{allList.description}}<span><a ng-click="toggleState()"  ng-if="allList.description.length > numLimit"><img src="images/expand_less.png" class="more-less"></a></span>
                    </div>
                <div class="clr"></div>
                <div class="button-wrap">
                    <span class="waves-effect waves-light btn button login sub-but" ng-click="ShowOrHide(frmCode)">Submit Code</span>
                    <a href="{{allList.url}}" class="waves-effect waves-light btn button login sub-but" id="login-but" target="_blank">Visit Website</a>
                    <div class="category-select-mega" ng-class="ClassName">
                    
                        <div class="category-select-mega-top">
                            <div class="arrow"><img src="images/category-select-mega-arrow.png" width=100% ng-cloak></div>
                            <a href="javascript:void(0);" ng-click="close();" class="modal-content-modal-close modal-close ex" style="color: #fff">X</a>
                        </div>
                        <div class="mega-bottom">
                            <div class="row">
                                <div id="vertical-scrollbar-demo" class="gray-skin demo">
                                    <div class="col l12 m12 s12">
                                        <form name="frmCode" ng-submit="submit(frmCode.$valid,frmCode)" novalidate autocomplete="off">
                                            <h4 class="hfour marowl1">submit your code</h4>
                                            <div class="form-group">
                                            
                                                <input type="text"  ng-model="data.domain" value="{{allList.domain}}" readonly="true">
                                                <input type="hidden"  ng-model="data.merchantId" ng-value="{{allList.id}}" readonly="true">
                                                <div class="march-input-wraper">
                                                <input type="text" name="code" placeholder="code" ng-model="data.code" required>
                                                <p ng-if="(frmCode.code.$dirty||frmCode.$submitted)" class="codecol">
                                                    <span ng-if="(frmCode.code.$dirty||frmCode.$submitted) && frmCode.code.$error.required" ">Please Enter code</span>
                                                    
                                                </p>
                                                </div>
                                                <div class="march-input-wraper">
                                                <input type="text" name="description" placeholder="offer" ng-model="data.description" required>
                                                <p ng-if="(frmCode.description.$dirty||frmCode.$submitted)" class="codecol">
                                                    <span ng-if="(frmCode.description.$dirty||frmCode.$submitted) && frmCode.description.$error.required">Please Add Description</span>
                                                    
                                                </p>
                                                </div>
                                                <div class="march-input-wraper">
                                                <div class="dtter-wraper">
                                                <label for="inputCreated">Expiry date</label>
                                                    <input input-date
                                                        type="text"
                                                        name="created"
                                                        id="inputCreated"
                                                        class="date-mar"
                                                        container=""
                                                        format="yyyy-mm-dd"
                                                        months-full="{{ month }}"
                                                        months-short="{{ monthShort }}"
                                                        weekdays-full="{{ weekdaysFull }}"
                                                        weekdays-short="{{ weekdaysShort }}"
                                                        weekdays-letter="{{ weekdaysLetter }}"
                                                        disable="disable"
                                                        min="{{ minDate }}"
                                                        max="{{ maxDate }}"
                                                        today="today"
                                                        first-day="1"
                                                        clear="clear"
                                                        select-years="15"
                                                        on-start="onStart()"
                                                        on-render="onRender()"
                                                        on-open="onOpen()"
                                                        on-close="onClose()"
                                                        on-set="onSet()"
                                                        on-stop="onStop()" 
                                                        ng-model="data.expirationDate" required/>
                                                        </div>
                                                        <p ng-if="(frmCode.created.$dirty||frmCode.$submitted)" class="codecol">
                                                    <span style="padding-right: 34px" ng-if="(frmCode.created.$dirty||frmCode.$submitted) && frmCode.created.$error.required">Please Add date</span>
                                                    
                                                </p>
                                                </div>
                                                <div class="cupon-code-border">
                                                

                                                 

                                                 <div class="feedback-form-btm-section">
                                                        <div class="feedback-form-btm-cover submit-form-btm-cover">
                                                            <button class="btn waves-effect waves-light feedback-form-btm submit-form-btm" type="submit" name="action"> Submit </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col s12 cupon-tab-container marowl2">
                <ul class="tabs" tabs reload="allTabContentLoaded">
                    <li class="tab col s1 tab-head" style="width:30px"><a class='active' href="#test1">Code
                        <span class="marchentpop">{{" "+allcodeList.length}}</span></a>
                    </li>
                    <li class="tab col s1 tab-head" ><a href="#test2">Deals
                        <span class="marchentpop">{{" "+alldealList.length}}</span></a>
                    </li>
                    <li class="tab col s1 tab-head" ><a href="#test3">Cashback
                        <span class="marchentpop" ng-if="allList.cashbackType==='Flat Rate'">{{allList.cashbackValue}}</span>
                        <span class="marchentpop" ng-if="allList.cashbackType==='Percentage'">{{allList.cashbackValue}}%</span></a>
                    </li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <div ng-if="allcodeList.length===0" style="text-align: -webkit-center;">
                    <br> <b>No current codes.  If you have one, please <span class="noData-text" model-open>share</span> but don’t miss the great deal at {{allList.name}} Link to <span class="noData-text"  ng-click="other()">Deals</span></b></div>
                <div class="cupons-list" ng-if="allcodeList.length > 0">
                    <ul equalize-height="slides">
                        <li ng-repeat="slides in allcodeList track by slides.id" equalize-height-add="slides">
                            <div class="row" equalize-height-add="slides">
                            
                                <div class="icons">

                                    <favouite user="slides"></favouite>
                                    <share></share>    
                                </div>
                                <div class="col l9 s12 middle">
                                    <div class="time-count expires">{{::slides.endDate | date: "MM/dd/y"}}</div>
                                    <div class="middle-inner">{{::slides.offer}}</div>
                                </div>
                                <div class="col l3 s12 right"><copy user="slides"></copy>
                                    
                                </div>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="test2" class="col s12" >
                <div ng-if="alldealList.length===0" style="text-align: -webkit-center;">
                    <br> <b>No current Deals.  If you have one, please <span class="noData-text" model-open>share</span> but don’t miss the great codes at {{allList.name}} Link to <span class="noData-text"  ng-click="other1()">Codes</span></b></div>
                <div class="cupons-list" ng-if="alldealList.length > 0">
                    <ul equalize-height="deal">
                        
                        <li  ng-repeat="deal in alldealList track by deal.id" >
                            <a class="deals-block" href="{{::deal.startLink}}" target="blank" >
                                <div class="row" equalize-height-add="deal">
                                    <div class="icons">
                                        <favouite user="deal"></favouite>
                                        <share></share>       
                                    </div>
                                    <div class="col l12 s12 middle right-tab" equalize-height="deal">
                                        <div class="time-count expires" >{{::deal.endDate | date: "MM/dd/y"}}</div>
                                        <span class="middle-inner">{{::deal.offer}} </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="test3" class="col s12" >
                <div style="text-align: -webkit-center;">
                    <span class="amtmerchant" ng-if="allList.cashbackType==='Flat Rate'"><b> Up To ${{allList.cashbackValue}} Cash Back on your purchase</b></span>
                    <span class="amtmerchant" ng-if="allList.cashbackType==='Percentage'"><b> Up To {{allList.cashbackValue}}% Cash Back on your purchase</b></span>
                </div>
            </div>
        </div>
    </div>
</section>


