        <div class="top-spacer"></div>

        <div class="top-merchants pro-fundraiser">
            <div class="container">
                <nav>
                    <div class="nav-wrapper pro-breadcrumb">
                        <div class="col s12"> <a href="#" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0);" class="breadcrumb"><strong>About</strong></a> </div>
                    </div>
                </nav>
            </div>
        </div>
        
      <div class="pro-about-us-who-we">
          <div class="container">
               <div class="row">
                    
                  <div class="col l4 m4 s12">
                      <div class="pro-about-us-img-section">
                          <img src="images/about-new-1.png" alt="">
                      </div>
                  </div>
                  <div class="col l8 m8 s12">
                      <div class="pro-about-us-text-section">
                          <h3>Who We Are...</h3>  
                          <p>Most families face the challenge of being under demands that feel limitless...with funds that can seem surprisingly limited! How are we to give back when money is stretched so thin as it is? That question planted the seed that's grown into CashPack! We have a 
deep-rooted belief that giving back to the communities we live in is really important, so we've developed a way for your money to work a lot harder for you and the things you care about.The best part is, it doesn't cost you anything!</p>
                          
                          
                          
                          
                      </div>
                   </div>
                </div>
          </div>
      </div>

      <div class="pro-about-block-one-new-secnd-section">
           <div class="container">
               <div class="row img-wraper-about">
                 <div class="col l8 m6 s12">
                     <div class="pro-about-us-text-section-new">
                        <p>CashPack.org gives our users access to one of the world's leading coupon inventories. Those coupons and deals will save you a ton of money while you shop online. </p>
                     </div>     
                 </div>
                 <div class="col l4 m6 s12 pro-about-us-img-section-new-cover">
                  <div class="pro-about-us-img-section-new">
                          <img src="images/circle.png" alt="">
                      </div>
                 </div>
               </div>
           </div>
      </div>


      <div class="pro-about-block-two-new">
           <div class="container">
               <div class="row about-drop-waer-new">
                   <div class="row">
                      <div class="col l8 offset-l2 m12 offset-m0 s12 offset-s0">
                          <div class="about-drop-waer-new-img">
                              <img src="images/about-drop-water.png" alt="">
                          </div>
                          <div class="about-drop-waer-new-text">
                          <p>On top of that... CashPack contributes money to good causes important to you: your elementary school, a sports team, a church, The Red Cross, Make-A-Wish Foundation <!-- <span style="font-weight:bold;"> -->or Habitat for Humanity...anything you'd like to support. You get great shopping savings, while money is contributed on your behalf to causes you've chosen!<!-- </span> --> </p>
                        </div>      
                       </div>

                    </div>
             
               </div>
           </div>
      </div>

      <div class="pro-about-block-three-new">
           <div class="container">
               <div class="row">
                 <div class="col l4 m12 s12">
                     <div class="pro-about-us-img-section">
                          <img src="images/about-create.png" alt="">
                      </div>
                 </div>
                 <div class="col l8 m8 offset-m2 s12">
                     <div class="pro-about-us-section-text">
                         <p>
                          We're proud of the difference CashPack makes when it comes to caring about the community. Unlike other websites that have you donate to the non-profits they choose, CashPack allows you to create your own cause or give to one that's already established.


                         </p>
                    </div>
                 </div>
               </div>
           </div>
      </div>

    <div class="pro-about-block-four-new">
           <div class="container">
               <div class="row">
                 <div class="col l8 m6 s12">
                     
                     <p>Giving back to the community can also be infectious! Wouldn't it be great if you shared CashPack with everyone you know and they could, in turn, support their communities, too? </p>
                     <p class="aboutgood">Now...doesn't it feel good to do good?!</p>
                 </div>
                 <div class="col l4 m6 s12">
                     <div class="pro-about-us-img-section">
                          <img src="images/boy-and-girl.png" alt="">
                      </div>
                 </div>
               </div>
           </div>
      </div>