*{
  	margin: 0;
  	padding: 0;
  	outline: none;
	border: none;
	box-sizing: border-box;
}
*:before,
*:after{
	box-sizing: border-box;	
}
html,body{
	min-height: 100%;
}
body{
	background-image: radial-gradient(mintcream 0%, gray 100%);
	font-family: "Trebuchet MS";
}
.wrap{
	width: 300px;
    height: 382px;
    margin: 50px auto;
    border-radius: 20px;
    border: solid 8px #2c3033;
    background: rgba(233, 30, 99, 0.07);/*white;*/
    box-shadow: 0 0 0px 1px rgba(255,255,255,.4), 0 0 0px 3px #2c3033;/*text-align: center;*/
}
.header{
	width: 100%;
    height: 50px;
    border-radius: 10px 10px 0 0px;
    background-image: linear-gradient(#687480 0%, #3b4755 100%);
    font: bold 18px/50px arial;
    text-align: center;
    color: white;
    box-shadow: inset 0 -2px 3px 2px rgba(0,0,0,.4), 0 2px 2px 2px rgba(0,0,0,.4);
}
.list-group{
	height: 100%;
	/*overflow-y: auto;*/
    /*padding: 20px 0px;*/
    /*box-shadow: inset 0 0px 5px black;
    border-radius: 0 0 10px 10px;
    background-image: linear-gradient(transparent 97%, gray 100%);*/
}
.list{
    list-style: none;
    color: rgba(0,0,0,.7);
}
.list li:nth-child(odd){
	background: rgba(0,0,50,.1);
}
.list li{
	float: left;
    width: 100%;
    padding: 10px;
    transition: all .3s ease;
}
/*input[type="checkbox"]{
	position: relative;
    top: 14px;
    right: 12px;
    float: right;
}
input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: rgba(0,0,0,.3);
}*/
/*label{
	padding: 10px;
    cursor: pointer;
    float: left;
    width: 95%;
    transition: all .3s ease;
}*/
.add-new{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #DDDDDD;
    transition : all 0.30s ease-in-out;
}
.add-new:focus{
    box-shadow : 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
.action-section{
    float: right;
}
.action-section button{
    line-height: 1.5;
    padding: 1px 5px;
    margin: 0px 2px;
    cursor: pointer;
}
.success-btn{
    background: #5cb85c;
}
.error-btn{
    background: #d43f3a;
}
.list-item-success{
    color: #5cb85c;
    text-decoration: line-through;
}