html{height:100%}*{box-sizing:border-box;border:0; cursor: pointer;}img{width:100%;display:block}body{margin:0;padding:0;overflow:hidden;position:relative;}.container{width:994px;height:250px;margin:0 auto;position:relative;overflow:hidden;background:url("../images/bg.jpg") no-repeat;background-size:100% 100%}.videoArea{width:415px;height:200px;margin:26px 0 0 70px;background:black;border-radius:10px;overflow:hidden}.videoArea video{width:100%;position:relative;top:50%;transform:translateY(-50%)}.pen{position:absolute;width:297px;height:100px;top:141px;left:437px;z-index:99}.audio_icon{position:absolute;top:0;right:0;background:#fff;padding:3px;width:24px}.mute,.unmute{max-width:100%}.unmute{display:none}
/*# sourceMappingURL=style.css.map */
