* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Arial Black';
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}
.header {
    width: 75%;
    max-width: 1500px;
    margin: 0 auto;
    /*overflow: hidden;*/
    padding-top: 50px;
    padding-bottom: 70px;
}
.header::after
{
    content:"";
    clear: both;
}
.header-logo-wrapper {
    /*float: left;*/
    /*width: 35%;*/
    display: inline-block;
}
.header-logo-wrapper img {
    width: 100%;
}
.mobile-menu {
    display: none;
    float: right;
}
.mobile-menu-image{
    padding: 19px 0;
    cursor: pointer;
}
.mobile-menu-wrapper{
    display: none;
}
.mobile-menu-wrapper.open{
    display: block;
}
.mobile-menu-wrapper ul{
    list-style: none;
    background: rgba(251, 65, 111, 0.75);
    position: absolute;
    top: 19px;
    right: 50px;
}
.mobile-menu-wrapper ul li{
    padding: 10px 50px;
    border: 1px solid #222;
    text-align: center;
}
.mobile-menu-wrapper ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #222;
    font-size: 15px;
    text-transform: uppercase;
}
.menu-wrapper {
    display: block;
    float: right;
    padding: 50px 0 10px;
}
.menu-wrapper ul {
    list-style: none;
    overflow: hidden;
}
.menu-wrapper ul li {
    display: inline-block;
    width: auto;
    padding-left: 30px;
}
ul li.selected a {
    color: #fb416f;
}
.menu-wrapper ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
    font-size: 15px;
    text-transform: uppercase;
}
.body {
    background: url(../images/bg-home.png) no-repeat center top;
    border-top: 3px solid #000;
    padding: 20px 0 0;
}
.banner-header-line {
    max-width: 960px;
    margin: 30px auto 10px;
    text-align: center;
}
.banner-header-line h1 {
    font-size: 110px;
    line-height: 96px;
    text-transform: uppercase;
}
.registration-wrapper {
    max-width: 350px;
    margin: 20px auto 50px;
    overflow: hidden;
}
.enter-email,
.sign-up {
    float: left;
    width: 60%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    border: 4px solid #000;
    padding: 12px 0;
    font-family: sans-serif;
}
.sign-up {
    width: 40%;
    border-left: transparent;
}
.runner-image-wrapper {
    max-width: 1080px;
    margin: 10px auto 40px;
}
.runner-image-wrapper img {
    width: 100%;
}
.winning-wrapper {
    background-color: rgba(251, 65, 111, 0.85);
    text-align: center;
    color: #fff;
    padding: 50px 0;
}
.winning-wrapper h1 {
    background: url(../images/bg-border1.gif) no-repeat center bottom;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 50px;
}
.winning-wrapper p {
    background: url(../images/bg-border1.gif) no-repeat center bottom;
    color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0.8px;
    line-height: 48px;
    margin: 12px auto 0;
    padding: 0 0 12px;
    text-align: center;
    width: 63.6458%;
}
.winning-wrapper a {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 4px solid #fff;
    display: block;
    width: 230px;
    font-size: 20px;
    margin: 30px auto 0;
}
footer {
    background: #000;
}
.footer {
    overflow: hidden;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
}
.footer p {
    color: #fff;
    font-family: arial;
    float: left;
    font-size: 15px;
}
.social-button {
    float: right;
}
.social-button a {
    text-indent: -999999px;
    background: url(../images/icons.png) no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    margin: 0 10px;
}
.social-button a.twitter {
    background-position: 0 -90px;
}
.social-button a.facebook {
    background-position: 0 0;
}
.social-button a.pinterest {
    background-position: 0 -60px;
}
.social-button a.google-plus {
    background-position: 0 -30px;
}
@media(max-width:1080px) {
    .mobile-menu {
        display: inline-block;
        position: relative;
    }
    .menu-wrapper {
        display: none;
    }
    .header-logo-wrapper {
        width: 40%;
    }
}
@media(max-width:930px) {
    .header-logo-wrapper {
        width: 45%;
    }
}
@media(max-width:776px) {
    .header-logo-wrapper {
        width: 50%;
    }
}
@media(max-width:640px) {
    .header-logo-wrapper {
        width: 55%;
    }
}
@media(max-width:600px) {
    .header-logo-wrapper {
        width: 60%;
    }
}
@media(max-width:500px) {
    .header-logo-wrapper {
        width: 65%;
    }
}
@media(max-width:600px) {
    .banner-header-line h1 {
        font-size: 90px;
    }
}
@media(max-width:490px) {
    .banner-header-line h1 {
        font-size: 65px;
    }
}
@media(max-width:470px) {
    .footer {
        text-align: center;
    }
    .footer p {
        float: none;
        width: 100%;
    }
    .social-button {
        float: none;
        width: 50%;
        margin: 25px auto 0;
    }
}
@media(max-width:272px) {
    .social-button a {
        margin: 0 7px;
    }
}
