<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>Stores</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<section class="full-wrapper all-merchants-top" ng-cloak>
    <div class="container">
        <h1>All Stores</h1>
        <div class="clr"></div>
        <div class="row all-merchants-top-left">
            <div class="col l3 m12 s12">
                <div class="category-search-border">
                    <span class="btn button category-search" ng-click="showOrHide();" ng-class="catName">
                        <i class="material-icons">list</i>Category Search
                    </span>
                    <div class="category-select-mega marchentSearch" ng-class="className">
                        
                        <form action="#">
                            <div class="category-select-mega-top">
                                <div class="arrow"><img src="images/category-select-mega-arrow.png" width=100%></div>
                                <input type="button" ng-click="catcr(); $event.stopPropagation();" class="category-select-submit" value="Submit">
                                <input type="button" style="background: #F77423;" value="Clear" class="category-select-submit" ng-click="clean()">
                                <a href="javascript:void(0);" ng-click="close();" class="modal-content-modal-close modal-close ex" style="color: #fff">X</a>
                            </div>
                            <div class="mega-bottom">
                                <div class="row">
                                    <div id="vertical-scrollbar-demo" class="gray-skin demo">
                                        <div class="col l4 m12 s12 categorylist">
                                            <ul>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Adult" />
                                                        <label for="Adult">Adult</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Apparel" />
                                                        <label for="Apparel">Apparel</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Accessories" />
                                                                <label for="Accessories">Accessories</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Babies-and-Kids" />
                                                                <label for="Babies-and-Kids">Babies and Kids</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Big-and-Tall" />
                                                                <label for="Big-and-Tall">Big and Tall</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Intimate-and-Lingerie" />
                                                                <label for="Intimate-and-Lingerie">Intimate-and-Lingerie</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Maternity" />
                                                                <label for="Maternity">Maternity</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Men" />
                                                                <label for="Men">Men</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Petite" />
                                                                <label for="Petite">Petite</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Shoes" />
                                                                <label for="Shoes">Shoes</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Sports Apparel" />
                                                                <label for="Sports Apparel">Sports Apparel</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Sunglasses" />
                                                                <label for="Sunglasses">Sunglasses</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Swimwear" />
                                                                <label for="Swimwear">Swimwear</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Teens" />
                                                                <label for="Teens">Teens</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Women" />
                                                                <label for="Women">Women</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Work-Uniforms" />
                                                        <label for="Work-Uniforms">Work Uniforms</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Arts-and-Crafts" />
                                                        <label for="Arts-and-Crafts">Arts and Crafts</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Auctions" />
                                                        <label for="Auctions">Auctions</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col l4 m12 s12 categorylist">
                                            <ul>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Automotive" />
                                                        <label for="Automotive">Automotive</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Babies_and_Kids" />
                                                        <label for="Babies_and_Kids">Babies and Kids</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Books-and-Magazines" />
                                                        <label for="Books-and-Magazines">Books and Magazines</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Books" />
                                                                <label for="Books">Books</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="eBooks" />
                                                                <label for="eBooks">eBooks</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Magazine-Subscriptions" />
                                                                <label for="Magazine-Subscriptions">Magazine Subscriptions</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="test4" />
                                                                <label for="test4">Apparel</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Business" />
                                                        <label for="Business">Business</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="B2B" />
                                                                <label for="B2B">B2B</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Legal" />
                                                                <label for="Legal">Legal</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Marketing" />
                                                                <label for="Marketing">Marketing</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Charity" />
                                                        <label for="Charity">Charity</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="College-and-Education" />
                                                        <label for="College-and-Education">College and Education</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Computers" />
                                                        <label for="Computers">Computers</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Computer-Accessories" />
                                                                <label for="Computer-Accessories">Computer Accessories</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Internet-Services" />
                                                                <label for="Internet-Services">Internet Services</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Printers-and-Ink" />
                                                                <label for="Printers-and-Ink">Printers and Ink</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Software" />
                                                                <label for="Software">Software</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Costumes" />
                                                        <label for="Costumes">Costumes</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col l4 m12 s12 categorylist">
                                            <ul>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Dating" />
                                                        <label for="Dating">Dating</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Department-Stores" />
                                                        <label for="Department-Stores">Department Stores</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Diet-and-Fitness" />
                                                        <label for="Diet-and-Fitness">Diet and Fitness</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Electronics" />
                                                        <label for="Electronics">Electronics</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Batteries" />
                                                                <label for="Batteries">Batteries</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Camera-and-Photo" />
                                                                <label for="Camera-and-Photo">Camera and Photo</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Electronic-Accessories" />
                                                                <label for="Electronic-Accessories">Electronic Accessories</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Phones-and-Wireless" />
                                                                <label for="Phones-and-Wireless">Phones and Wireless</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Photo-Services" />
                                                                <label for="Photo-Services">Photo Services</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Tablets" />
                                                                <label for="Tablets">Tablets</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="TVs" />
                                                                <label for="TVs">TVs</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Video-Games" />
                                                                <label for="Video-Games">Video Games</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Event-Tickets" />
                                                        <label for="Event-Tickets">Event Tickets</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Financial" />
                                                        <label for="Financial">Financial</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Credit-Cards" />
                                                                <label for="Credit-Cards">Credit Cards</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Credit-Reports" />
                                                                <label for="Credit-Reports">Credit Reports</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Insurance" />
                                                                <label for="Insurance">Insurance</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input class="catdata" type="checkbox" id="Loans1" />
                                                                <label for="Loans1">Loans</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col l9 m12 s12">
                <div class="row">
                    <div class="col s12">
                        <div class="store-search">
                            <div class="store-search-border">
                                <form name="Searchform" novalidate ng-submit="search(Searchform.$valid)">
                                    <div class="store-search-but">
                                        <button value="" type="submit" class="submit" ><img src="images/store-search-but.png"></button>
                                    </div>
                                    <input type="text" class="search-input" name="SearchText" placeholder="Search by stores " id="SearchText" autocomplete="false" ng-change="searchonkey()" ng-model="SearchText" required>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col l12 s12 letter-search-section">
            <div class="letter-search">
                <ul>
                    <span>All Stores : </span>
                    <li ng-repeat="c in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']"><a href="javascript:void(0);" ng-click="searchByAlphabet(c);" ng-class="{active:char==c}">{{c}}</a></li>
                    
                </ul>
            </div>
        </div>
        
            </div>
        </div>
       
    </div>
</section>
<section class="full-wrapper coupon-scroll-section" ng-cloak>
    <div class="container">
        <div class="row coupon-scroll-section-listing" slides-per-column="4" ng-if="(merCtrl.loadingMsg=='')">
            <div class="col l3 m6 s12 coupon-scroll-section-element" id="AMslides" ng-repeat="slides in allList track by slides.id">
                <div class="coupon-thumbnel">
                    <div class="icons">
                        <favouite user="slides"></favouite>
                        <share></share>
                    </div>
                    <div class="coupon-thumbnel_img">
                        <img ng-src="{{::slides.logo}}" alt="">
                    </div>
                    <div class="devider">

                        <div class="tags" ng-if="(slides.codes.length + slides.deals.length)> 0">{{slides.codes.length + slides.deals.length}}</div>
                        <div class="tags" ng-if="((slides.codes + slides.deals)> 0)">{{slides.deals + slides.codes}}</div>
                    </div>
                    <div class="coupon-cont">
                        <h3 ng-if="slides.name.length<=15">{{::slides.name| limitTo:15}}<img ng-if="slides.topMerchant==true || slides.featured==true" src="images/rating1.png"></h3>
                        <h3 ng-if="slides.name.length>15">{{::slides.name| limitTo:15}}..<img ng-if="slides.topMerchant==true|| slides.featured==true" src="images/rating1.png"></h3>
                        <P class="amtmerchant" ng-if="slides.cashbackType==='Flat Rate'"> Up To ${{::slides.cashbackValue}} Cash Back</P>
                        <P class="amtmerchant" ng-if="slides.cashbackType==='Percentage'"> Up To {{::slides.cashbackValue}}% Cash Back</P>
                        <P class="amtmerchant" ng-if="slides.cashbackType===''"> No Cash Back</P>
                        <div class="coupon-cont-btn-section">
                            <span class="coupon-cont-btn-cover" ng-if="slides.domain.length===1">
                                    <a href="#/store/{{::slides.domain[0]}}?{{::slides.country}}" class="coupon-cont-btn">Coupons</a>
                                </span>
                            <span class="coupon-cont-btn-cover" ng-if="slides.domain.length!==1">
                                    <a href="#/store/{{::slides.domain}}?{{::slides.country}}" class="coupon-cont-btn">Coupons</a>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="(merCtrl.loadingMsg!='')"  class="cuperror" >
            <br><b>{{merCtrl.loadingMsg}}</b></div>
        <div ng-if="(allList.length==0 &&  merCtrl.loadingMsg=='') && SearchText"  class="cuperror">
            <br> <b> {{paramText}} is not currently available on CashPack yet. We have applied to that store. Would you like us to notify you when it’s available on <a href="#/feedback" class="faqlink">CashPack?</a></b></div>
        <div ng-if="cat"  class="cuperror">
            <br> <b> This Categories are not currently available on CashPack yet. Would you like us to notify you when it’s available on <a href="#/feedback" class="faqlink">CashPack?</a></b></div>
        <div  class="cuperror" style="clear:both;" ng-if="(totalRecords!=0  && $scope.char=='')">
            <pagination page="1" page-size="recordsPerPage" total="totalRecords" show-prev-next="true" use-simple-prev-next="false" dots="...." hide-if-empty="false" adjacent="2" scroll-top="false" pagination-action="findNextData(page)" />
        </div>
        <div  class="cuperror" style="clear:both;" ng-if="(totalRecords!=0  && $scope.char!='')">
            <pagination page="1" page-size="recordsPerPage" total="totalRecords" show-prev-next="true" use-simple-prev-next="false" dots="...." hide-if-empty="false" adjacent="2" scroll-top="false" pagination-action="findNextDataAlphabet(page)" />
        </div>
    </div>
</section>
