                        <form action="#">
                            <div class="category-select-mega-top">
                                <div class="arrow"><img src="images/category-select-mega-arrow.png" width=100%></div>
                                <input type="submit" class="category-select-submit" value="Submit">
                            </div>
                            <div class="mega-bottom">
                                <div class="row">
                                    <div id="vertical-scrollbar-demo" class="gray-skin demo">
                                        <div class="col l4 m12 s12 categorylist">
                                            <ul>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input class="catdata" type="checkbox" id="Adult" />
                                                        <label class="catdata" for="Adult">Adult</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Apparel" />
                                                        <label for="Apparel">Apparel</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Accessories" />
                                                                <label for="Accessories">Accessories</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Babies-and-Kids" />
                                                                <label for="Babies-and-Kids">Babies and Kids</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Big-and-Tall" />
                                                                <label for="Big-and-Tall">Big and Tall</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Intimate-and-Lingerie" />
                                                                <label for="Intimate-and-Lingerie">Intimate-and-Lingerie</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Maternity" />
                                                                <label for="Maternity">Maternity</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Men" />
                                                                <label for="Men">Men</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Petite" />
                                                                <label for="Petite">Petite</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Shoes" />
                                                                <label for="Shoes">Shoes</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Sports Apparel" />
                                                                <label for="Sports Apparel">Sports Apparel</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Sunglasses" />
                                                                <label for="Sunglasses">Sunglasses</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Swimwear" />
                                                                <label for="Swimwear">Swimwear</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Teens" />
                                                                <label for="Teens">Teens</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Women" />
                                                                <label for="Women">Women</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Work-Uniforms" />
                                                        <label for="Work-Uniforms">Work Uniforms</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Arts-and-Crafts" />
                                                        <label for="Arts-and-Crafts">Arts and Crafts</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Auctions" />
                                                        <label for="Auctions">Auctions</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="test1" />
                                                        <label for="test1">Work Uniforms 4</label>
                                                    </div>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                        <div class="col l4 m12 s12 categorylist">
                                            <ul>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Automotive" />
                                                        <label for="Automotive">Automotive</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Babies_and_Kids" />
                                                        <label for="Babies_and_Kids">Babies and Kids</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Books-and-Magazines" />
                                                        <label for="Books-and-Magazines">Books and Magazines</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Books" />
                                                                <label for="Books">Books</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="eBooks" />
                                                                <label for="eBooks">eBooks</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Magazine-Subscriptions" />
                                                                <label for="Magazine-Subscriptions">Magazine Subscriptions</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="test4" />
                                                                <label for="test4">Apparel</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Business" />
                                                        <label for="Business">Business</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="B2B" />
                                                                <label for="B2B">B2B</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Legal" />
                                                                <label for="Legal">Legal</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Marketing" />
                                                                <label for="Marketing">Marketing</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Charity" />
                                                        <label for="Charity">Charity</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="College-and-Education" />
                                                        <label for="College-and-Education">College and Education</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Computers" />
                                                        <label for="Computers">Computers</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Computer-Accessories" />
                                                                <label for="Computer-Accessories">Computer Accessories</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Internet-Services" />
                                                                <label for="Internet-Services">Internet Services</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Printers-and-Ink" />
                                                                <label for="Printers-and-Ink">Printers and Ink</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Software" />
                                                                <label for="Software">Software</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Costumes" />
                                                        <label for="Costumes">Costumes</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col l4 m12 s12 categorylist">
                                            <ul>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Dating" />
                                                        <label for="Dating">Dating</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Department-Stores" />
                                                        <label for="Department-Stores">Department Stores</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Diet-and-Fitness" />
                                                        <label for="Diet-and-Fitness">Diet and Fitness</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Electronics" />
                                                        <label for="Electronics">Electronics</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Batteries" />
                                                                <label for="Batteries">Batteries</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Camera-and-Photo" />
                                                                <label for="Camera-and-Photo">Camera and Photo</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Electronic-Accessories" />
                                                                <label for="Electronic-Accessories">Electronic Accessories</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Phones-and-Wireless" />
                                                                <label for="Phones-and-Wireless">Phones and Wireless</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Photo-Services" />
                                                                <label for="Photo-Services">Photo Services</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Tablets" />
                                                                <label for="Tablets">Tablets</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="TVs" />
                                                                <label for="TVs">TVs</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Video-Games" />
                                                                <label for="Video-Games">Video Games</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Event-Tickets" />
                                                        <label for="Event-Tickets">Event Tickets</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="input-wrap">
                                                        <input type="checkbox" id="Financial" />
                                                        <label for="Financial">Financial</label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Credit-Cards" />
                                                                <label for="Credit-Cards">Credit Cards</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Credit-Reports" />
                                                                <label for="Credit-Reports">Credit Reports</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Insurance" />
                                                                <label for="Insurance">Insurance</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-wrap">
                                                                <input type="checkbox" id="Loans1" />
                                                                <label for="Loans1">Loans</label>
                                                            </div>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>