<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>FeaturedCoupons</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<section class="full-wrapper coupon-scroll-section" ng-cloak>
    <div class="container">
        <div class="row coupon-scroll-section-listing feat" slides-per-column="4">
            <div class="col l3 m6 s12 coupon-scroll-section-element" id="AMslides" ng-repeat="slides in getstoreAllList track by slides.id">
                <div class="coupon-thumbnel">
                    <div class="icons">
                        <favouite user="slides"></favouite>
                        <share></share>
                    </div>
                    <div class="coupon-thumbnel_img">
                        <img ng-src="{{::slides.logo}}" alt="{{::slides.name}}">
                    </div>
                    <div class="devider">
                        <div class="tags" ng-if="(slides.codes.length + slides.deals.length)> 0">{{slides.codes.length + slides.deals.length}}</div>
                        <!-- <div class="tags" ng-if="((slides.codes.length + slides.deals.length)== 0)||(slides.codes=== undefined && slides.deals=== undefined)">0</div> -->
                        <div class="tags" ng-if="((slides.codes + slides.deals)> 0)">{{slides.deals + slides.codes}}</div>
                    </div>
                    <div class="coupon-cont">
                        <h3 ng-if="slides.merchant_name.length<=15">{{::slides.merchant_name| limitTo:15}}</h3>
                        <h3 ng-if="slides.merchant_name.length>15">{{::slides.merchant_name| limitTo:15}}..</h3>
                        <!-- P class="amtmerchant" ng-if="slides.cashbackType==='Flat Rate'"> Up To ${{slides.cashbackValue}} Cash Back</P>
                        <P class="amtmerchant" ng-if="slides.cashbackType==='Percentage'"> Up To {{slides.cashbackValue}}% Cash Back</P>
                        <P class="amtmerchant" ng-if="slides.cashbackType===''"> No Cash Back</P> -->
                        <P class="amtmerchant" >{{::slides.offer| limitTo:17}}..</P>
                        <div class="coupon-cont-btn-section" ng-if="!slides.code">
                        <div class="cupon-code-border">
                                <a href="{{::slides.startLink}}" target="blank"><span class="btn button getdeal">Get Deals</span></a>
                            </div>
                            <!-- <span class="coupon-cont-btn-cover">
                                    <a href="#/store/{{slides.domain}}" class="coupon-cont-btn">Coupons</a>
                                </span> -->
                        </div>
                        <div class="coupon-cont-btn-section" ng-if="slides.code">
                        <copy user="slides"></copy>
                            </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col l3 m6 s12 coupon-scroll-section-element featload" ng-if="getstoreAllList.length==0">please wait while loading...</div>
    </div>
</section>
