.block--Header{
  background: #eee;
  border: #ccc solid 3px;
  font-size: 22px;
  margin: 0 0 20px;
  color: #000;
  cursor: pointer;
  display: block;
}
.block--list{
  margin: 0 0 20px;
  display: block;
  list-style-type: none;
  padding: 0 30px;
}
.block--list li{
  background: #eee;
  border: none;
  font-size: 22px;
  margin: 0 0 20px;
  color: #000;
  cursor: pointer;
  display: block;
  list-style-type: none;
  padding: 10px 0;
}

.hidden{
  display:none;
}

.customButton{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background: #30b8f3;
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
}
.customButton:hover{
  background: #333;
  color: #fff;
}
.txt-center{
  text-align: center!important;
}
.headerSection{
  padding: 30px 0;
  margin-bottom: 30px;
  text-align: center;
  background: #28b5ef;
}
.selectionClass{
  padding: 30px 0;
  margin-bottom: 30px;
  text-align: center;
  background: #28ef72;
}
