.main-frame{width:600px;height:400px;border:#ccc 4px solid;background:url(../images/bg.jpg) no-repeat;background-size:cover;position:relative;overflow:hidden}.fromleft{position:absolute;margin-top:-50px}.rain-drops2{animation:raineffect 1000ms linear infinite}@Keyframes raineffect{0%{opacity:0.41}20%{opacity:1}80%{opacity:1}100%{opacity:0.41}}
/*# sourceMappingURL=style.css.map */
