.main-frame {
    width: 600px;
    height: 400px;
    border: #ccc 4px solid;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    //background-color: #ccc;
    position: relative;
    overflow: hidden;
    //-webkit-filter: blur(5px);
    //-moz-filter: blur(5px);
    //-o-filter: blur(5px);
    //-ms-filter: blur(5px);
    //filter: blur(5px);
}
.fromleft {
    position: absolute;
    margin-top: -50px;
    //z-index: 99999;
    //-webkit-transition: top 2s;
    /* Safari */
    //transition: top 2s;
    
}

.rain-drops2 {
    animation: raineffect 1000ms linear infinite,
}

//.rain-drops {
  //animation-name: raineffect;
  //animation-delay: 14s;
  //animation-duration: 6s;
  //animation-iteration-count: infinite;
  //left: 98%;
  //opacity: 0.41;
  //top: -96%;
//}

@Keyframes raineffect {
    0% {
        //background-color: red;
        opacity: 0.41;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.41;
        //background-color: red;
    }
}




