.main-frame{width:800px;height:470px;border:#ccc 4px solid;background:url(../images/bg.png) no-repeat;background-size:cover;position:relative;overflow:hidden;position:relative}.main-frame:before{content:'';background-color:#92D7E7;position:absolute;width:100%;height:100%;z-index:-9}.cloudimg{position:absolute;z-index:-2;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);-ms-filter:fliph;filter:fliph;top:50%;left:50%;transform:translate(-50%, -50%);width:0px;animation:fadeffect linear infinite}.cloudimg img{width:100%}@Keyframes fadeffect{0%{opacity:0}20%{opacity:1}80%{opacity:1}100%{opacity:0}}
/*# sourceMappingURL=style.css.map */
