<div class="top-spacer">
</div>
<section class="full-wrapper breadcamb-wrapper">
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#/home" class="breadcrumb first">Home</a>
                    <a href="javascript:void(0);" class="breadcrumb"> Create Fundraiser</a>
                </div>
            </div>
        </nav>
    </div>
</section>
<div class="pro-create-fundraiser">
    <div class="container">
        <h6>Fill Out The Form To Create</h6>
        <h1>Your Own Cause For <span>FundRaising</span></h1> </div>
    <div class="create-fundraiser-form-section-cover">
        <div class="container">
            <div class="row">
                <div class="col l8 m7 s12">
                    <div class="create-fundraiser-form-section">
                        <form>
                            <div class="form-top">
                                <section class="school-info">
                                    <h6>School Info</h6> <span class="school-info-span">1</span>
                                    <div input-field>
                         

                                        <select ng-options="item for item in select.choices track by item" ng-model="select.value1" placeholder="Title" material-select watch>
                                            <option value="">Title</option>
                                        </select>
                                    </div>
                                    <div input-field>
                               
                                        <select ng-options="item for item in select.choices track by item" ng-model="select.value" placeholder="Location" material-select watch>
                                            <option value="">Location</option>
                                        </select>
                                    </div>
                                    <div input-field>
                                        <textarea ng-model="dummyInputs.textAreaInput" class="materialize-textarea"></textarea>
                                        <label>Textarea</label>
                                    </div>
                                </section>
                                <section class="cause-info">
                                    <h6>Cause Info</h6> <span class="cause-info-span">2</span>
                                    <div input-field>
                                        <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
                                        <label>Title</label>
                                    </div>
                                    <div input-field>
                                        <textarea ng-model="dummyInputs.textAreaInput" class="materialize-textarea"></textarea>
                                        <label>Description</label>
                                    </div>
                                    <h6>Upload Image</h6>
                                    <div class="file-field input-field">
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                            <label>Browse File</label>
                                        </div>
                                        <div class="btn"> <span>Upload</span>
                                            <input type="file"> </div>
                                    </div>
                                </section>
                                <section class="set-cause-value">
                                    <h6>Set Cause Value</h6> <span class="cause-info-span">3</span>
                                    <div class="value-price">
                                        <div input-field>
                                            <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
                                            <label>Input label</label>
                                        </div>
                                    </div>
                                    <div class="c-date">
                                        <div input-field>
                                            <label for="create-date">Input date</label>
                                            <input input-date type="text" name="create-date" id="create-date" ng-model="currentTime" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="15" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()" on-stop="onStop()" /> </div>
                                    </div>
                                    <div class="t-date">
                                        <div input-field>
                                            <label for="target-date">Input date</label>
                                            <input input-date type="text" name="target-date" id="target-date" ng-model="currentTime" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="15" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()" on-stop="onStop()" /> </div>
                                    </div>
                                </section>
                                <section class="contact-info">
                                    <h6>Contact Info</h6> <span class="contact-info-span">4</span>
                                    <div class="half half-left">
                                        <div input-field>
                                            <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
                                            <label>Name</label>
                                        </div>
                                    </div>
                                    <div class="half half-right">
                                        <div input-field>
                                            <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
                                            <label>Phone</label>
                                        </div>
                                    </div>
                                    <div class="full">
                                        <div input-field>
                                            <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
                                            <label>Relationship to the School</label>
                                        </div>
                                    </div>
                                </section>
                                <section class="admin-email-password">
                                    <h6>Admin Email & Password</h6> <span class="admin-email-password-span">5</span>
                                    <div class="full">
                                        <div input-field>
                                            <input type="email" ng-model="dummyInputs.inputFieldInput" length="150">
                                            <label>Admin Email Address</label>
                                        </div>
                                    </div>
                                    <div class="half half-left">
                                        <div input-field>
                                            <input type="password" ng-model="dummyInputs.inputFieldInput" length="150">
                                            <label>Password</label>
                                        </div>
                                    </div>
                                    <div class="half half-right">
                                        <div input-field>
                                            <input type="password" ng-model="dummyInputs.inputFieldInput" length="150">
                                            <label>Conform Password</label>
                                        </div>
                                    </div>
                                </section>
                                <section class="where-donations-are-sent">
                                    <h6>Where Donations are Sent</h6> <span class="where-donations-are-sent-span">6</span>
                                    <div class="full">
                                        <div input-field>
                                            <input type="email" ng-model="dummyInputs.inputFieldInput" length="150">
                                            <label>Email Address</label>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="form-btm">
                                <div class="row">
                                    <div class="col l7 m12 s12"> <span>
                                                  <input type="checkbox" class="filled-in" id="agree" checked="checked" />
                                                  
                                              <label for="agree">I agree to the terms and conditions</label></span> </div>
                                    <div class="col l5 m12 s12">
                                        <div class="form-btm-cover">
                                            <button class="btn waves-effect waves-light form-btm-ele" type="submit" name="action">Submit <i class="material-icons right">send</i> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col l4 m5 s12">
                    <div class="create-fundraiser-right-panel">
                        <div class="video-section">
                            <h3>How It Work</h3>
                            <div class="video-eliment"> <img src="images/Create-fond-vid.png" alt=""> </div>
                        </div>
                        <div class="running-causes">
                            <h3>Top Running Causes</h3>
                            <div class="running-causes-section">
                                <ul>
                                    <li>
                                        <div class="running-causes-img">
                                            <img src="images/lis-school1.png" alt="">
                                        </div>
                                        <div class="running-causes-text">
                                            <h4>Marion Cross School</h4>
                                            <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="running-causes-img">
                                            <img src="images/lis-school2.png" alt="">
                                        </div>
                                        <div class="running-causes-text">
                                            <h4>Elementary School</h4>
                                            <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="running-causes-img">
                                            <img src="images/lis-school3.png" alt="">
                                        </div>
                                        <div class="running-causes-text">
                                            <h4>Hawk Ridge Elementary</h4>
                                            <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="running-causes-img">
                                            <img src="images/lis-school4.png" alt="">
                                        </div>
                                        <div class="running-causes-text">
                                            <h4>Lora Evan School</h4>
                                            <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="running-causes-img">
                                            <img src="images/lis-school4.png" alt="">
                                        </div>
                                        <div class="running-causes-text">
                                            <h4>Lora Evan School</h4>
                                            <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="create-fundraiser-add"> <img src="images/add.png" alt=""> </div>
                        <div class="right-panel-text">
                            <div class="right-panel-text-img"></div>
                            <p>Once you submit this form we will sent all the info to the school. Once school approves your cause it will be published by our admin team. The Process will take 24-48 hours time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
