        <div class="top-spacer"></div>

        <div class="top-merchants pro-fundraiser">
            <div class="container">
                <nav>
                    <div class="nav-wrapper pro-breadcrumb">
                        <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0);" class="breadcrumb"><strong>Feedback</strong></a> </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="feedback-section">
            <div class="container">
                <div class="row">
                    <div class="col l7 m5 s12">
                        <div class="feedback-img"> <img src="images/feedback-img.png" alt=""> </div>
                    </div>
                    <div class="col l5 m7 s12">
                        <div class="feedback-form-section">
                            <h3>FeedBack</h3>
                            <div class="feedback-form-element">
                              <script src='https://www.google.com/recaptcha/api.js'></script>

                                <form name="feedbackForm" novalidate autocomplete="off" class="simple-form" ng-submit="feedback(feedbackForm.$valid);">
                                    <div input-field class="input-fild">
                                        <input type="text" ng-model="fbForm.name" name="name" required  autocomplete="off">
                                        <label>Name</label>
                                        <p  class="frmerr"  ng-if="(feedbackForm.name.$dirty ||feedbackForm.$submitted )&& feedbackForm.name.$invalid">
                                            <span ng-if="feedbackForm.name.$error.required ||feedbackForm.$submitted">name is required</span>
                                        </p>
                                    </div>
                                    <div input-field class="input-fild">
                                        <input name="email" type="email" ng-model="fbForm.emailAddress"  required  autocomplete="off" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                        <label>Email</label>
                                        <p class="frmerr" ng-if="(feedbackForm.email.$dirty ||feedbackForm.$submitted) && feedbackForm.email.$invalid">
                                            <span class="frmerr"  ng-if="feedbackForm.email.$error.required">Email is required</span>
                                            <span class="frmerr"  ng-if="feedbackForm.email.$error.pattern">Invalid email address</span>
                                        </p>
                                    </div>
                                    <div input-field class="input-fild">
                                        <input type="tel" name="phone" ng-model="fbForm.phoneNumber" autocomplete="off">
                                        <label>Phone</label>
                                        <p class="frmerr"  ng-if="(feedbackForm.phone.$dirty ||feedbackForm.$submitted) && feedbackForm.phone.$invalid">
                                            <span class="frmerr" ng-if="feedbackForm.phone.$error.$invalid">phone number is invalid</span>
                                        </p>
                                    </div>
                                    <div input-field class="input-fild">
                                        <input type="text" name="organization" ng-model="fbForm.organization" autocomplete="off">
                                        <label>Organization</label>
                                        <p class="frmerr"  ng-if="(feedbackForm.organization.$dirty ||feedbackForm.$submitted) && feedbackForm.organization.$invalid">
                                            <span class="frmerr" ng-if="feedbackForm.organization.$invalid ||feedbackForm.$submitted">organization is not valid</span>
                                        </p>
                                    </div>
                                    <div input-field class="input-fild">
                                        <textarea ng-model="fbForm.message" class="materialize-textarea" name="suggestion" required  autocomplete="off"></textarea>
                                        <label>Your Suggestions</label>
                                        <p class="frmerr" ng-if="(feedbackForm.suggestion.$dirty ||feedbackForm.$submitted) && feedbackForm.suggestion.$invalid">
                                         <span class="frmerr" ng-if="feedbackForm.suggestion.$error.required ||feedbackForm.$submitted">Enter Your Suggestions</span>
                                        </p>
                                    </div>
                                    <div class="google-cap">
                                        <div class="g-recaptcha" data-sitekey="6LcoORkUAAAAAGmhG55dG3E8KrM7ScU16Lp2sV0-"></div>
                                    </div>
                                    
                                    <div class="feedback-form-btm-section">
                                        <div class="feedback-form-btm-cover">
                                            <button class="btn waves-effect waves-light feedback-form-btm" type="submit" name="action"> Submit </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
