<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>Support a Cause</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<div class="pro-banner" style="background: url(images/banner.png) no-repeat fixed; background-size: cover;">
    <div class="banner-inner">
        <!-- <h1>Raise Funds Without <span>Fundraising!</span></h1> -->
        <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massaum sociis natoque penatibus. </p> -->
        <div class="banner-inner-btn-section">
            <div class="cupon-code-cover cupon-listing-code-cover pro-fundraiser-cover blue-cover">
                <!-- <a data-target='demoModal' class="btn button cupon-code cupon-listing-code waves-effect pro-fundraiser-btn blue" modal>Support a Cause</a> -->
                <a class="btn button cupon-code cupon-listing-code waves-effect pro-fundraiser-btn blue" href="#/supportcauses/School">Support a Cause</a>
            </div>
            <!-- <div class="pro-or">or</div>
            <div class="cupon-code-cover cupon-listing-code-cover pro-fundraiser-cover">
                <a class="btn button cupon-code cupon-listing-code waves-effect pro-fundraiser-btn"  data-target='demoModal2' modal>Create  a Cause</a></div> -->
        </div>
    </div>
</div>
<div class="pro-partners">
    <div class="container">
        <h3>Few of Our Partners for Funding</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing -->
            <!-- <br/> elit. Aenean ligula <a href="#">eget dolor</a>.</p> -->
            <br><br>
        <div class="pro-partners-listing">
            <ul>
                <li> <img src="images/Partners1.png" alt=""> </li>
                <li> <img src="images/Partners2.png" alt=""> </li>
                <li> <img src="images/Partners3.png" alt=""> </li>
                <li> <img src="images/Partners4.png" alt=""> </li>
                <li> <img src="images/Partners5.png" alt=""> </li>
                <li> <img src="images/Partners6.png" alt=""> </li>
                <li> <img src="images/Partners7.png" alt=""> </li>
                <li> <img src="images/Partners8.png" alt=""> </li>
                <li> <img src="images/Partners9.png" alt=""> </li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="pro-videos">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <div class="pro-videos-section">
                    <h3>How It Work</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer ligula egetadipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque pe natili gula egetbus et.</p>
                    <p>Donec quam felis, Aenean massa. Cum sociis natoque pe natili gula egetbus etcies nec, pellentesque. Aenean commodo ligula eget dolor. Nulla consequat massa quis enim. </p>
                    <p>Donec quam felis, ultricies nec.</p>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="vid-eli"> <img src="images/video-img.png" alt=""> </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="pro-started">
    <div class="container">
        <div class="pro-started-img"></div>
        <h1>Get Started With <span class="span-orange">Cash</span><span class="span-blue">Pack<span></h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <strong>Aenean commodo</strong> ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et. </p>
        <div class="pro-started-btn-section">
            <div class="pro-started-btn-cover"> <a class="btn button cupon-code cupon-listing-code waves-effect pro-started-btn-element" href="#/createfundraiser">Start Now!</a> </div>
        </div>
    </div>
</div> -->
<!-- Modal Structure -->
<div id="demoModal" class="modal">
    <div class="modal-content pro-fundraiser">
        <a href="javascript:void(0);" class="modal-content-modal-close modal-close">X</a>
        <h4>Please Choose Partner to Support a Cause</h4>
        <div class="pro-fundraiser-content">
            <div class="pro-fundraiser-content-element content-element1">
                <a href="#/supportcauses/School" class="modal-close"><img src="images/school-mod1.png" alt=""></a>
            </div>
            <div class="pro-fundraiser-content-element content-element2">
                <a href="#/supportcauses/Sports"  class="modal-close"><img src="images/Sports-mod2.png" alt=""></a>
            </div>
            <div class="pro-fundraiser-content-element content-element3">
                <a href="#/supportcauses/Non-profit"  class="modal-close"><img src="images/Non-profit-mod3.png" alt=""></a>
            </div>
            <div class="pro-fundraiser-content-element content-element4">
                <a href="#/supportcauses/Organization"  class="modal-close"><img src="images/organization-mod4.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="demoModal2" class="modal">
    <div class="modal-content pro-fundraiser">
        <a href="javascript:void(0);" class="modal-content-modal-close modal-close">X</a>
        <h4>Please Choose Partner For Creating Your Own Cause</h4>
        <div class="pro-fundraiser-content">
            <div class="pro-fundraiser-content-element content-element1">
                <a href="#/schoolsignup" class="modal-close"><img src="images/school-mod1.png" alt=""></a>
            </div>
            <div class="pro-fundraiser-content-element content-element2">
                <a href="#/schoolsignup" class="modal-close"><img src="images/Sports-mod2.png" alt=""></a>
            </div>
            <div class="pro-fundraiser-content-element content-element3">
                <a href="#/schoolsignup" class="modal-close"><img src="images/Non-profit-mod3.png" alt=""></a>
            </div>
            <div class="pro-fundraiser-content-element content-element4">
                <a href="#/schoolsignup" class="modal-close"><img src="images/organization-mod4.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
</div>
