<div class="top-spacer"></div>
              <div class="top-merchants pro-fundraiser">
            <div class="container">
                <nav>
                    <div class="nav-wrapper pro-breadcrumb">
                        <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="#/fundraiser" class="breadcrumb first-breadcrumb">Support a Cause</a><a href="#/mycauses" class="breadcrumb first-breadcrumb">My Causes</a><a href="javascript:void(0)" class="breadcrumb"><strong>Donate</strong></a> </div>
                    </div>
                </nav>
            </div>
        </div>
        
        <div class="pro-create-fundraiser pro-donate">
            
            <div class="create-fundraiser-form-section pro-fundraiser-donate-form">
            
            
            
            
            
            
            
                <div class="container">
                    <div class="row">
                        <div class="col l8 m7 s12">
                            <div class="tab-section-cover">
                               
                                 <div class="row">
                                 
                                  <div class="col l5 m12 s12"> <h6>Make a Donation to</h6>
                                <h1>Racing for NESAY</h1></div>
                                  <div class="col l7 m12 s12">
                                      <div class="pro-tab-head-right">
                                          <p>Total <span>CashPack Money</span></p>
                                          <div class="pro-tab-head-right-price">$450</div>
                                      </div>
                                     </div>
                                </div>      
                               
                                <div class="tab-section">
                        <div class="col s12">
                        <ul class="tabs my-tab ng-isolate-scope" tabs="" reload="allTabContentLoaded">
                            <li class="tab col s3"><a class="active" href="#test1">Donate as per <br>Planning</a></li>
                            <li class="tab col s3"><a href="#test2">Donate more From <br>CashPack</a></li>
                            <li class="tab col s3"><a href="#test3">Donate through <br>Other Modes</a></li>
                        </ul>
                    </div>
                    <div id="test1" class="col s12"><div class="create-fundraiser-form-section">
                                <form name="donateAmt" novalidate autocomplete="off" class="simple-form" ng-submit="planingdonate(donateAmt.$valid);">
                                    <div class="form-top donation-formtop">
                                        
                                        <section class="contact-info">
                                           
                                            <div class="label_area">
                                            
                                            <div class="half half-left">
                                            <div class="donation-price">
                                                <div input-field>
                                                    <input type="number" ng-model="donatelist1.Amount" length="150" min-value="1" name="Amount" required  autocomplete="off">
                                                    <label>Donation Amount</label>
                                                    <p  class="frmerr"  ng-if="donateAmt.Amount.$dirty && donateAmt.Amount.$invalid">
                                                            <span ng-show="donateAmt.Amount.$error.required">Amount is required</span>
                                                        </p>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="half half-right">
                                            <div class="form-btm-wrapper">
                                                    <button class="btn waves-effect waves-light form-btn" type="submit" name="action">Donate</button>
                                                </div>
                                            </div>
                                            
                                            </div>
                                            
                                        </section>
                                        
                                        
                                    </div>
                                    </form>
                                    <form name="donateAmt1" novalidate autocomplete="off" class="simple-form" ng-submit="monthlyplaningdonate(donateAmt1.$valid);">
                                    <div class="donateform-bottomarea">
                                        <span class="orarea">Or</span>
                                        <div class="row">
                                            <section class="set-cause-value">
                                            <h6>You can also set your monthly goal</h6>
                                            <div class="donate-price">
                                                <div input-field>
                                                    <input type="number" min-value="1" ng-model="donatelist2.Amount" name="Amount" required  autocomplete="off" length="150">
                                                    <label>Donation Amount</label>
                                                    <p  class="frmerr"  ng-if="donateAmt1.Amount.$dirty && donateAmt1.Amount.$invalid">
                                                            <span ng-show="donateAmt1.Amount.$error.required">Amount is required</span>
                                                        </p>
                                                </div>
                                            </div>
                                            
                                            <div class="donate-date">
                                                <div input-field>
                                                    <label for="create-date">Monthly Date</label>
                                                    <input input-date type="text" name="createdate" id="create-date" ng-model="donatelist2.addedTime" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="15" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()" on-stop="onStop()" required  autocomplete="off" /> 
                                                    <p  class="frmerr"  ng-if="donateAmt1.createdate.$dirty && donateAmt1.createdate.$invalid">
                                                            <span ng-show="donateAmt1.createdate.$error.required">Date is required</span>
                                                        </p>
                                                    </div>
                                            </div>
                                            <div class="donate-goal">
                                                <div input-field>
                                                    <label for="target-date">Until Goal Meets</label>
                                                    <input input-date type="text" name="targetdate" id="target-date" ng-model="donatelist2.expTime" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="15" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()" on-stop="onStop()" required  autocomplete="off" /> 
                                                    <p  class="frmerr"  ng-if="donateAmt1.targetdate.$dirty && donateAmt1.targetdate.$invalid">
                                                            <span ng-show="donateAmt1.targetdate.$error.required"> Date is required</span>
                                                        </p>
                                                    </div>
                                            </div>
                                            </section>
                                            <div class="col m12 s6">
                                                <div class="activeform-btm-cover">
                                                    <button class="btn waves-effect waves-light activeform-btn" type="submit" name="action">Activate </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div></div>
                    <div id="test2" class="col s12">
                        
                        <div class="create-fundraiser-form-section">
                                <form  name="donateAmtmore" novalidate autocomplete="off" class="simple-form" ng-submit="planingdonatemore(donateAmtmore.$valid);">
                                    <div class="form-top donation-formtop">
                                        
                                        <section class="contact-info">
                                           
                                           <div class="full">
                                           <div class="donate_amount_area">
                                               Donate Money From My CashPack Amount<br>
                                            <a href="#">Account Detail</a>
                                            </div>
                                           </div>
                                           
                                            <div class="label_area">
                                            
                                            <div class="half half-left">
                                            <div class="donation-price">
                                                <div input-field>
                                                    <input type="number" min-value="1" required  autocomplete="off" name="Amount" ng-model="donatelist3.Amount" length="150">
                                                    <label>Donation Amount</label>
                                                    <p  class="frmerr"  ng-if="donateAmtmore.Amount.$dirty && donateAmtmore.Amount.$invalid">
                                                            <span ng-show="donateAmtmore.Amount.$error.required">Amount is required</span>
                                                        </p>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="half half-right">
                                            <div class="form-btm-wrapper">
                                                    <button class="btn waves-effect waves-light form-btn" type="submit" name="action">Donate</button>
                                                </div>
                                            </div>
                                            
                                            </div>
                                            
                                        </section>
                                        
                                        
                                    </div>
                                    
                                </form>
                            </div>
                            </div>
                    <div id="test3" class="col s12"><div class="create-fundraiser-form-section">
                                <form name="donateForm" novalidate autocomplete="off" class="simple-form" ng-submit="donate(donateForm.$valid);">
                                    <div class="form-top donation-formtop">
                                        
                                        <section class="contact-info">
                                           
                                            <div class="label_area">
                                            <div>Donation Amount:</div>
                                            <div class="donation-price">
                                            <div class="half half-left">
                                                <div input-field>
                                                    <input type="number" ng-model="donatelist.Amount" length="150" name="Amount" min-value="1" required  autocomplete="off">
                                                    <label>Donation Amount</label>
                                                     <p  class="frmerr"  ng-if="donateForm.Amount.$dirty && donateForm.Amount.$invalid">
                                                            <span ng-show="donateForm.Amount.$error.required">Amount is required</span>
                                                        </p>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="label_area">
                                            <div>Your Name:</div>
                                            <div class="half half-left">
                                                <div input-field>
                                                    <input type="text" ng-model="donatelist.firstname" length="150"
                                                    name="fname" required  autocomplete="off">
                                                    <label>First Name</label>
                                                     <p  class="frmerr"  ng-if="donateForm.fname.$dirty && donateForm.fname.$invalid">
                                                            <span ng-show="donateForm.fname.$error.required">First-Name is required</span>
                                                        </p>
                                                </div>
                                            </div>
                                            <div class="half half-right">
                                                <div input-field>
                                                    <input type="text" ng-model="donatelist.lastname" length="150"
                                                    name="lname" required  autocomplete="off">
                                                    <label>Last Name</label>
                                                    <p  class="frmerr"  ng-if="donateForm.lname.$dirty && donateForm.lname.$invalid">
                                                            <span ng-show="donateForm.lname.$error.required">Last-Name is required</span>
                                                        </p>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="full">
                                                <div input-field>
                                                    <div>Your Email:</div>
                                                    <input type="email" ng-model="donatelist.email" length="150"
                                                    name="email" required  autocomplete="off"
                                                    ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                                    <label>&nbsp;</label>
                                                    <p class="frmerr" ng-if="donateForm.email.$dirty && donateForm.email.$invalid">
                                                        <span class="frmerr"  ng-show="donateForm.email.$error.required">Email is required</span>
                                                        <span class="frmerr"  ng-show="donateForm.email.$error.pattern">Invalid email address</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="full">
                                                <div input-field>
                                                    <div>Beneficiary:</div>
                                                    <input type="text" name="beneficiary" ng-model="donatelist.beneficiary" length="150" required  autocomplete="off">
                                                    <label>&nbsp;</label>
                                                    <p class="frmerr" ng-if="donateForm.beneficiary.$dirty && donateForm.beneficiary.$invalid">
                                                     <span class="frmerr" ng-show="donateForm.beneficiary.$error.required">Enter Your Beneficiary</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="full">
                                                <div input-field>
                                                <div>Include a Message with Your Donation:</div>
                                                    <textarea name="Message" ng-model="donatelist.Message" class="materialize-textarea" required  autocomplete="off"></textarea>
                                                    <label>&nbsp;</label>
                                                    <p class="frmerr" ng-if="donateForm.Message.$dirty && donateForm.Message.$invalid">
                                                     <span class="frmerr" ng-show="donateForm.Message.$error.required">Enter Your Message</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </section>
                                        
                                        
                                    </div>
                                    <div class="form-btm">
                                        <div class="row">
                                            
                                            <div class="col m12 s6">
                                                <div class="form-btm-cover">
                                                    <button class="btn waves-effect waves-light form-btm-ele" type="submit" name="action">Submit <i class="material-icons right">send</i> </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div></div>
                    </div>
                            </div>    
                            
                        </div>
                        <div class="col l4 m5 s12">
                            <div class="create-fundraiser-right-panel">
                                <div class="running-causes proo-running-causes-support pro-donate">
                                    <h3>Top Running Causes</h3>
                                    <div class="running-causes-section">
                                        <ul>
                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/lis-school1.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>Marion Cross School</h4>
                                                    <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/lis-school2.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>Elementary School</h4>
                                                    <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                                </div>
                                            </li>


                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/lis-school3.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>Hawk Ridge Elementary</h4>
                                                    <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                                </div>
                                            </li>



                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/lis-school4.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>Lora Evan School</h4>
                                                    <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/lis-school4.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>Lora Evan School</h4>
                                                    <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>   
                                <div class="create-fundraiser-add pro-donate-add"> <img src="images/add.png" alt=""> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>