  <div class="top-spacer"></div>
                <div class="top-merchants pro-fundraiser">
            <div class="container">
                <nav>
                    <div class="nav-wrapper pro-breadcrumb">
                        <div class="col s12"> <a href="#!" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0);" class="breadcrumb"><strong>My Causes</strong></a> </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="pro-my-causes-section">
        <div class="pro-my-causes">
            <div class="container">
                <div class="pro-m-amm">
                    <p>Total <span>CashPack Money</span></p>
                    <div class="pro-pri">
                        $450
                    </div>
                </div>
                
            </div>
           
            
        </div>
        
         <div class="pro-my-causes-listing-section pro-my-causes-listing-section-pree-goal">
                <div class="container">
                    <div class="pro-my-causes-listing-element">
                        <a href="#" class="my-causes-emove"><img src="images/Shape-cro.png" alt="">Remove</a> 
                        
                                 <div class="like-section my-causes-like-section">
                                        <a href="#" class="wish-list-icone"> <i class="material-icons">favorite</i> </a>
                                        <div class="fixed-action-btn horizontal click-to-toggle sh-list-icone">
                                            <a href="#"> <i class="material-icons">share</i> </a>
                                            <ul>
                                                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                                                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                                                <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                                                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                        
                        <div class="row">
                          <div class="col l5 m12 s12 pann-one">
                              <div class="pann-one-img">
                                  <img src="images/s-lis-img1.png" alt="">
                              </div>
                               <div class="pann-one-text">
                                   <h3>St. Merry School</h3>
                                   <p><span>Cause : 1</span> Lorem ipsum doldeweor sit amet, onsecfg tetuelit enean ligula.</p>
                                   <a href="#" class="about">About</a>
                              </div>   
                          </div>
                          <div class="col l4 m12 s12 pann-two">
                              
                             <div class="select-goal-section">
                                <div class="select-goal-img">
                                    <img src="images/target-img1.png" alt="">
                                 </div>
                                 <div class="select-goal-btn-cover">
                                     <a data-target='demoModalv' modal class="waves-effect waves-light btn select-goal-btn">Set Your Goal</a>
                                 </div>
                             </div>
                          </div>
                          <div class="col l3 m12 s12 pann-three">
                              <div class="pro-donate-cover">
                                    <a href="#" class="btn waves-effect waves-light pro-donate">Donate</a>
                              </div>      
                          </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                     <div class="pro-my-causes-listing-element">
                        <a href="#" class="my-causes-emove"><img src="images/Shape-cro.png" alt="">Remove</a> 
                        
                                 <div class="like-section my-causes-like-section">
                                        <a href="#" class="wish-list-icone"> <i class="material-icons">favorite</i> </a>
                                        <div class="fixed-action-btn horizontal click-to-toggle sh-list-icone">
                                            <a href="#"> <i class="material-icons">share</i> </a>
                                            <ul>
                                                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                                                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                                                <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                                                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                        
                        <div class="row">
                          <div class="col l5 m12 s12 pann-one">
                              <div class="pann-one-img">
                                  <img src="images/s-lis-img1.png" alt="">
                              </div>
                               <div class="pann-one-text">
                                   <h3>St. Merry School</h3>
                                   <p><span>Cause : 1</span> Lorem ipsum doldeweor sit amet, onsecfg tetuelit enean ligula.</p>
                                   <a href="#" class="about">About</a>
                              </div>   
                          </div>
                          <div class="col l4 m12 s12 pann-two">
                              
                             <div class="select-goal-section">
                                <div class="select-goal-img">
                                    <img src="images/target-img1.png" alt="">
                                 </div>
                                 <div class="select-goal-btn-cover">
                                     <a data-target='demoModalv' modal class="waves-effect waves-light btn select-goal-btn">Set Your Goal</a>
                                 </div>
                             </div>
                          </div>
                          <div class="col l3 m12 s12 pann-three">
                              <div class="pro-donate-cover">
                                    <a href="#" class="btn waves-effect waves-light pro-donate">Donate</a>
                              </div>      
                          </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                     <div class="pro-my-causes-listing-element">
                        <a href="#" class="my-causes-emove"><img src="images/Shape-cro.png" alt="">Remove</a> 
                        
                                 <div class="like-section my-causes-like-section">
                                        <a href="#" class="wish-list-icone"> <i class="material-icons">favorite</i> </a>
                                        <div class="fixed-action-btn horizontal click-to-toggle sh-list-icone">
                                            <a href="#"> <i class="material-icons">share</i> </a>
                                            <ul>
                                                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                                                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                                                <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                                                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                        
                        <div class="row">
                          <div class="col l5 m12 s12 pann-one">
                              <div class="pann-one-img">
                                  <img src="images/s-lis-img1.png" alt="">
                              </div>
                               <div class="pann-one-text">
                                   <h3>St. Merry School</h3>
                                   <p><span>Cause : 1</span> Lorem ipsum doldeweor sit amet, onsecfg tetuelit enean ligula.</p>
                                   <a href="#" class="about">About</a>
                              </div>   
                          </div>
                          <div class="col l4 m12 s12 pann-two">
                              
                             <div class="select-goal-section">
                                <div class="select-goal-img">
                                    <img src="images/target-img1.png" alt="">
                                 </div>
                                 <div class="select-goal-btn-cover">
                                     <a data-target='demoModalv3' modal class="waves-effect waves-light btn select-goal-btn">Set Your Goal</a>
                                 </div>
                             </div>
                          </div>
                          <div class="col l3 m12 s12 pann-three">
                              <div class="pro-donate-cover">
                                    <a href="#" class="btn waves-effect waves-light pro-donate">Donate</a>
                              </div>      
                          </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                     <div class="pro-my-causes-listing-element">
                        <a href="#" class="my-causes-emove"><img src="images/Shape-cro.png" alt="">Remove</a> 
                        
                                 <div class="like-section my-causes-like-section">
                                        <a href="#" class="wish-list-icone"> <i class="material-icons">favorite</i> </a>
                                        <div class="fixed-action-btn horizontal click-to-toggle sh-list-icone">
                                            <a href="#"> <i class="material-icons">share</i> </a>
                                            <ul>
                                                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                                                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                                                <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                                                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                        
                        <div class="row">
                          <div class="col l5 m12 s12 pann-one">
                              <div class="pann-one-img">
                                  <img src="images/s-lis-img1.png" alt="">
                              </div>
                               <div class="pann-one-text">
                                   <h3>St. Merry School</h3>
                                   <p><span>Cause : 1</span> Lorem ipsum doldeweor sit amet, onsecfg tetuelit enean ligula.</p>
                                   <a href="#" class="about">About</a>
                              </div>   
                          </div>
                          <div class="col l4 m12 s12 pann-two">
                              
                             <div class="select-goal-section">
                                <div class="select-goal-img">
                                    <img src="images/target-img1.png" alt="">
                                 </div>
                                 <div class="select-goal-btn-cover">
                                     <a data-target='demoModalv4' modal class="waves-effect waves-light btn select-goal-btn">Set Your Goal</a>
                                 </div>
                             </div>
                          </div>
                          <div class="col l3 m12 s12 pann-three">
                              <div class="pro-donate-cover">
                                    <a href="#" class="btn waves-effect waves-light pro-donate">Donate</a>
                              </div>      
                          </div>
                        </div>
                    </div>
                    
                    
                </div>    
            </div>
        </div>
        
        <div id="demoModalv" class="modal demoModalv">
    <div class="modal-content set-gol-mod">
        <div class="mod-fixed modal-close"><h4>Set Goal</h4><span>X</span></div>
        <div class="modal-element set-gol-mod-ele">
            <form>
                <div input-field>
                    <label>Goal :</label>
                    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150" class="goal-input">
                    
                </div>
                <div input-field>
                    
                    <label for="inputCreated">Target Date :</label>
                    <input input-date
                        type="text"
                        name="created"
                        id="inputCreated"
                        ng-model="currentTime"
                        container=""
                        class="t-date-input"
                        format="dd/mm/yyyy"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                        disable="disable"
                        min="{{ minDate }}"
                        max="{{ maxDate }}"
                        today="today"
                        first-day="1"
                        clear="clear"
                        close="close"
                        select-years="15"
                        on-start="onStart()"
                        on-render="onRender()"
                        on-open="onOpen()"
                        on-close="onClose()"
                        on-set="onSet()"
                        on-stop="onStop()" />
                    
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mod-btm-cover">
            <a href="#!" class="modal-action modal-close waves-effect center-align mod-btm">Submit</a>
        </div>
    </div>
</div>
        
        
        
        
        
          <div id="demoModalv2" class="modal demoModalv">
    <div class="modal-content set-gol-mod">
        <div class="mod-fixed modal-close"><h4>Set Goal</h4><span>X</span></div>
        <div class="modal-element set-gol-mod-ele">
            <form>
                <div input-field>
                    <label>Goal :</label>
                    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150" class="goal-input">
                    
                </div>
                <div input-field>
                    
                    <label for="inputCreated">Target Date :</label>
                    <input input-date
                        type="text"
                        name="created"
                        id="inputCreated"
                        ng-model="currentTime"
                        container=""
                        class="t-date-input"
                        format="dd/mm/yyyy"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                        disable="disable"
                        min="{{ minDate }}"
                        max="{{ maxDate }}"
                        today="today"
                        first-day="1"
                        clear="clear"
                        close="close"
                        select-years="15"
                        on-start="onStart()"
                        on-render="onRender()"
                        on-open="onOpen()"
                        on-close="onClose()"
                        on-set="onSet()"
                        on-stop="onStop()" />
                    
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mod-btm-cover">
            <a href="#!" class="modal-action modal-close waves-effect center-align mod-btm">Submit</a>
        </div>
    </div>
</div>
        
        
        
        
        
        
          <div id="demoModalv3" class="modal demoModalv">
    <div class="modal-content set-gol-mod">
        <div class="mod-fixed modal-close"><h4>Set Goal</h4><span>X</span></div>
        <div class="modal-element set-gol-mod-ele">
            <form>
                <div input-field>
                    <label>Goal :</label>
                    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150" class="goal-input">
                    
                </div>
                <div input-field>
                    
                    <label for="inputCreated">Target Date :</label>
                    <input input-date
                        type="text"
                        name="created"
                        id="inputCreated"
                        ng-model="currentTime"
                        container=""
                        class="t-date-input"
                        format="dd/mm/yyyy"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                        disable="disable"
                        min="{{ minDate }}"
                        max="{{ maxDate }}"
                        today="today"
                        first-day="1"
                        clear="clear"
                        close="close"
                        select-years="15"
                        on-start="onStart()"
                        on-render="onRender()"
                        on-open="onOpen()"
                        on-close="onClose()"
                        on-set="onSet()"
                        on-stop="onStop()" />
                    
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mod-btm-cover">
            <a href="#!" class="modal-action modal-close waves-effect center-align mod-btm">Submit</a>
        </div>
    </div>
</div>
        
        
        
        
        
          <div id="demoModalv4" class="modal demoModalv">
    <div class="modal-content set-gol-mod">
        <div class="mod-fixed modal-close"><h4>Set Goal</h4><span>X</span></div>
        <div class="modal-element set-gol-mod-ele">
            <form>
                <div input-field>
                    <label>Goal :</label>
                    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150" class="goal-input">
                    
                </div>
                <div input-field>
                    
                    <label for="inputCreated">Target Date :</label>
                    <input input-date
                        type="text"
                        name="created"
                        id="inputCreated"
                        ng-model="currentTime"
                        container=""
                        class="t-date-input"
                        format="dd/mm/yyyy"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                        disable="disable"
                        min="{{ minDate }}"
                        max="{{ maxDate }}"
                        today="today"
                        first-day="1"
                        clear="clear"
                        close="close"
                        select-years="15"
                        on-start="onStart()"
                        on-render="onRender()"
                        on-open="onOpen()"
                        on-close="onClose()"
                        on-set="onSet()"
                        on-stop="onStop()" />
                    
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mod-btm-cover">
            <a href="#!" class="modal-action modal-close waves-effect center-align mod-btm">Submit</a>
        </div>
    </div>
</div>
        
        
        
        
          <div id="demoModalv2" class="modal demoModalv">
    <div class="modal-content set-gol-mod">
        <div class="mod-fixed modal-close"><h4>Set Goal</h4><span>X</span></div>
        <div class="modal-element set-gol-mod-ele">
            <form>
                <div input-field>
                    <label>Goal :</label>
                    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150" class="goal-input">
                    
                </div>
                <div input-field>
                    
                    <label for="inputCreated">Target Date :</label>
                    <input input-date
                        type="text"
                        name="created"
                        id="inputCreated"
                        ng-model="currentTime"
                        container=""
                        class="t-date-input"
                        format="dd/mm/yyyy"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                        disable="disable"
                        min="{{ minDate }}"
                        max="{{ maxDate }}"
                        today="today"
                        first-day="1"
                        clear="clear"
                        close="close"
                        select-years="15"
                        on-start="onStart()"
                        on-render="onRender()"
                        on-open="onOpen()"
                        on-close="onClose()"
                        on-set="onSet()"
                        on-stop="onStop()" />
                    
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mod-btm-cover">
            <a href="#!" class="modal-action modal-close waves-effect center-align mod-btm">Submit</a>
        </div>
    </div>
</div>
        
        
        
        
        
        
          <div id="demoModalv3" class="modal demoModalv">
    <div class="modal-content set-gol-mod">
        <div class="mod-fixed modal-close"><h4>Set Goal</h4><span>X</span></div>
        <div class="modal-element set-gol-mod-ele">
            <form>
                <div input-field>
                    <label>Goal :</label>
                    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150" class="goal-input">
                    
                </div>
                <div input-field>
                    
                    <label for="inputCreated">Target Date :</label>
                    <input input-date
                        type="text"
                        name="created"
                        id="inputCreated"
                        ng-model="currentTime"
                        container=""
                        class="t-date-input"
                        format="dd/mm/yyyy"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                        disable="disable"
                        min="{{ minDate }}"
                        max="{{ maxDate }}"
                        today="today"
                        first-day="1"
                        clear="clear"
                        close="close"
                        select-years="15"
                        on-start="onStart()"
                        on-render="onRender()"
                        on-open="onOpen()"
                        on-close="onClose()"
                        on-set="onSet()"
                        on-stop="onStop()" />
                    
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mod-btm-cover">
            <a href="#!" class="modal-action modal-close waves-effect center-align mod-btm">Submit</a>
        </div>
    </div>
</div>
        
        
        
        
        
          <div id="demoModalv4" class="modal demoModalv">
    <div class="modal-content set-gol-mod">
        <div class="mod-fixed modal-close"><h4>Set Goal</h4><span>X</span></div>
        <div class="modal-element set-gol-mod-ele">
            <form>
                <div input-field>
                    <label>Goal :</label>
                    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150" class="goal-input">
                    
                </div>
                <div input-field>
                    
                    <label for="inputCreated">Target Date :</label>
                    <input input-date
                        type="text"
                        name="created"
                        id="inputCreated"
                        ng-model="currentTime"
                        container=""
                        class="t-date-input"
                        format="dd/mm/yyyy"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                        disable="disable"
                        min="{{ minDate }}"
                        max="{{ maxDate }}"
                        today="today"
                        first-day="1"
                        clear="clear"
                        close="close"
                        select-years="15"
                        on-start="onStart()"
                        on-render="onRender()"
                        on-open="onOpen()"
                        on-close="onClose()"
                        on-set="onSet()"
                        on-stop="onStop()" />
                    
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mod-btm-cover">
            <a href="#!" class="modal-action modal-close waves-effect center-align mod-btm">Submit</a>
        </div>
    </div>
</div>