<div class="top-spacer"></div>

        <div class="top-merchants pro-fundraiser">
            <div class="container">
                <nav>
                    <div class="nav-wrapper pro-breadcrumb">
                        <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>My Causes</strong></a> </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="pro-my-causes-section">
        <div class="pro-my-causes">
            <div class="container">
                <div class="pro-m-amm">
                    <p>Total <span>CashPack Money</span></p>
                    <div class="pro-pri">
                        $450
                    </div>
                </div>
                
            </div>
           
            
        </div>
        
         <div class="pro-my-causes-listing-section">
                <div class="container">
                    <div class="pro-my-causes-listing-element">
                        <a href="#" class="my-causes-emove"><img src="images/Shape-cro.png" alt="">Remove</a> 
                        
                                 <div class="like-section my-causes-like-section">
                                        <a href="#" class="wish-list-icone"> <i class="material-icons">favorite</i> </a>
                                        <div class="fixed-action-btn horizontal click-to-toggle sh-list-icone">
                                            <a href="#"> <i class="material-icons">share</i> </a>
                                            <ul>
                                                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                                                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                                                <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                                                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                        
                        <div class="row">
                          <div class="col l5 m12 s12 pann-one">
                              <div class="pann-one-img">
                                  <img src="images/s-lis-img1.png" alt="">
                              </div>
                               <div class="pann-one-text">
                                   <h3>St. Merry School</h3>
                                   <p><span>Cause : 1</span> Lorem ipsum doldeweor sit amet, onsecfg tetuelit enean ligula.</p>
                                   <a href="#" class="about">About</a>
                              </div>   
                          </div>
                          <div class="col l4 m12 s12 pann-two">
                              <a href="#" class="edit-btn">Edit</a>
                              <div class="pann-two-ele">
                                  <p><span class="heading-span"><img src="images/Capa_1.png" alt="">Goal :</span><span>$200</span></p>
                                  <p><span class="heading-span"><img src="images/graph.png" alt="">Funds Raised :</span><span>$100</span></p>
                                  <p><span class="heading-span"><img src="images/calendar.png" alt="">Target Date :</span><span>25.12.2016</span></p>
                              </div>
                              <div class="progress-section">
                                  <span>$0</span>
                                  <span>$250</span>
                                  <div class="progress">
                                      <div class="tooltipped determinate" style="width: 30%"  data-position="bottum" data-delay="50" data-tooltip="30%"></div>
                                    </div>
                              </div>
                          </div>
                          <div class="col l3 m12 s12 pann-three">
                              <div class="pro-donate-cover">
                                    <a href="#" class="btn waves-effect waves-light pro-donate">Donate</a>
                              </div>      
                          </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    <div class="pro-my-causes-listing-element">
                        <a href="#" class="my-causes-emove"><img src="images/Shape-cro.png" alt="">Remove</a> 
                        
                                 <div class="like-section my-causes-like-section">
                                        <a href="#" class="wish-list-icone"> <i class="material-icons">favorite</i> </a>
                                        <div class="fixed-action-btn horizontal click-to-toggle sh-list-icone">
                                            <a href="#"> <i class="material-icons">share</i> </a>
                                            <ul>
                                                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                                                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                                                <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                                                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                        
                        <div class="row">
                          <div class="col l5 m12 s12 pann-one">
                              <div class="pann-one-img">
                                  <img src="images/s-lis-img1.png" alt="">
                              </div>
                               <div class="pann-one-text">
                                   <h3>St. Merry School</h3>
                                   <p><span>Cause : 1</span> Lorem ipsum doldeweor sit amet, onsecfg tetuelit enean ligula.</p>
                                   <a href="#" class="about">About</a>
                              </div>   
                          </div>
                          <div class="col l4 m12 s12 pann-two">
                              <a href="#" class="edit-btn">Edit</a>
                              <div class="pann-two-ele">
                                  <p><span class="heading-span"><img src="images/Capa_1.png" alt="">Goal :</span><span>$200</span></p>
                                  <p><span class="heading-span"><img src="images/graph.png" alt="">Funds Raised :</span><span>$100</span></p>
                                  <p><span class="heading-span"><img src="images/calendar.png" alt="">Target Date :</span><span>25.12.2016</span></p>
                              </div>
                              <div class="progress-section">
                                  <span>$0</span>
                                  <span>$250</span>
                                  <div class="progress">
                                      <div class="tooltipped determinate" style="width: 30%"  data-position="bottum" data-delay="50" data-tooltip="30%"></div>
                                    </div>
                              </div>
                          </div>
                          <div class="col l3 m12 s12 pann-three">
                              <div class="pro-donate-cover">
                                    <a href="#" class="btn waves-effect waves-light pro-donate">Donate</a>
                              </div>      
                          </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    <div class="pro-my-causes-listing-element">
                        <a href="#" class="my-causes-emove"><img src="images/Shape-cro.png" alt="">Remove</a> 
                        
                                 <div class="like-section my-causes-like-section">
                                        <a href="#" class="wish-list-icone"> <i class="material-icons">favorite</i> </a>
                                        <div class="fixed-action-btn horizontal click-to-toggle sh-list-icone">
                                            <a href="#"> <i class="material-icons">share</i> </a>
                                            <ul>
                                                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                                                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                                                <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                                                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                        
                        <div class="row">
                          <div class="col l5 m12 s12 pann-one">
                              <div class="pann-one-img">
                                  <img src="images/s-lis-img1.png" alt="">
                              </div>
                               <div class="pann-one-text">
                                   <h3>St. Merry School</h3>
                                   <p><span>Cause : 1</span> Lorem ipsum doldeweor sit amet, onsecfg tetuelit enean ligula.</p>
                                   <a href="#" class="about">About</a>
                              </div>   
                          </div>
                          <div class="col l4 m12 s12 pann-two">
                              <a href="#" class="edit-btn">Edit</a>
                              <div class="pann-two-ele">
                                  <p><span class="heading-span"><img src="images/Capa_1.png" alt="">Goal :</span><span>$200</span></p>
                                  <p><span class="heading-span"><img src="images/graph.png" alt="">Funds Raised :</span><span>$100</span></p>
                                  <p><span class="heading-span"><img src="images/calendar.png" alt="">Target Date :</span><span>25.12.2016</span></p>
                              </div>
                              <div class="progress-section">
                                  <span>$0</span>
                                  <span>$250</span>
                                  <div class="progress">
                                      <div class="tooltipped determinate" style="width: 30%"  data-position="bottum" data-delay="50" data-tooltip="30%"></div>
                                    </div>
                              </div>
                          </div>
                          <div class="col l3 m12 s12 pann-three">
                              <div class="pro-donate-cover">
                                    <a href="#" class="btn waves-effect waves-light pro-donate">Donate</a>
                              </div>      
                          </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    <div class="pro-my-causes-listing-element">
                        <a href="#" class="my-causes-emove"><img src="images/Shape-cro.png" alt="">Remove</a> 
                        
                                 <div class="like-section my-causes-like-section">
                                        <a href="#" class="wish-list-icone"> <i class="material-icons">favorite</i> </a>
                                        <div class="fixed-action-btn horizontal click-to-toggle sh-list-icone">
                                            <a href="#"> <i class="material-icons">share</i> </a>
                                            <ul>
                                                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                                                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                                                <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                                                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                        
                        <div class="row">
                          <div class="col l5 m12 s12 pann-one">
                              <div class="pann-one-img">
                                  <img src="images/s-lis-img1.png" alt="">
                              </div>
                               <div class="pann-one-text">
                                   <h3>St. Merry School</h3>
                                   <p><span>Cause : 1</span> Lorem ipsum doldeweor sit amet, onsecfg tetuelit enean ligula.</p>
                                   <a href="#" class="about">About</a>
                              </div>   
                          </div>
                          <div class="col l4 m12 s12 pann-two">
                              <a href="#" class="edit-btn">Edit</a>
                              <div class="pann-two-ele">
                                  <p><span class="heading-span"><img src="images/Capa_1.png" alt="">Goal :</span><span>$200</span></p>
                                  <p><span class="heading-span"><img src="images/graph.png" alt="">Funds Raised :</span><span>$100</span></p>
                                  <p><span class="heading-span"><img src="images/calendar.png" alt="">Target Date :</span><span>25.12.2016</span></p>
                              </div>
                              <div class="progress-section">
                                  <span>$0</span>
                                  <span>$250</span>
                                  <div class="progress">
                                      <div class="tooltipped determinate" style="width: 30%"  data-position="bottum" data-delay="50" data-tooltip="30%"></div>
                                    </div>
                              </div>
                          </div>
                          <div class="col l3 m12 s12 pann-three">
                              <div class="pro-donate-cover">
                                    <a href="#" class="btn waves-effect waves-light pro-donate">Donate</a>
                              </div>      
                          </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
