        <div class="top-spacer"></div>
        <div class="top-merchants pro-fundraiser">
            <div class="container">
                <nav>
                    <div class="nav-wrapper pro-breadcrumb">
                        <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0);" class="breadcrumb"><strong>My Created Causes</strong></a> </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="pro-create-fundraiser">
            <div class="container">
               
                <h1>My Created Causes</h1> </div>
            <div class="create-fundraiser-form-section-cover create-fundraiser-form-section-cover-Causes">
                <div class="container">
                    <div class="row">
                        <div class="col l8 m7 s12">
                            <div class="causes-thumbnel-new">
                                <div class="causes-thumbnel-new-icone">
                                    <a href="#" class="edit-new-icone">
                                        <img src="images/edit-new.png" alt="">
                                    </a>
                                    <a href="#" class="sha-new-icone">
                                        <img src="images/sha-new.png" alt="">
                                    </a>
                                </div>
                                <div class="causes-thumbnel-new-top">
                                   <div class="causes-thumbnel-new-top-img">
                                       <div class="causes-new-img">
                                           <img src="images/Mask.png" alt="">
                                       </div>
                                   </div>
                                    <div class="causes-thumbnel-new-top-text">
                                       <h3>New Jersey School </h3>
                                        <p><span>Country :</span> France</p>
                                        <p><span>City :</span> Paris</p>
                                        <p><span>State :</span> Île-de-France</p>
                                        <p><span>District :</span> Arrondissements of Paris</p>
                                   </div>
                                </div>
                                <div class="causes-thumbnel-new-btm">
                                    <div class="causes-thumbnel-new-btm-text-head"><span>Cause :</span></div>
                                    <div class="causes-thumbnel-new-btm-text-btn">
                                        <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="causes-thumbnel-new">
                                  <div class="causes-thumbnel-new-icone">
                                    <a href="#" class="edit-new-icone">
                                        <img src="images/edit-new.png" alt="">
                                    </a>
                                    <a href="#" class="sha-new-icone">
                                        <img src="images/sha-new.png" alt="">
                                    </a>
                                </div>
                                <div class="causes-thumbnel-new-top">
                                   <div class="causes-thumbnel-new-top-img">
                                       <div class="causes-new-img">
                                           <img src="images/Mask.png" alt="">
                                       </div>
                                   </div>
                                    <div class="causes-thumbnel-new-top-text">
                                       <h3>New Jersey School </h3>
                                        <p><span>Country :</span> France</p>
                                        <p><span>City :</span> Paris</p>
                                        <p><span>State :</span> Île-de-France</p>
                                        <p><span>District :</span> Arrondissements of Paris</p>
                                   </div>
                                </div>
                                <div class="causes-thumbnel-new-btm">
                                    <div class="causes-thumbnel-new-btm-text-head"><span>Cause :</span></div>
                                    <div class="causes-thumbnel-new-btm-text-btn">
                                        <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m5 s12">
                            <div class="create-fundraiser-right-panel">
                                <div class="video-section">
                                    <h3>How It Work</h3>
                                    <div class="video-eliment"> <img src="images/Create-fond-vid.png" alt=""> </div>
                                </div>
                                <div class="running-causes">
                                    <h3>Top Running Causes</h3>
                                    <div class="running-causes-section">
                                        <ul>
                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/running-cou-1.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>American Red Cross
</h4>
                                                    <p> Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit. </p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/running-cou-2.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>Spondylitis Association </h4>
                                                    <p> Aenean commodo ligula eget dolor. Aenean massa.</p>
                                                </div>
                                            </li>


                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/running-cou-3.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>Seeds of Hope</h4>
                                                    <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                                </div>
                                            </li>



                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/running-cou-4.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>Lora Evan School</h4>
                                                    <p>Aenean commodo ligula eget dolor. Aenean massa.</p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="running-causes-img">
                                                    <img src="images/running-cou-4.png" alt="">
                                                </div>
                                                <div class="running-causes-text">
                                                    <h4>Lora Evan School</h4>
                                                    <p>Lorem ipswum dolor sit amfeet, consecw tetuer adipiscing elit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="create-fundraiser-add"> <img src="images/add.png" alt=""> </div>

                                <div class="right-panel-text">
                                    <div class="right-panel-text-img"></div>
                                    <p>Once you submit this form, we will send all the information to the organization you picked. Once approved, our admin team will publish it. Be patient, it takes a couple days to get that done, but we’re working on it!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>