       <div class="top-spacer"></div>

        <div class="top-merchants pro-fundraiser">
            <div class="container">
                <nav>
                    <div class="nav-wrapper pro-breadcrumb">
                        <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a><a href="javascript:void(0)" class="breadcrumb"><strong>Payment</strong></a> </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="payment-section ng-scope payclass" style="padding-top: 10px;">
          <div class="container">
          <div class="row">
          <div class="col l6 m10 s12">
            <div class="refer-left invite-left">
              <h2> <span>Cash<span style="color: #017CC3">Pack</span></span> Account</h2>
              <p><strong>Total value accumulated in my account </strong></p>
              <p class="payp1"></p>
              <p class="payp2">You can receive available amount through your choice of payment receive options.</p>
              <div class="clr"></div>
                <div class="pro-payment-section-btm-accodian">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <div class="collapsible-header Amazon"> <img src="images/amazon-icon.png" alt="">Amazon Gift Card</div>
                                                <div class="collapsible-body">
                                                    
                                                <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="Name" >Name</label>
                                                      <input  style="width: 300px;display: inline;" ng-model="about.name" type="text" />
                                                    </div> 
                                                    <div ng-if="donatedetails.ein"> 
                                                      <label style="font-size: 1rem; padding: 2px" for="ein" >Ein</label>
                                                      <input readonly style="width: 300px;display: inline;" type="text"  ng-model="about.ein" value="{{donatedetails.ein}}" readonly="" />
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="city" >City</label>
                                                      <input style="width: 300px;display: inline;" type="text"  ng-model="about.city" value="{{donatedetails.city}}"/>
                                                    </div> 
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="zip" >Zip</label>
                                                      <input style="width: 300px;display: inline;" type="text"  ng-model="about.zipCode" value="{{donatedetails.Zip}}"/>
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="suite" >Suite</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.suite" type="text" />
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" type="text" maxlength="2" for="country" >Country</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.country" type="text" />
                                                    </div>
                                                    <div> 
                                                     <label style="font-size: 1rem; padding: 2px" for="address" >State</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.state" type="text" />
                                                       </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="address" >Address</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.address" type="text" />
                                                    </div>
                                                    <span>Select the amount you want to {{paymentoption}}($):</span>
                                                    <div >
                                                        <div class="some-class">
                                                            <!-- <div>
                                                                <input type="radio"  class="filled-in with-gap" name="content" value="35.00" ng-model="about.amount"  id="a" />
                                                                <label for="a">35.00</label>
                                                            </div>
                                                            <div>
                                                                <input type="radio"  class="filled-in with-gap" name="content" value="60.00" ng-model="about.amount"  id="b" />
                                                                <label for="b">60.00</label>
                                                            </div>
                                                            <div>
                                                                <input type="radio"  class="filled-in with-gap" value="100.00" ng-model="about.amount"  id="c" />
                                                                <label for="c">100.00</label>
                                                            </div>
                                                            <div>
                                                                <input type="radio"  class="filled-in with-gap" value="250.00" ng-model="about.amount"  id="d" />
                                                                <label for="d">250.00</label>
                                                            </div>
                                                            <div>
                                                                <input type="radio"  class="filled-in with-gap" ng-model="about.amount"  value="500.00" id="e" />
                                                                <label for="e">500.00</label>
                                                            </div> -->
                                                            <div>
                                                                <input type="number"  max="{{price}}"  class="filled-in with-gap" ng-model="about.amount" id="otherAmnt" />
                                                                <!-- <label for="otherAmnt" >Amount ($)</label> -->
                                                            </div>
                                                        </div>
                                                    
                                                    </div>
                                                    <input type="tel" name="" ng-if="count=='withdraw'"/>
                                                    <div class="help-btn-section-cover" style=""> <a href="javascript:void(0)" class="waves-effect waves-light btn help-btn-section-ele"  ng-click="submit('amazon gift card')" style="background: #2196F3;">Submit</a> </div>
                                                    <div class="clr"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header Paypal"> <img src="images/paypal-icon.png" alt="">Paypal</div>
                                                <div class="collapsible-body">
                                                
                                                <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="Name" >Name</label>
                                                      <input  style="width: 300px;display: inline;" ng-model="about.name" type="text" />
                                                    </div> 
                                                    <div ng-if="donatedetails.ein"> 
                                                      <label style="font-size: 1rem; padding: 2px" for="ein" >Ein</label>
                                                      <input readonly style="width: 300px;display: inline;" type="text"  ng-model="about.ein" value="{{donatedetails.ein}}" readonly="" />
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="city" >City</label>
                                                      <input style="width: 300px;display: inline;" type="text"  ng-model="about.city" value="{{donatedetails.city}}"/>
                                                    </div> 
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="zip" >Zip</label>
                                                      <input style="width: 300px;display: inline;" type="text"  ng-model="about.zipCode" value="{{donatedetails.Zip}}"/>
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="suite" >Suite</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.suite" type="text" />
                                                    </div>
                                                     <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="paypalAddress" >PaypalAddress</label>
                                                      <input type="email" style="width: 300px;display: inline;"  ng-model="about.paypalAddress" type="text"  />
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" type="text" maxlength="2" for="country">Country</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.country" type="text" />
                                                    </div>
                                                    <div> 
                                                     <label style="font-size: 1rem; padding: 2px" for="address" >State</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.state" type="text"/>
                                                       </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="address" >Address</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.address" type="text" />
                                                    </div>
                                                    <span>Select the amount you want to {{paymentoption}}($):</span>
                                                    <div >
                                                        <div class="some-class">
                                                                <input type="number" max="{{price}}" class="filled-in with-gap" ng-model="about.amount" id="otherAmnt" />
                                                                <!-- <label for="otherAmnt" >Amount ($)</label> -->
                                                            </div>
                                                   
                                                    <div class="help-btn-section-cover" style=""> <a href="javascript:void(0)" class="waves-effect waves-light btn help-btn-section-ele" ng-click="submit('paypal')" style="background: #2196F3;">Submit</a> </div>
                                                    <div class="clr"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header Check"> <img src="images/check-icon.png" alt="">Check</div>
                                                <div class="collapsible-body">
                                                    
                                                <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="Name" >Name</label>
                                                      <input  style="width: 300px;display: inline;" ng-model="about.name" type="text" />
                                                    </div> 
                                                    <div ng-if="donatedetails.ein"> 
                                                      <label style="font-size: 1rem; padding: 2px" for="ein" >Ein</label>
                                                      <input readonly style="width: 300px;display: inline;" type="text"  ng-model="about.ein" value="{{donatedetails.ein}}" readonly="" />
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="city" >City</label>
                                                      <input style="width: 300px;display: inline;" type="text"  ng-model="about.city" value="{{donatedetails.city}}"/>
                                                    </div> 
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="zip" >Zip</label>
                                                      <input style="width: 300px;display: inline;" type="text"  ng-model="about.zipCode" value="{{donatedetails.Zip}}"/>
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="suite">
                                                      Suite</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.suite" type="text" />
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" type="text" maxlength="2" for="country">Country</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.country" type="text" />
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="address">Address</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.address" type="text" />
                                                    </div>
                                                    <div> 
                                                      <label style="font-size: 1rem; padding: 2px" for="address" >State</label>
                                                      <input style="width: 300px;display: inline;"  ng-model="about.state" type="text" />
                                                    </div>
                                                    <span>Select the amount you want to {{paymentoption}}($):</span>
                                                    <div >
                                                        <div class="some-class">
                                                            <div>
                                                                <input type="number" max="{{price}}" class="filled-in with-gap" ng-model="about.amount" id="otherAmnt" />
                                                                <!-- <label for="otherAmnt" >Amount ($)</label> -->
                                                            </div>
                                                    </div>
                                                    
                                                    <textarea style="resize: none;height: 2.5rem;" ng-if="content2=='other2'" type="text" ></textarea>
                                                    </div>
                                                    <input type="tel" name="" ng-if="count=='withdraw'"/>
                                                    <div class="help-btn-section-cover" style=""> <a href="javascript:void(0)" class="waves-effect waves-light btn help-btn-section-ele"  ng-click="submit('check')" style="background: #2196F3;">Submit</a> </div>
                                                    <div class="clr"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
            </div>   
          </div>
          <div class="col l6 m10 s12">
              <div class="payment-img">
                 <img src="images/large-icon-right.png"> 
              </div>
          </div>
          </div>
          </div>  
        </div>