<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0);" class="breadcrumb"><strong>Refer A Friend</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<div class="invite-section refer-section">
    <div class="container">
        <div class="refer-left invite-left">
            <h2>Refer <span>A Friend</span></h2>
            <p>Receive <strong>$5</strong> to your CashPack for Every Referral <span>*</span></p>
            <p>To Learn More, <a href="#faq" class="visit-faq">visit our FAQ</a></p>
            <div class="cashback cashbacktext" ng-click="copy();" ngclipboard data-clipboard-text="http://www.cashpack.org/#/signup?{{inviteref}}"> {{inviteref}} </div>
            <ul class="scl-sec referlist">
                <li>
                    <a  socialshare="" socialshare-provider="facebook" socialshare-text="please visit this url" socialshare-hashtags="" socialshare-url="http://www.cashpack.org/#/signup?{{inviteref}}"  data-tag="facebook"><img src="images/r-facebook-icn.png" alt=""></a>
                </li>
                <li>
                    <a  socialshare="" socialshare-provider="twitter" socialshare-text="please visit this url" socialshare-hashtags="" socialshare-url="http://www.cashpack.org/#/signup?{{inviteref}}"  data-tag="twitter"><img src="images/r-twitter.png" alt=""></a>
                </li>
                <li>
                    <a  socialshare="" socialshare-provider="pinterest" socialshare-text="please visit this url" socialshare-hashtags="" socialshare-url="http://www.cashpack.org/#/signup?{{inviteref}}"  data-tag="pintrest"><img src="images/r-inst.png" alt=""></a>
                </li>
            </ul>
            <div class="invite-form-section">
                <div class="invite-form-section-heading"> <span>or</span>
                    <h3><strong>Invite</strong> Your Friends by <strong>Email</strong></h3> </div>
                <div class="invite-form-section-element">
                    <div class="invite-form-envalop"> <span>1</span> </div>
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <form name="frmInvite" id="frmInvite" novalidate autocomplete="off" ng-submit="inviteOthers(frmInvite.$valid,frmInvite);">
                        <div input-field class="input-fild">
                            <input type="email" name="email" ng-model="invite.emailAddress"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required autocomplete="off">
                            <label>Email</label>
                            <p ng-if="(frmInvite.email.$dirty||frmInvite.$submitted)" class="sideerror">
                                <span ng-if="(frmInvite.email.$dirty||frmInvite.$submitted) && frmInvite.email.$error.required">Please enter Email</span>
                                <span ng-if="(frmInvite.email.$dirty||frmInvite.$submitted) && frmInvite.email.$error.pattern">Please enter valid Email</span>
                            </p>
                        </div>
                        <div input-field class="input-fild">
                            <input type="text" ng-model="invite.subject" required name="subject" autocomplete="off">
                            <label>Subject</label>
                             <p ng-if="(frmInvite.subject.$dirty||frmInvite.$submitted)" class="sideerror">
                                <span ng-if="(frmInvite.subject.$dirty||frmInvite.$submitted) && frmInvite.subject.$error.required">Please enter Subject</span>
                                
                                </p>
                            </div>
                            <div input-field class="input-fild ">
                                <textarea ng-model="invite.message" class="materialize-textarea " name="message "  required  autocomplete="off "></textarea>
                                <label>Message</label>
                                <p ng-if="(frmInvite.email.$dirty||frmInvite.$submitted)" class="sideerror">
                                    <span ng-if="(frmInvite.message.$dirty||frmInvite.$submitted) && frmInvite.message.$error.required">Please enter Message</span>
                                </p>
                            </div>
                            <div class="google-cap">
                                <div class="g-recaptcha" data-sitekey="6LcoORkUAAAAAGmhG55dG3E8KrM7ScU16Lp2sV0-"></div>
                            </div>
                            <div class="invite-form-btm-section">
                                <div class="invite-form-btm-cover">
                                    <button class="btn waves-effect waves-light invite-form-btm" type="submit" name="action"> Send <i class="material-icons left">send</i> </button>
                                </div> 
                                <a href="#/terms" class="invite-form-btm-link">Terms</a> 
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="share-a-coupon-section">
            <div class="container">
                <div class="row">
                    
                    <div class="col l5 push-l7 m5 push-m7 s12">
                        <div class="share-a-coupon-text-img">
                            <img src="images/share-a-coupon-section-img.png" alt=""/>
                        </div>
                    </div>
                    
                    <div class="col l7 pull-l5 m7 pull-m5 s12">
                        <div class="share-a-coupon-text">
                            <h3>Share a Coupon, Get a Commission</h3>
                            <p>There is an added benefit for you when you share a coupon with a friend! 
You actually get 25% of CashPack's portion of the commission from your friend's purchase! 
So, your friend wins, you win some more, and of course, your causes always win!</p>
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>
        
        <div class="commission">
            <div class="container">
               <div class="row">
                    <div class="col l6 offset-l3 m8 offset-m2 s12 offset-s0">
                        <div class="commission-img">
                            <img src="images/image1.png" alt=""/>
                        </div>
                        <div class="commission-text">
                            <h3>Get 100% Commission</h3>
                            <p>Refer to 25 friends and get 100% commission on your friend purchase</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
