<div class="top-spacer"></div>

        <div class="top-merchants pro-fundraiser">
            <div class="container">
                <nav>
                    <div class="nav-wrapper pro-breadcrumb">
                        <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a><a href="javascript:void(0);" class="breadcrumb"><strong>Support a Cause</strong></a> </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="select-support-section">
            <div class="container">
                <h3>Search For A Cause You Wish To Support</h3>
                <div class="select-support-element">
                    <div class="row">
                      <form name="suportcause" id="suportcause" novalidate autocomplete="off" ng-submit="searcher(suportcause.$valid)">
                          <div class="col l11 m9 s12 supsr">
                              <div class="search-input-section-cover">
                                  <div class="search-input-section">
                                      <div input-field>
                                          <input type="text" name="SearchText" autocomplete="off"
                                          ui-items="names" ng-model="SearchText" id="SearchText" ng-change="searchonkey()" required  >
                                          <label>Search for Causes</label>
                                      </div>
                                      <button class="btn waves-effect waves-light search-btn" type="submit" name="action"> <img src="images/search-icone-supp.png" alt=""> </button>

                                      <ul class="Autcom" ng-if="allList.length>5 || allList.length==5" style="overflow-y: scroll !important;">
                                      <li ng-repeat="res in allList track by res.ein"> <a href="javascript:void(0)"  ng-click="searchperfect(res.charity);"><b>{{res.charity}}</b>,{{' '+ res.city}}</a></li>
                                      </ul>
                                      <ul class="Autcom" ng-if="allList.length!=0 && allList.length<5">
                                      <li ng-repeat="res in allList track by res.ein"> <a href="javascript:void(0)"  ng-click="searchperfect(res.charity);"><b>{{res.charity}}</b>,{{res.city}}</a></li>
                                      </ul>
                                      <ul class="Autcom" ng-if="allList.length==0 && SearchKeyword!=''">
                                      <li> <a href="javascript.void(0);">No Records Found</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                         <div class="col l12 m9 s12 adv-srch">
                            <h5 ng-click="(showAdvanced =! showAdvanced)" class="advanced-charity"><span style="position: relative;top: 1px;">Advanced Search</span> <span ng-if="!showAdvanced" ><img src="images/down-arrow.png"></span>
                            <span ng-if="showAdvanced" ><img src="images/up-arrow.png"></span></h5>
                            <div class="advance-container" ng-if="showAdvanced">
                              <div class="col l3 m6 s12 sacac">
                                  <div class="search-input-section-cover adv-src">
                                    <div class="search-input-section adv-src">
                                        <select  chosen ng-model="selected.abbreviation"  ng-options="s.abbreviation as s.name for s in statelist">
                                                <option value=""></option>
                                              </select>

                                      </div>
                                    </div>
                              </div>
                              <div class="col l3 m10 s12 sacac">
                                  <div class="search-input-section-cover adv-src">
                                    <div class="search-input-section">
                                        <div input-field>
                                            <input type="text" name="text"  autocomplete="off" ng-model="SearchCity" id="city" >
                                            <label>City</label>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                              <div class="col l3 m10 s12 sacac">
                                  <div class="search-input-section-cover adv-src">
                                    <div class="search-input-section">
                                        <div input-field>
                                            <input type="text" name="text"  autocomplete="off" ng-model="SearchZip" id="Zipcode" >
                                            <label>Zip</label>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                              <div class="col l3 m10 s12 sacac">
                               <div class="feedback-form-btm-cover">
                                    <button class="btn waves-effect waves-light feedback-form-btm" type="submit" name="action"> Submit </button>
                                </div>
                              </div>
                            </div>
                         </div> 
                      </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro-partners">
            <div class="container">
                <h5>Few of Our <span>Spotlight Charities</span></h5>
                <div class="pro-partners-listing">
                    <ul>
                        <li> <img style="height: 103px;width: 103px;" src="images/Partners1.jpg" alt="">
                            <!-- <div class="btn-section"> <span class="category-btn-cover"><a class="waves-effect waves-light btn category-btn">Select</a></span> <span class="category-btn-cover category-btn-cover-black"><a class="waves-effect waves-light btn category-btn">About</a></span> </div> -->
                        </li>
                        <li> <img src="images/Partners2.png" alt="">
                            <!-- <div class="btn-section"> <span class="category-btn-cover"><a class="waves-effect waves-light btn category-btn">Select</a></span> <span class="category-btn-cover category-btn-cover-black"><a class="waves-effect waves-light btn category-btn">About</a></span> </div> -->
                        </li>
                        <li> <img src="images/cleanwater.gif" alt="">
                            <!-- <div class="btn-section"> <span class="category-btn-cover"><a class="waves-effect waves-light btn category-btn">Select</a></span> <span class="category-btn-cover category-btn-cover-black"><a class="waves-effect waves-light btn category-btn">About</a></span> </div> -->
                        </li>
                        <li> <img src="images/Partners4.png" alt="">
                            <!-- <div class="btn-section"> <span class="category-btn-cover"><a class="waves-effect waves-light btn category-btn">Select</a></span> <span class="category-btn-cover category-btn-cover-black"><a class="waves-effect waves-light btn category-btn">About</a></span> </div> -->
                        </li>
                        <li> <img src="images/Partners5.png" alt="">
                            <!-- <div class="btn-section"> <span class="category-btn-cover"><a class="waves-effect waves-light btn category-btn">Select</a></span> <span class="category-btn-cover category-btn-cover-black"><a class="waves-effect waves-light btn category-btn">About</a></span> </div> -->
                        </li>
                        <li> <img src="images/Partners6.png" alt="">
                            <!-- <div class="btn-section"> <span class="category-btn-cover"><a class="waves-effect waves-light btn category-btn">Select</a></span> <span class="category-btn-cover category-btn-cover-black"><a class="waves-effect waves-light btn category-btn">About</a></span> </div> -->
                        </li>
                        <li> <img src="images/Partners7.png" alt="">
                            <!-- <div class="btn-section"> <span class="category-btn-cover"><a class="waves-effect waves-light btn category-btn">Select</a></span> <span class="category-btn-cover category-btn-cover-black"><a class="waves-effect waves-light btn category-btn">About</a></span> </div> -->
                        </li>
                        <li> <img style="height: 103px; width: 103px" src="images/h20.png" alt="">
                            <!-- <div class="btn-section"> <span class="category-btn-cover"><a class="waves-effect waves-light btn category-btn">Select</a></span> <span class="category-btn-cover category-btn-cover-black"><a class="waves-effect waves-light btn category-btn">About</a></span> </div> -->
                        </li>
                        <li> <img src="images/Partners9.png" alt="">
                            <!-- <div class="btn-section"> <span class="category-btn-cover"><a class="waves-effect waves-light btn category-btn">Select</a></span> <span class="category-btn-cover category-btn-cover-black"><a class="waves-effect waves-light btn category-btn">About</a></span> </div> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
