<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="#/supportcauses/" class="breadcrumb">Support a Cause</a><a href="javascript:void(0)" class="breadcrumb"><strong>Search a Cause</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<div class="select-support-section">
    <div class="container">
        <h3>Search For A Cause You Wish To Support</h3>
        <div class="select-support-element">
            <div class="row">
                <form name="searchsupport" novalidate="" ng-submit="callSearchSupport(searchsupport.$valid, choiceval, value)">
                                          <div class="col l11 m9 s12 supsr">
                              <div class="search-input-section-cover">
                                  <div class="search-input-section">
                                      <div input-field>
                                          <input type="text" name="SearchText" autocomplete="off"
                                          ui-items="names" ng-model="SearchText" id="SearchText" ng-change="searchonkey()" required  >
                                          <label>Search for Causes</label>
                                      </div>
                                      <button class="btn waves-effect waves-light search-btn" type="submit" name="action"> <img src="images/search-icone-supp.png" alt=""> </button>
                                      <!-- <ul class="Autcom" ng-if="allList.length>5" style="overflow-y: scroll !important;">
                                      <li ng-repeat="res in allList track by res.ein"> <a href="#/supportacauseabout/{{::res.ein}}"  ng-click="closer();"><b>{{res.charity}}</b>,{{' '+ res.city}}</a></li>
                                      </ul>
                                      <ul class="Autcom" ng-if="allList.length!=0 && allList.length<5">
                                      <li ng-repeat="res in allList track by res.ein"> <a href="#/supportacauseabout/{{::res.ein}}"  ng-click="closer();"><b>{{res.charity}}</b>,{{res.city}}</a></li>
                                      </ul> -->
                                      <ul class="Autcom" ng-if="allList.length>5 || allList.length==5" style="overflow-y: scroll !important;">
                                      <li ng-repeat="res in allList track by res.ein"> <a href="javascript:void(0)"  ng-click="searchperfect(res.charity);"><b>{{res.charity}}</b>,{{' '+ res.city}}</a></li>
                                      </ul>
                                      <ul class="Autcom" ng-if="allList.length!=0 && allList.length<5">
                                      <li ng-repeat="res in allList track by res.ein"> <a href="javascript:void(0)"  ng-click="searchperfect(res.charity);"><b>{{res.charity}}</b>,{{res.city}}</a></li>
                                      </ul>
                                      <ul class="Autcom" ng-if="allList.length==0 && SearchKeyword!=''">
                                      <li> <a href="javascript.void(0);">No Records Found</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                         <div class="col l12 m9 s12 adv-srch">
                            <h5 ng-click="(showAdvanced =! showAdvanced)" class="advanced-charity"><span style="position: relative;top: 1px;">Advanced Search</span> <span ng-if="!showAdvanced" ><img src="images/down-arrow.png"></span>
                            <span ng-if="showAdvanced" ><img src="images/up-arrow.png"></span></h5>
                            <div class="advance-container" ng-if="showAdvanced">
                              <div class="col l3 m6 s12 sacac">
                                  <div class="search-input-section-cover adv-src">
                                    <div class="search-input-section adv-src">
                                        <select  chosen ng-model="selected.abbreviation"  ng-options="s.abbreviation as s.name for s in statelist">
                                                <option value=""></option>
                                              </select>

                                      </div>
                                    </div>
                              </div>
                              <div class="col l3 m6 s12 sacac">
                                  <div class="search-input-section-cover adv-src">
                                    <div class="search-input-section">
                                        <div input-field>
                                            <input type="text" name="text"  autocomplete="off" ng-model="serachcity" id="city" >
                                            <label>City</label>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                              <div class="col l3 m6 s12 sacac">
                                  <div class="search-input-section-cover adv-src">
                                    <div class="search-input-section">
                                        <div input-field>
                                            <input type="text" name="text"  autocomplete="off" ng-model="serachzip" id="Zipcode" >
                                            <label>Zip</label>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                              <div class="col l3 m6 s12 sacac">
                               <div class="feedback-form-btm-cover">
                                    <button class="btn waves-effect waves-light feedback-form-btm" type="submit" name="action"> Submit </button>
                                </div>
                              </div>
                            </div>
                         </div> 
                      </form>
                    </div>
                </div>
            </div>
        </div>
<div class="pro-partners pro-support-listing">
    <div class="container">
        <div class="row">
           <div class="col l8 m7 s12">
                <p ng-if="listsupport.length==0"> No Data Found</p>
                <div class="pro-support-listing-content" ng-repeat="res in listsupport track by res.ein">
                    <!-- <div class="like-section my-causes-like-section"> -->
                        <!-- <a href="javascript:void(0)" class="wish-list-icone" ng-click="AddFavCause(res.ein)"> <i class="material-icons">favorite</i> </a>
                        <div class="fixed-action-btn horizontal click-to-toggle sh-list-icone">
                            <a href="javascript:void(0)"> <i class="material-icons">share</i> </a>
                            <ul>
                                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                                <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
                            </ul>
                        </div> -->
                    <!-- </div> -->
                    <div class="pro-support-listing-content-img">
                        <!-- <img ng-src="images/{{images}}" alt=""> -->
                        <img ng-src="images/Mask.png" alt="">
                        
                    </div>
                    <div class="pro-support-listing-content-text" >
                        <a href="#/supportacauseabout/{{::res.ein}}"><h3 ng-if="choiceval!=='School'">{{::res.charityName | lowercase}}</h3></a>
                        <a href="#/supportacauseabout/{{::res.ein}}"><h3 ng-if="choiceval==='School'">{{::res.schoolName | lowercase}}</h3></a>
                        <p ng-if="choiceval==='School'">{{::res.city}}</p>
                        <p ng-if="choiceval!=='School'">{{::res.state}}</p>

                        <!-- <div class="pro-count">Causes :<span>04</span></div> -->
                    </div>
                    <div class="pro-support-listing-content-btn">
                        <span class="support-listing-cover" ng-if="res.ein">
                            <a href="#/supportacauseabout/{{::res.ein}}" class="waves-effect waves-light btn support-listing-btn">About</a>
                        </span>
                        <span ng-click="AddFavCause(res)"  class="support-listing-cover causes-add" >
                            <a href="javascript:void(0)" class="waves-effect waves-light btn support-listing-btn">Add To Causes</a>
                        </span>
                    </div>
                </div>
                <div style="text-align: center;clear:both;" ng-if="listsupport.length!=0">
                    <pagination
                      page="page"
                      page-size="recordsPerPage"
                      total="totalRecords"
                      show-prev-next="true"
                      use-simple-prev-next="false"
                      dots="...."
                      hide-if-empty="false"
                      adjacent="2"
                      scroll-top="false"
                      pagination-action="findNextSupport(page)"
                  />
                 </div>
            </div>




<!-- sub left section-->
            <div class="col l4 m5 s12">
                <div class="running-causes proo-running-causes-support">
                    <h3>Top Running Causes</h3>
                    <div class="running-causes-section">
                        <ul>
                            <li>
                                <div class="running-causes-img">
                                    <img src="images/Partners1.jpg" alt="">
                                </div>
                                <div class="running-causes-text">
                                    <h4>House Of The Brave</h4>
                                </div>
                                
                            </li>
                            <li>
                                <div class="running-causes-img">
                                    <img src="images/Partners4.png" alt="">
                                </div>
                                <div class="running-causes-text">
                                    <h4>United Way</h4>
                                </div>
                            </li>
                            <li>
                                <div class="running-causes-img">
                                    <img src="images/Partners2.png" alt="">
                                </div>
                                <div class="running-causes-text">
                                <h4>Red Cross</h4>
                                </div>
                            </li>
                            <li>
                                <div class="running-causes-img">
                                    <img src="images/Partners6.png" alt="">
                                </div>
                                <div class="running-causes-text">
                                    <h4>The Salvation Army</h4>
                                </div>
                            </li>
                            <li>
                                <div class="running-causes-img">
                                    <img src="images/cleanwater.gif" alt="">
                                </div>
                                <div class="running-causes-text">
                                    <h4>Clean Water Foundation</h4>
                                </div>
                            </li>
                            <li>
                                <div class="running-causes-img">
                                    <img src="images/h20.png" alt="">
                                </div>
                                <div class="running-causes-text">
                                    <h4>Florida H2O Coalition</h4>
                                </div>
                            </li>
                            <li>
                                <div class="running-causes-img">
                                    <img src="images/Partners9.png" alt="">
                                </div>
                                <div class="running-causes-text">
                                    <h4>American Cancer Society</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="create-fundraiser-add pro-create-fundraiser-add-support">
            </div>
        </div>
    </div>
</div>
