<div class="top-spacer"></div>
        <div class="top-merchants pro-fundraiser">
            <div class="container">
                <nav>
                    <div class="nav-wrapper pro-breadcrumb">
                        <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="#/supportcauses/" class="breadcrumb first-breadcrumb">Support a Cause</a><a href="javascript:void(0)" class="breadcrumb"><strong>About</strong></a> </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="pro-create-fundraiser pro-donate">
            <div class="create-fundraiser-form-section pro-fundraiser-donate-form">
                <div class="container">
                    <div class="row">
                        <div class="col l7 m7 s12">
                            <div class="pro-support-about">
                                <div class="pro-support-about-top">
                                    <div class="pro-support-about-img"> <img src="images/Mask.png" alt=""> </div>
                                    <div class="pro-support-about-text">
                                        <h3>{{about.name | lowercase}}</h3>
                                        <p><a href="" data-target='demoModal22' class="" modal>Read More</a>
                                        <span ng-click="AddFavCause(about)"  class="support-listing-cover causes-add" >
                                            <a href="javascript:void(0)" class="waves-effect waves-light btn support-listing-btn" style="padding-top: 7px;">Add To Causes</a>
                                        </span></p>
                                        
                                        <p>Ein Number: {{about.ein}}</p>
                                        
                                    </div>
                                </div>
                                <div class="pro-payment-section-btm pro-support-about-btm">
                                    <h5>Details</h5>
                                    <div class="pro-payment-section-btm-accodian">
                                        <ul class="collapsible" data-collapsible="accordion">
                                        
                                            <li class="">
                                              <div class="collapsible-header headpay active"><span>1</span>DEDUCTIBILITY & EXEMPTION</div>
                                                <div class="collapsible-body sacaccordian1">
                                                <div class="collapsible-content"><div class="collapsible-content-text">
                                                    <div class="row">
                                                              
                                                              
                                                                  <div class="collapsible-content-doc">
                                                                      <ul><li><span>Deductibility:</span> {{about.deductibility}}</li>
                                                                          <li>
                                                                          <span>Deductibility Status: </span>{{about.deductibilityStatus}}</li>
                                                    <li><span>Exemption : </span>{{about.subsection}}</li>
                                                    <li><span>Organization  : </span>{{about.organization}}</li>
                                                    <li><span>Exempt Status : </span>{{about.exemptStatus}}</li></ul></div></div></div></div>
                                                </div>
                                            </li>
                                            <li class="" >
                                                <div class="collapsible-header headpay"><span>2</span>CLASSIFICATION, AFFILIATION, & ACTIVITIES</div>
                                                <div class="collapsible-body sacaccordian2">
                                                    <div class="collapsible-content">
                                                    <div class="collapsible-content-text">
                                                    <div class="row">
                                                        <div class="collapsible-content-doc">
                                                        <ul>
                                                        <li><span>IRS Classification:</span> <p>{{about.classification}}<p></li>
                                                        <li><span>Affiliation:</span> <p>{{about.affiliation}}<p></li>
                                                        <li><span>Foundation Status  :</span> </li>
                                                        <li><span ng-if="about.activity1">Activities  :</span> {{about.activity1}}</li>
                                                        </ul>
                                                        </div>
                                                    </div></div></div>
                                                </div>
                                            </li>
                                            <li class="">
                                                <div class="collapsible-header headpay"> <span>3</span>FINANCIAL DATA</div>
                                                <div class="collapsible-body sacaccordian2">
                                                <div class="collapsible-content">
                                                <div class="collapsible-content-text">
                                                    <div class="row">
                                                    <div class="collapsible-content-doc">
                                                    <ul>
                                                    <li><span>Latest Form 990 filed:</span> {{about.taxPeriod}}</li>
                                                    <li><span>Fiscal Year End:</span> {{about.accountingPeriod}}</li>
                                                    <li><span>Asset Range in dollars:</span> {{about.assetCodeDesc}}</li>
                                                    <li><span>Income Range in dollars:</span> {{about.incomeCodeDesc }}</li>
                                                    <li><span>Asset Amount :</span>{{about.assetAmount | currency}}</li>
                                                    <li><span>Income Amount:</span> {{about.incomeAmount | currency}}</li>
                                                    <li><span>Form 990 Amount:</span> {{about.form990| currency}}</li>
                                                    </ul>
                                                    </div>
                                                    </div>
                                                </div></div></div>
                                            </li>
                                            <li class="" >
                                                <div class="collapsible-header headpay"> <span>4</span>FILING REQUIREMENTS</div>
                                                <div class="collapsible-body sacaccordian2">

                                                <div class="collapsible-content-doc">
                                                <ul><li><span>Filing Requirements:</span> {{about.pfFilingRequirementCodeDesc}}</li></ul></div></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="help-btn-section-cover don"> <a href="javascript:void(0)" ng-click="donate()" class="waves-effect waves-light btn help-btn-section-ele">Donate</a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l5 m5 s12">
                            <div class="create-fundraiser-right-panel">
                                <div id="map" style="" class="create-fundraiser-add pro-donate-add">  </div>
                                <div class="running-causes proo-running-causes-support pro-donate">
                                    <h3>Top Running Causes</h3>
                                    <div class="running-causes-section">
                                        <ul>
                                            <li>
                                                <div class="running-causes-img"> <img src="images/lis-school1.png" alt=""> </div>
                                                <div class="running-causes-text">
                                                    <h4>Marion Cross School</h4>
                                                    
                                                </div>
                                            </li>
                                            <li>
                                                <div class="running-causes-img"> <img src="images/lis-school2.png" alt=""> </div>
                                                <div class="running-causes-text">
                                                    <h4>Elementary School</h4>
                                                    
                                                </div>
                                            </li>
                                            <li>
                                                <div class="running-causes-img"> <img src="images/lis-school3.png" alt=""> </div>
                                                <div class="running-causes-text">
                                                    <h4>Hawk Ridge Elementary</h4>
                                                    
                                                </div>
                                            </li>
                                            <li>
                                                <div class="running-causes-img"> <img src="images/lis-school4.png" alt=""> </div>
                                                <div class="running-causes-text">
                                                    <h4>Lora Evan School</h4>
                                                    
                                                </div>
                                            </li>
                                            <li>
                                                <div class="running-causes-img"> <img src="images/lis-school4.png" alt=""> </div>
                                                <div class="running-causes-text">
                                                    <h4>Red Cross School</h4>
                                                    
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       
                            
                       
                    </div>

                </div>
            </div>
        </div>
  
        <!-- Modal Trigger -->

<!-- Modal Structure -->
<div id="demoModal22" class="modal supp-about-mod">
    
    <div class="modal-content">
      <div class="mod-fixed modal-close"><span>X</span></div>
        <div class="mod-ele">
        <h4>{{about.name | lowercase}}</h4>
        <p>Ein Number: {{about.ein}}</p>
        <p>Address:
        {{about.street | lowercase}}</p>
         <p>Country: {{about.country}}</p>
         <p>State: {{about.state}}</p>
        <p>City: {{about.city}}</p>
        <p>Zip Code: {{about.zipCode}}</p>
        <p>{{about.foundation}}</p>
            
        </div>    
    </div>
   
</div>
        
    
        
        
        
        
        
        
       
