<template>
    <div class="o-screen-footer">
        &copy; All Rights Reserved JAYANTA DAS | 2018
    </div>
</template>

<script>

export default {
  name: 'appfooter',
  data () {
    return {
    
    }
  },
    methods:{
        logout(){
            //alert('logout')
            this.$session.destroy();
            this.$router.push('/login')
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

</style>
