<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand navbar-brand--logo" href="/jsachievements-web/Jayanta/VueJS/OfficePal/dist/#">Office<span>Pal</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
<!--
            <li v-for="item in menu" v-bind:class="{ active: isActive, 'nav-item': true }">
              <a class="nav-link" :href="item.navURL">{{ item.navName }}
              </a>
            </li>
-->
            <li>
               <div class="o-post-logged">
                  Hi! <span>{{ loggedusername }}</span> 
               </div>
               <div class="dropdown o-profile-drop">
                  <button class="btn btn-secondary dropdown-toggle o-profile-dropdownlist" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu dropdown-menu-right profile-drop-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a href="javascript:void(0)" class="nav-link logout-link" v-on:click="logout">Logout</a>
                  </div>
               </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<script>
    import axios from 'axios';
export default {
  name: 'appheader',
  data () {
    return {
        isActive:true,
        loggedusername:'',
        //menu: ['Home','About','Services','Contact']
        menu:[
            {
                navURL:'#/',
                navName:'Home',   
            },
            {
                navURL:'#/about',
                navName:'About',   
            },
            {
                navURL:'#/services',
                navName:'Services',   
            },
            {
                navURL:'#/contact',
                navName:'Contact',   
            },
           
        ]
    }
  },
    methods:{
        logout(){
            //alert('logout')
            this.$session.destroy();
            this.$router.push('/login')
        }
    },
    mounted() {
        //console.log('from home vue',this.$session.has('user'));
        const loggedUser = this.$session.get('user').useremail;
        //console.log(loggedUser.useremail);
        axios.get('https://officepal-aa418.firebaseio.com/user.json')
            .then((response) => {
           //console.log(response.data);
            for(let key in response.data){
                // console.log(key, response.data[key].useremail, loggedUser)
                if(response.data[key].useremail === loggedUser){
                    //console.log(response.data[key].userfirstname)
                    this.loggedusername = response.data[key].userfullname.toUpperCase();
                    
                }
                
            }
            
        })
            
        
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

</style>
