<template>
     <div class="o-signup-area">
        <!-- Loader -->
        <div class="o-loader" v-if="loader">
            <div class="sk-double-bounce ">
                <div class="sk-child sk-double-bounce1"></div>
                <div class="sk-child sk-double-bounce2"></div>
                <div class="loader-text">Please wait ...</div>
            </div>
        </div>
        <!-- /Loader -->
        <div class="login-bg">
            <!-- container -->
            <div class="container">
               <!-- login-container -->
                    <div class="card card-container">
                       
                        <div class="o-post-register" v-if="passwordretrv">
                            <img id="profile-img" class="profile-img-card" src="../assets/logo.png" />
                            <h3 class="o-forgot-msg">Hello !! <span>{{ loggedUser }}</span></h3>
                            <p id="" class="o-forgot-msg-desc">Your last password is<br /><span>{{ loggedPassword }}</span></p>
                            <p id="" class="o-post-msg-desc">Login with above password <router-link class="" to="login">Login <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span></router-link></p>
                       </div>
                       
                       <div class="o-forgot-container" v-if="forgotpswdsection">
                           <img id="profile-img" class="profile-img-card" src="../assets/logo.png" />
                           <p id="" class="profile-name-card">Forgot Your Password?</p>
                            <h6 class="profile-subtext">No worries, just enter your email address below. <br />We’ll send you instructions how to reset your passwords.</h6>
                            <div class="login-error already-exist" v-if="errorlog">Invalid user <span>email</span> address</div>
                            <!-- login form -->
                            <form class="form-signin" @submit.prevent="forgotpswd()">
                                <div class="col-lg-12 o-form-container">
                                   <input type="email" @focus="focus($event)" @blur="blur($event)" name="forgotemail" v-model="forgotemail" v-validate="'required|email'" data-vv-delay="500" :class="{'input': true, 'is-danger': errors.has('forgotemail'),'o-form-field': true }" /> 
                                   <label class="label form-label">Your email *</label>
                                   <span v-show="errors.has('forgotemail')" class="help is-danger-msg">{{ errors.first('forgotemail') }}</span>
                                </div>
                               <div class="col-lg-12 o-form-container o-form-button">
                                   <button class="btn common-btn u-solid-green-btn btn--signin" type="submit">Request password reset <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span></button>
                               </div>
                            </form>
                            <!-- /login form -->
                            <!-- forgot password and sign up -->
                            <ul class="o-form-bottom-anchore">
                               <li>
                                   <router-link class="o-fgt-anchore" to="login"><i class="fa fa-chevron-left" aria-hidden="true"></i> Log in with current password</router-link>
                               </li>
                               <li>
                                   <router-link class="o-signup-anchore" to="registration">Create a new account  <i class="fa fa-chevron-right" aria-hidden="true"></i></router-link>
                               </li>
                            </ul>
                            <!-- /forgot password and sign up -->
                      </div>
                    
                    </div>
                <!-- /login-container -->
            </div>
        <!-- /container -->
        </div>
        <!-- App footer -->
 <appfooter></appfooter>
 <!-- /App footer -->
    </div>
</template>

<script>
    import axios from 'axios';
    import appfooter from './appfooter.vue';
export default {
  name: 'ForgotPassword',
    components: {
        appfooter,
    },
  data () {
    return {
        forgotemail:'',
        loggedUser:'',
        loggedPassword:'',
        errorlog:false,
        loader:false,
        passwordretrv:false,
        forgotpswdsection:true,
    }
  },
    methods: {
        focus (event) {
            //console.log(event)
            $(event.target).siblings('.form-label').addClass('js-label-transition');
        },
        blur (event) {
                if ($(event.target).val() === "") {
                $(event.target).siblings('.form-label').removeClass('js-label-transition');
            }
        },
        forgotpswd () {
            this.$validator.validateAll().then((result) => {
            if (result) {
               this.loader = true;
                        //console.log(this.loguser,this.logpass);
                        axios.get('https://officepal-aa418.firebaseio.com/user.json')
                        .then((response) => {
                            let flag = 0;
                            for(let key in response.data){
                                if(response.data[key].useremail === this.forgotemail){
                                    flag = 1;
                                    this.loader = false;
                                    //this.$session.start();
                                    //this.$session.set('user', {useremail : this.loginemail});
                                    //this.$router.push('/');  
                                    console.log('success');
                                    this.forgotpswdsection = false;
                                    this.passwordretrv = true;
                                    this.loggedUser = response.data[key].userfullname;
                                    this.loggedPassword = response.data[key].userpassword;
                                    //console.log(response.data[key].userfullname);
                                }
                            }
                            if(!flag){  
                                this.loader = false;
                                this.errorlog = true;
                                this.forgotemail = '';
                                
                            }           
                        })
                        .catch((error) => {
                            alert('something went wrong.please try again.');
                        }); 
                        //alert('From Submitted!');
                        return;
            }
          });
        }
        
    },
    mounted() {
            //console.log('from home vue',this.$session.has('user'));
            if(this.$session.has('user')){
                this.$router.push('/');
            }
        },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
