<template>
  <div class="o-inner-container">
    <!-- Main Header start -->
   <mainheader></mainheader>
   <!-- Main Header end -->
   <div class="o-home-landing">
        <img src="../assets/logo.png">
<!--        <h1>{{ msg }}</h1>-->
        <h2>Something New is Coming SOON!!</h2>
        <h6>We'll be here soon with our new Imaginations</h6>
   </div> 
  </div>
</template>

<script>
    import mainheader from './appheader.vue';
export default {
  name: 'index',
    components: {
        mainheader,
    },
  data () {
    return {
      msg: 'Welcome to OfficePal'
    }
  },
    mounted() {
        //console.log('from home vue',this.$session.has('user'));
        if(!this.$session.has('user')){
            this.$router.push('/login');
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
