<template>
 <div class="o-signup-area">
    <!-- Loader -->
    <div class="o-loader" v-if="loader">
        <div class="sk-double-bounce ">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
            <div class="loader-text">Please wait ...</div>
        </div>
    </div>
    <!-- /Loader -->
    
  <div class="login-bg">
   <!-- container -->
    <div class="container">
       <!-- login-container -->
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="../assets/logo.png" />
            <p id="" class="profile-name-card">Use you existing account to log in</p>
            <div class="login-error already-exist" v-if="errorlog">Invalid <span>Email/Password</span></div>
            <!-- login form -->
            <form class="form-signin" @submit.prevent="LoginPage()">
               <div class="col-lg-12 o-form-container">
                   <input type="email" @focus="focus($event)" @blur="blur($event)" name="loginemail" v-model="loginemail" v-validate="'required|email'" data-vv-delay="500" :class="{'input': true, 'is-danger': errors.has('loginemail'),'o-form-field': true }" /> 
                   <label class="label form-label">Your email *</label>
                   <span v-show="errors.has('loginemail')" class="help is-danger-msg">{{ errors.first('loginemail') }}</span>
               </div>
               <div class="col-lg-12 o-form-container">
                   <input type="password" class="o-form-field" @focus="focus($event)" @blur="blur($event)" name="loginpassword" v-model="loginpassword" v-validate="'required'" data-vv-delay="500" :class="{'input': true, 'is-danger': errors.has('loginpassword'),'o-form-field': true }" /> 
                   <label class="label form-label">Password *</label>
                   <span v-show="errors.has('loginpassword')" class="help is-danger-msg">{{ errors.first('loginpassword') }}</span>
               </div>
               <div class="col-lg-12 o-form-container o-form-button">
                   <button class="btn common-btn u-solid-green-btn btn--signin" type="submit">Log in <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span></button>
               </div>
                
            </form>
            <!-- /login form -->
            <!-- forgot password and sign up -->
            <ul class="o-form-bottom-anchore">
               <li>
                   <router-link class="o-fgt-anchore" to="forgotpassword"><i class="fa fa-chevron-left" aria-hidden="true"></i> I forgot my password</router-link>
               </li>
               <li>
                   <router-link class="o-signup-anchore" to="registration">Create a new account  <i class="fa fa-chevron-right" aria-hidden="true"></i></router-link>
               </li>
            </ul>
            <!-- /forgot password and sign up -->

        </div>
        <!-- /login-container -->
    </div>
    <!-- /container -->
 </div>
 <!-- App footer -->
 <appfooter></appfooter>
 <!-- /App footer -->
 </div>
</template>

<script>
    import axios from 'axios';
    import appfooter from './appfooter.vue';
    export default {
        name: 'LoginPage',
        components: {
            appfooter,
        },
        data () {
            return {
                loginemail:'',
                loginpassword:'',
                errorlog:false,
                loader:false,
            }
        },
        methods: {
            focus (event) {
                $(event.target).siblings('.form-label').addClass('js-label-transition');
            },
            blur (event) {
                    if ($(event.target).val() === "") {
                    $(event.target).siblings('.form-label').removeClass('js-label-transition');
                }
            },
            LoginPage() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loader = true;
                        //console.log(this.loguser,this.logpass);
                        axios.get('https://officepal-aa418.firebaseio.com/user.json')
                        .then((response) => {
                            let flag = 0;
                            for(let key in response.data){
                                if(response.data[key].useremail === this.loginemail && response.data[key].userpassword === this.loginpassword){
                                    flag = 1;
                                    this.loader = false;
                                    this.$session.start();
                                    this.$session.set('user', {useremail : this.loginemail});
                                    this.$router.push('/');                    
                                }
                            }
                            if(!flag){  
                                this.loader = false;
                                this.errorlog = true;
                                this.loginpassword = '';
                                
                            }           
                        })
                        .catch((error) => {
                            alert('something went wrong.please try again.');
                        }); 
                        //alert('From Submitted!');
                        return;
                    }
                    //alert('Correct them errors!');
                });
            },
            
            
        
        },
        mounted() {
            //console.log('from home vue',this.$session.has('user'));
            if(this.$session.has('user')){
                this.$router.push('/');
            }
        },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
