<template>
 <div class="o-signup-area">
  <div class="login-bg">
   <!-- container -->
    <div class="container">
       <!-- login-container -->
       <div class="o-error-section">
          <h2>OfficePal says</h2>
           <div class="error-img"><img id="" class="" src="../assets/error-img.png" /></div>
            <h3>Page Not Found</h3>
           <p id="" class="profile-name-card">YOU LOOK LOST</p>
            <router-link to="login" class="u-holo-red-btn">GO HOME</router-link>
       </div>
        
        <!-- /login-container -->
    </div>
    <!-- /container -->
 </div>
 <!-- App footer -->
 <appfooter></appfooter>
 <!-- /App footer -->
    </div>
</template>

<script>
    import appfooter from './appfooter.vue';
export default {
  name: 'PageNotFound',
    components: {
        appfooter,
    },
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
