<template>
    <div class="o-signup-area">
        <!-- Loader -->
        <div class="o-loader" v-if="loader">
        <div class="sk-double-bounce ">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
            <div class="loader-text">Please wait ...</div>
        </div>
        </div>
        <!-- /Loader -->
  
        <div class="login-bg">
   <!-- container -->
    <div class="container">
       <!-- login-container -->
        <div class="card card-container">
           <div class="o-post-register" v-if="successmsg">
               <img id="profile-img" class="profile-img-card" src="../assets/logo.png" />
               <h3 class="o-post-msg">Thank You <br /> <span>{{ name }}</span></h3>
               <p id="" class="o-post-msg-desc">To continue please <router-link class="" to="login">Login <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span></router-link></p>
                
           </div>
           <div class="o-register-container" v-if="regcontainer">
                <img id="profile-img" class="profile-img-card" src="../assets/logo.png" />
                <p id="" class="profile-name-card">Sign up for free to get started</p>
                <div class="login-error already-exist" v-if="errorlog">User already exists</div>
                
                <!-- Register form -->
                <form class="form-signin" @submit.prevent="registration()">
                   <div class="col-lg-12 o-form-container">
                       <input type="text" @focus="focus($event)" @blur="blur($event)" name="name" v-model="name" v-validate="'required|alpha_spaces'" data-vv-delay="500" :class="{'input': true, 'is-danger': errors.has('name'),'o-form-field': true }" />
                       <label class="label form-label">Full name *</label>
                       <span v-show="errors.has('name')" class="help is-danger-msg">{{ errors.first('name') }}</span>
                   </div>
                   <div class="col-lg-12 o-form-container">
                       <input type="email" class="o-form-field" @focus="focus($event)" @blur="blur($event)" name="email" v-model="email" v-validate="'required|email'" data-vv-delay="500" :class="{'input': true, 'is-danger': errors.has('email'),'o-form-field': true }" /> 
                       <label class="label form-label">Your email *</label>
                       <span v-show="errors.has('email')" class="help is-danger-msg">{{ errors.first('email') }}</span>
                   </div>
                   <div class="row">
                       <div class="col-lg-6 o-form-container">
                           <input type="password" class="o-form-field" @focus="focus($event)" @blur="blur($event)" name="password" v-model="password" v-validate="'required|min:6'" data-vv-delay="500" :class="{'input': true, 'is-danger': errors.has('password'),'o-form-field': true }" />
                           <label class="label form-label">Password *</label>
                           <span v-show="errors.has('password')" class="help is-danger-msg">{{ errors.first('password') }}</span>
                       </div>
                       <div class="col-lg-6 o-form-container">
                           <input type="password" class="o-form-field" @focus="focus($event)" @blur="blur($event)" name="repassword" v-model="repassword" v-validate="'confirmed:password'" :class="{'input': true, 'is-danger': errors.has('repassword'),'o-form-field': true }" /> 
                           <label class="label form-label">Repeat password *</label>
                           <span v-show="errors.has('repassword')" class="help is-danger-msg">{{ errors.first('repassword') }}</span>
                       </div>
                   </div>


                   <div class="col-lg-12 o-form-container c-checkbox-style">
                      <input type="checkbox" id="f-option" name="checkbox" v-model="checkbox" v-validate="'required'" :class="{'is-danger': errors.has('checkbox')}">
                      <div class="check"></div>
                       <label for="f-option"> By clicking Sign Up, you agree to our <router-link to="" data-toggle="modal" data-target="#termsModal">Terms</router-link> and that you have read our <router-link to="privacy">Privacy Policy</router-link>.</label>

                      <span class="help is-danger-msg" v-show="errors.has('checkbox')">{{ errors.first('checkbox') }}</span>

                   </div>

                   <div class="col-lg-12 o-form-container o-form-button">
                       <button class="btn common-btn u-solid-green-btn btn--signin" type="submit">Sign up <span><i class="fa fa-check" aria-hidden="true"></i></span></button>
                   </div>

                </form>
                <!-- /Register form -->
                
                <!-- forgot password and sign up -->
                <ul class="o-form-bottom-anchore">
                   <li>
                       <router-link class="o-fgt-anchore" to="forgotpassword"><i class="fa fa-chevron-left" aria-hidden="true"></i> I forgot my password</router-link>
                   </li>
                   <li>
                       <router-link class="o-signup-anchore" to="login">Sign in to my account <i class="fa fa-chevron-right" aria-hidden="true"></i></router-link>
                   </li>
                </ul>
                <!-- /forgot password and sign up -->
                
            </div>

        </div>
        <!-- /login-container -->
    </div>
    <!-- /container -->
 </div> 
  
  
   <!-- Privacy Modal -->
  <div class="modal fade" id="termsModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body o-terms-modal">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Terms & Conditions</h4>
         <div class="modal-text-area">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  
   <!-- Privacy Modal -->
  <div class="modal fade" id="privacyModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body o-terms-modal">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Privacy Policy</h4>
         <div class="modal-text-area">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
   <!-- App footer -->
 <appfooter></appfooter>
 <!-- /App footer -->
    </div>
</template>

<script>
    import axios from 'axios';
    import appfooter from './appfooter.vue';
    export default {
    name: 'RegistrationPage',
        components: {
            appfooter,
        },
    data () {
        return {
            name:'',
            email:'',
            password:'',
            repassword:'',
            checkbox:'',
            errorlog:false,
            successmsg:false,
            regcontainer:true,
            loader:false,
        }
    },
    methods: {
        focus (event) {
            //console.log(event)
            $(event.target).siblings('.form-label').addClass('js-label-transition');
            
        },
        blur (event) {
            if ($(event.target).val() === "") {
                $(event.target).siblings('.form-label').removeClass('js-label-transition');
            }
            
        },
        /*validateForm(scope) {
          this.$validator.validateAll(scope).then((result) => {
            if (result) {
              //alert('Form Submitted!');
            }
          });
        },*/
         registration() {
          this.$validator.validateAll().then((result) => {
            if (result) {
                this.loader = true;
                //Get database for exsisting login email iD
                axios.get('https://officepal-aa418.firebaseio.com/user.json')
                .then((response) => {
                    let flag = 0;
                    for(let key in response.data){
                        if(response.data[key].useremail === this.email){
                            flag = 1;
                            console.log('user matched');
                            this.loader = false;
                            this.errorlog = true;
                            this.password = this.repassword = '';
                            
                            return;
                        }
                    }
                    if(!flag){
                        // post user details if there will be new user
                       // post user details if there will be new user        
                    axios.post('https://officepal-aa418.firebaseio.com/user.json', { 
                        userfullname:this.name, 
                        useremail:this.email, 
                        userpassword:this.password
                    })
                     .then((response) => {
                       console.log('Registration Successfull');
                        this.errorlog = false;
                        this.successmsg = true;
                        this.regcontainer = false;
                        this.loader = false;
                        //console.log(response)
                       //this.name = this.email = this.password = this.repassword = '';

                     })
                     .catch((error) => {
                       console.log(error.message);
                     });
                  return;
                    }  

                })
            }
          });
             
        }
    },
        mounted() {
            //console.log('from home vue',this.$session.has('user'));
            if(this.$session.has('user')){
                this.$router.push('/');
            }
        },
    
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
