<template>
  <div class="login-bg">
   <!-- container -->
    <div class="container">
       <!-- login-container -->
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="../assets/logo.png" />
            <p id="" class="profile-name-card">Use you existing account to log in</p>
            <!-- Toogle Style -->
           <div class="c-toggle-style">
              <div class="switch_box box_4">
			<div class="input_wrapper">
				<input type="checkbox" class="switch_4">

            <span class="is_checked">Yes</span>

          <span class="is_unchecked">No</span>
			  </div>
		</div> 
           </div>
            <!-- /Toogle Style -->
           

        </div>
        <!-- /login-container -->
    </div>
    <!-- /container -->
 </div>
</template>

<script>
export default {
  name: 'ToggleStyle',
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
