#resize{
	
	/*background:url(shopping_cart_icon.png);*/
	background-color: white;
	background-size: 30px 30px;

}

.product{
	
	background-color: #cbd9ef;
	border-radius: 10px;
	padding: 15px;
	float: left;
	margin:15px;
}
.font-size{

	font-size: 20px;
}


