
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.navbar{
  position: fixed;
    top: 0;
    z-index: 9;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: none !important;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.video-wrapper{
  position: absolute; width: 1265px; height: auto;
}
.upper-video-text{
    display: table;
    height: 100%;
    
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width:50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
}
.upper-video-text h1{
  color: white;
  font-size: 65px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;

}
.sub-content p{
  color:white;
  font-size: 19px;
}
.rust-icons {
    font-family: nexa_rust_extrasfree;
    color: #e3530d;
    font-size: 100px;
    font-size: 6.25rem;
    display: block;
    text-align: center;
    line-height: 1em;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}
.link-arrow {
    color: #465d50;
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: auto;
    margin: 0 auto;
    width: 50px;
    width: 3.125rem;
    height: 50px;
    height: 3.125rem;
    bottom: 20px;
    bottom: 1.25rem;
    font-size: 50px;
    font-size: 3.125rem;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
