body,
html {
    height: 100%;
    font-family: $main-font;
}
.navbar-brand--logo {
    font-family: $main-font;
    font-weight: 400;
    font-size: 30px;
    background-color: #ECF0F1;
    margin-right: 0px;
    padding: 5px 10px;
    border-radius: 2px;
    color: $primary-dark-grey-active !important;
    span {
        font-weight: 700;
    }
}
.o-post-logged {
    display: inline-block;
    float: left;
    color: #e2e2e2;
    margin-top: 4px;
    font-weight: 400;
    span {
        color: $white;
        font-weight: 700;
    }
}
.logout-link {
    //float: left;
    //margin-left: 5px;
    //border-radius: 2px;
    //padding: 5px;
    margin-top: 0px;
}
.o-profile-drop {
    float: left;
    margin-left: 5px;
    .profile-drop-menu {
        top: 140%;
        border-radius: 0px;
        padding: 0px;
        background-color: #7491a5;
        a {
            padding: 10px;
            border-bottom: #ccc 1px solid;
            color: #fff;
            &:hover {
                background-color: $primary-blue;
                color: rgba(255, 255, 255, 1);
            }
        }
        a:last-child {
            border-bottom: none;
        }
    }
}
.o-profile-dropdownlist {
    padding: 5px;
    border: transparent 1px solid;
    border-width: thin;
    background-color: #343a40;
    border-radius: 0px;
    line-height: 16px;
    color: #fff;
    &:hover {
        border: #a5a5a5 1px solid;
    }
    &:focus {
        box-shadow: none !important;
        //border: #fff 1px solid;
    }
}
.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    box-shadow: none !important;
    border: #fff 1px solid;
}
