// FONTS
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700,900";
$main-font: 'Source Sans Pro',
sans-serif;

/*======Variable color pallete start=======*/

$black:#000000;
$white:#ffffff;
$primary-color:#f05f40;
$primary-extra-light: #ecf0f1;
$primary-extra-light-active: #bdc3c7;
$primary-light-grey: #95a5a6;
$primary-light-grey-active: #7f8c8d;
$primary-dark-grey: #34495e;
$primary-dark-grey-active: #2c3e50;
$primary-red: #e74c3c;
$primary-red-active: #c0392b;
$primary-orange: #e67e22;
$primary-orange-active: #d35400;
$primary-yellow: #f1c40f;
$primary-yellow-active: #f39c12;
$primary-cyan: #1abc9c;
$primary-cyan-active: #16a085;
$primary-green: #2ecc71;
$primary-green-active: #27ae60;
$primary-blue: #3498db;
$primary-blue-active: #2980b9;
$heading-color:#2C3E50;
$text-color:#2C3E50;
$bg-color: #2C3E50;
$alert-color:#e74c3c;
// $hover-color: #d7df21;
// $active-color: #0A72AB;
// $info-color: #a0d3e8;
// $light-text:#858585;
// Socail link color
$facebook-color: #3b5998;
$twitter-color: #00aced;
$linkedin-color: #007bb5;
$email-color: #dd4b39;

/*======Variable color pallete end=======*/

// responisve
@mixin responsive($breakpoint) {
    @if $breakpoint==iphone6 {
        @media (min-width: 375px) {
            @content;
        }
    }
    @else if $breakpoint==phone6plus {
        @media (min-width: 414px) {
            @content;
        }
    }
    @else if $breakpoint==phone {
        @media (min-width: 480px) {
            @content;
        }
    }
    @else if $breakpoint==iphone {
        @media (min-width: 640px) {
            @content;
        }
    }
    @else if $breakpoint==tab {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $breakpoint==desktop {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $breakpoint==xbig {
        @media (min-width: 1200px) {
            @content;
        }
    }
}
