<template>
  <div class="loginHome">
  	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Book Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link to="/Books"><a class="nav-link">Home</a></router-link>
          </li>
          <li class="nav-item">
            <router-link to="/home"><a class="nav-link">Add New</a></router-link>
          </li>
          <li class="nav-item">
            <router-link to="/mylike"><a class="nav-link">My Like</a></router-link>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>-->
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" v-model="searchData" v-on:keyup="onSearchEdit" placeholder="Search">
        </form>
        <div class="userName">
          <b>{{cuentUser}}</b>
        </div>
        <div class="logout">
           <a class="btn btn-info" v-on:click="logoutUser">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import {bus} from '../main';
export default {
  data () {
    return {
      searchData:'',
      cuentUser:'User Name'
    }
  },
  methods:{
    onSearchEdit:function(){
      bus.$emit('onSearchEdit',this.searchData);
      //console.log("Emit Called..",this.searchData);
    },
    logoutUser:function(){
      sessionStorage.setItem("userName","");
      this.$router.push('/');
    }
  },
  created(){
      this.cuentUser=sessionStorage.getItem("userName")||"";
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.logout{
  margin-left:10px;
}
.userName{
  padding: 5px;
  color: white;
}
</style>
