<template>
  <div class="login">
    <div class="logo"><img src="../assets/logo.png" width="200" height="200"></div>
    <div class="container">
    <form class="form-signin" v-on:submit.prevent="signIn" >
      <h2 class="form-signin-heading">Please sign in</h2>
      <label class="sr-only">Enter Username : </label>
      <input type="email" v-model="userName" class="form-control" placeholder="Username" required="" autofocus="">
      <label class="sr-only">Enter Password : </label>
      <input type="password" v-model="password" class="form-control" placeholder="Password" required="" autofocus="">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    </div>
  </div>
</template>

<script>
import regUserData from '../data/regUserData.json';
export default {
  data () {
    return {
      regUserData:regUserData,
      userName: '',
      password:''
    }
  },
  methods:{
    signIn:function(){
      /*console.log(this.userName, this.password);
      var userData={userName:this.userName,password:this.password};
      localStorage.setItem("userData",JSON.stringify(userData));*/
      var userData=this.regUserData.filter((data)=>{
        return(data.userName==this.userName && data.password==this.password);
      });

      if(userData.length > 0){
        sessionStorage.setItem("userName", userData[0].userName);
        this.$router.push('books');
        console.log(userData);
        //console.log("Success...");
      }else{
        //console.log("Error...");
        alert('Invalid Input...');
        this.userName="";
        this.password="";
      }
      
    }
  },
  created(){
    //console.log(this.regUserData);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logo{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
