<template>
  <div class="loginHome">
    <add-header></add-header>
     <div class="container">
     <div class="row justify-content-center">
      <form class="form-horizontal" v-on:submit.prevent="aadBook" >
        <h2 class="col-sm-12 form-group text-center">Add a New Book</h2>
        <div class="col-sm-12 form-group">
          <input type="text" v-model="book.isbn" class="form-control" placeholder="ISBN Number" required="" autofocus="">
        </div>
        <div class="col-sm-12 form-group">
          <input type="text" v-model="book.title" class="form-control" placeholder="Title" required="" autofocus="">
        </div>
        <div class="col-sm-12 form-group">
          <input type="text" v-model="book.lang" class="form-control" placeholder="Book Langauge" required="" autofocus="">
        </div>
        <div class="col-sm-12 form-group">
          <input type="text" v-model="book.type" class="form-control" placeholder="Book Type" required="" autofocus="">
        </div>
        <div class="col-sm-12 form-group">
          <textarea v-model="book.desc" class="form-control" placeholder="Description" required="" autofocus=""></textarea>
        </div>
        <div class="col-sm-13 form-group text-center">
          <button class="btn btn-lg btn-primary" type="submit">{{submitButtonText}}</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</template>

<script>
import header from './header';
export default {
  components:{
    'add-header':header
  },
  data () {
    return {
      book:{
        isbn:'',
        title:'',
        lang:'',
        type:'',
        desc:'',
        createdUserId:''  
      } ,
      submitButtonText:'Add Book',
      editBookId:this.$route.params.id,
      currentUser:''
    }
  },
  methods:{
    aadBook:function(){
      let temp=[];
      let books=JSON.parse(localStorage.getItem("books")) || [];
      temp=books.filter((data)=>{
        return(data.isbn==this.book.isbn);
      });
      if (!this.editBookId) 
      {
        if(temp.length > 0){
          alert('This Book already Exists In Your Database');
        }else{
          books.push(this.book);
          localStorage.setItem("books",JSON.stringify(books));
          this.$router.push('/books');
        }
      }else{
        let tempBookId=this.editBookId;
        let index=books.findIndex(function(book){
          return(book.isbn==tempBookId);
        });
        books[index].isbn=this.book.isbn;
        books[index].title=this.book.title;
        books[index].lang=this.book.lang;
        books[index].type=this.book.type;
        books[index].desc=this.book.desc;
        localStorage.setItem("books",JSON.stringify(books));
        this.$router.push('/books');
      }
    }
  },
  created(){
    this.currentUser=sessionStorage.getItem("userName");
    this.book.createdUserId = this.currentUser;
    if(this.currentUser==""){
      this.$router.push('/');
    }
    let temp=[];
    if(this.editBookId){
      let books=JSON.parse(localStorage.getItem("books")) || [];
      temp=books.filter((data)=>{
        return(data.isbn==this.editBookId);
      });
      if(temp.length==1 ){
        temp=temp[0];
        this.book.isbn=temp.isbn;
        this.book.title=temp.title;
        this.book.lang=temp.lang;
        this.book.type=temp.type;
        this.book.desc=temp.desc;
        this.submitButtonText='Update';
      }
    }
    //console.log(this.editBookId);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
