<template>
  <div class="AllBooks">
  	<add-header></add-header>
    <div class="container bodyArea">
      <div class="row" v-show="filteredBlogs.length==0">
        <div class="col-sm-12 well text-center">
        <h3>No data found...</h3>
        </div>
      </div>
    	<div class="row">
  			<div class="col-sm-4" v-for="book in filteredBlogs">
  				<div class="well">
  				  <p> ISBN : {{book.isbn}}</p>
  					<p> Title : {{book.title}}</p>
  					<p>Written Language : {{book.lang}}</p>
  					<p>Description : {{book.desc | snippet}}</p>
            <div class="btnsItem">
  					 <button class="btn btn-danger" v-show="book.createdUserId==currentUser? true : false" v-on:click="deleteBook(book.isbn)">Delete</button>
  					 <router-link v-bind:to="'/home/'+book.isbn"><button class="btn btn-primary" v-show="book.createdUserId==currentUser? true : false">Edit</button></router-link>
             
             <button v-bind:class="{'btn': true, 'pull-right':true, 'btn-success': (myLike.indexOf(book.isbn)!=-1)? true : false}" @click="like(book.isbn)"><i class="fa fa-thumbs-up"></i></button>
              <button class="btn btn-info pull-right" @click="showDetails(book.isbn)"><i class="fa fa-eye"></i></button>
            </div>
  				</div>
  			</div>
      </div>
      <div class="modalContainer">
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">

          <div slot="header">
            <b class="text-center">BooK Details</b>
          </div> 

          <div slot="body">
            <p><b>ISBN : </b> {{tempBook.isbn}}</p>
            <p><b>Title : </b> {{tempBook.title}}</p>
            <p><b>Type : </b> {{tempBook.type}}</p>
            <p><b>Written language : </b> {{tempBook.lang}}</p>
            <p><b>Description : </b> {{tempBook.desc}}</p>
          </div> 

          <div slot="footer">
            <button class="btn btn-primary" @click="showModal = false"> Close </button>
          </div> 

        </modal>
      </div>
    </div>
    <add-footer></add-footer>
  </div>
</template>

<script>
import header from './header';
import footer from './footer';
import modalTemplate from './modalTemplate';
import {bus} from '../main';
export default {
  components:{
    'add-header':header,
    'add-footer':footer,
    'modal':modalTemplate
  },
  data () {
    return {
      books:[],
      searchData:'',
      currentUser:'',
      tempBook:{},
      showModal: false,
      myLike:[]
    }
  },
  methods: {
    deleteBook:function(isbn){
      console.log(this.books);
      let index=this.books.findIndex(function(book){
          return(book.isbn==isbn);
        });

      this.books.splice(index,1);
      localStorage.setItem('books', JSON.stringify(this.books));
      console.log(index);
    },
    showDetails:function(isbn){
      let index=this.books.findIndex(function(book){
          return(book.isbn==isbn);
        });
      this.tempBook=this.books[index];
      this.showModal=true;
    },
    like:function(isbn){
      //check alrady like or not.
      let index = this.myLike.indexOf(isbn);
      
      //get all user like data and find my like details index.
      let tempUser=this.currentUser;
      let LikeAll=JSON.parse(localStorage.getItem("likes")) || [];
      let myindex=LikeAll.findIndex(function(item){
          return(item.userName==tempUser);
      });

      //like 
      if(index == -1){
        this.myLike.push(isbn);
        //if user like details is exist in database
        if(myindex!=-1)
        { // Update mylike data
          LikeAll[myindex].myLike=this.myLike;
        }
        //if user like details not exist in database
        else{
          //add mylike data in database
          let temp={
            userName:this.currentUser,
            myLike:this.myLike
          }
          LikeAll.push(temp);
        }
      }

      else{
        this.myLike.splice( index, 1 );
        LikeAll[myindex].myLike=this.myLike;
      }
      localStorage.setItem("likes",JSON.stringify(LikeAll));
    }
  },
  computed: {
      filteredBlogs: function(){
        return this.books.reverse().filter((book) => {
          return book.title.toLowerCase().match(this.searchData.toLowerCase());
        });
      },
      checkDisabled:function(currentUser){
        return ((currentUser==this.currentUser)? true : false);
      }
  },
  created(){
    this.currentUser=sessionStorage.getItem("userName")||"";
  	this.books=JSON.parse(localStorage.getItem("books")) || [];
    bus.$on('onSearchEdit', (data)=>{
      this.searchData=data;
      //console.log("Emit fire..",data);
    })
    let tempUser = this.currentUser;
    let LikeAll=JSON.parse(localStorage.getItem("likes")) || [];
      let myindex=LikeAll.findIndex(function(item){
          return(item.userName == tempUser);
    });
    if(myindex != -1)
      this.myLike=LikeAll[myindex].myLike;
  }
}
//https://codepen.io/JamesUlph/pen/wWBRRL
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 10px;
    margin-top: 10PX;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.btnsItem{
  min-height:40px;
}
button{
  margin-right: 2px;
}
.bodyArea{
  min-height: 500px;
}
p{
  padding: 5px;
}
/*a.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 a.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }*/
</style>
