<div ui-view="viewCart">

	<div class="row" ng-controller="productAndCatagory">
	    
		<!-- catagory list -->
	    <div class="col-md-2" style="background-color: #f2b89d;" id="filterCat">
	      <div class="col-xs-12" id="sticky-sidebar">
	      	<h5>Shop by catagory</h5>
	      	<br>
	      	<div ng-repeat="catagory in catagories">
	      		<button class="btn btn-primary" ng-click="filterBtn(catagory)" style="margin: 5px;">{{catagory | uppercase}}</button>
	      	</div>
	      	<button class="btn btn-toolbar" ng-click="showAllproducts()">Show all products</button>
	      			
	      </div>
	    </div>
	    
	    <!-- products list -->
	    <div class="col-md-10" id="main" style="background-color: lightblue;padding-left: 10px;">
	    	
	    		<div class="col-md-4 product" align="center" ng-repeat="product in products">
					<div >
						<div>
							<div>
							    		<img src={{product.pic}} height="130px" width="130px"/>
							    		<div >
							    			<h3>{{product.name}}</h3>
							    			<h5>Price : ${{product.price}}</h5>
							    			<button 
							    				class="btn btn-primary" 
							    				style="margin: 5px;" 
							    				ng-disabled="disabled"
							    				data-toggle="tooltip" 
							    				title={{tooltips}}
							    				ng-click="addToCartBtn(product.productId)"
							    			>
							    				Add to cart
							    			</button>
							    			<button 
							    			  class="btn btn-primary" 
							    			  style="margin: 5px;" 
							    			  ng-click="productDetails(product.productId)"
							    			  data-toggle="modal" data-target="#productDetails"

							    			>
							    				See details
							    			</button>
							    		</div>

							</div>
						</div>
					</div>
					<div ng-include="productDetails" scope="" onload="" ng-controller="productDetails"></div>
				
				</div>

			


		</div>

</div>
</div>