<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Shopping Cart Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" ng-controller="headerController">
    <ul class="navbar-nav">
      <li class="nav-item" >
        <button class="btn btn-primary" id="resize" ng-disabled="disabled" title={{tooltips}} data-toggle="modal" data-target="#viewCart" ng-click="seeCart()">
          <img src="images/shopping_cart_icon.png" height="30px" width="30px"/> 
          <span style="color: black"> View Cart</span>
        </button>
        <div ng-include="viewCart"><!-- view cart modal --></div>
      </li>
      <!-- Dropdown -->
	    <li class="nav-item dropdown" ng-show="showLoggedUser">
	      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
	       {{userName}}
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" style="cursor: pointer;" >View Orders</a>
	        <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#editUser">Edit Profile</a>
	        <a class="dropdown-item" ng-click="userLogout()" style="cursor: pointer;">Log Out</a>
	      </div>
	    </li> 
      <li class="nav-item" ng-show="showLoginBtn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Login</button>
      </li>
      
    </ul>
  </div> 



</nav>