<div>
	<div id="header" class="header">
		<div ng-include="header" scope="" onload="" ng-controller="header"></div>
	</div>

	<div id="container" class="container" style="margin-top: 20px">
		<div ng-include="container" scope="" onload="" ng-controller="container"></div>
	</div>
	

	<div ng-include="showLoginModal" scope="" onload="" ng-controller="showLoginModal"></div>
	
	<div ng-include="editUser" scope="" onload="" ng-controller="editUser"></div>
	
</div>