<div class="container-fluid" >
	<h4>{{title}}</h4>
	<br>
	<form ng-controller="loginForm">
		<div class="form-group">
		<label for="email">Email</label>
		<input type="text" name="email" placeholder="Email" class="form-control" ng-model="email">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" placeholder="Password" class="form-control" ng-model="pass">
		</div>
		<button class="btn btn-primary" ng-click="login()">Login</button>
		<span style="color: red;font-size: 13px; font-weight: bold;margin-left: 10px">{{loginStat}}</span>
	</form>

</div>