<!-- The Modal -->
	<div class="modal fade" id="myModal">
		  <div class="modal-dialog">
		    <div class="modal-content">

		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Login Registration</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>

		      <!-- Modal body -->
		      <div class="modal-body">
		        
			          <ul class="nav nav-tabs" role="tablist">
					    <li class="nav-item">
					      <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link" data-toggle="tab" href="#reg">Registration</a>
					    </li>
					    
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div id="login" class="container tab-pane active" ng-include="login" ng-controller="login"><br></div>
					    <div id="reg" class="container tab-pane fade" ng-include="reg" ng-controller="reg"><br></div>
					  </div>



		      </div>

		      <!-- Modal footer -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>

		    </div>
		  </div>
	</div>