<!-- The Modal -->
	<div class="modal fade" id="productDetails">
		  <div class="modal-dialog">
		    <div class="modal-content">

		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Product Details</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>

		      <!-- Modal body -->
		      <div class="modal-body">
		        
		        <div align="center" style="margin: 15px">
		        	 <img src={{productImg}} height="200px" width="200px">
		        </div>
			     
			     <h3>{{productName}}</h3>
			     <h4>Price: $ {{price}}</h4>
			     <h5>User's Rating : <strong>{{rating}}</strong> /5</h5>
			     <h6><strong>Description: </strong></h6>
			     <p>{{desc}}</p>

		      </div>

		      <!-- Modal footer -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>

		    </div>
		  </div>
	</div>