<div >
	<h4>{{title}}</h4>
	<br>
	<form name="regForm" ng-controller="regForm">
		{{test}}
		<div class="form-inline">
			<div class="form-group">
				<label for="fname">First Name &nbsp&nbsp&nbsp</label>
				<input type="text" class="form-control" placeholder="First Name" ng-model="fname">
				<!-- <span style="color: red">{{!regForm.fname.$valid}}</span> -->
			</div>
			<div class="form-group">
				<label for="lname">Last Name &nbsp&nbsp&nbsp</label>
				<input type="text" name="lname" class="form-control" placeholder="Last Name" ng-model="lname">
			</div>
		
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" name="email" class="form-control" placeholder="Email" ng-model="email">
		</div>
		<div class="form-group">
			<label for="mob">Mobile</label>
			<input type="text" name="mob" class="form-control" placeholder="Mobile" ng-model="mob">
		</div>
		<div class="form-group">
			<label for="pass">Password</label>
			<input type="password" name="pass" class="form-control" placeholder="Password" ng-model="pass">
			<div style="color: red;font-size: 13px; font-weight: bold;margin-left: 10px">{{passMismatched}}</div>
		</div>
		
		<div class="form-group">
			<label for="conPass">Confirm Password</label>
			<input type="password" name="conPass" class="form-control" placeholder="Confirm Password" ng-model="conPass">
		</div>

		<input type="submit" value="Register" class="btn btn-primary" ng-click="register()"><span style="color: red;font-size: 13px; font-weight: bold; margin-left: 15px">	
			{{regStat}} <a href="#!login">{{loginLink}}</a>
		</span>
	</form>

	

</div>