<!-- The Modal -->
	<div class="modal fade" id="viewCart">
		  <div class="modal-dialog">
		    <div class="modal-content">

		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">View Cart</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>

		      <!-- Modal body -->
		      <div class="modal-body">
		        
		        <h4 style="color:green">{{msg}}</h4>
		        <div ng-repeat="cartItem in cartItems" style="margin: 10px; border-style: solid" class="row">
		        	
		        	<div align="center" class="col-md-2">
		        	 	<img src={{cartItem.pic}} height="60px" width="60px">
			        </div>
				     
				     <div class="col-md-7">
				     	<h5>{{cartItem.name}}</h5>
					     <h6>Price: $ {{cartItem.price}}</h6>
					     Qantity:{{cartItem.qnt}} 

					     <br>
					
				     </div>
				     <div class="col-md-2">
				     	<button class="btn btn-danger" style="margin-top: 20px;" ng-click="remove(cartItem.productId)">Remove</button>
				     </div>

		        </div>

		      </div>

		      <!-- Modal footer -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>

		    </div>
		  </div>
	</div>