<template>
  <div id = "add-blog">
    <form v-if="!submitted">
    	<label>Blog Title</label>
    	<input type="text" v-model.lazy="blog.title" required>
    	<label>Blog Content</label>
    	<textarea v-model.lazy="blog.content"></textarea>
    	<div id="checkboxes">
            <label>Category : </label>
    		<label>Ninjas</label>
    		<input type="checkbox" value="ninjas" v-model="blog.categories"/>
    		<label>Wizards</label>
    		<input type="checkbox" value="wizards" v-model="blog.categories"/>
    		<label>Mario</label>
    		<input type="checkbox" value="mario" v-model="blog.categories"/>
    		<label>Cheese</label>
    		<input type="checkbox" value="cheese" v-model="blog.categories"/>
    	</div>
    	<label>Author:</label>
    	<select v-model="blog.author">
            <option value="">---Select---</option>
    		<option v-for="author in authors"> {{author}}</option>
    	</select>
    	<p>
            <button v-on:click.prevent="viewData">Preview</button>
            <button v-on:click.prevent="post">{{btnText}}</button>
        </p>
    </form>
    <div v-if="submitted && !preview">Thanks for adding your post</div>
    <div id="preview" v-if="preview"> 
    	<h3>Preview Blog</h3>
    	<p>Blog title: {{blog.title}}</p>
    	<p>Blog content: {{blog.content}}</p>
    	<p>Blog Categories:</p>
    	<ul>
    		<li v-for="category in blog.categories">{{category}}</li>
    	</ul>
    	<p>Authors: {{blog.author}}</p>
        <button v-on:click.prevent="post">{{btnText}}</button>
    </div>
  </div>
</template>

<script>

export default {

  data(){
    return{
    	blog:{
    		title:'',
    		content:'',
    		categories:[],
    		author:'',
    	},
    	authors:['The Net Ninja', 'The Angular Avenger', 'The Vue Vindicator'],
    	submitted:false,
        preview:false,
        id:this.$route.params.id,
        btnText:'Add Blog'
    }
  },

  methods:{
   	post: function(){
        if(!this.id){
       		this.$http.post('https://testfb-2d0a1.firebaseio.com/posts.json',this.blog).then(function(data){
       			console.log(data);
       			this.submitted=true;
                this.preview=false;
                console.log('Post Success...', data);     
                this.$router.push({path: '/show'});
       		});
        }else{
            this.$http.patch('https://testfb-2d0a1.firebaseio.com/posts/'+this.id+'.json',this.blog).then(function(data){
                console.log('Update Success...', data); 
                this.$router.push({path: '/show'}); 
            });
        }
   	},
    viewData: function(){
        this.submitted=true;
        this.preview=true;
    }
  },
  created(){
    if (this.id) {
        this.$http.get('https://testfb-2d0a1.firebaseio.com/posts/'+this.id+'.json').then(function(data){
                //console.log(data);
                //this.blog=data.body;
                return data.json();
            }).then(function(data){
                this.blog=data;
                this.btnText='Update Blog';
            });

            console.log(this.id);
    }
  }
}
</script>

<style>
#add-blog *{
    box-sizing: border-box;
}
#add-blog{
    margin: 20px auto;
    max-width: 500px;
}
label{
    display: block;
    margin: 20px 0 10px;
}
input[type="text"], textarea{
    display: block;
    width: 100%;
    padding: 8px;
}
#preview{
    padding: 10px 20px;
    border: 1px dotted #ccc;
    margin: 30px 0;
}
h3{
    margin-top: 10px;
}
#checkboxes input{
	display: inline-block;
	margin-right: 10px;
	margin: 30px 0; 
}
#checkboxes label{
	display: inline-block;
}
</style>
