<template>
  <div v-theme:column="'narrow'" id="show-blogs">
    <h1>List Blog Title</h1>
    <input type="text" v-model="search" placeholder="Search blogs">
    <div v-for="blog in filteredBlogs" class="single-blog">
      <h2 v-rainbow>{{blog.title | toUppercase}}</h2>
    </div>
  </div>
</template>

<script>
import searchMixin from '../mixins/searchMixin';
console.log(searchMixin);
/*const searchMixin={
  computed: {
      filteredBlogs: function(){
        return this.blogs.filter((blog) => {
              return blog.title.match(this.search);
          });
        }
    }
}*/

export default {

  data(){
    return{
      blogs:[],
      search:''
    }
  },
  created(){
    this.$http.get('https://jsonplaceholder.typicode.com/posts').then(function(data){
      console.log(data);
      this.blogs = data.body.slice(0,10);

    })
  },
  filters:{
    toUppercase(value){
      return value.toUpperCase();
    },
    snippet(value){
      return value.slice(0,100)+' ...';
    }
  },
  directives:{
    'rainbow':{
      bind(el, binding, vnode){
        el.style.color="#"+ Math.random().toString().slice(2,8);
      }
    },
    'theme':{
      bind(el, binding, vnode){
        if(binding.value=="wide"){
          el.style.maxWidth="1200px";
        }else if(binding.value=='narrow'){
          el.style.maxWidth = "560px";
        }
        if(binding.arg == 'column'){
          el.style.background = '#ddd';
          el.style.padding = '20px';
        }
      }
    }
  },
  mixins: [searchMixin]
}
</script>

<style>

#show-blogs{
  max-width: 800px;
  margin: 0 auto;
}

.single-blog{
  padding: 2px;
  margin: 20px 0;
  box-sizing: border-box;
  background: #eee;
}

</style>
