<template>
  <div v-theme:column="'narrow'" id="show-blogs">
    <h1>All Blog Articles</h1>
    <input type="text" v-model="search" placeholder="Search blogs">
    <div v-for="blog in filteredBlogs" class="single-blog">
    <router-link v-bind:to="'/blog/'+ blog.id"> <h2 v-rainbow>{{blog.title |  to-uppercase}}</h2></router-link>
      <article>{{blog.content | snippet}}</article>
    </div>
  </div>
</template>

<script>

export default {
  data(){
    return{
      blogs:[],
      search:''
    }
  },

  computed: {
      filteredBlogs: function(){
        return this.blogs.reverse().filter((blog) => {
          return blog.title.match(this.search);
        });
      }
  },

  created(){
    this.$http.get('https://testfb-2d0a1.firebaseio.com/posts.json').then(function(data){
      //console.log(data);
      //this.blogs = data.body.slice(0,10);
      return data.json();
    }).then(function(data){
      console.log(data);
      var blogsArray=[];
      for (let key in data) {
        //console.log(data[key]);
        data[key].id=key;
        blogsArray.push(data[key]);
      }
      this.blogs=blogsArray;
    })
  },
  
  directives:{
    'rainbow':{
      bind(el, binding, vnode){
        el.style.color="#"+ Math.random().toString().slice(2,8);
      }
    },
    'theme':{
      bind(el, binding, vnode){
        if(binding.value=="wide"){
          el.style.maxWidth="1200px";
        }else if(binding.value=='narrow'){
          el.style.maxWidth = "560px";
        }
        if(binding.arg == 'column'){
          el.style.background = '#ddd';
          el.style.padding = '20px';
        }
      }
    }
  }
 // mixins: [searchMixin]
}
</script>

<style>

#show-blogs{
  max-width: 800px;
  margin: 0 auto;
}

.single-blog{
  padding: 2px;
  margin: 20px 0;
  box-sizing: border-box;
  background: #eee;
}

</style>
