<template>
	<div id="single-blog">
		<h1>{{blog.title}}</h1>
		<article>{{blog.content}}</article>
		<p>Author: {{blog.author}}</p>
		</br>
		Category List:
		<ul>
			<li v-for="category in blog.categories">{{category}}</li>
		</ul>
		<p>
			<button v-on:click="updateData">Edit</button>
			<button v-on:click="deleteData">Delete</button>
		</p>
	</div>
</template>
<script>
	export default{
		data(){
			return{
				id:this.$route.params.id,
				blog:{}
			}
		},
		methods:{
			updateData:function(){
				console.log(this.id);
				/*this.$http.patch('https://testfb-2d0a1.firebaseio.com/posts/'+this.id+'.json',this.blog).then(function(data){
   					console.log(data);	
   				});*/
   				this.$router.push({path: '/'+this.id});
			},

			deleteData:function(){
				console.log(this.id);
				this.$http.delete('https://testfb-2d0a1.firebaseio.com/posts/'+this.id+'.json').then(function(data){
   					console.log(data);	
   					this.$router.push({path: '/show'});
   				});
			}
		},
	
		created(){
			this.$http.get('https://testfb-2d0a1.firebaseio.com/posts/'+this.id+'.json').then(function(data){
				//console.log(data);
				//this.blog=data.body;
				return data.json();
			}).then(function(data){
				this.blog=data;
			});
		}
	}
</script>
<style>
#single-blog{
	max-width: 960px;
	margin: 0 auto;
}
</style>