@font-face {
    font-family: 'questrialregular';
    src: url('../fonts/questrial/questrial-regular-webfont.woff2') format('woff2'),
         url('../fonts/questrial/questrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


img{ display: block;}
body{font-family: 'Oxygen', sans-serif; overflow-y: auto !important;}
.full-wrapper{ width: 100%; float: left; }
.clr{ clear: both; padding: 0px; margin: 0px; font-size: 0px;}

/* HEADER */
header{ background: #fff;}
.top-fixed{ position: fixed; top: 0; box-shadow: 0px 0px 3px rgba(0,0,0,0.3); z-index: 10;}
header .row{ margin-bottom: 0px;}
.logo{ width: 18%; min-width: 202px; float: left; margin: 8px 0px 8px 0px;}
header .head-right-button{ width: auto; float: right; margin: 0 0 0 0px;}
.button{background: #F77423; border-radius: 22px; padding: 3px 1.3rem; height: inherit; font-size: 13px; font-weight: 300; text-transform: none; line-height: 30px; margin: 4px; box-shadow: none;}
.login{ background: #2F98D4; box-shadow: none;}
.login:hover{ background: #20709e; box-shadow: none;}
.signup{ background: #F77423; box-shadow: none;}
.signup:hover{ background: #ce4f00; box-shadow: none;}
.login-border{border: 1px solid #2F98D4; border-radius: 36px; width: auto; float: left; margin-top: 13%; margin-right: 6px;}
.signup-border{border: 1px solid #F77423; border-radius: 36px; width: auto; float: left; margin-top: 13%;}
nav{ height: auto; width: auto; float: left; box-shadow:none; line-height: normal; background: none; margin: 36px 0 0 2%;}
header{box-shadow: 4px 0px 8px rgba(0,0,0,0.5); position: fixed; top: 0; background: #fff; z-index: 10;}
.top-spacer{ height: 94px; float: left; width: 100%;}
header i{ color: #000;}
.button-collapse{ display: none;}
#sidenav-overlay{ z-index: 9;}
nav ul a{ color: #5F5F5F; font-size: 13px; font-family: 'Oxygen', sans-serif; font-weight: 700; padding: 0 10px;}
nav ul a:hover{ color: #000; background: #fff;}
.header-right{width:40%; float: right; margin: 24px 0 0 0px;}/*32.97%*/
.header-right .dp{ width: 43px; height: auto; float: right; border-radius: 50%; position: relative;}
.header-right .dp img{border-radius: 50%;}
.header-right .notification{ width: 16px; height: 16px; background: url(../images/sprite.png) no-repeat 0 -135px; float: right; margin: 14px 2% 0 2%; cursor: pointer;}
.header-right-install-border {
    border: 1px solid #F77423;
    border-radius: 36px;
    width: auto;
    float: right;
}
.header-right-install-but {
    font-family: 'questrialregular';
    font-size: 13px;
    font-weight: lighter;
    background: #F77423;
    box-shadow: none;
    border-radius: 32px;
    padding:5px 10px 5px 21px;
    background-image: url(../images/install-cashpack-button.png);
    background-repeat: no-repeat;
    background-position: center left 7px;
    background-size: 7%;
    margin: 2px;
}
.header-right-install-but:hover, .side-nav a.btn:hover{ background: #ce4f00 url(../images/install-cashpack-button.png)no-repeat; background-position: center left 7px; background-size: 7%; box-shadow: none;}
.head-search{ width: 145px; height: 45px; float: left; border-radius: 32px;}
.head-search .search-input{ border:0px; border-bottom: 0px; width: 110px; height: 45px; border-radius: 32px; box-shadow: 0px 0px 1px rgba(0,0,0,0.5); padding: 0 5px 0 30px; background: url('../images/sprite.png') no-repeat 9px -153px; font-family: 'Questrial', sans-serif; font-size: 13px; font-weight: 300;}
.head-search input:not([type]):focus:not([readonly]), .head-search input[type=text]:focus:not([readonly]){outline: 0px; border:0px; border-bottom: 0px; box-shadow: 0px 0px 3px rgba(0,0,0,0.5);}

/* BODY */
.video-playBut{ width: 75px; height: 75px; position: absolute; left: 50%; top: 0; margin: 20% 0 0 -37.5px; background:url(../images/play-button.png); background-repeat: no-repeat; background-size: cover; background-position: 0% 0%; cursor: pointer;}
.shopping-install{ padding: 60px 0 50px 0px; background: #F1F5F9;}
.shopping-install .headline{font-family: 'Oxygen', sans-serif; font-size: 36px; font-weight: 700; margin: 9% 0 5px 0px; float: left;}

.shopping-install .sub-head{font-family: 'Oxygen', sans-serif; font-size: 20px; font-weight: normal; width: 88%; margin: 0 0 0 0px; float: left;}

.shopping-install p{font-family: 'Oxygen', sans-serif; font-size: 18px; font-weight: normal;}
.shopping-install .button{font-family: 'Questrial', sans-serif; font-size: 18px; font-weight: 300; border-radius: 32px; padding: 10px 1.3rem;}
.shopping-install .but-icon1{ background-image: url(../images/shoppung-icon.png); background-repeat: no-repeat; background-position: center left 15px; padding-left: 40px; background-size: 20px;}
.shopping-install .but-icon2{ background-image: url(../images/install-cashpack-button.png); background-repeat: no-repeat; background-position: center left 15px; padding-left: 40px;}
.shopping-install .login-border, .shopping-install .signup-border{ margin-top: 15px;}
.shopping-install-button{}

.coupon-scroll{ padding: 40px 0 30px 0px; background: #fff;}
.coupon-scroll .row .col.m3.coupon-scroll-tabs{ border: 1px solid rgba(0,0,0,0.2); position: relative; padding-bottom: 49px; width: 100%;}

.coupon-scroll h1{font-family: 'Questrial', sans-serif; font-size: 32px; font-weight: 300; text-align: center; margin-bottom: 16px;}
.coupon-scroll .sub-head{ font-size: 18px; font-weight: normal; width:90%; max-width: 680px; text-align: center; margin: 0 auto 50px auto; float: none;}
.coupon-scroll .tabInner{ width: 85%; height: auto; margin: 0 auto;}
.coupon-scroll .tabInner .top{ padding: 30px 0px; height: auto; float: left; width: 100%; border-bottom: 1px solid rgba(0,0,0,0.2);}
.coupon-scroll .tabInner .top .img{ margin: 0 auto;}
.coupon-scroll .tabInner .txt{ padding: 30px 0px; height: auto; float: left; width: 100%; font-size: 13px; text-align: center;}

.cupon-code-border{border: 1px dashed #fc985b; border-radius: 9px; margin: 0 auto; max-width: 143px; width: 100%; padding: 3px;}
.coupon-scroll .cupon-code{font-family: 'Questrial', sans-serif; font-size: 18px; font-weight: 400; border-radius: 5px; padding: 8px 0px; width: 100%; background: #FC985B; margin: 0px; cursor: pointer;}
.coupon-scroll .cupon-code:hover{ box-shadow: none;}
.icons{ width: 36px; height: 72px; position: absolute; right: -1px; top: -1px;}
.icons .star{width: 36px; height: 35px; float: left; background: url('../images/sprite.png') no-repeat left 9px top 8px; border: 1px solid #D1D1D1; z-index: 1; border-top: 0px;}
.icons .share{width: 36px; height: 35px; float: left; background: url('../images/sprite.png') no-repeat left 9px top -17px; border: 1px solid #D1D1D1; z-index: 1; border-top: 0px;}
.coupon-scroll .row .col.m3.coupon-scroll-tabs:hover{border: 1px solid rgba(0,0,0,0.8);}
.coupon-scroll .row .col.m3.coupon-scroll-tabs:hover .cupon-code{ background: #4A5159;}
.coupon-scroll .row .col.m3.coupon-scroll-tabs:hover .cupon-code-border {border: 1px dashed #4A5159;}
.coupon-scroll .row .col.m3.coupon-scroll-tabs:hover .icons .star{ background:#4AA5D9 url('../images/sprite.png') no-repeat left -26px top 9px; border:0px; box-shadow: none;}
.coupon-scroll .row .col.m3.coupon-scroll-tabs:hover .icons .share{ background:#51657C url('../images/sprite.png') no-repeat left -24px top -17px; border:0px; box-shadow: none;}
.new-cupon{ background:#F1F5F9; padding-top: 60px; margin-bottom: 50px;}
.new-cupon .row{margin-bottom:0px;}
.new-cupon .headline{font-family: 'Oxygen', sans-serif; font-size: 36px; font-weight: 700; margin: 10% 0 5px 0px; float: left;}
.featured-coupons{ margin: 16px 0 0 0px; padding-top: 0px;}
.time-count{ width: auto; height:auto; border: 1px solid #D2EABA; border-radius: 15px; position: absolute; left: 12px; top: 5px; background: #fff; background:url(../images/sprite.png) no-repeat 1px -98px ; padding:0 7px 0px 26px; font-size: 12px; line-height: 22px; color:#417505;}
.featured-coupons .row .col.m3.coupon-scroll-tabs{ padding-bottom: 0px; width: 23.5%; margin-right: 2%; }
.featured-coupons .row .col.m3.coupon-scroll-tabs:last-child{ margin-right: 0px;}
.coupon-scroll.featured-coupons .tabInner .top{width: 160px; height:160px; border-radius: 50%; border: 1px solid rgba(0,0,0,0.2); margin: 36px auto 0 auto; float: none;}
.coupon-scroll.featured-coupons .tabInner .top .img{margin: 14% auto 0 auto;}
.featured-coupons h2{font-family: 'Questrial', sans-serif; font-weight:300; font-size: 32px; border-bottom: 1px solid rgba(0,0,0,0.2); padding-bottom: 23px; margin-bottom: 35px;}
.search-bar{ width: 530px; height: 50px; background: #fff; float: left; margin: 0 0 0 -265px; position: relative; left: 50%; box-shadow:0px 0px 1px rgba(0,0,0,0.3); border-radius: 30px; overflow: hidden;}
.search-bar-left{ width: 85%; height: 50px; float: left;}
.search-bar-left .txtbox{ width: 90%; height: 50px; border: 0; background: none; padding:0px 5%;}
.search-bar-left .txtbox:hover{ outline: none; border: 0px;}
.search-bar-left .txtbox::-webkit-input-placeholder{font-size: 16px; font-weight: 300; color: dimgray;}
.search-bar-right{ width: 15%; height: 50px; float: left;}
.search-bar-right .submit{ width: 100%; height: 50px; border: none; background-color: none; background: url(../images/sprite.png)no-repeat 35px -49px;}

footer{ background: #4A5159;/* line-height: normal; */ padding: 27px 0 8px; 0px;}
.footer-logo{ width: 85%; max-width: 190px; height:auto; float: left;}
.footer-nav{ width: 100%; float: left; text-align: center; margin: 3% 0 0 0px;}
.footer-nav a{ color: #AFB5BF; font-weight: 300; padding: 0px 2%;}
.footer-nav a:hover{ color: #fff; font-weight: 300;}
.f-social-left{ width: 30%; color: #AFB5BF; float: left; font-size: 12px; margin: 6% 0 0 0px;}
.f-social-right{ width: 70%; height: auto; float: left; margin: 3% 0 0 0px;}
.f-social-tabs{ width: 25%; height: auto; float: left;}
.f-social-tabs img{ width: 85%; margin: 0 auto;}
.footer-bottom-row{ text-align: center; color: #AFB5BF; font-size:14px; font-weight: 300; }
.footer-bottom-icons{ width: 84px; height: auto; float: none; margin: 15px auto 0 auto;}
.load-more{ width: 100%; float: left;  text-align: center; display: none;}
.load-more a{ color:#2F98D4 !important;}

a .see-all{ background: #87AE60; border-radius: 18px; padding: 8px 25px 8px 25px; float: right; font-size: 14px; color: #fff; line-height: normal; font-family: 'Oxygen', sans-serif;}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 9999;
    width: 60px;
    height:60px;
    text-align: center;
    line-height: 30px;
    background: url(../images/scroll-top.png) no-repeat;
    background-size: contain;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    display: none;
}
#back-to-top.show:hover {
    opacity: 1;
}
#back-to-top.show {
    opacity: 0.5;
    display: block;
}

.top-merchants{ background: #E4ECF2;}
.top-merchants h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}
.top-merchants .sub-head {
    font-size: 18px;
    font-weight: normal;
    width: 90%;
    max-width: 680px;
    text-align: center;
    margin: 0 auto 50px auto;
    float: none;
}

.coupon-scroll.top-merchants .row .col{ padding-left: 0px; padding-right: 0px;}
.coupon-scroll.top-merchants .row .col.m3.coupon-scroll-tabs{ border: 0px; background: #fff;}
.top-img{ width: 100%; height: auto; float: left; border-bottom: 5px solid #4CA7DA; position: relative;}
.top-merchants-numbers{ width: 39px; height: 32px; background: url(../images/top-merchants-number.png) no-repeat; position: absolute; left: 50%; bottom: 0px; padding-top: 23px; margin: 0 0 -26px -19.5px; font-family: 'Oxygen', sans-serif; font-weight: 400; color: #fff; font-size: 16px; text-align: center; box-sizing:  initial;}
.coupon-scroll.top-merchants .tabInner .txt{ font-size: 16px;}
.coupon-scroll.top-merchants .tabInner .txt span{ font-weight: bold; font-size: 20px; width: 100%; float: left;}
.coupon-scroll.top-merchants .cupon-code{ border-radius: 27px; background: #F47121;}
.coupon-scroll.top-merchants .cupon-code-border{ border-radius: 27px; border: 1px solid #F47121;}
.coupon-scroll.top-merchants .row .col.m3.coupon-scroll-tabs:hover .cupon-code-border {border: 1px solid #4A5159;}
.top-merchants .icons{ width: 36px; height: 72px; position: absolute; right: -1px; top: -1px; z-index: 1;}
.top-merchants .icons .star{width: 36px; height: 35px; float: left; background:#fff url('../images/sprite.png') no-repeat left 9px top 8px; border: 1px solid #D1D1D1; z-index: 1; border-top: 0px;}
.top-merchants .icons .share{width: 36px; height: 35px; float: left; background:#fff url('../images/sprite.png') no-repeat left 9px top -17px; border: 1px solid #D1D1D1; z-index: 1; border-top: 0px;}
a .view-all {
    background: #87AE60;
    border-radius: 18px;
    padding: 8px 0 8px 0;
    float: none;
    width: 135px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: normal;
    font-family: 'Oxygen', sans-serif;
    line-height: 20px;
    margin: 0 auto;
}

.cupons-list-main{background:#E7EEF3; padding: 50px 0px; margin-top: -50px;}
.cupons-list{ width: 90%; height: auto; margin: 0 auto;}
.cupons-list ul{}
.cupons-list ul li{ list-style-type: none; float: left; width: 100%; margin: 0 0 20px 0px; border: 1px solid rgba(0,0,0,0.2); border-radius: 5px; background: #fff; cursor: pointer;}
.cupons-list ul li:hover{border: 1px solid rgba(0,0,0,0.8)}
.container .cupons-list .row{ margin: 0px; position: relative;}
.cupons-list .col.left img{ width: 100%; max-width: 90px; float: none; margin: 24px auto 0 auto;}
.cupons-list .col.middle{ position: relative; text-align: center;font-size: 14px; color: #000; font-weight: 700; font-family: 'Oxygen', sans-serif; margin-top:30px ; margin-bottom:30px ; border-right:1px solid rgba(0,0,0,0.2);}
.cupons-list .col.middle.right-tab{ border: 0px;}
.middle-inner{width:74%; height:auto; float:left;}
.cupons-list .time-count{ left: inherit; right: 2%; top: 22%; font-weight: 300;}
.cupons-list .col.right{ position: relative;}
.cupons-list .cupon-code-border{ width:112px; float: left; margin: 29px 0 0 2%;}
.cupons-list .cupon-code {
    font-family: 'questrialregular';
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    padding: 8px 0px;
    width: 100%;
    background: #FC985B;
    margin: 0px;
    cursor: pointer;
    line-height: 22px;
}
.cupons-list ul li:hover .cupon-code{ box-shadow: none; background: rgba(0, 0, 0, 0.6);}
.cupons-list ul li:hover .cupon-code-border{ border-color: rgba(0, 0, 0, 0.6); }


.cupons-list .icons{ width: 36px; height: 72px; position: absolute; right: -1px; top: 15px;}
.cupons-list .icons .star{width: 36px; height: 35px; float: left; background: url('../images/sprite.png') no-repeat left 9px top 8px; border: 1px solid #D1D1D1; z-index: 1; cursor: pointer;}
.cupons-list .icons .share{width: 36px; height: 35px; float: left; background: url('../images/sprite.png') no-repeat left 9px top -17px; border: 1px solid #D1D1D1; z-index: 1; border-top: 0px;}

.cupons-list ul li:hover .icons .star{ background:#4AA5D9 url('../images/sprite.png') no-repeat left -26px top 9px; border:0px; box-shadow: none;}
.cupons-list ul li:hover .icons .share{ background:#51657C url('../images/sprite.png') no-repeat left -24px top -17px; border:0px; box-shadow: none;}

.black-overlay{ position: fixed; width: 100%; height: 100%; z-index:12; background: rgba(0,0,0,0.5); display: none;}
.popup-form{ width: 400px; max-height: auto !important; left: 50%; margin: 9% 0 0 -200px; position: absolute; z-index: 14; background: #fff; border-radius: 5px; padding: 40px 0px; display: none;}
.popup-form.modal{ max-height: 900px !important; overflow: visible; top: 2% !important;}
.popup-form-head{font-family: 'Oxygen', sans-serif; font-size: 14px; text-align: center; width: 240px; margin: 0 auto; margin-bottom: 20px;}
.popup-form-head span{ font-size: 18px; font-weight: 700; width: 100%;}
.button-wrap{width:250px; height: 10px; margin: 10px auto 0 auto;}
.facebook-but-border {
    border: 1px solid #4665AC;
    border-radius: 36px;
    width: 100%;
    float: left;
}
.facebook-but {
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    letter-spacing: 0.06em;
    font-weight: 300;
    background: #4665AC url(../images/sprite.png) 24px -201px;
    box-shadow: none;
    border-radius: 32px;
    padding: 5px 10px 5px 21px;
    background-repeat: no-repeat;
    margin: 2px;
    width: 98.5%;
}
.facebook-but:hover{ box-shadow: none; background-color: #2C447C;}
.g-plus-but-border {
    border: 1px solid #DF4D3A;
    border-radius: 36px;
    width: 100%;
    float: left;
}
.g-plus-but {
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    letter-spacing: 0.06em;
    font-weight: 300;
    background: #DF4D3A url(../images/sprite.png) 24px -201px;
    box-shadow: none;
    border-radius: 32px;
    padding: 5px 10px 5px 21px;
    background-repeat: no-repeat;
    margin: 2px;
    width: 98.5%;
}
.g-plus-but:hover{ box-shadow: none; background-color: #ad3829;}
.popup-devider{ width:250px; height: 1px; position: relative; margin: 34px auto 0 auto; background: url(../images/popup-devider.png); background-repeat: repeat-x;}
.popup-or{ width: 35px; height: 35px; position: absolute; background: #E5E5E5; font-size: 12px; text-align: center; border-radius: 50%; color:#848484; line-height: 35px; left: 50%; margin: -18px 0 0 -17.5px;}

.popup-inner{width:250px; height:auto; position: relative; margin: 34px auto 0 auto;}
.popup-inner [type="checkbox"] + label{ color: #000; font-size: 14px; line-height: 19px;}
.popup-inner [type="checkbox"].filled-in:not(:checked) + label:after{ border: 1px solid rgba(0,0,0,0.5); border-radius: 50%;}
.popup-inner [type="checkbox"].filled-in:checked + label:after{ border-radius: 50%; background: #4CA7DA; border-color: #4CA7DA;}
.popup-inner [type="checkbox"].filled-in:checked + label:before{top: 2px; left: 3px; width: 7px; height: 10px;}
.popup-inner input[type=email], .popup-inner input[type=password]{ border:1px solid rgba(0,0,0,0.3); outline: none; border-radius: 50px; padding-left: 5%; padding-right: 5%; width: 90%;}
.popup-inner input[type=email].validate + label, .popup-inner input[type=password].validate + label{font-family: 'Oxygen', sans-serif; font-size: 13px; letter-spacing: 0.06em; line-height: 23px;}
.popup-inner input[type=email]:focus:not([readonly]) + label, .popup-inner input[type=password]:focus:not([readonly]) + label{ color:#4CA7DA}
.popup-inner .input-field label.active{-webkit-transform:translateY(-150%); transform:translateY(-150%);}
.popup-inner input[type=email]:focus:not([readonly]), .popup-inner input[type=password]:focus:not([readonly]){ border: 1px solid rgba(0,0,0,0.5); box-shadow: none;}
.popup-inner input[type=email].invalid, .popup-inner input[type=password].invalid{border:1px solid rgba(0,0,0,0.3); box-shadow:none; background: rgba(255,29,0,0.3);}
.popup-inner input[type=email].valid, .popup-inner input[type=password].valid{border:1px solid rgba(0,0,0,0.3); box-shadow:none; background: rgba(0,255,20,0.2);}
.popup-inner .input-field{ margin-top: 0px;}

.popup-close{ width: 13px; height: 13px; position: absolute; right: 20px; top: 20px; background: url(../images/sprite.png) no-repeat -4px -303px; cursor: pointer;}


.popup-inner .but-wrapper{ margin-top: 0px;}
.popup-but-border {
    border: 1px solid #DF4D3A;
    border-radius: 36px;
    width: 100%;
    float: left;
}
.popup-but {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    letter-spacing: 0.06em;
    font-weight: 300;
    box-shadow: none;
    border-radius: 32px;
    padding: 12px 10px 12px 21px;
    background-repeat: no-repeat;
    margin: 4px;
    width: 96.5%;
    cursor: pointer;
}
.popup-but:hover{ box-shadow: none;}
.login-border{ border-color: #2F98D4;}
.signup-border{ border-color: #F47121;}
.login-border .popup-but{ background: #2F98D4;}
.login-border .popup-but:hover{ background: #2278a9;}
.login-border .popup-but.signup{ background: #F47121;}
.login-border .popup-but.signup:hover{ background: #bd510e;}
.breadcamb-wrapper{ background: #EDF3F8;}
.breadcamb-wrapper nav{ margin: 10px 0 10px -2%; height: auto !important;}
.breadcamb-wrapper .breadcrumb{ font-family: 'Oxygen', sans-serif; font-weight: 300; padding-left: 20px; background: url(../images/bradecam-img.png) left center no-repeat; padding-left: 4px; margin-right: 10px; color: #768390; font-size: 14px;}
.breadcamb-wrapper .breadcrumb:first-child{ background-image: none;}
/*.breadcamb-wrapper .breadcrumb:before {
    content: '\003A \003A';
    color: #768390;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size:17px;
    margin:3px 7px 0 6px;
    -webkit-font-smoothing: antialiased;
}
.breadcamb-wrapper .breadcrumb.first:before {
    content: '';
    color: #768390;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    margin:3px 7px 0 6px;
    -webkit-font-smoothing: antialiased;
}*/
.breadcamb-wrapper .breadcrumb:before {
    content: '';
    color: #768390;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size:17px;
    margin:3px 7px 0 6px;
    -webkit-font-smoothing: antialiased;
}
.breadcamb-wrapper .breadcrumb.first:before {
    content: '';
    color: #768390;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    margin:3px 7px 0 6px;
    -webkit-font-smoothing: antialiased;
}

.breadcamb-wrapper .breadcrumb:last-child{ color: #575F67; font-weight: 700;}






.cupons-list-page{background:#F9FCFF; padding: 50px 0px; margin-top:0px;}
.cupons-list-page .tabs{ background: none;}
.cupons-list-page ul:not(.browser-default){ border-bottom: 1px solid #B6C3D0}
.cupon-Merchant{ width: 100%; max-width:222px; margin: 0 auto 0 auto; padding: 10px; background: #fff; border: 1px solid rgba(0,0,0,0.2);}
.cupon-Merchant-right{ position: relative; padding-top: 36px;}
.cupon-Merchant-right .txt{ width: 90%; float: left; margin: 0 0 0 2%; font-size: 14px;}
.cupon-Merchant-right .head-txt{ width: 100%; margin-bottom: 10px; font-family: 'Oxygen', sans-serif; font-weight: 700; font-size:42px; color: #54616F; float: left;}
.cupon-Merchant-right .head-txt span{ width: auto; float: left;}
.cupon-Merchant-right .head-txt .icon-tab{ width: 55px; height: auto; float: left; margin: 16px 0 0 12px;}
.cupon-Merchant-right .head-txt .icon-tab .icons{ width:15px; height: auto; float: left; margin: 0 12px 0 0px; position: relative; left: inherit; top: inherit;}
.cupon-Merchant-right .tag{ width: 40px; height:59px; float: left; background: url(../images/tag1.png) no-repeat; padding-top: 23px;
    
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.cupon-Merchant-right .button-wrap{ margin-top: 20px; width: 100%; float: left; height: auto;}
.cupon-Merchant-right .sub-but{ background: #fff; border:1px solid #2F98D4; color: #2F98D4; padding: 2px 1.3rem;}
.cupon-Merchant-right .sub-but:hover{ background: #2F98D4; border:1px solid #2F98D4; color: #fff; padding: 2px 1.3rem;}
.cupon-tab-container .tab-head{ width: auto !important; padding: 0 0 0 0px; margin-right: 20px;}
.tabs .tab a{ padding: 0 0px; text-transform: none; color: #000; font-weight: 700;}
.tabs .tab a:hover, .tabs .tab a.active{ color: #2D91CB; border-color:#2D91CB;}
.tabs .indicator{ background-color:#2D91CB;}
.cupons-list-page .cupons-list{ width: 100%;}
.cupons-list .middle-inner{ text-align: left; font-weight: 300; padding-left: 4%;}
.expires{ background: url(../images/sprite.png) no-repeat 1px -326px;}
.right-tab .expires{ margin-right: 29px;}

.cupons-list-page .cupons-list .icons .star{background: url('../images/sprite.png') no-repeat 9px -19px; cursor: pointer;}
.cupons-list-page .cupons-list ul li:hover .icons .star{background:#4AA5D9 url('../images/sprite.png') no-repeat -25px -18px;}

.cupons-list-page .cupons-list .icons .share{background: url('../images/sprite.png') no-repeat 7px -350px; cursor: pointer;}
.cupons-list-page .cupons-list ul li:hover .icons .share{ background:#51657C url('../images/like2.png') no-repeat 12px 12px; border:0px; box-shadow: none;}

.all-merchants-top{ background: #E4ECF2; padding: 30px 0 30px 0px;}
.category-search-border{
    
    width: 80%;
    border: 1px solid #CCD9E3;
    border-radius: 50px;
    max-width: 225px;
    padding: 3px;
    float: right;
}
.category-search{
    font-family: 'questrialregular';
    font-size: 15px;
    font-weight: lighter;
    box-shadow: none;
    border-radius: 32px;
    padding:9px 10px 7px 21px;
    background: #4CA7DA url(../images/category-search-drop.png) center right 5%;
    background-repeat: no-repeat;
    width: 96.5%;
    text-align: left;
}
.category-search i{ float: left; margin-right: 6%;}
.category-search:hover{ box-shadow: none;}
.all-merchants-top-left{ position: relative;}
.category-select-mega{position: absolute; width:100%; height: auto; top: 72px; left: 0px; background: #fff; z-index: 8; border-radius: 12px; hidden; display: block; box-shadow: 0px 2px 34px rgba(0,0,0,0.3); visibility:hidden;}
.show{visibility: visible;}
.category-select-mega-top{ width: 100%; height:44px; float: left; position: relative; background:#667384;  border-radius: 12px  12px 0px 0px;}
.category-select-mega-top .arrow{ width:29px; height:auto; position: absolute; top: -9px; left: 161px;}
.category-select-submit {
    background: #87AE60;
    border:0px;
    border-radius: 18px;
    padding: 0 18px 0 18px;
    margin: 8px 8px 0 0px;
    float: right;
    font-size: 13px;
    color: #fff;
    line-height: normal;
    font-family: 'Oxygen', sans-serif;
}
.mega-bottom{ width: 96%; height: 500px; float: none; margin: 0 auto;}
.mega-bottom .col{ border-right: 1px solid #D8D8D8;}
.mega-bottom .col:last-child{ border-right:none;}
.mega-bottom ul{ float: left;}
.mega-bottom li{list-style-type:none; width: 100%; float: left; margin-bottom: 8px; }
.mega-bottom li .input-wrap{ width: 100%; float: left;}
.mega-bottom li ul{ margin-top: 10px;}
.mega-bottom li ul li{ margin-left: 8%; width: 92%; }
.mega-bottom [type="checkbox"]+label{ color: #444F5D; font-size: 14px;}
.mega-bottom [type="checkbox"]+label:before, .mega-bottom [type="checkbox"]:not(.filled-in)+label:after{ border:1px solid #A7B5BF; margin-top: 4px; width: 15px; height: 15px;}
.mega-bottom [type="checkbox"]:checked+label:before{ width: 12px; height: 22px;border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;}
#vertical-scrollbar-demo {
            height: 480px;
            width: 100%;
            float: left;
        }

.store-search{ width: 80%; position: relative;}
.store-search-border {
    border: 1px solid #CCD9E3;
    border-radius: 50px;
    width: 100%;
    padding: 3px;
    
}
.store-search .search-input{ border: 1px solid rgba(0,0,0,0.2); border-radius: 50px; margin: 4px; width: 88%; background: #fff url('../images/sprite.png') no-repeat 18px -404px; padding-left: 10%; height: 45px;}
.store-search .store-search-border input[type=text]:focus:not([readonly]){ border: 1px solid #CDC8C8; box-shadow:none;}
.store-search-but{ width: 40px; height: 40px; position: absolute; right: 2.5%; top: 18.5%;}
.store-search-but button{ border: 0; background:none; padding: 0px;}
.category-search:hover{ background-color:#667384;}



.store-search .letter-search{ float: left; max-width: 685px;}
.letter-search span{ float: left; margin:3px 12px 0 0px; font-family: 'Oxygen', sans-serif; font-size: 13px; font-weight: 700; color: #3D4850;}
.letter-search li{ float: left; list-style-type: none; margin: 0 1px 0 0px;}
.letter-search li a{ width: 28px; padding:5px 0 4px 0px; float: left; font-size: 13px; font-family: 'Oxygen', sans-serif; font-weight: 300; color: #5A6B79; text-transform: capitalize; text-align: center; border-radius: 50%; cursor: pointer;}

.letter-search li a:hover, .letter-search li a.active{ color: #fff; font-weight: 300; background: #667384; }

.all-merchants-top h1{ font-size:30px; color: #000; text-align: center;}
.all-merchants{ background: #E4ECF2; padding-top: 0px;}
.coupon-scroll.all-merchants .row .col{ background: #fff; padding-left: 0px; padding-right: 0px; padding-bottom: 40px; margin: 0 1% 40px 1%; width: 31.2333333333%; position: relative;}
.coupon-scroll.all-merchants .row .col.m3.coupon-scroll-tabs{ border: 0px; background: #fff;}
.coupon-scroll.all-merchants .tabInner .txt{ font-size: 16px;}
.coupon-scroll.all-merchants .tabInner .txt span{ font-weight: bold; font-size: 20px; width: 100%; float: left;}
.coupon-scroll.all-merchants .tabInner .txt span img{ display:inline; margin-left: 8px;}
.coupon-scroll.all-merchants .cupon-code{ border-radius: 27px; background: #F47121;}
.coupon-scroll.all-merchants .cupon-code-border{ border-radius: 27px; border: 1px solid #F47121;}
.coupon-scroll.all-merchants .row .col.m3.coupon-scroll-tabs:hover .cupon-code-border {border: 1px solid #4A5159;}
.all-merchants .icons{ width: 36px; height: 72px; position: absolute; right: -1px; top: -1px; z-index: 1;}
.all-merchants .icons .star{width: 36px; height: 35px; float: left; background:#fff url('../images/sprite.png') no-repeat left 6px top -350px; border: 1px solid #D1D1D1; z-index: 1; border-top: 0px;}
.all-merchants .icons .share{width: 36px; height: 35px; float: left; background:#fff url('../images/sprite.png') no-repeat left 9px top -17px; border: 1px solid #D1D1D1; z-index: 1; border-top: 0px;}
.all-merchants .coupon-scroll .cupon-code:hover{}
.all-merchants .coupon-scroll-tabs:hover .icons .share{ background:#51657C url('../images/sprite.png') no-repeat -24px -16px; border:0px; box-shadow: none;}
.all-merchants .coupon-scroll-tabs:hover .icons .star{ background:#039be5 url('../images/like2.png') no-repeat 12px 12px; border:0px; box-shadow: none;}
.all-merchants .coupon-scroll-tabs:hover .cupon-code{ background: rgba(0, 0, 0, 0.6);}
.all-merchants .coupon-scroll-tabs:hover .cupon-code-border{ border-color: rgba(0, 0, 0, 0.6);}
.all-merchants .name-star{}

/*  RESPONSIVE  */

@media only screen and (max-width: 1280px){
    
}

@media only screen and (max-width: 1279px){
    .coupon-scroll.featured-coupons .tabInner .top{ width: 130px; height: 130px;}
    .coupon-scroll.featured-coupons .tabInner .top .img{ margin: 6% auto 0 auto; width: 100%; max-width: 90px;}
    .header-right .header-right-install-border, .header-right .head-search{ display: none;}
    .button-collapse{ display: block; float: right; margin-top: 30px; margin-left: 20px;}
    .header-right{ width: 17%;}
    .header-right .notification{ margin-right: 10%;}
    .head-search{ width: 90%; float: none; margin: 30px auto 0 auto;}
    .head-search .search-input{width: 86.5%; color: #000;}
    .side-nav a.btn{ margin: 4px;}
    .header-right-install-border{ width: 90%; float: none; margin: 20px auto 0 auto;}
    .side-nav li{ display: none;}
    
    
}
@media only screen and (max-width: 1199px){
    .store-search-but{top: 18%;}
    .category-search-border{ width: 100%}
}

@media only screen and (max-width: 1024px) {
    
    .featured-coupons .row.second-row{ display: none;}
    .load-more{ display: block;}
    .featured-coupons .row .col.m3.coupon-scroll-tabs{ width: 48%; margin-bottom: 20px;}
    .side-nav li{ display: block;}
    .hide-on-med-and-down{ display: none;}
    nav{ height: 64px;}
    .header-right-install-border{ margin-bottom: 20px;}
    .side-nav li{ text-align: center;}
    .side-nav a{
    color: #5F5F5F;
font-size: 13px;
font-family: 'Oxygen', sans-serif;
font-weight: 700;}
    .top-spacer{height: 99px;}
    
}

@media only screen and (max-width: 992px) {
    .shopping-install .headline{ margin-top: 0px;}
    .shopping-install{ text-align: center;}
    .shopping-install .headline{ width: 100%;}
    .shopping-install-right img{ margin-top: 40px;}
    .shopping-install-button{width: 432px; float: none; margin: 0 auto;}
    .new-cupon{ text-align: center; padding-bottom: 40px; padding-top: 40px;}
    .new-cupon .headline{ width: 100%; margin-top: 5%;}
    .shopping-install-right img, .new-cupon img{ max-width: 550px; float: none; margin: 0 auto;}
    .coupon-scroll h1, .new-cupon .headline, .featured-coupons h2, .shopping-install .headline{ font-size: 30px;}
    .shopping-install-right img{ margin-top: 40px;}
    .shopping-install .sub-head, .coupon-scroll .sub-head{ width: 100%;}
    .footer-logo, .row .col.social{ float: none; margin: 0 auto;}
    .coupon-scroll.featured-coupons .tabInner .top{ width: 140px; height: 140px;}
    .coupon-scroll.featured-coupons .tabInner .top .img{ margin-top: 7%;}
    .footer-nav{ margin-bottom: 30px;}
    .f-social-left{ width: 40%; text-align: center;}
    .f-social-right{ width: 60%}
    .cupons-list .cupon-code-border{float: none; margin: 28px auto 0 auto;}
    .cupons-list .time-count{    position: relative; width: 120px;
    left: 50%;
    margin-left: -60px;}
    .cupons-list .cupon-code-border{ margin-bottom: 28px;}
    .middle-inner{ width: 100%; margin-top: 20px;}
    .cupons-list .col.middle{ border:0;}
    .cupons-list .time-count.expires{ width: 124px; margin-left: -62px;}
    .cupons-list-page .cupons-list .middle-inner{ text-align: center;}
    .cupon-Merchant-right .tag{ position: relative; left: 50%; margin: 0px 0 0 -20px;}
    .cupon-Merchant-right .txt{ width: 100%; margin: 10px 0 0 0px; text-align: center;}
    .cupon-Merchant-right .head-txt span{ width: 100%; float: left; text-align: center; margin-top: 20px;}
    .cupon-Merchant-right .head-txt .icon-tab{position: absolute; left: 50%; margin: 16px 0 0 -46px;}
    .cupon-Merchant-right .button-wrap {width: 257px; float: none;}
    .store-search{ float: none; margin: 20px auto 0 auto;}
    .store-search-but{right: 2.3%;}
    .category-search-border{ float: none; margin: 0 auto;}
    .mega-bottom .col{ border-right:none; border-bottom: 1px solid #D8D8D8;}
    .mega-bottom .col:last-child{ border-bottom:none;}
    .all-merchants-top{ /*margin-top: 10px;*/ padding-bottom: 0px;}
    .coupon-scroll.all-merchants .row .col{ width: 100%; float: none; max-width: 480px; margin: 30px auto 0 auto;}
    .coupon-scroll.all-merchants{ padding-top: 0px;}
    .category-select-mega-top .arrow{ left: 50%; margin-left: -14.5px;}
}
@media only screen and (max-width: 768px) {
    .logo{ min-width: 140px;}
    .head-right-button .login-border, .head-right-button .signup-border{ margin-top: 7%;}
    .top-spacer{ height: 70px;}
    nav{ height: 33px;}
    .header-right{ margin-top: 15px;}
    .button-collapse{ margin-top: 21px;}
}
@media only screen and (max-width: 640px) {
    
    .coupon-scroll{ padding-top: 20px;}
    .search-bar{ width: 310px; margin-left: -155px;}
    .search-bar-right .submit{background: url(../images/sprite.png)no-repeat 8px -49px;}
    .footer-logo, .row .col.social{ width: 45%;}
    .footer-nav a{ line-height:35px;}
    .store-search{ width: 100%;}
}
@media only screen and (max-width: 600px) {
    
    
}
@media only screen and (max-width: 480px) {
    .video-playBut{ width: 40px; height: 40px; margin: 27% 0 0 -20px;}
    .f-social-right{ width: 48%;}
    .shopping-install-button{width: 215px;}
    .shopping-install .login-border{ margin-right: 0px;}
    .footer-logo, .row .col.social{ width: 75%;}
    .header-right{ width: 27%;}
    .featured-coupons .row .col.m3.coupon-scroll-tabs{ width: 100%; margin-right: 0px;}
    .popup-form{ width: 310px; max-width:; left: 50%; margin: 9% 0 0 -155px;}
    .store-search .search-input{ padding-left: 14%; width: 84%;}
}
@media only screen and (max-width: 360px) {
    .logo {min-width: 132px;}
    .button{padding: 1px 0.8em;}
    .video-playBut{margin: 31% 0 0 -20px;}
    a .see-all{padding: 5px 10px 5px 10px;font-size: 11px; margin-top: 5px;}
    
    .footer-logo, .row .col.social{ width: 100%;}
    .top-spacer{ height: 67px;}
    .popup-but{padding: 12px 10px 12px 21px;}
    .popup-inner .but-wrapper{ margin-top: inherit;}
    .facebook-but, .g-plus-but{padding: 5px 10px 5px 21px;}
    .store-search .search-input{ width: 84%;}
    .store-search-but{right: 2.8%;}
    .category-select-mega{top: 58px;}
    
}

