* {
    margin: 0;
    padding: 0
}
html {
    margin: 0;
    padding: 0
}
body {
    font-size: 15px;
    line-height: 26px;
    color: #000;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Oxygen', sans-serif;
    word-spacing: normal;
    background-color: #fff;
    -webkit-transition: margin-left .3s;
    -moz-transition: margin-left .3s;
    -ms-transition: margin-left .3s;
    -o-transition: margin-left .3s;
    transition: margin-left .3s;
    -webkit-text-size-adjust: none;
}
a {
    cursor: pointer;
    color: #000;
    -o-transition: color .3s ease, border-color .3s ease, background-color .3s ease, opacity .3s ease;
    -webkit-transition: color .3s ease, border-color .3s ease, background-color .3s ease, opacity .3s ease;
    -moz-transition: color .3s ease, border-color .3s ease, background-color .3s ease, opacity .3s ease;
    transition: color .3s ease, border-color .3s ease, background-color .3s ease, opacity .3s ease;
}
a:active,
a:focus {
    text-decoration: none;
    outline: none!important;
    background-color: transparent
}
a:hover {
    text-decoration: none
}
p {
    color: #000
}
strong {
    font-weight: 600
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin: 0 0 20px;
    padding: 0;
    -webkit-font-smoothing: antialiased!important;
    font-weight: 400
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #222
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #1abc9c
}
h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
    margin: 0 8px;
    vertical-align: -2px
}
h1 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 1px;
    text-transform: uppercase
}
h2 {
    font-size: 64px;
    line-height: 142px;
    letter-spacing: -.4px;
    font-weight: 500;
    color: #DE2A32;
    text-align: left
}
h3 {
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    color: #444;
    letter-spacing: 1px
}
h4 {
    font-size: 30px;
    line-height: 37px;
    text-align: left;
    color: #242424;
    text-transform: uppercase;
    letter-spacing: -.19px;
    font-weight: 700
}
h5 {
    font-size: 21px;
    letter-spacing: .6px;
    line-height: 31px;
    font-weight: 400
}
h6 {
    font-size: 15px;
    color: #aaa;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px
}
p {
    padding: 0;
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 25px;
    letter-spacing: -.11px;
    color: #4A4A4A
}

.header nav {
    float: none;
    margin: 0;
    width: 100%
}
.pro-nav {
    position: relative
}
.header nav,
.header nav .nav-wrapper i,
.header nav a.button-collapse,
.header nav a.button-collapse i {
    height: auto;
    line-height: normal;
    padding: 10px 0 12px
}
.header nav a.button-collapse {
    display: none
}
.header .z-depth-1,
.header nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0)
}
.brand-logo img {
    display: block;
    width: 100%
}
.header {
    display: block;
    float: left;
    margin: 0;
    padding: 5px 0 15px;
    width: 100%
}
.header nav,
.header nav .nav-wrapper i,
.header nav a.button-collapse,
.header nav a.button-collapse i {
    height: auto;
    line-height: normal;
    padding: 10px 0 4px
}
.header nav {
    float: left;
    margin: 0;
    width: 100%
}
.header nav .pro-menu {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0
}
.header nav .pro-menu li {
    position: relative;
    box-sizing: border-box
}
.header nav .pro-menu li a {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #737373;
    padding: 28px 11px 20px
}
.header nav .pro-menu li a:before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 8px;
    width: 1%;
    height: 2px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0)
}
.header nav .pro-menu li a:hover {
    background: none
}
.header nav .pro-menu li a:hover:before {
    width: 100%;
    background: #4493D7
}
.header nav .pro-menu li:nth-last-child(4) a {
    padding-top: 24px;
    padding-bottom: 19px
}
.header nav .pro-menu li:nth-last-child(4) {
    position: relative;
}
.header nav .pro-menu li:nth-last-child(4) a:hover:before {
    background: none;
    width: 1%
}
.header-without-login.header nav .pro-menu li:nth-last-child(4) a:hover:before {
    width: 100%;
    background: #4493D7
}
.header-without-login.header nav .pro-menu li:nth-last-child(3) a:hover:before {
    width: 100%;
    background: #4493D7
}
.header nav .pro-menu > li:nth-last-child(3) {
    border: 1px solid #EA6D00;
    border-radius: 27.5px;
    float: left;
    margin-right: 0;
    margin-top: 0;
    width: auto;
    padding: 3px;
    box-sizing: border-box;
    margin-top: 13px;
    margin-right: 14px
}
.header nav .pro-menu li:nth-last-child(3) a {
    padding-top: 20px
}
.header nav .pro-menu li:nth-last-child(3) a:hover:before {
    background: none;
    width: 1%
}
.header nav .pro-menu li:nth-last-child(2) a {
    padding-top: 26px
}
.header nav .pro-menu li:nth-last-child(2) a:hover:before {
    background: none;
    width: 1%
}
.header nav .pro-menu li:nth-last-child(1) a {
    padding: 0;
    margin-top: 13px
}
.header nav .pro-menu li:nth-last-child(1) a:hover:before {
    background: none;
    width: 1%
}
.header nav .pro-menu li:nth-last-child(3) a.instal-btn {
    padding: 10px 16px;
    box-sizing: border-box;
    background: #F07524;
    -webkit-border-radius: 27.5px;
    -moz-border-radius: 27.5px;
    border-radius: 27.5px;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 14px;
    font-size: 14px;
    margin: 0;
    position: relative
}
.header nav .pro-menu li:nth-last-child(3) a.instal-btn:hover {
    background: #d0601b
}
.header nav .pro-menu li:nth-last-child(3) a.instal-btn:before {
    content: " ";
    position: absolute;
    height: 106%;
    top: 50%;
    left: 50%;
    border: 1px solid #F07524;
    width: 106%;
    -webkit-border-radius: 27.5px;
    -moz-border-radius: 27.5px;
    border-radius: 27.5px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    min-height: 44px
}
.search-section {
    position: absolute;
    width: 100%;
    left: 0;
    top: 96px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 999
}
.header nav .pro-menu li:nth-last-child(3) a.instal-btn img {
    margin-right: 2px;
    display: inline-block
}
.header nav .button-collapse {
    display: none
}
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%
}
.profile-img img {
    width: 100%;
    height: 100%;
    display: block
}
.nav .pro-menu li:nth-last-child(1) {
    position: relative
}
.drop-down {
    width: 283px;
    position: absolute;
    top: 65px;
    right: 0;
    box-shadow: 0 0 2px #e0e0e0;
    background: #fff;
    z-index: 999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 9px solid #E9F1F8;
    display: none
}
.drop-down .cross-section {
    background: #4493d7 none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 10px;
    width: 100%;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.drop-down .cross-section span {
    float: right;
    width: 11px;
    height: 11px;
    background: url(../images/Close.png) top center no-repeat;
    cursor: pointer
}
.title-section {
    padding: 8px 15px;
    box-sizing: border-box;
    display: table;
    width: 100%
}
.title-section-img {
    display: table-cell;
    vertical-align: middle;
    width: 60px
}
.title-section-text {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
    box-sizing: border-box
}
.img-section {
    border-radius: 50%;
    height: 59px;
    width: 59px
}
.title-section-text p {
    text-align: left;
    font-weight: 700;
    color: #3E3E3E;
    font-size: 15px;
    margin-bottom: 3px;
    text-transform: capitalize
}
.title-section-text span {
    color: #3193CC;
    font-size: 14px;
    font-weight: 700
}
/*.title-section-menu {
    display: inline-block
}*/
.title-section-menu ul {
    list-style: none
}
.title-section-menu ul li {
    width: 100%;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #DADADA;
    background: #fff;
    cursor: pointer;
}
.title-section-menu ul li:hover {
    background: #ECECEC;
}
.title-section-menu ul li:nth-last-child(3) {
    border: none;
    border-bottom: 1px solid #DADADA;
    border-radius: 0;
    width: 100%;
}
.title-section-menu ul li:last-child {
    border-bottom: none;
}
.title-section-menu ul li a {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    display: block;
}
.title-section-menu ul li a img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.search-section .form-control {
    width: 88%;
    font-size: 25px;
    font-weight: 100;
    color: #fff;
    margin-right: 25px;
}
.search-section input:focus:not([type]):not([readonly]),
input[type="text"]:focus:not([readonly]),
.search-section input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
.search-section input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
.search-section input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #F07524;
    box-shadow: 0 1px 0 0 #F07524
}
.search-section input[type="submit"] {
    background: #f07524 none repeat scroll 0 0;
    border-radius: 27.5px;
    box-sizing: border-box;
    color: #fff;
    font-family: "Questrial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    border: 0;
    letter-spacing: 1px;
    float: right;
    min-width: 100px;
    margin: 15px 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear
}
.search-section input[type="submit"]:hover {
    background: #4493D7
}
.header-without-login.header nav .pro-menu li:nth-last-child(4) a {
    padding-top: 29px;
}
.header-without-login.header nav .pro-menu li:nth-last-child(3) a {
    padding-top: 28px
}

.header-without-login.header nav .pro-menu > li:nth-last-child(3) {
    border: 0 none;
    border-radius: 0;
    box-sizing: border-box;
    float: left;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    width: auto
}
.header-without-login.header nav .pro-menu li .login-border a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 10px 11px;
    width: 100%
}
.header-without-login .login-border {
    border-radius: 50px;
    box-sizing: border-box;
    float: left;
    margin-left: 15px;
    margin-right: 2px;
    margin-top: 12px;
    padding: 6px 4px 4px;
    width: 120px
}
.header-without-login.header .pro-login .login:hover {
    background: #0180cf none repeat scroll 0 0
}
.header-without-login.header .pro-signup .signup:hover {
    background: #d45f19
}
.header-without-login.header nav .pro-menu li:nth-last-child(1) a {
    color: #fff;
    margin-left: 0;
    margin-top: 0;
    padding: 10px 5px;
    width: 100%
}
.header.header-without-login li .signup-border {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-left: 2px;
    margin-right: 15px;
    margin-top: 12px;
    padding: 4px 4px 0;
    width: 120px
}
.pro-profile .container {
    width: 100%;
    max-width: 1114px
}
.pro-profile-theme {
    background: #fff;
    padding: 33px 60px;
    box-sizing: border-box
}
.pro-profile-theme h3 {
    font-size: 18px;
    font-weight: 700;
    color: #636363;
    line-height: 23px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E8E9E8
}
.pro-profile-theme h3 a {
    display: inline-block;
    float: right;
    margin-top: 10px;
    text-align: right;
    cursor: pointer;
    width: 19px;
    height: 18px
}
.profile-samary {
    width: 100%;
    display: table;
    border-right: 1px solid #ECEBEB
}
.profile-samary-img {
    display: table-cell;
    width: 119px
}
.profile-samary-text {
    display: table-cell;
    padding-left: 68px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left
}

.profile-samary-img-round img {
    width: 100%;
    height: 100%;
    display: block
}
.profile-samary-text h4 {
    text-align: left;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 26px;
    line-height: 23px;
    color: #3E3E3E;
    margin-bottom: 25px
}
.profile-samary-text p {
    text-align: left;
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1px
}
.profile-samary-text p span {
    font-weight: 700
}
.profile-samary-address {
    padding-left: 55px;
    padding-right: 75px;
    box-sizing: border-box;
    padding-top: 21px;
}
.profile-samary-address h6 {
    font-size: 15px;
    color: #5C5C5C;
    font-weight: 400;
    margin: 0 0 3px;
}
.profile-samary-address p {
    text-align: left;
    font-size: 15px;
    color: #5C5C5C;
    font-weight: 500;
     margin: 0 0 4px;
}
.account-section {
    padding: 80px 70px;
    box-sizing: border-box;
    background: url(../images/Oval5.png) top center no-repeat;
    background-size: cover;
}
.account-section-content h5 {
    font-size: 18px;
    font-weight: 600;
    color: #4B4B4B;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 5px
}
.account-section-content h5 img {
    display: inline-block;
    vertical-align: top;
    width: 23px;
    height: 26px;
    margin-right: 7px
}
.account-section-content p {
    font-size: 16px;
    font-weight: 400;
    color: #3E3E3E
}
.row.account-total-section .col {
    float: none
}
.account-total-section {
    display: table;
    width: 100%
}
.account-section-content {
    display: table-cell;
    vertical-align: middle
}
.account-section-img {
    display: table-cell;
    vertical-align: middle
}
.col.m6.s12.account-section-img > img {
    float: right;
    margin-right: 77px
}
.history-section {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 33px 60px;
    width: 100%
}
.history-section h3 {
    font-size: 18px;
    font-weight: 600;
    color: #636363;
    vertical-align: top;
    padding-bottom: 15px;
    border-bottom: 1px solid #E8E9E8
}
.history-section h3 img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px
}
.date {
    float: left;
    margin-right: 28px
}
.date span {
    color: #636363;
    display: inline-block;
    font-size: 15px;
    margin-top: 5px;
    vertical-align: top
}
.date input[type="date"] {
    width: 140px;
    height: 40px;
    background: #F4F7FD;
    display: inline-block;
    border: 1px solid #DFE6F1;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 0 7px 0 14px;
    vertical-align: middle;
    padding: 0 15px;
    box-sizing: border-box
}
.date input[type="text"] {
    width: 140px;
    height: 40px;
    background: #F4F7FD;
    display: inline-block;
    border: 1px solid #DFE6F1;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 0 7px 0 14px;
    vertical-align: middle;
    padding: 0 15px;
    box-sizing: border-box
}
.date .date-icone {
    width: 34px;
    height: 34px;
    background: url(../images/calendar-day-15.png) top center no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px
}
.clearfix:after {
    clear: both;
    content: ".";
    display: none;
    height: 0
}
.clearfix {
    display: inline-block;
    display: block
}
.table-section {
    padding: 15px 0 5px
}
.table-section table {
    border: 1px solid #E7E7E7
}
.table-section table thead tr th {
    text-align: center;
    background: #F4F7FD;
    padding: 10px
}
.table-section table tbody tr td {
    text-align: center;
    border: 1px solid #E7E7E7
}
.table-section table tbody tr td img {
    margin: 0 auto
}
.table-section table tbody tr td:nth-of-type(1) {
    width: 122px
}
.table-section table tbody tr td:nth-of-type(2) {
    width: 258px
}
.table-section table tbody tr td:nth-of-type(3) {
    width: 210px
}
.table-section table tbody tr td:nth-of-type(4) {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px
}
.cupon-code {
    background: #F3A213;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 10px 0 7px;
    box-shadow: none;
    text-align: center;
    color: #fff;
    display: inline-block;
    min-width: 111px;
    text-transform: uppercase;
    position: relative
}
.cupon-code-cover {
    border: 1px dashed #f07524;
    padding: 2px;
    display: inline-block;
    border-radius: 5px
}
.btn.button.waves-effect.cupon-code-upd:hover,.btn.button.waves-effect.cupon-code-upd:focus,.cupon-code:hover,.cupon-code:focus {
    color: #fff;
    background: #EA6D00;
    box-shadow: inset 15px 8px 35px #F3A213;
}
.table-section .responsive-table {
    margin-bottom: 20px
}
.table-section p {
    font-size: 13px;
    color: #7E7E7E;
    font-weight: 400
}
.tab-section .row .col {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding: 0
}
.tab-section .col.s12.tab-panel {
    background: none;
    padding: 44px;
    box-sizing: border-box
}
.tab-section .tabs {
    background: none
}
.tab-section .my-tab li {
    background: #fff;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.tab-section .my-tab li a {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 35px;
    background: #6B7585;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #BDBDBD;
}
.tab-section .my-tab li a:hover {
    background: none;
    color: #636363;
    border-radius: 0;
    box-shadow: 0px 0px 5px #d8d8d8;
    border: 1px solid #ecc5ac !important;
}

.tab-section .my-tab li a.active {
    border: 1px solid #F78640;
    color: #636363;
    background: #fff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.tab-section .my-tab li a.active:hover {
    background: #fff
}
.tab-section .tabs {
    height: 60px
}
.tab-section .tabs .tab {
    height: 60px;
    line-height: 65px;
    width: auto
}
.tabs .indicator {
    display: none
}
.coupons-listing-section {
    display: inline-block;
    width: 100%
}
.coupons-listing {
    padding: 27px;
    box-sizing: border-box;
    position: relative;
    display: table;
    width: 49%;
    border: 1px solid #E4E4E4;
    float: left;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    margin-bottom: 25px;
    background: #fff;
}
.coupons-listing:hover {
    border: 1px solid #BDBDBD;
    box-shadow: 0 0 5px #e2e0e0
}
.coupons-listing:nth-child(even) {
    float: right
}
.like-section {
    position: absolute;
    width: 37px;
    height: 75px;
    right: 0;
    top: 50%;
    background: none;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%)
}
.my-causes-section-thumnel .icons {
    top: 29%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%)
}
.wish-list-icone {
    width: 37px;
    height: 38px;
    border: 0px solid #E4E4E4;
    border-bottom: 0;
    text-align: center;
    line-height: 47px;
    color: #DF090F;
    display: inline-block
}
.wish-list-icone:hover {
    background: #ECECEC;
    color: #000;
}
     .active2{border: 1px solid #F78640 !important;}
.sh-list-icone {
    border: 0px solid #e4e4e4;
    bottom: 24px;
    height: 38px;
    margin-left: 81px;
    right: 7px;
    width: 37px
}
.coupons-listing-section .like-section .fixed-action-btn-share {
    bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: 0;
    z-index: 998
}
.coupons-listing-section .like-section .sh-list-icone {
    padding: 5px;
    box-sizing: border-box;
    color: #424242;
    background: url(../images/sha-icone.png) no-repeat 50% 50% !important;
}
.coupons-listing-section .like-section .sh-list-icone:hover {
    background: #ECECEC url(../images/sha-icone.png) no-repeat 50% 50% !important;
    color: #000;
}
.coupons-listing-section .like-section .sh-list-icone:hover a i {
    /*color: #000*/
}
/*\ sayan 11/5/17*/
#test2 .coupons-listing-text {
    padding: 0 1px 0 15px;
    width: 225px;
}
#nav-mobile{
    width: 90% !important;
}
#nav-mobile1{
    width: 85% !important;
}
#nav-mobile1 li a.instal-btn.waves-effect img{
    display: inline;}
#nav-mobile1 li a.search.topsearch.searchbtn img{
    padding: 5% 47%;
}
#nav-mobile li div a.waves-effect.waves-light.btn.button.login:hover{
    background: #20709e;}
#nav-mobile li div a.waves-effect.waves-light.btn.button.signup:hover{
    background: #ce4f00;}
#nav-mobile li a.search.topsearch.searchbtn img{
    padding: 0 47%;
}
#test3 .coupons-listing-text {
    width: 230px;
    padding: 3px 2px 0 18px;
}
  #test3 .coupons-listing-text p{ 
    margin: 0 0 12px;}
.coupons-listing-text {
    display: table-cell;
    width: 179px;
    padding: 0 18px;
    box-sizing: border-box;
    vertical-align: top
}
.coupons-listing-text h5 {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    text-align: left;
    margin-bottom: 2px;
    line-height: 32px;
    margin-top: 2px;
}
.coupons-listing-text h5 span {
    width: 50px;
    height: 30px;
    float: right;
    display: inline-block;
    background: url(../images/tag.png) top right no-repeat;
    color: #fff;
    text-align: center;
    text-indent: 10px;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px
}
.coupons-listing-text p {
    font-size: 13px;
    font-weight: 500;
    color: #131313
}
.coupons-listing-copuns {
    display: table-cell;
    vertical-align: middle
}
.coupons-listing-copuns .cupon-listing-code {
    border-radius: 40px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 0
}
.coupons-listing-copuns .cupon-listing-code-cover {
    border: 1px solid #f07524;
    border-radius: 40px
}
.pro-profile .history-section .table-section table tbody tr td{
    width: 258px
}
/*.pro-profile .history-section .table-section table tbody tr td:nth-of-type(1) {
    width: 122px
}
.pro-profile .history-section .table-section table tbody tr td:nth-of-type(2) {
    width: 258px
}
.pro-profile .history-section .table-section table tbody tr td:nth-of-type(3) {
    width: 210px
}
.pro-profile .history-section .table-section table tbody tr td:nth-of-type(4) {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left
}*/
.pro-profile .history-section .table-section .cupon-code-cover .cupon-code:hover {
    background: #ea6d00 none repeat scroll 0 0;
    box-shadow: 15px 8px 35px #f3a213 inset;
    color: #fff
}
.pro-profile .history-section .table-section .cupon-code-cover a:active,
.pro-profile .history-section .table-section .cupon-code-cover a:focus {
    background-color: #f3a213;
    outline: medium none!important;
    text-decoration: none
}
.pro-profile-theme h3 img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top
}

.profile-samary-img-round {
    background: #becbdf none repeat scroll 0 0;
    border-radius: 50%;
    box-sizing: border-box;
    height: 119px;
    padding: 5px;
    width: 119px
}

.account-section-content h5 img {
    display: inline-block;
    height: 26px;
    margin-right: 7px;
    vertical-align: top;
    width: 23px
}
.drop-down .header nav .pro-menu li:nth-last-child(1) a {
    margin-top: 0;
    padding: 0
}
.drop-down .header nav .pro-menu li:nth-last-child(4) a {
    padding-top: 0
}
.drop-down .header nav .pro-menu li:nth-last-child(3) a {
    padding-top: 0
}
.header nav .pro-menu li:nth-last-child(1) a {
    margin-top: 0;
    padding: 0
}
.drop-down {
    background: #fff none repeat scroll 0 0;
    border-bottom: 3px solid #fdfeff;
    border-radius: 5px;
    box-shadow: 0 0 2px #e0e0e0;
    display: none;
    left: -230px!important;
    position: absolute!important;
    right: 0;
    top: 65px!important;
    width: 283px!important;
    z-index: 999
}
.drop-down .title-section-menu ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #dadada;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 20px 15px;
    width: 100%
}
.profile-img {
    border-radius: 50%;
    height: 40px;
    margin-top: 16px;
    width: 40px
}
.Personal-Information .pro-profile-theme {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    margin: 105px 0;
    padding: 60px 60px 0
}
.Personal-Information .theme-change-password {
    padding-top: 0
}
.coupons-listing-merchants {
    display: block;
    width: 100%
}
.merchants-listing {
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    display: table;
    float: left;
    margin: 0 51px 25px 0;
    padding: 17px;
    position: relative;
    width: 30%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear
}
.coupons-listing-copuns .fixed-action-btn-share.horizontal ul {
    right: 29px;
    top: 100%
}
.merchants-listing:nth-of-type(3n) {
    margin-right: 0
}
.merchants-listing-image {
    display: table-cell;
    width: 83px;
    vertical-align: top
}
.merchants-listing-text {
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 10px
}
.merchants-listing-text p {
    color: #131313;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0
}
.like-section .fixed-action-btn-share.horizontal ul {
    height: 100%;
    left: auto;
    right: 30px;
    text-align: right;
    top: 84%;
    transform: translateY(-50%);
    width: 500px
}
.merchants-action-btn .fixed-action-btn a:hover {
    background: #6b7585;
    color: #fff
}
.merchants-listing-text .cupon-listing-code-cover {
    margin-top: 17px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px
}
.merchants-action-btn {
    position: relative
}
.merchants-action-btn .like-section {
    height: 62px;
    left: 0;
    margin: 0;
    padding: 0;
    top: 54px;
    width: 80px
}
.merchants-action-btn .wish-list-icone {
    border-bottom: 1px solid #e4e4e4
}
.merchants-action-btn .fixed-action-btn.horizontal {
    padding: 0
}
.merchants-action-btn .fixed-action-btn a {
    box-sizing: border-box;
    display: block;
    padding: 6px 0 0 6px
}
.coupons-action-btn {
    position: relative
}
.merchants-listing:hover {
    border: 1px solid #3A3F48
}
.merchants-action-btn .fixed-action-btn.horizontal ul {
    right: -102px;
    top: 135%
}
.merchants-action-btn .like-section .fixed-action-btn ul li a {
    padding: 0
}
.Personal-Information .pro-profile-theme h3 img {
    display: inline-block;
    margin-right: 7px;
    margin-top: -12px;
    vertical-align: middle
}
.Personal-Information-form-section {
    display: inline-block;
    padding: 10px 0 0;
    width: 100%
}
.Personal-Information .row .col {
    box-sizing: border-box;
    float: left;
    margin: 0 0 17px;
    min-height: 1px
}
.Personal-Information-form-section .input-field span {
    display: block;
    float: left;
    padding: 9px 0;
    width: 167px;
    font-size: 15px;
    font-weight: 400;
    color: #636363
}
.Personal-Information-form-section .input-field input {
    background: #fdfeff none repeat scroll 0 0;
    border: 1px solid #d8e1ef;
    border-radius: 40px;
    box-sizing: border-box;
    float: left;
    padding: 0 25px;
    width: 75%;
    margin: 0
}
.Personal-Information-form-section input:focus:not([type]):not([readonly]),
input[type="text"]:focus:not([readonly]),
.search-section input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
.search-section input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
.search-section input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #d8e1ef;
    box-shadow: 0 0 0 0 #d8e1ef
}
.Personal-Information-form-section input.valid:not([type]),
input.valid:focus:not([type]),
input.valid[type="text"],
input.valid[type="text"]:focus,
input.valid[type="password"],
input.valid[type="password"]:focus,
input.valid[type="email"],
input.valid[type="email"]:focus,
input.valid[type="url"],
input.valid[type="url"]:focus,
input.valid[type="time"],
input.valid[type="time"]:focus,
input.valid[type="date"],
input.valid[type="date"]:focus,
input.valid[type="datetime"],
input.valid[type="datetime"]:focus,
input.valid[type="datetime-local"],
input.valid[type="datetime-local"]:focus,
input.valid[type="tel"],
input.valid[type="tel"]:focus,
input.valid[type="number"],
input.valid[type="number"]:focus,
input.valid[type="search"],
input.valid[type="search"]:focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus {
    border-bottom: 1px solid #d8e1ef;
    box-shadow: 0 0 0 0 #d8e1ef
}
.birth-day {
    background: none;
    border: 0;
    border-radius: 40px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 45px;
    padding: 0;
    width: auto;
    margin-right: 40px
}
.birth-day input[type="date"] {
    background: #fff;
    border: 1px solid #dfe6f1;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    height: 46px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    width: 195px
}
.birth-day input[type="text"] {
    background: #fff;
    border: 1px solid #dfe6f1;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    height: 46px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    width: 195px
}
.birth-day .date-icone {
    background: url(../images/calendar-day-15.png) no-repeat scroll center top / 100% auto;
    display: inline-block;
    height: 34px;
    margin-top: 6px;
    vertical-align: top;
    width: 34px;
    margin-left: 7px
}
.birth-day label {
    color: #9e9e9e;
    cursor: text;
    font-size: 1rem;
    left: 0;
    position: relative;
    top: 0;
    transition: all .2s ease-out 0
}
.Personal-Information-form-section .input-field span.zip-code {
    width: 76px;
    text-align: right;
    margin-right: 15px
}
.Personal-Information-form-section .input-field.input-field-submit .cupon-code-cover .cupon-code {
    padding: 0;
    width: 183px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px
}
.Personal-Information-form-section .input-field.input-field-submit .cupon-code-cover .cupon-code input[type="submit"] {
    display: block;
    width: 100%;
    border: 0;
    background: none;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 14px 14px 12px
}
.Personal-Information-form-image {
    padding: 13px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    overflow: hidden
}
.Personal-Information-form-image .Personal-Information-form-image-round {
    width: 123px;
    height: 123px;
    border-radius: 50%;
    background: #BECBDF;
    padding: 6px;
    box-sizing: border-box;
    margin: 6px auto;
    position: relative
}
.Personal-Information-form-image .Personal-Information-form-image-round img {
    width: 111px;
    height: 111px;
    border-radius: 50%
}
.Personal-Information-form-image .Personal-Information-form-image-round a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    background: #F5C123;
    font-size: 9px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px
}
.Personal-Information-form-image p {
    color: #454545;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin: 5px 0;
    text-align: center;
    display: block;
}
.pro-profile-theme-change-password {
    padding-top: 0;
    margin-top: 0
}
.pro-profile-theme {
    display: inline-block;
    padding-top: 30px
}
.pro-profile-pass-forgot {
    text-align: center
}
.pass-forgot {
    display: inline-block;
    margin: 49px auto
}
.pro-profile-pass-forgot .pass-forgot img {
    margin: 0 auto;
    width: 34px;
    height: 34px
}
.col.m6.s12.my-causes-section {
    padding: 0 18px
}
.col.m6.s12.my-causes-section:nth-child(odd) {
    padding-left: 0
}
.col.m6.s12.my-causes-section:nth-child(even) {
    padding-right: 0
}
.col.m6.s12.my-causes-section .my-causes-section-thumnel {
    border: 1px solid #DFE3EA;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 23px;
    box-sizing: border-box;
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 30px
}
.col.m6.s12.my-causes-section .my-causes-section-thumnel .
/*my-causes-section-thumnel-image*/

{
    width: 140px;
    display: table-cell;
    vertical-align: top
}
.col.m6.s12.my-causes-section .my-causes-section-thumnel .
/*my-causes-section-thumnel-image*/

img {
    display: block
}
.col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text {
    display: table-cell;
    vertical-align: top;
    padding-left: 22px
}
.col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text h5 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .6px;
    line-height: 28px;
    margin: 0 0 7px;
    padding: 0
}
.col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text p {
    font-size: 15px;
    font-weight: 400;
    color: #4E565E;
    line-height: 21px;
    text-align: left;
    margin: 0 0 7px
}
.col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text p span {
    color: #EE5E05;
    margin-right: 10px
}
.col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text .sim-ext {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #535C60
}
.col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text .sim-ext span {
    font-weight: 600
}
.my-causes-edit {
    position: absolute;
    right: 17px;
    top: 7px
}
.my-causes-edit a {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 18px;
    margin-top: 10px;
    text-align: right;
    width: 19px
}
.col.m6.s12.causes-supported-section {
    box-sizing: border-box;
    padding: 0 18px
}
.col.m6.s12.causes-supported-section:nth-child(odd) {
    padding-left: 0
}
.col.m6.s12.causes-supported-section:nth-child(even) {
    padding-right: 0
}
.causes-supported-section-thumnel {
    border: 1px solid #dfe3ea;
    box-sizing: border-box;
    display: table;
    margin-bottom: 30px;
    padding: 23px;
    position: relative;
    width: 100%
}
.col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-image {
    display: table-cell;
    vertical-align: top;
    width: 118px
}
.col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-image img {
    display: block
}
.col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-text {
    box-sizing: border-box;
    display: table-cell;
    padding: 0 26px 0 20px;
    vertical-align: top
}
.col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-text h5 {
    color: #131313;
    font-size: 22x;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 0;
    text-align: left
}
.col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-text h5 span {
    background: url(../images/tag.png) no-repeat scroll right top;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-indent: 10px;
    width: 50px
}
.col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-text p {
    color: #131313;
    font-size: 15px;
    font-weight: 500
}
.col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-text p span {
    color: #ee5e05;
    margin-right: 10px
}
.causes-supported-section-thumnel .like-section .sh-list-icone {
    box-sizing: border-box;
    color: #424242;
    padding: 5px
}
.causes-supported-section-thumnel .like-section .fixed-action-btn {
    bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: 0;
    z-index: 998
}
.tab-section .tabs .tab {
    height: 60px;
    line-height: 65px;
    max-width: 280px;
    width: auto;
    margin-left: 0
}
    .drop-down-march
    {
    width: inherit !important;
    top: 40px !important;
        /*left: 72.8906px;
        opacity: 1;*/
        /* position: absolute; *
    }

@media screen and (max-width: 1200px) {
    nav .nav-wrapper {
        padding: 0 10px;
        box-sizing: border-box;
        width: 100%
    }
    .pro-profile .container .row {
        margin-left: 0;
        margin-right: 0
    }
    .tab-section .col.s12.tab-panel {
        padding: 44px 20px
    }
    .coupons-listing {
        padding: 5px
    }
}
@media screen and (max-width: 1100px) {
    .merchants-listing:nth-of-type(3n) {
        margin-right: 0
    }
    .merchants-listing {
        margin: 0 40px 25px 0
    }
    .Personal-Information-form-section .input-field span.zip-code {
        border: 0;
        clear: both;
        display: block;
        margin-right: 15px;
        text-align: left;
        width: 155px;
        margin-top: 18px
    }
    .Personal-Information .row .col .zip-code-input {
        float: left;
        margin-top: 0;
        width: 100%
    }
    .Personal-Information-form-section .input-field input {
        background: #fdfeff none repeat scroll 0 0;
        border: 1px solid #d8e1ef;
        border-radius: 40px;
        box-sizing: border-box;
        float: left;
        margin: 0;
        padding: 0 25px;
        width: 100%
    }
    .Personal-Information .row .col {
        box-sizing: border-box;
        float: left;
        margin: 0 0 10px;
        min-height: 1px;
        padding: 0
    }
    .Personal-Information-form-section .input-field span {
        color: #636363;
        display: block;
        float: left;
        font-size: 15px;
        font-weight: 400;
        padding: 5px 0 0;
        width: 167px
    }
    .Personal-Information-form-content .input-field-submit span {
        display: none
    }
    .Personal-Information-form-content .input-field-submit span.cupon-code-cover {
        display: block
    }
    .birth-day .input-field span {
        width: 100%
    }
    .Personal-Information-form-section .input-field .birth-day input {
        background: #fdfeff none repeat scroll 0 0;
        border: 1px solid #d8e1ef;
        border-radius: 40px;
        box-sizing: border-box;
        float: left;
        margin: 0;
        padding: 0 25px;
        width: 70%!important
    }
    .Personal-Information-form-section .input-field span {
        width: 100%
    }
    .birth-day .date-icone {
        float: left
    }
    .causes-supported-section-thumnel {
        padding: 5px
    }
    .col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-image {
        display: block;
        height: 89px;
        margin-bottom: 20px;
        text-align: center;
        width: 100%
    }
    .causes-supported-section-thumnel-text {
        margin: 0 auto;
        max-width: 230px;
        width: 100%
    }
}
@media screen and (max-width: 992px) {
    .header nav .button-collapse {
        display: inline-block
    }
    .header nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        color: #000
    }
    .side-nav li {
        border-bottom: 1px solid #ddd;
        text-align: center
    }
    .side-nav li a img {
        display: inline-block;
        vertical-align: middle
    }
    .profile-img {
        margin: 0 auto 20px
    }
    .header nav a.button-collapse {
        display: inline-block;
        position: relative;
        top: -7px
    }
    .drop-down {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }
    .title-section-menu {
        width: 100%
    }
    .title-section-menu ul li {
        padding: 0
    }
    .title-section-menu ul li a {
        line-height: 50px
    }
    .title-section-text span {
        float: left
    }
    .title-section {
        padding: 8px 15px
    }
    .header nav,
    .header nav .nav-wrapper i,
    .header nav a.button-collapse,
    .header nav a.button-collapse i {
        color: #e95d00
    }
    .header nav,
    .header nav .nav-wrapper i,
    .header nav a.button-collapse,
    .header nav a.button-collapse i:hover {
        color: #4493D7
    }
    .search-section {
        top: 0
    }
    .header-without-login .login-border {
        box-sizing: border-box;
        margin: 10px auto;
        padding: 1px;
        width: 50%;
        float: none
    }
    .header-without-login .side-nav li {
        display: inline-block;
        width: 100%
    }
    .header.header-without-login li .signup-border {
        margin: 10px auto;
        padding: 1px;
        width: 50%;
        float: none
    }
    .container .row {
        margin-left: 0;
        margin-right: 0
    }
    .pro-profile-theme {
        padding: 33px 20px
    }
    .profile-samary-address {
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        margin-top: 30px
    }
    .profile-samary {
        display: block
    }
    .profile-samary-img {
        display: block;
        margin: 0 auto
    }
    .profile-samary-text {
        display: block;
        padding-left: 0;
        padding-top: 20px;
        text-align: center
    }
    .profile-samary-text h4 {
        text-align: center
    }
    .profile-samary-text p {
        text-align: center
    }
    .profile-samary-address h6 {
        text-align: center
    }
    .profile-samary-address p {
        text-align: center
    }
    .header-without-login .login-border {
        box-sizing: border-box;
        float: none;
        margin: 10px auto;
        padding: 1px;
        width: 50%
    }
    .header.header-without-login li .signup-border {
        float: none;
        margin: 10px auto;
        padding: 1px;
        width: 50%
    }
    .button-collapse {
        margin: 0
    }
    .header {
        display: block;
        margin: 0;
        padding: 19px 0;
        float: left;
        width: 100%
    }
    nav .brand-logo {
        left: 50%;
        margin-top: 10px;
        transform: translateX(-50%)
    }
    #nav-mobile {
        width: 280px!important
    }
    #nav-mobile1 {
        width: 280px!important
    }
    .table-section table tbody tr td:nth-of-type(1),
    .table-section table tbody tr td:nth-of-type(2),
    .table-section table tbody tr td:nth-of-type(3),
    .table-section table tbody tr td:nth-of-type(4) {
        width: 100%;
        text-align: left
    }
    .table-section table tbody tr td img {
        margin: 0
    }
    .account-total-section {
        display: block
    }
    .account-section-content,
    .account-section-img {
        display: block
    }
    .account-section .row .col.m6 {
        left: auto;
        margin-left: auto;
        right: auto;
        width: 100%
    }
    .col.m6.s12.account-section-img > img {
        float: none;
        margin: 0 auto
    }
    .account-section-content h5 {
        text-align: center
    }
    .account-section-content p {
        text-align: center
    }
    .history-section {
        padding: 33px 20px
    }
    .account-section {
        padding: 80px 20px
    }
    .table-section table thead tr th {
        padding: 21px 10px
    }
    .table-section table tbody tr td:nth-of-type(4) {
        padding-left: 7px;
        padding-right: 40px;
        text-align: left
    }
    .coupons-listing {
        width: 100%;
        float: none;
        float: left;
        width: 32%
    }
    .coupons-listing-image {
        display: block;
        height: 89px;
        margin-bottom: 20px;
        text-align: center;
        width: 100%
    }
    .coupons-listing-text {
        display: block
    }
    .coupons-listing-copuns {
        display: block
    }
    .coupons-listing-image img {
        display: block;
        margin: 0 auto
    }
    .coupons-listing-copuns {
        display: block;
        text-align: center
    }
    .coupons-listing:nth-child(even) {
        float: left
    }
    .coupons-listing {
        width: 49%
    }
    .coupons-listing:nth-child(even) {
        float: right
    }
    .coupons-listing:nth-child(2n) {
        float: right
    }
    .coupons-listing-text {
        margin: 0 auto;
        max-width: 230px;
        width: 100%
    }
    .pro-profile .history-section .table-section table tbody tr td:nth-of-type(1) {
        width: 100%
    }
    .pro-profile .history-section .table-section table tbody tr td:nth-of-type(2) {
        width: 100%
    }
    .pro-profile .history-section .table-section table tbody tr td:nth-of-type(3) {
        width: 100%
    }
    .pro-profile .history-section .table-section table tbody tr td:nth-of-type(4) {
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        width: 100%
    }
    .merchants-listing {
        width: 46%;
        margin-right: 20px
    }
    .merchants-listing:nth-of-type(2n) {
        float: right;
        margin-right: 0
    }
    .merchants-listing:nth-of-type(3n) {
        margin-right: 0
    }
    .Personal-Information-form-section .input-field span {
        width: 100%
    }
    .Personal-Information-form-content {
        padding-bottom: 30px
    }
    .Personal-Information-form-section .input-field input {
        background: #fdfeff none repeat scroll 0 0;
        border: 1px solid #d8e1ef;
        border-radius: 40px;
        box-sizing: border-box;
        float: left;
        margin: 0;
        padding: 0 25px;
        width: 100%!important
    }
    .Personal-Information .pro-profile-theme {
        background: #fff none repeat scroll 0 0;
        box-sizing: border-box;
        margin: 105px 0;
        padding: 30px 20px 0
    }
    .Personal-Information-form-image {
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 169px;
        padding: 13px;
        text-align: center
    }
    .causes-supported-section-thumnel-text {
        display: block
    }
    .causes-supported-section-thumnel-text h5 {
        color: #131313;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 0;
        text-align: left
    }
    .causes-supported-section-thumnel-text p {
        color: #131313;
        font-size: 15px;
        font-weight: 500
    }
    .col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-text {
        display: block;
        margin: 0 auto;
        max-width: 260px;
        width: 100%
    }
    .col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-image img {
        display: block;
        margin: 0 auto
    }
    .col.m6.s12.causes-supported-section:nth-child(even) {
        padding-left: 0;
        padding-right: 0
    }
    .causes-supported-section-thumnel .like-section {
        top: 37px
    }
    .col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-text h5 {
        text-align: center
    }
    .col.m6.s12.causes-supported-section .causes-supported-section-thumnel .causes-supported-section-thumnel-text p {
        text-align: center
    }
    .causes-supported-section-thumnel {
        padding: 15px 0
    }
}
@media screen and (max-width: 710px) {
    .date {
        float: left;
        margin: 0 7px 20px 0;
        width: auto
    }
    .Personal-Information-form-image .Personal-Information-form-image-round {
        height: 100px;
        width: 100px
    }
    .Personal-Information-form-image .Personal-Information-form-image-round img {
        border-radius: 50%;
        height: 100%;
        width: 100%
    }
    .pass-forgot {
        display: inline-block;
        margin: 70px auto
    }
    .pass-forgot p {
        text-align: center
    }
    .col.m6.s12.my-causes-section .my-causes-section-thumnel .
    /*my-causes-section-thumnel-image*/
    
    {
        display: block;
        margin-bottom: 20px;
        text-align: center;
        vertical-align: top;
        width: 100%
    }
    .col.m6.s12.my-causes-section .my-causes-section-thumnel {
        display: block;
        margin-bottom: 30px;
        width: 100%
    }
    .col.m6.s12.my-causes-section .my-causes-section-thumnel .
    /*my-causes-section-thumnel-image*/
    
    img {
        display: block;
        margin: 0 auto
    }
    .col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text h5 {
        text-align: center
    }
    .col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text p {
        text-align: center
    }
    .col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text .sim-ext {
        text-align: center
    }
    .col.m6.s12.my-causes-section .my-causes-section-thumnel .my-causes-section-thumnel-text {
        display: table-cell;
        padding-left: 0;
        vertical-align: top
    }
}
@media screen and (max-width: 600px) {
    
    .profile-samary {
        border-right: 0;
        border-bottom: 1px solid #e8e9e8;
        border-bottom: 1px solid #e8e9e8;
        border-right: 0 none;
        padding-bottom: 20px;
        display: block
    }
    .profile-samary-img {
        display: block;
        width: 100%
    }
    .profile-samary-text {
        box-sizing: border-box;
        display: block;
        padding-left: 0;
        padding-top: 30px;
        text-align: center;
        vertical-align: top;
        width: 100%
    }
    .profile-samary-img-round {
        margin: 0 auto
    }
    .profile-samary-text h4 {
        text-align: center
    }
    .profile-samary-text p {
        text-align: center
    }
    .profile-samary-address h6 {
        text-align: center
    }
    .profile-samary-address p {
        text-align: center
    }
    .table-section p {
        text-align: center
    }
    .like-section {
        top: 35px
    }
    .merchants-listing {
        margin-right: 20px;
        width: 100%
    }
    .pass-forgot {
        display: inline-block;
        margin: 0 auto
    }
    .col.m6.s12.my-causes-section:nth-child(2n+1) {
        padding-left: 0;
        padding-right: 0
    }
    .col.m6.s12.my-causes-section:nth-child(2n) {
        padding-left: 0;
        padding-right: 0
    }
    .tab-section .tabs .tab {
        height: 60px;
        line-height: 65px;
        margin-left: 0;
        max-width: 150px;
        width: auto
    }
    .tab-section .my-tab li a {
        padding: 0 10px
    }
    .col.m6.s12.causes-supported-section:nth-child(odd) {
        padding-left: 0;
        padding-right: 0
    }
}
@media screen and (max-width: 480px) {
    .coupons-listing {
        display: inline-block;
        float: none;
        margin: 0 auto 20px;
        max-width: 280px;
        width: 100%
    }
    .coupons-listing:nth-child(2n) {
        float: none
    }
    .coupons-listing-section {
        text-align: center
    }
}
.merchants-listing-text div.cupon-code-border span.btn {
    min-width: 100%;
    display: block
}
.pagination li.active {
    background-color: #444!important
}
.terms .row > h2 {
    font-size: 44px;
    line-height: 90px;
    letter-spacing: -.4px;
    font-weight: 600;
    color: #523435;
    text-align: -webkit-center
}
.terms .row > p {
    line-height: 34px;
    letter-spacing: .6px;
    font-weight: 300
}
.terms .row > h1 {
    font-size: 2em;
    margin: .67em 0;
    padding: 10px
}
.terms .row {
    text-align: center;
    padding: 46px
}
.hiw .row {
    text-align: center;
    padding: 46px
}
.hiw .row> h1 {
    font-size: 2em;
    margin: .67em 0;
    padding: 10px
}
.hiw .row> p {
    text-align: center;
    line-height: 34px;
    letter-spacing: .6px;
    font-weight: 300
}
.Country input[type="text"] {
    background: #fff;
    border: 1px solid #dfe6f1;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    height: 46px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    width: 190px
}
.Country {
    background: none;
    border: 0;
    border-radius: 40px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 45px;
    padding: 0;
    width: auto;
    margin-right: 40px
}
.state input[type="text"] {
    background: #fff;
    border: 1px solid #dfe6f1;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    height: 46px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    width: 210px
}
.state {
    background: none;
    border: 0;
    border-radius: 40px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 45px;
    padding: 0;
    width: auto;
    margin-right: 40px
}
favouite,
share {
    cursor: pointer
}
.collapsible-body div span,
.collapsible-body ol li {
    margin: 0;
    padding: 5px 50px 10px!important;
    font-size: 15px;
    color: #4A4A4A
}
p .checkslatest {
    position: relative;
    opacity: 21!important;
    left: 661px!important;
    top: 1677px!important
}
.drop-down-mob {
    width: 283px!important;
    position: absolute;
    top: 55px!important;
    right: 0;
    box-shadow: 0 0 2px #e0e0e0;
    background: #fff;
    z-index: 999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 2px solid #E9F1F8;
    display: none;
}
.drop-down-mob .cross-section {
    background: #4493d7 none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 10px;
    width: 100%;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.drop-down-mob .cross-section span {
    float: right;
    width: 11px;
    height: 11px;
    background: url(../images/Close.png) top center no-repeat;
    cursor: pointer
}
.social-display{display: none;}
.display-toggle{display: block;}
.deals-block{display: block;}
.deals-block:after{clear: both;content: "";visibility: hidden;display: block;height: 0px;}
#map{width: 100%;height: 290px;margin-bottom: 20px;}
