font-face {
    font-family: 'questrialregular';
    src: url(../fonts/questrial/questrial-regular-webfont.woff2) format("woff2"), url(../fonts/questrial/questrial-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
img {
    display: block
}
body {
    font-family: 'Oxygen', sans-serif;
    overflow-y: auto!important;
    overflow-x: hidden
}
.full-wrapper {
    width: 100%;
    float: left
}
.clr {
    clear: both;
    padding: 0;
    margin: 0;
    font-size: 0
}
header {
    background: #fff
}
.top-fixed {
    position: fixed;
    top: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 10
}
header .row {
    margin-bottom: 0
}
.logo {
    width: 18%;
    min-width: 202px;
    float: left;
    margin: 8px 0
}
header .head-right-button {
    width: auto;
    float: right;
    margin: 0
}
.button {
    background: #F77423;
    border-radius: 22px;
    padding: 3px 1.3rem;
    height: inherit;
    font-size: 13px;
    font-weight: 300;
    text-transform: none;
    line-height: 30px;
    margin: 4px;
    box-shadow: none
}
.codecol {
    color: red
}
.login {
    background: #2F98D4;
    border: 5px double;
    box-shadow: none
}
.login:hover {
    background: #20709e;
    box-shadow: none
}
.signup {
    background: #F77423;
    border: 5px double;
    box-shadow: none
}
.signup:hover {
    background: #ce4f00;
    box-shadow: none
}
.login-border {
    border-radius: 36px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-right: 6px
}
.signup-border {
    border-radius: 36px;
    width: auto;
    float: left;
    margin-top: 13%
}
nav {
    height: auto;
    width: auto;
    float: left;
    box-shadow: none;
    line-height: normal;
    background: none;
    margin: 36px 0 0 2%
}
header {
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 10
}
.top-spacer {
    height: 94px;
    float: left;
    width: 100%
}
header i {
    color: #000
}
.button-collapse {
    display: none
}
#sidenav-overlay {
    z-index: 9
}
nav ul a {
    color: #5F5F5F;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    padding: 0 10px
}
nav ul a:hover,
nav ul a.active {
    color: #000;
    background: #fff
}
.header-right {
    width: 40%;
    float: right;
    margin: 24px 0 0
}
.header-right .dp {
    width: 43px;
    height: auto;
    float: right;
    border-radius: 50%;
    position: relative
}
.header-right .dp img {
    border-radius: 50%
}
.header-right .notification {
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) no-repeat 0 -135px;
    float: right;
    margin: 14px 2% 0;
    cursor: pointer
}
.header-right-install-border {
    border: 1px solid #F77423;
    border-radius: 36px;
    width: auto;
    float: right
}
.header-right-install-but {
    font-family: 'questrialregular';
    font-size: 13px;
    font-weight: lighter;
    background: #F77423;
    box-shadow: none;
    border-radius: 32px;
    padding: 5px 10px 5px 21px;
    background-image: url(../images/install-cashpack-button.png);
    background-repeat: no-repeat;
    background-position: center left 7px;
    background-size: 7%;
    margin: 2px
}
.header-right-install-but:hover,
.side-nav a.btn:hover {
    background: #ce4f00 url(../images/install-cashpack-button.png)no-repeat;
    background-position: center left 7px;
    background-size: 7%;
    box-shadow: none
}
.head-search {
    width: 145px;
    height: 45px;
    float: left;
    border-radius: 32px
}
.head-search .search-input {
    border: 0;
    border-bottom: 0;
    width: 110px;
    height: 45px;
    border-radius: 32px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    padding: 0 5px 0 30px;
    background: url(../images/sprite.png) no-repeat 9px -153px;
    font-family: 'Questrial', sans-serif;
    font-size: 13px;
    font-weight: 300
}
.head-search input:not([type]):focus:not([readonly]),
.head-search input[type=text]:focus:not([readonly]) {
    outline: 0;
    border: 0;
    border-bottom: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
}
.video-playBut {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 20% 0 0 -37.5px;
    background: url(../images/play-button.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    cursor: pointer
}
.shopping-install {
    padding: 60px 0 50px;
    background: #F1F5F9
}
.shopping-install .headline {
    font-family: 'Oxygen', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 9% 0 13px;
    float: left
}
.shopping-install .sub-head {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 88%;
    margin: 10px 0 9px;
    float: left
}
.shopping-install p {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight: 400
}
.shopping-install .button {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 32px;
    padding: 10px 1.3rem
}
.shopping-install .but-icon1 {
    background-image: url(../images/shoppung-icon.png);
    background-repeat: no-repeat;
    background-position: center left 15px;
    padding-left: 40px;
    background-size: 20px
}
.shopping-install .but-icon2 {
    background-image: url(../images/install-cashpack-button.png);
    background-repeat: no-repeat;
    background-position: center left 15px;
    padding-left: 40px
}
.shopping-install .login-border,
.shopping-install .signup-border {
    margin-top: 15px
}
.coupon-scroll {
    padding: 40px 0 30px;
    background: #fff
}
.coupon-scroll .row .col.m3.coupon-scroll-tabs {
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    padding-bottom: 18px;
    width: 100%
}
 .coupon-scroll.top-merchants .tabInner .txt {
    height: 100px;
     font-size: 16px;
}
.coupon-scroll h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
    text-transform: capitalize
}
.coupon-scroll .sub-head {
    font-size: 16px;
    font-weight: 300;
    width: 90%;
    max-width: 680px;
    text-align: center;
    margin: 0 auto 50px;
    float: none;
    line-height: normal
}
.coupon-scroll .tabInner {
    width: 85%;
    height: auto;
    margin: 0 auto
}
.coupon-scroll .tabInner .top {
    padding: 30px 0;
    height: auto;
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}
.coupon-scroll .tabInner .top .img {
    margin: 0 auto
}
.coupon-scroll .tabInner .txt {
    padding: 30px 0;
    height: 132px;
    float: left;
    width: 100%;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis
}
.cupon-code-border {
    border: none !important; 
    border-radius: 9px;
    margin: 16px auto;
    max-width: 143px;
    width: 100%;
    padding: 3px
}
.coupon-scroll .tabInner .txt.landingowl2{
    height: 108px;
}
.coupon-scroll .cupon-code {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    padding: 8px 0;
    width: 100%;
    margin: 0;
    cursor: pointer
}
.coupon-scroll .cupon-code:hover {
    /*box-shadow: inset 15px 8px 35px #F3A213;*/
    color: #fff
}

.icons .star {
    width: 36px;
    height: 35px;
    float: left;
    border: 0 solid #D1D1D1;
    z-index: 1;
    border-top: 0
}
.icons .share {
    width: 36px;
    height: 35px;
    float: left;
    background: url(../images/sprite.png) no-repeat left 8px top -17px;
    border: 0 solid #D1D1D1;
    z-index: 1;
    border-top: 0
}
.right-icons-pan .star {
    width: 36px;
    height: 35px;
    float: left;
    border: 0 solid #D1D1D1;
    z-index: 1;
    border-top: 0
}
.right-icons-pan .share {
    width: 36px;
    height: 35px;
    float: left;
    background: url(../images/sprite.png) no-repeat left 9px top -17px;
    border: 0 solid #D1D1D1;
    z-index: 1;
    border-top: 0
}
.coupon-scroll .row .col.m3.coupon-scroll-tabs:hover {
    border: 1px solid rgba(0, 0, 0, 0.8)
}
.coupon-scroll .row .col.m3.coupon-scroll-tabs:hover .cupon-code-border {
    border: 1px dashed #F47121
}
.coupon-scroll .row .col.m3.coupon-scroll-tabs:hover .icons .star {
    background: #4AA5D9;
    border: 0;
    box-shadow: none
}
.new-cupon {
    background: #F1F5F9;
    padding-top: 60px;
    margin-bottom: 50px
}
.new-cupon .row {
    margin-bottom: 0
}
.new-cupon .headline {
    font-family: 'Oxygen', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 90px 0 25px;
    float: left
}
.featured-coupons {
    padding: 16px 0 0;
    padding-top: 0
}
.time-count {
    width: auto;
    height: auto;
    border: 1px solid #D2EABA;
    border-radius: 15px;
    position: absolute;
    left: 12px;
    top: 5px;
    background: #fff;
    background: url(../images/sprite.png) no-repeat 1px -98px;
    padding: 0 7px 0 26px;
    font-size: 12px;
    line-height: 22px;
    color: #417505
}
.featured-coupons .row .col.m3.coupon-scroll-tabs {
    padding-bottom: 0;
    width: 22.5%;
    margin-right: 2%
}
.featured-coupons .row .col.m3.coupon-scroll-tabs:last-child {
    margin-right: 20px;
    margin-top: 20px
}
.coupon-scroll.featured-coupons .tabInner .top {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    margin: 36px auto 0;
    float: none
}
.coupon-scroll.featured-coupons .tabInner .top .img {
    margin: 14% auto 0
}
.coupon-wraper-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: inline-block
}
.featured-coupons h2 {
    color: #3e3839;
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    font-size: 32px;
    padding-bottom: 23px;
    margin-bottom: 35px;
    line-height: 42px
}
.search-bar {
    width: 530px;
    height: 50px;
    background: #fff;
    float: left;
    margin: 0 0 0 -265px;
    position: relative;
    left: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    overflow: hidden
}
.search-bar-left {
    width: 85%;
    height: 50px;
    float: left
}
.search-bar-left .txtbox {
    width: 90%;
    height: 50px;
    border: 0;
    background: none;
    padding: 0 5%
}
.search-bar-left .txtbox:hover {
    outline: none;
    border: 0
}
.search-bar-left .txtbox::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #696969
}
.search-bar-right {
    width: 15%;
    height: 50px;
    float: left
}
.search-bar-right .submit {
    width: 100%;
    height: 50px;
    border: none;
    background-color: none;
    background: url(../images/sprite.png)no-repeat 35px -49px
}
footer {
    background: #4A5159;
    padding: 27px 0 8px
}
.footer-logo {
    width: 85%;
    max-width: 190px;
    height: auto;
    float: left
}
.footer-nav {
    width: 100%;
    float: left;
    text-align: center;
    margin: 3% 0 0
}
.footer-nav a {
    color: #AFB5BF;
    font-weight: 300;
    padding: 0 1%
}
.footer-nav a:hover {
    color: #fff;
    font-weight: 300
}
.f-social-left {
    width: 40%;
    color: #AFB5BF;
    float: left;
    font-size: 12px;
    margin: 6% 0 0
}
.f-social-right {
    width: 60%;
    height: auto;
    float: left;
    margin: 3% 0 0
}
.f-social-tabs {
    width: 25%;
    height: auto;
    float: left
}
.f-social-tabs img {
    width: 85%;
    margin: 0 auto
}
.footer-bottom-row {
    text-align: center;
    color: #AFB5BF;
    font-size: 14px;
    font-weight: 300
}
.footer-bottom-icons {
    width: 84px;
    height: auto;
    float: none;
    margin: 15px auto 0
}
.load-more {
    width: 100%;
    float: left;
    text-align: center;
    display: none
}


#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 30px;
    background: url(../images/scroll-top.png) no-repeat;
    background-size: contain;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity .2s ease-out;
    display: none
}
#back-to-top.show:hover {
    opacity: 1
}
#back-to-top.show {
    opacity: .5;
    display: block
}
.top-merchants {
    background: #E4ECF2
}
.top-merchants h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    text-transform: capitalize
}
.top-merchants .sub-head {
    font-size: 18px;
    font-weight: 400;
    width: 90%;
    max-width: 680px;
    text-align: center;
    margin: 0 auto 50px;
    float: none;
    color: #4A4A4A;
}
.coupon-scroll.top-merchants .row .col {
    padding-left: 0;
    padding-right: 0
}
.coupon-scroll.top-merchants .row .col.m3.coupon-scroll-tabs {
    border: 0;
    background: #fff
}
.top-img {
    width: 100%;
    text-align: -webkit-center;
    height: auto;
    float: left;
    border-bottom: 5px solid #4CA7DA;
    position: relative
}
.top-merchants-numbers {
    width: 39px;
    height: 32px;
    background: url(../images/top-merchants-number.png) no-repeat;
    position: absolute;
    left: 50%;
    bottom: 0;
    padding-top: 23px;
    margin: 0 0 -26px -19.5px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    text-align: center;
    box-sizing: initial
}

.coupon-scroll.top-merchants .tabInner .txt span {
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    float: left
}
.coupon-scroll.top-merchants .cupon-code {
    border-radius: 27px
}
.coupon-scroll.top-merchants .cupon-code-border {
    border-radius: 27px !important;
    border: 1px solid #F47121 !important;
}
.coupon-scroll.top-merchants .row .col.m3.coupon-scroll-tabs:hover .cupon-code-border {
    border: 1px solid #F47121
}
.top-merchants .icons {
    width: 36px;
    height: 72px;
    position: absolute;
    left: 90%;
    right: 5px!important;
    top: 0;
    z-index: 1
}
.top-merchants .icons .star {
    width: 36px;
    height: 35px;
    float: left;
    border: 0 solid #D1D1D1;
    z-index: 1;
    border-top: 0
}
.top-merchants .icons .share {
    width: 36px;
    height: 35px;
    float: left;
    background: #fff url(../images/sprite.png) no-repeat left 9px top -17px;
    border: 0 solid #D1D1D1;
    z-index: 1;
    border-top: 0
}
a .view-all {
    background: #4d5644;
    border-radius: 18px;
    padding: 8px 0;
    float: none;
    width: 135px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: normal;
    font-family: 'Oxygen', sans-serif;
    line-height: 20px;
    margin: 0 auto
}
.cupons-list-main {
    background: #E7EEF3;
    padding: 50px 0;
    margin-top: -50px
}
.cupons-list {
    width: 90%;
    height: auto;
    margin: 0 auto
}
.cupons-list ul li {
    list-style-type: none;
    float: left;
    width: 100%;
    margin: 0 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #fff;
    cursor: pointer
}
.cupons-list ul li:hover {
    border: 1px solid rgba(0, 0, 0, 0.8)
}
.container .cupons-list .row {
    margin: 0;
    position: relative;
    height: 100px
}
.cupons-list .col.left img {
    width: 100%;
    max-width: 90px;
    float: none;
    margin: 24px auto 0
}
.cupons-list .col.middle {
    padding-top: 7px;
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}
.cupons-list .col.middle.right-tab {
    border: 0
}
.middle-inner {
    width: 74%;
    height: auto;
    float: left
}
.cupons-list .time-count {
    left: inherit;
    right: 2%;
    top: 22%;
    font-weight: 300
}
.cupons-list .col.right {
    position: relative;
    top: -4px
}
.cupons-list .cupon-code-border {
    width: 112px;
    float: left;
    margin: 29px 0 0 2%
}
.cupons-list .cupon-code {
    width: 100%;
    min-width: initial
}
.cupons-list ul li:hover .cupon-code {
    box-shadow: none
}
.cupons-list ul li:hover .cupon-code-border {
    border-color: rgba(0, 0, 0, 0.6)
}
.cupons-list .icons {
    
    position: absolute;
    left: initial;
    right: 0;
    top: 15px;
    width: 36px;
    height: 35px;
    float: left;
    border: 0 solid #D1D1D1;
    z-index: 1;
    cursor: pointer
}
.cupons-list .icons .share {
    width: 36px;
    height: 35px;
    float: left;
    background: url(../images/sprite.png) no-repeat left 9px top -17px;
    border: 0 solid #D1D1D1;
    z-index: 1;
    border-top: 0
}
.cupons-list ul li:hover .icons .star {
    border: 0;
    box-shadow: none
}
.
/*cupons-list ul li:hover .icons .share{background:#51657C url(../images/sprite.png) no-repeat left -24px top -17px;border:0;box-shadow:none}*/

.black-overlay {
    position: fixed!important;
    width: 100%;
    height: 100%;
    z-index: 12;
    background: rgba(0, 0, 0, 0.5);
    display: block!important
}
.popup-form {
    width: 400px;
    max-height: auto!important;
    left: 50%;
    margin: 9% 0 0 -200px;
    position: absolute;
    z-index: 14;
    background: #fff;
    border-radius: 5px;
    padding: 40px 0;
    display: none
}
.popup-form.modal {
    max-height: 900px!important;
    overflow: visible;
    top: -15%!important;
    position: fixed
}
.popup-form-head {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 20px
}
.popup-form-head span {
    font-size: 18px;
    font-weight: 700;
    width: 100%
}

.facebook-but-border {
    border: 1px solid #4665AC;
    border-radius: 36px;
    width: 100%;
    float: left
}
.facebook-but {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    letter-spacing: .06em;
    font-weight: 500;
    background: #4665AC url(../images/sprite.png) 20px -199px;
    box-shadow: none;
    border-radius: 32px;
    padding: 6px 20px 12px 33px;
    background-repeat: no-repeat;
    margin: 2px;
    width: 98.5%
}
.facebook-but:hover {
    box-shadow: none;
    background-color: #2C447C;
    color: #f0f8ff
}
.g-plus-but-border {
    border: 1px solid #DF4D3A;
    border-radius: 36px;
    width: 100%;
    float: left
}
.g-plus-but {
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    letter-spacing: .06em;
    font-weight: 300;
    background: #DF4D3A url(../images/sprite.png) 24px -201px;
    box-shadow: none;
    border-radius: 32px;
    padding: 5px 10px 5px 21px;
    background-repeat: no-repeat;
    margin: 2px;
    width: 98.5%
}
.g-plus-but:hover {
    box-shadow: none;
    background-color: #ad3829
}
.popup-devider {
    width: 250px;
    height: 1px;
    position: relative;
    margin: 34px auto 0;
    background: url(../images/popup-devider.png);
    background-repeat: repeat-x
}
.popup-or {
    width: 55px;
    height: 55px;
    position: absolute;
    background: #E5E5E5;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    color: #848484;
    line-height: 35px;
    left: 50%;
    margin: -27px 0 0 -17px;
    border: 10px solid #fff
}
.popup-inner {
    width: 250px;
    height: auto;
    position: relative;
    margin: 34px auto 0
}
.popup-inner [type="checkbox"] + label.remLog {
    color: #000;
    font-size: 14px;
    line-height: 19px;
    padding-top: 11px;
    position: relative;
    margin-top: 3%;
}
.popup-inner [type="checkbox"].filled-in:not(:checked) + label:after {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
        top: 10px;

}
.popup-inner [type="checkbox"].filled-in:checked + label:before {
    top: 2px;
    left: 3px;
    width: 7px;
    height: 10px
}
.popup-inner input[type=email],
.popup-inner input[type=password] {
    border: 1px solid #1f1e1e;
    margin: 22px 0 0;
    outline: none;
    border-radius: 50px;
    padding-left: 9%;
    padding-right: 9%;
    width: 80%
}
.popup-inner [type="checkbox"].filled-in:checked + label.remLog:before {
    top: 12px;
    left: 2px;
    width: 7px;
    height: 10px;
    position: absolute
}
.popup-inner [type="checkbox"].filled-in:checked + label.remLog:after {
    border-radius: 50%;
    background: #4CA7DA;
    border-color: #4CA7DA;
    position: absolute;
    top: 10px;
}
a.modal-action.modal-close.waves-light.forgetpasswardpopup{
    color: #4CA7DA;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 600;}
.popup-inner input[type=email]:focus:not([readonly]) + label,
.popup-inner input[type=password]:focus:not([readonly]) + label {
    color: #4CA7DA
}
.popup-inner .input-field label.active {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%)
}
.popup-inner input[type=email]:focus:not([readonly]),
.popup-inner input[type=password]:focus:not([readonly]) {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: none
}
.popup-inner input[type=email].ng-dirty,
.popup-inner input[type=password].ng-dirty  {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: none;
    background: rgba(255, 29, 0, 0.3)
}
.popup-inner input[type=password].ng-dirty::-webkit-input-placeholder,.popup-inner input[type=email].ng-dirty::-webkit-input-placeholder {
    color: black;
}
.popup-inner input[type=email].ng-valid,
.popup-inner input[type=password].ng-valid {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: none;
    background: rgba(0, 255, 20, 0.2)
}
.popup-inner input[type=email].ng-pristine,
.popup-inner input[type=password].ng-pristine {
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    box-shadow: none;
    background:none;
}
.popup-inner input[type=email].ng-untouched,
.popup-inner input[type=password].ng-untouched {
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    box-shadow: none;
    background:none;
}
.popup-inner .input-field {
    margin-top: 0
}
.popup-close {
    width: 13px;
    height: 13px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: url(../images/sprite.png) no-repeat -4px -303px;
    cursor: pointer
}
.popup-inner .but-wrapper {
    margin-top: 0
}
.popup-but-border {
    border-radius: 36px;
    width: 100%;
    float: left
}
.popup-but {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    letter-spacing: .06em;
    font-weight: 300;
    box-shadow: none;
    border-radius: 32px;
    padding: 12px 10px 12px 21px;
    background-repeat: no-repeat;
    margin: 4px;
    width: 96.5%;
    cursor: pointer
}
.popup-but:hover {
    box-shadow: none
}
.login-border {
    border-color: #2F98D4
}
.signup-border {
    border-color: #F47121
}
.login-border .popup-but {
    background: #2F98D4;
    height: 50px
}
.login-border .popup-but:hover {
    background: #2278a9
}
.login-border .popup-but.signup {
    background: #F47121
}
.login-border .popup-but.signup:hover {
    background: #bd510e
}
.breadcamb-wrapper {
    background: #EDF3F8;
    min-height: 48px
}
.breadcamb-wrapper nav {
    margin: 15px 0 10px -2%;
    height: auto!important
}
.breadcamb-wrapper .breadcrumb {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    padding-left: 20px;
    background: url(../images/bradecam-img.png) left center no-repeat;
    padding-left: 4px;
    margin-right: 10px;
    color: #768390;
    font-size: 14px
}
.breadcamb-wrapper .breadcrumb:first-child {
    background-image: none
}
.breadcamb-wrapper .breadcrumb:before {
    content: '';
    color: #768390;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    margin: 3px 7px 0 6px;
    -webkit-font-smoothing: antialiased
}
.breadcamb-wrapper .breadcrumb.first:before {
    content: '';
    color: #768390;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    margin: 3px 7px 0 6px;
    -webkit-font-smoothing: antialiased
}
.breadcamb-wrapper .breadcrumb:last-child {
    color: #575F67;
    font-weight: 700
}
.cupons-list-page {
    background: #F9FCFF;
    padding: 50px 0;
    margin-top: 0
}
.cupons-list-page .tabs {
    background: none;
    text-align: left;
    right: 0;
    width: 27%
}
.cupons-list-page ul:not(.browser-default) {
    border-bottom: 1px solid #B6C3D0
}
.cupon-Merchant {
    width: 100%;
    max-width: 222px;
    margin: 0 auto;
    height: 200px;
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2)
}
.cupon-Merchant-right {
    position: relative;
    padding-top: 36px
}
.cupon-Merchant-right .txt {
    width: 90%;
    float: left;
    margin: 0 0 0 2%;
    font-size: 14px
}
.cupon-Merchant-right .head-txt {
    width: 1000px;
    margin-bottom: 17px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #54616F;
    float: left
}
.cupon-Merchant-right .head-txt span {
    width: auto;
    float: left;
    position: relative;
}
.cupon-Merchant-right .head-txt .icon-tab {
    width: 55px;
    height: auto;
    float: left;
    margin: 29px 0 0 12px
}
.cupon-Merchant-right .head-txt .icon-tab .icons {
    width: 15px;
    height: auto;
    float: left;
    margin: 0 11px 0 0;
    position: relative;
    left: inherit;
    /*top: -20px*/
}
.cupon-Merchant-right .tag {
    width: 40px;
    height: 59px;
    float: left;
    background: url(../images/tag1.png) no-repeat;
    padding-top: 23px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    text-align: center
}
.cupon-Merchant-right .button-wrap {
    margin-top: 20px;
    width: 100%;
    float: left;
    height: auto
}
.cupon-Merchant-right .sub-but {
    background: #fff;
    border: 1px solid #2F98D4;
    color: #2F98D4;
    padding: 2px 1.3rem
}
.cupon-Merchant-right .sub-but:hover {
    background: #2F98D4;
    border: 1px solid #2F98D4;
    color: #fff;
    padding: 2px 1.3rem
}
.cupon-tab-container .tab-head {
    width: auto!important;
    padding: 0;
    margin-right: 20px
}
.tabs .tab a {
    padding: 0;
    text-transform: none;
    color: #000;
    font-weight: 700
}
.tabs .tab a:hover {
    color: #2D91CB;
    border-color: #2D91CB
}
.tabs .tab a.active {
    color: #2D91CB;
    border-color: #2D91CB
}
.tabs .indicator {
    background-color: #2D91CB
}
.cupons-list-page .cupons-list {
    width: 100%
}
.cupons-list .middle-inner {
    text-align: left;
    font-weight: 300;
    padding-left: 4%
}
.expires {
    background: url(../images/sprite.png) no-repeat 1px -326px
}
.right-tab .expires {
    margin-right: 29px
}
.cupons-list-page .cupons-list .icons .star {
    cursor: pointer
}
.cupons-list-page .cupons-list .icons .share {
    background: url(../images/sprite.png) no-repeat 8px -17px;
    cursor: pointer
}

.category-search-border {
    width: 86%;
    border: 1px solid #CCD9E3;
    border-radius: 50px;
    max-width: 225px;
    padding: 3px;
    float: right
}
.category-search {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: 600;
    box-shadow: none;
    border-radius: 32px;
    padding: 9px 10px 7px 12px;
    background: #4CA7DA url(../images/category-search-drop.png) 90% 55%;
    background-repeat: no-repeat;
    width: 96.5%;
    text-align: left
}
.category-search i {
    float: left;
    margin-right: 6%
}
.category-search:hover {
    box-shadow: none
}
.all-merchants-top-left {
    position: relative
}
.category-select-mega {
    position: absolute;
    width: 100%;
    height: auto;
    top: 72px;
    left: 0;
    background: #fff;
    z-index: 8;
    border-radius: 12px;
    display: none;
    box-shadow: 0 2px 34px rgba(0, 0, 0, 0.3)
}
.show {
    display: block !important;
    
}
.noData-text{
    color: #4a5159;
    text-decoration: underline;
    cursor: pointer;
}
.category-select-mega-top {
    width: 100%;
    height: 34px;
    float: left;
    position: relative;
    background: #667384;
    border-radius: 12px 12px 0 0;
}
.category-select-submit {
    background: #a1a79a;
    border: 0;
    border-radius: 18px;
    padding: 0 18px;
    margin: 8px 35px 0 0;
    float: right;
    font-size: 13px;
    color: #fff;
    line-height: normal;
    font-family: 'Oxygen', sans-serif
}
.mega-bottom {
    width: 96%;
    height: auto;
    float: none;
    margin: 0 auto
}
.mega-bottom .col {
    border-right: 1px solid #D8D8D8
}
.mega-bottom .col:last-child {
    border-right: none
}
.mega-bottom ul {
    float: left
}
.mega-bottom li {
    list-style-type: none;
    width: 100%;
    float: left;
    margin-bottom: 8px
}
.mega-bottom li .input-wrap {
    width: 100%;
    float: left
}
.mega-bottom li ul {
    margin-top: 10px
}
.mega-bottom li ul li {
    margin-left: 8%;
    width: 92%
}
.mega-bottom [type="checkbox"]+label {
    color: #444F5D;
    font-size: 14px
}
.mega-bottom [type="checkbox"]+label:before,
.mega-bottom [type="checkbox"]:not(.filled-in)+label:after {
    border: 1px solid #A7B5BF;
    margin-top: 4px;
    width: 15px;
    height: 15px
}
.mega-bottom [type="checkbox"]:checked+label:before {
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a
}
#vertical-scrollbar-demo {
    height: 515px;

}
.store-search {
    width: 95%;
    position: relative
}
.store-search-border {
    border: 1px solid #CCD9E3;
    border-radius: 50px;
    width: 100%;
    padding: 3px
    box-sizing: border-box;
}
.store-search .search-input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin: 5px;
    width: 88%;
    background: #fff url(../images/sprite.png) no-repeat 18px -404px;
    padding-left: 10%;
    height: 45px
}
.store-search .store-search-border input[type=text]:focus:not([readonly]) {
    border: 1px solid #CDC8C8;
    box-shadow: none
}
.store-search-but {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 13.5%;
    right: 1.7%;
}
.store-search-but button {
    border: 0;
    background: none;
    padding: 0
}
.category-search:hover {
    background-color: #667384
}
.store-search .letter-search {
    float: left;
    max-width: 685px
}
.letter-search span {
    float: left;
    margin: 3px 12px 0 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    line-height: 14px;
    font-weight: 700;
    color: #3D4850
}
.letter-search li {
    float: left;
    list-style-type: none;
    margin: 0
}
.letter-search li a {
    width: 20px;
    padding: 2px 0 4px;
    float: left;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    color: #5A6B79;
    text-transform: capitalize;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    line-height: 14px
}
.letter-search li a:hover,
.letter-search li a.active {
    color: #fff;
    font-weight: 300;
    background: #667384
}
.all-merchants-top h1 {
    font-size: 30px;
    color: #000;
    text-align: center;
    text-transform: capitalize
}
.all-merchants {
    background: #E4ECF2;
    padding-top: 0
}
.coupon-scroll.all-merchants .row .col {
    background: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    margin: 0 1% 40px;
    width: 31.2333333333%;
    height: 360px;
    position: relative
}
.coupon-scroll.all-merchants .row .col.m3.coupon-scroll-tabs {
    border: 0;
    background: #fff
}
.coupon-scroll.all-merchants .tabInner .txt {
    font-size: 16px
}
.coupon-scroll.all-merchants .tabInner .txt span {
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    float: left
}
.coupon-scroll.all-merchants .tabInner .txt span img {
    display: inline;
    margin-left: 8px;
    width: 100%
}
.coupon-scroll.all-merchants .cupon-code {
    border-radius: 27px
}
.coupon-scroll.all-merchants .cupon-code-border {
    border-radius: 27px;
    border: 1px solid #F47121;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0
}
.coupon-scroll.all-merchants .row .col.m3.coupon-scroll-tabs:hover .cupon-code-border {
    border: 1px solid #4A5159
}
.all-merchants .icons {
    width: 36px;
    height: 72px;
    position: absolute;
    left: inherit;
    right: -1px;
    top: -1px;
    z-index: 1
}
.all-merchants .icons .star {
    width: 36px;
    height: 35px;
    float: left;
    border: 0 solid #D1D1D1;
    z-index: 1;
    border-top: 0
}
.all-merchants .icons .share {
    width: 36px;
    height: 35px;
    float: left;
    background: #fff url(../images/sprite.png) no-repeat left 9px top -17px;
    border: 0 solid #D1D1D1;
    z-index: 1;
    border-top: 0
}
.all-merchants .coupon-scroll-tabs:hover .icons .star {
    border: 0;
    box-shadow: none
}
.all-merchants .coupon-scroll-tabs:hover .cupon-code-border {
    border-color: rgba(0, 0, 0, 0.6)
}
.category-select-mega.marchentSearch #vertical-scrollbar-demo {
    height: 515px;
    overflow-y: scroll
}
.category-select-mega.marchentSearch #vertical-scrollbar-demo .categorylist > ul {
    text-align: left;
    padding: 20px 0 0 20px;
    margin-top: 10px
}
.category-select-mega.marchentSearch #vertical-scrollbar-demo .categorylist ul {
    background: none
}
.category-select-mega.marchentSearch .category-select-submit {
    background: #87AE60;
    padding: 2px 15px;
    outline: none;
}
.pro-profile .pagination li a,
.coupon-scroll-section .pagination li a,
.cupons-list-main .pagination li a,
.causeslistdiv .pagination li a,
.pro-support-listing .pagination li a {
    font-size: 12px;
    padding: 0 8px
}
.all-merchants-top-left.coupsrh .letter-search {
    margin: 0
}
.all-merchants-top-left.coupsrh .letter-search li a {
    line-height: 19px
}
.deleatbtn {
    background: url(../images/delete-button.png) no-repeat 50% 50%;
    display: block;
    width: 100%;
    height: 100%
}
.howitbtn .btn .v-all-section a span.btn:hover {
    box-shadow: none
}

@media only screen and (max-width: 1279px) {
    .coupon-scroll.featured-coupons .tabInner .top {
        width: 60%;
        height: 60%
    }
    .coupon-scroll.featured-coupons .tabInner .top .img {
        margin: 6% auto 0;
        width: 100%;
        max-width: 90px
    }
    .header-right .header-right-install-border,
    .header-right .head-search {
        display: none
    }
    .button-collapse {
        display: block;
        float: right;
        margin-top: 30px;
        margin-left: 20px
    }
    .header-right {
        width: 17%
    }
    .header-right .notification {
        margin-right: 10%
    }
    .head-search {
        width: 90%;
        float: none;
        margin: 30px auto 0
    }
    .head-search .search-input {
        width: 86.5%;
        color: #000
    }
    .side-nav a.btn {
        margin: 4px
    }
    .header-right-install-border {
        width: 90%;
        float: none;
        margin: 20px auto 0
    }
    .side-nav li {
        display: none
    }
}
@media only screen and (max-width: 1199px) {
    .store-search-but {
        top: 18%
    }
    .category-search-border {
        width: 100%
    }
}
@media only screen and (max-width: 1024px) {
    .featured-coupons .row.second-row {
        display: none
    }
    .load-more {
        display: block
    }
    .featured-coupons .row .col.m3.coupon-scroll-tabs {
        width: 48%;
        margin-bottom: 20px
    }
    .side-nav li {
        display: block
    }
    .hide-on-med-and-down {
        display: none
    }
    nav {
        height: 64px
    }
    .header-right-install-border {
        margin-bottom: 20px
    }
    .side-nav li {
        text-align: center
    }
    .side-nav a {
        color: #5F5F5F;
        font-size: 13px;
        font-family: 'Oxygen', sans-serif;
        font-weight: 700
    }
    .top-spacer {
        height: 99px
    }
   .top-merchants .owl-item{width: 340px !important;}
}
@media only screen and (max-width: 992px) {
    .shopping-install .headline {
        margin-top: 0
    }
    .shopping-install {
        text-align: center
    }
    .shopping-install .headline {
        width: 100%
    }
    .shopping-install-right img {
        margin-top: 40px
    }
    .shopping-install-button {
        width: 432px;
        float: none;
        margin: 0 auto
    }
    .new-cupon {
        text-align: center;
        padding-bottom: 40px;
        padding-top: 40px
    }
    .new-cupon .headline {
        width: 100%;
        margin-top: 5%
    }
    .shopping-install-right img,
    .new-cupon img {
        max-width: 550px;
        float: none;
        margin: 0 auto
    }
    .coupon-scroll h1,
    .new-cupon .headline,
    .featured-coupons h2,
    .shopping-install .headline {
        font-size: 30px
    }
    .shopping-install-right img {
        margin-top: 40px
    }
    .shopping-install .sub-head,
    .coupon-scroll .sub-head {
        width: 100%
    }
    .footer-logo,
    .row .col.social {
        float: none;
        margin: 0 auto
    }
    .coupon-scroll.featured-coupons .tabInner .top {
        width: 140px;
        height: 140px
    }
    .coupon-scroll.featured-coupons .tabInner .top .img {
        margin-top: 7%
    }
    .footer-nav {
        margin-bottom: 30px
    }
    .f-social-left {
        width: 40%;
        text-align: center
    }
    .f-social-right {
        width: 60%
    }
    .cupons-list .cupon-code-border {
        float: none;
        margin: 28px auto 0
    }
    .cupons-list .time-count {
        position: relative;
        width: 120px;
        left: 50%;
        margin-left: -60px
    }
    .cupons-list .cupon-code-border {
        margin-bottom: 28px
    }
    .middle-inner {
        width: 100%;
        margin-top: 20px
    }
    .cupons-list .col.middle {
        border: 0
    }
    .cupons-list .time-count.expires {
        width: 124px;
        margin-left: -62px
    }
    .cupons-list-page .cupons-list .middle-inner {
        text-align: center
    }
    .cupon-Merchant-right .tag {
        position: relative;
        left: 50%;
        margin: 0 0 0 -20px
    }
    .cupon-Merchant-right .txt {
        width: 100%;
        margin: 10px 0 0;
        text-align: center
    }
    .cupon-Merchant-right .head-txt span {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 20px
    }
    .cupon-Merchant-right .head-txt .icon-tab {
        position: absolute;
        left: 50%;
        margin: 16px 0 0 -46px
    }
    .cupon-Merchant-right .button-wrap {
        width: 257px;
        float: none
    }
    .store-search {
        float: none;
        margin: 20px auto 0
    }
    .store-search-but {
        right: 2.3%
    }
    .category-search-border {
        float: none;
        margin: 0 auto
    }
    .mega-bottom .col {
        border-right: none;
        border-bottom: 1px solid #D8D8D8
    }
    .mega-bottom .col:last-child {
        border-bottom: none
    }
    .all-merchants-top {
        padding-bottom: 0
    }
    .coupon-scroll.all-merchants .row .col {
        width: 100%;
        float: none;
        max-width: 480px;
        margin: 30px auto 0
    }
    .coupon-scroll.all-merchants {
        padding-top: 0
    }
    .category-select-mega-top .arrow {
        left: 50%;
        margin-left: -14.5px
    }
}
@media only screen and (max-width: 768px) {
    .logo {
        min-width: 140px
    }
    .head-right-button .login-border,
    .head-right-button .signup-border {
        margin-top: 7%
    }
    .top-spacer {
        height: 99px;
    }
    nav {
        height: 33px
    }
    .header-right {
        margin-top: 15px
    }
    .button-collapse {
        margin-top: 21px
    }
}
@media only screen and (max-width: 640px) {
    .coupon-scroll {
        padding-top: 20px
    }
    .search-bar {
        width: 310px;
        margin-left: -155px
    }
    .search-bar-right .submit {
        background: url(../images/sprite.png)no-repeat 8px -49px
    }
    .footer-logo,
    .row .col.social {
        width: 45%
    }
    .footer-nav a {
        line-height: 35px
    }
    .store-search {
        width: 100%
    }
}
@media only screen and (max-width: 601px) {
    .profile-samary-address{
        padding-left: 67px;
        padding-right: 75px;
    }
}
@media only screen and (max-width: 640px) {
    .causeslistdiv .causes-add{
        left: 2%
    }
}
@media only screen and (max-width: 480px) {
    .video-playBut {
        width: 40px;
        height: 40px;
        margin: 27% 0 0 -20px
    }
    .f-social-right {
        width: 48%
    }
    .shopping-install-button {
        width: 215px
    }
    .shopping-install .login-border {
        margin-right: 0
    }
    .footer-logo,
    .row .col.social {
        width: 75%
    }
    .header-right {
        width: 27%
    }
    .featured-coupons .row .col.m3.coupon-scroll-tabs {
        width: 100%;
        margin-right: 0
    }
    .popup-form {
        width: 310px;
        left: 50%;
        margin: 9% 0 0 -155px
    }
    .store-search .search-input {
        padding-left: 14%;
        width: 84%
    }
}
@media only screen and (max-width: 360px) {
    .logo {
        min-width: 132px
    }
    .button {
        padding: 1px .8em
    }
    .video-playBut {
        margin: 31% 0 0 -20px
    }
    a .see-all {
        padding: 5px 10px;
        font-size: 11px;
        margin-top: 5px
    }
    .footer-logo,
    .row .col.social {
        width: 100%
    }
    .top-spacer {
        height: 99px
    }
    .popup-but {
        padding: 12px 10px 12px 21px
    }
    .popup-inner .but-wrapper {
        margin-top: inherit
    }
    .facebook-but,
    .g-plus-but {
        padding: 5px 10px 5px 21px
    }
    .store-search .search-input {
        width: 84%
    }
    .store-search-but {
        right: 2.8%
    }
    .category-select-mega {
        top: 58px
    }
}
#login-pop {
    top: 10%
}
#signup-pop {
    top: 10%
}
.cupon-Merchant img {
    margin: 59px auto
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #000
}
.tooltip .tooltiptext {
    display: none;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1
}
.tooltip:hover .tooltiptext {
    display: block
}
.lean-overlay {
    position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity
}
.userlogin {
    border: 5px double;
    padding: 2px
}
.usersignup {
    border: 5px double;
    padding: 2px
}
.forgetpass {
    border: 5px double;
    padding: 4px
}
.btn:disabled {
    border: 4px double #fff!important
}
.tab-head a.active {
    border-bottom: 3px solid blue
}
.addthis_toolbox a {
    margin-bottom: 0
}
ul.sharebuttons {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    left: 34px;
    top: 35px;
    border: 1px solid #b4d491;
    border-right: none;
    -webkit-box-shadow: -1px 2px 3px 0 rgba(124, 143, 102, 1);
    -moz-box-shadow: -1px 2px 3px 0 rgba(124, 143, 102, 1);
    box-shadow: -1px 2px 3px 0 rgba(124, 143, 102, 1)
}
#TMslides ul.sharebuttons {
    left: -4px!important;
    top: 70px
}
.LCslides ul.sharebuttons {
    left: -3px;
    top: 70px
}
#AMslides ul.sharebuttons {
    left: 0;
    top: 70px
}
.sharebuttons li a {
    font-size: 30px
}
.sharebuttons li.email a {
    font-size: 26px
}
.sharebuttons .twitter a {
    color: #0084b4
}
.sharebuttons .facebook a {
    color: #3b5998
}
.sharebuttons .email a {
    color: #4875B4
}
.sharebuttons .pinterest a {
    color: #C92228
}
.offerList {
    position: relative;
    z-index: 1000
}
.LCslides ul.sharebuttons li {
    float: none;
    width: auto;
    display: inline-block;
    border: none;
    margin: 0
}
.social-share ul li {
    display: inline-block;
    margin: 0;
    border: none;
    background: transparent
}
.social-share ul li:hover {
    border: none
}
.social-share ul li a i {
    font-size: 22px
}
.social-share ul {
    position: absolute;
    top: -15px;
    right: 38px;
    padding: 4px 5px 0 4px;
    background: #fff;
    box-shadow: 1px 1px 1px 0 #a7a7a7
}
.social-share ul li a i.fa-twitter-square {
    color: #0084b4
}
.social-share ul li a i.fa-facebook-square {
    color: #3b5998
}
.social-share ul li a i.fa-envelope {
    color: #4875B4;
    font-size: 19px
}
.social-share ul li a i.fa-pinterest-square {
    color: #C92228
}
.top-section .devide-pan {
    width: 48%;
    display: inline-block
}
.right-icons-pan .social-share ul {
    display: block;
    margin: 0;
    border: none;
    background: transparent;
    top: 0;
    right: 0
}
.right-icons-pan .social-share ul li {
    display: block;
    background: #fff
}
a.hoverfav:hover div.star {
    background-color: #ECECEC!important
}
a.hovshare:hover div.share {
    background: url(../images/03-share.png) no-repeat left 10px top 9px!important;
    background-color: #ECECEC!important
}
.favmarlist {
    margin-left: 16px;
    margin-top: 14px;
    height: 50px;
    width: 80px
}
.mytext h5 {
    font-size: 19px!important
}
.mytext p {
    max-height: 20%
}
.my-causes-section-thumnel-image {
    height: 90px;
    width: 140px;
    display: table-cell;
    vertical-align: top
}
.my-causes-section-thumnel-image img {
    border: 1px solid #e7e7e7;
    border-radius: 12px;
    padding: 13px 7px;
    position: relative;
    top: 6px
}
.img-circle {
    border-radius: 50%;
    height: 100%;
    display: block
}
.select-goal-section .select-goal-btn {
    letter-spacing: -1px
}
.select-goal-section .select-goal-btn-cover {
    line-height: 34px!important
}

.popup-devider-no-mark {
    width: 250px;
    height: 1px;
    position: relative;
    margin: 30px auto -17px 58px
}
p.frmerr span {
    color: red;
    font-size: 13px;
    margin-left: 67px;
    text-transform: capitalize
}
p.codecol span {
    color: red;
    font-size: 13px;
    text-transform: capitalize;
    padding-left: 27px
}
.donation-price input {
    padding: 0 20px 0 50px !important
}
.profile-samary-address p span {
    margin-left: 10px;
    font-weight: 700
}

.searchlogout {
    top: 102px!important
}
.ftc >.time-count {
    top: initial;
    left: 80px;
    bottom: 12px
}
.amtmerchant {
    font-size: 14px!important;
    margin-top: 10px
}
.owl-slider-tab {
    margin: 10px
}
.owl-carousel {
    padding-bottom: 10px
}
.form-group .google-cap {
    padding: 8px 56px;
    width: 100%
}
.about ul li {
    list-style-type: decimal-leading-zero
}
.about ul {
    background: none!important;
    text-align: center
}
.about ul h6 {
    color: #000;
    cursor: pointer;
    padding: 0 1rem;
    font-weight: 500;
    font-size: 16px;
    text-align: left
}
.noshadow {
    text-shadow: none!important
}
.footer-nav a.activefooter {
    color: #fff;
    font-weight: 300
}
.header nav .pro-menu li a.active:before {
    width: 100%;
    background: #4493D7
}
p.sideerror span {
    color: red;
    font-size: 13px;
    margin-left: 67px;
    text-transform: capitalize;
    position: absolute;
    width: 100%;
    float: right
}
#vertical-scrollbar-demo .input-fild input {
    background: #fdfeff none repeat scroll 0 0;
    border: 1px solid #9E9E9E!important;
    border-radius: 40px;
    box-sizing: border-box;
    float: left;
    height: 46px;
    line-height: 46px;
    margin: 0;
    padding: 0 25px;
    width: 100%
}
#vertical-scrollbar-demo .input-field label {
    color: #9E9E9E;
    cursor: text;
    font-size: 1rem;
    left: 24px;
    position: absolute;
    top: .6rem;
    transition: all .2s ease-out 0
}
#vertical-scrollbar-demo .input-fild textarea {
    background: #fdfeff none repeat scroll 0 0;
    border: 1px solid #9E9E9E!important;
    border-radius: 10px;
    box-sizing: border-box;
    float: left;
    height: 130px!important;
    line-height: 20px;
    margin: 0 0 5px;
    padding: 10px 25px;
    width: 100%
}
.signtxt {
    text-align: center
}
.signtxt span {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px
}
.signtxt a {
    color: #4CA7DA
}
.more-less {
    display: inline-block;
    position: relative;
    font-weight: 300;
    color: #2A95C3;
    /*text-decoration: underline;*/
    top: 0px;
    left: 0px;
    font-size: 15px;
}
.more-less:hover{
    color: #1976d2;
}
.mobsty {
    width: 281px!important;
    max-height: 649px!important;
    position: absolute;
    top: 50%!important;
    left: 50%!important;
    opacity: 0;
    display: none
}
.mobsty-show {
    opacity: 1;
    display: block
}
a.faqlink {
    color: blue;
    font-size: 15px
}
a.faqlink:hover {
    text-decoration: underline
}
img.faqimgs {
    display: inline!important;
    margin-bottom: -1px!important
}
a.faqlink.mod span{
        margin-right: 4px;
}
.valofpro{  

    top: -52px;
    position: relative;
    left: 450px;}

#wrong-pop .forpas{
        font-size: 12px;
        line-height: 15px;
        font-weight: 300;
    }
   
p.aboutgood{font-size: 24px !important;
    font-weight: bold !important;}
.vidcls{
    top: 1% !important;
    width: calc(87% + 1px);
    width: -webkit-calc(87% + 1px);
    width: -o-calc(87% + 1px);
    width: -ms-calc(87% + 1px);
    z-index: 9999;
    max-height: calc(100% - 18px);
    max-height: -webkit-calc(100% - 18px);
    max-height: -o-calc(100% - 18px);
    max-height: -ms-calc(100% - 18px);
    z-index: 9999;
    overflow-y: hidden;
}

#vidModal > div > a.modal-content-modal-close.modal-close.ex{
    z-index: 999;
    right: 0;
    padding: 8px 14px;
}
.vidcls div.modal-content.ex{
    padding: 2px !important;
}
.feat .cupon-code{
    min-width: 135px;
}
a.back{
    color: #4CA7DA;
    font-size: 12px;
    padding-bottom: 7px;
    display: block;
    position: relative;
    top: -26px;
    left: 23px;
}
.accountlink{
    font-weight:bold;
    color: #2196F3 !important;
    text-decoration: underline !important;
}
.visit-faq{text-decoration: underline;color: #039be5;}
.causes-add{
    margin: 8px 0px 0 -8px !important;
    width: 70% !important;
    border: none !important;
}
.causes-add a,.causes-add a:active,.causes-add a:focus,.causes-add a:visited{
    background: transparent;
    color: rgb(48, 156, 218);
    text-decoration: underline;
    font-weight: bold;
    line-height: 1.5;
    font-family: sans-serif;
}
.causes-add a:hover{
    background: transparent;
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1.5;
    font-family: sans-serif;
}
.cursor-pntr{
    cursor: pointer;
}
