body {
    //background-color: #ccc;
}
.main-frame {
    width: 600px;
    height: 400px;
    border: #ccc 4px solid;
    background: url(../images/bg.jpg) repeat;
    background-size: cover;
    //background-color: #ccc;
    position: relative;
    overflow: hidden;
    position: relative;
}
.color-block {
    width: 30px;
    height: 30px;
    border: #000 1px solid;
}
.color-block-list {
    overflow: hidden;
    list-style-type: none;
    padding-left: 0px;
    li {
        float: left;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
        div {
            width: 30px;
            height: 30px;
            border: #000 1px solid;
        }
    }
}
.protrait-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        width: 200px;
    }
}
.pos1 {
    position: absolute;
    top: 10%;
    left: 40%;
}
.pos2 {
    position: absolute;
    top: 35%;
    left: 27%;
}
.pos3 {
    position: absolute;
    bottom: 35%;
    left: 27%;
}
.pos4 {
    position: absolute;
    bottom: 10%;
    left: 40%;
}
.pos5 {
    position: absolute;
    bottom: 10%;
    right: 40%;
}
.pos6 {
    position: absolute;
    bottom: 35%;
    right: 27%;
}
.pos7 {
    position: absolute;
    top: 35%;
    right: 27%;
}
.pos8 {
    position: absolute;
    top: 10%;
    right: 40%;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}
.megenta {
    background-color: magenta;
}
.cyan {
    background-color: cyan;
}
.brown {
    background-color: brown;
}
