<div class="container">
  <div ng-controller="EditArrayCtrl">

  <div class="row" ng-repeat="name in names">
  <div class="col-md-4"><strong>Name:- </strong> {{name.Name}}</div>
  <div class="col-md-4"><strong>Country:- </strong> {{ name.Country}}</div>
  <div class="col-md-2"><button ng-click="edit($index)">Edit</button></div>
  <div class="col-md-2"> <button ng-click="remove($index)">Remove</button></div>
  </div>
  <div class="row">
    <div class="col-md-5">Name: <input type="text" ng-model="input"></div>
    <div class="col-md-5">Country: <input type="text" ng-model="inputCountry"></div>
    <div class="col-md-2"><button type="submit" ng-if="normal" ng-show="showButton" ng-click="add()">Add</button>
    <button type="submit" ng-if="!normal" ng-show="showButton" ng-click="modifyName($scope.updateIndex)">Modify</button></div>
  </div>
</div>
</div>
