<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="style.css"> -->
<body  ng-app="myApp">
  <p><a href="#!showFullArray">Show Full List</a></p>
  <p><a href="#!editAddArray">Edit Or Add Name</a></p>
  <p><a href="#!searchName">Search Name</a></p>

<div ng-view>

</div>

<div class="container">
  <div ng-controller="PostsCtrl">
  <div class="row" ng-repeat="name in names">
  <div class="col-md-4"><strong>Name:- </strong> {{name.Name}}</div>
  <div class="col-md-4"><strong>Country:- </strong> {{ name.Country}}</div>
  </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

<script>
var myApp = angular.module("myApp", ["ngRoute"]).service('test', function() {
  this.names = [
    {Name:'Jani',Country:'Norway'},
    {Name:'Carl',Country:'Sweden'},
    {Name:'Margareth',Country:'England'},
    {Name:'Hege',Country:'Norway'},
    {Name:'Joe',Country:'Denmark'},
    {Name:'Gustav',Country:'Sweden'},
    {Name:'Birgit',Country:'Denmark'},
    {Name:'Mary',Country:'England'},
    {Name:'Kai',Country:'Norway'}
  ];
});;

myApp.config(function($routeProvider) {
    $routeProvider
    .when("/showFullArray", {
        templateUrl : 'index.html',
        controller : 'PostsCtrl'
    })
    .when("/editAddArray", {
        templateUrl : 'editAddArray.html',
        controller : 'EditArrayCtrl'
    })
    .when("/searchName", {
        templateUrl : 'searchName.html',
        controller : 'SerachCtrl'
    })
    .otherwise({
                redirectTo: "/"
            });
});


myApp.controller('EditArrayCtrl', function($scope, $routeParams, test){

  $scope.names = test.names;
  $scope.normal = true;
  $scope.showButton = true;

  $scope.add = function() {
    if($scope.input !== null && $scope.inputCountry !== null)
    {
      $scope.names.push({'Name': $scope.input, 'Country': $scope.inputCountry});
      $scope.input = null;
      $scope.inputCountry = null;
      console.log($scope.names);
    }
  };

  $scope.remove = function(index) {
      $scope.names.splice(index, 1);
    };

    $scope.edit = function(index) {
        $scope.normal = false;
        $scope.input = $scope.names[index];
        $scope.updateIndex = index;
      };

      $scope.modifyName = function(index) {
          $scope.names[$scope.updateIndex] = $scope.input;
          $scope.input = '';
          $scope.updateIndex = '';
          $scope.normal = true;
        };
});

myApp.controller('SerachCtrl', function($scope, $routeParams, $filter, test){
  $scope.names = test.names;
  console.log("2222222222" + $scope.names);
  $scope.counted = $scope.names.length;
  $scope.$watch("test", function(query){
    $scope.filteredData = $filter("filter")($scope.names, query);
  });

  $scope.textBlock = false;

  $scope.clear = function(){
    $scope.myOrderBy ={};
    $scope.test = '';
    $scope.textBlock = false;
  };

  $scope.orderByMe = function(x) {
    $scope.myOrderBy ={};
    $scope.newText = x;
    console.log($scope.test);
    if($scope.test !== null){
      if($scope.newText === 'Name'){
        $scope.myOrderBy = {Name:$scope.test};
        console.log($scope.myOrderBy);
      }
      else{
        $scope.myOrderBy = {Country:$scope.test};
        console.log($scope.myOrderBy);
      }
    }
  };
});

myApp.controller('PostsCtrl', function($scope, test){
  $scope.names = test.names;
  // $scope.names = [
  //   {Name:'Jani',Country:'Norway'},
  //   {Name:'Carl',Country:'Sweden'},
  //   {Name:'Margareth',Country:'England'},
  //   {Name:'Hege',Country:'Norway'},
  //   {Name:'Joe',Country:'Denmark'},
  //   {Name:'Gustav',Country:'Sweden'},
  //   {Name:'Birgit',Country:'Denmark'},
  //   {Name:'Mary',Country:'England'},
  //   {Name:'Kai',Country:'Norway'}
  // ];
  // console.log("111111111" + $scope.names);
});


</script>

<!-- <div ng-app="" ng-init="myCol='red'">
  <p>Name: <input type="text"</p>
<input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">

</div>
<p>AngularJS resolves the expression and returns the result.</p>

<p>The background color of the input box will be whatever you write in the input field.</p>

<div ng-app="" ng-init="quantity=1;cost=5">
<p>Total in dollar: <span ng-bind="quantity * cost"></span></p>
</div>
<div ng-app="" ng-init="person={firstName:'Satyaki',lastName:'Chakraborty'}">

<p>The name is <span ng-bind="person.lastName"></span></p>

</div>

<div ng-app="myApp" ng-controller="myCtrl">
  {{ firstName + " " + lastName }}
</div>

<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope){
  $scope.firstName = "Satyaki";
  $scope.lastName = "Chakraborty";
});
</script>

<div ng-app="myApp" ng-controller="myCtrl">
  <ul>
    <li ng-repeat="x in names">{{x}}</li>
  </ul>
</div>

<script>
  var app = angular.module('myApp',[]);
  app.controller('myCtrl', function($scope){
    $scope.names = ["satyaki", "Indrani", "Sumona", "Snigdhadeep"];
  });
</script>

<p>Click the table headers to change the sorting order:</p>

<div ng-app="myApp" ng-controller="namesCtrl">

<table border="1" width="100%">
<tr>
<th ng-click="orderByMe('name')">Name</th>
<th ng-click="orderByMe('country')">Country</th>
</tr>
<tr ng-repeat="x in names | orderBy:myOrderBy">
<td>{{x.name}}</td>
<td>{{x.country}}</td>
</tr>
</table>

</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
        {name:'Jani',country:'Norway'},
        {name:'Carl',country:'Sweden'},
        {name:'Margareth',country:'England'},
        {name:'Hege',country:'Norway'},
        {name:'Joe',country:'Denmark'},
        {name:'Gustav',country:'Sweden'},
        {name:'Birgit',country:'Denmark'},
        {name:'Mary',country:'England'},
        {name:'Kai',country:'Norway'}
        ];
    $scope.orderByMe = function(x) {
        $scope.myOrderBy = x;
    }
});
</script>

API Calling
<div ng-app="myApp" ng-controller="customersCtrl">

<ul class="list-area">
  <li ng-repeat="data in myData">
    <div ng-click="postUsingID(data.id)">
      {{data.id}}. {{ data.title }}
    </div>
  </li>
</ul>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
  var app =  angular.module('myApp', []);

  app.controller('customersCtrl', function ($scope, $http) {
    var settings = {
      method: 'GET',
      url: 'https://jsonplaceholder.typicode.com/posts'
    }
  $http(settings).then(function(response) {
    console.log(response);
    $scope.myData =  response.data;
  },
  function(error) {

  });

  $scope.postUsingID = function(id) {
      $scope.getUserChat = function(id){
        console.log(id);
        var newSettings = {
          method: 'GET',
          url: 'https://jsonplaceholder.typicode.com/posts/'+id
        }
        $http(newSettings).then(function(newResponse) {
          console.log(newResponse);
          $scope.myNewData =  newResponse.data;
        },
        function (response) {});
        };
        $scope.getUserChat();
      }
  });
</script>-->

</body>
</html>
