<div class="container">
  <div>
  <p>Type a letter in the input field:</p>
  <div class="topCont"><input type="text" ng-disabled="textBlock" ng-model="test">
    <button type="submit" ng-click="orderByMe('Name')">By Name</button>
    <button type="submit" ng-click="orderByMe('Country')">By Country</button>
    <button ng-click="clear()">Clear Search</button>
  </div>

  <div class="row" ng-repeat="name in filteredData">
  <div class="col-md-4"><strong>Name:- </strong> {{name.Name}}</div>
  <div class="col-md-4"><strong>Country:- </strong> {{ name.Country}}</div>
  </div>
</div>
</div>
