ul.list-area{
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.list-area li {
  display: block;
  list-style-type: none;
  padding: 15px;
  margin: 0 0 15px;
  background: #000;
  color: #fff;
  font-weight: bold;
}
