<div class="top-spacer">
</div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>How It Works</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<div class="pro-how-to-works">
    <div class="container">
        <div class="row">
            <div class="col l4 m12 s12">
                <div class="how-to-work-top-section">
                    <h3>CashPack</h3>
                    <p>We start with the world's biggest coupon inventory to help you save tons of money while you shop online.</p>
                    <p>CashPack also empowers you to change your community for the better by helping you raise and distribute funds without the hassle of fundraising.</p>
                </div>
            </div>
            <div class="col l8 m12 s12">
                <div class="how-to-work-stapes">
                    <ul>
                        <li>
                            <div class="outer-round">
                                <div class="img-round"> <span class="img-round-span">1</span> <img src="images/shop-img.png" alt=""> </div> <span class="text-round">
                                          Shop!
                                      </span> </div>
                        </li>
                        <li>
                            <div class="outer-round outer-round2">
                                <div class="img-round"> <span class="img-round-span">2</span> <img src="images/save-img.png" alt=""> </div> <span class="text-round">
                                          Save!
                                      </span> </div>
                        </li>
                        <li>
                            <div class="outer-round outer-round3">
                                <div class="img-round"> <span class="img-round-span">3</span> <img src="images/donate-img.png" alt=""> </div> <span class="text-round">
                                          Donate!
                                      </span> </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cash-pack-org-section">
    <div class="container">
        <div class="row">
            <div class="col l4 push-l8 m6 push-m6 s12">
                <div class="section-text">
                    <h3 class="noshadow">CashPack.org</h3>
                    <p>Just by visiting <a href="http://www.cashpack.org" target="_blank">CashPack.org</a>, you can cash in on any of our tens of thousands of coupons and deals! No signup necessary!</p>
                </div>
            </div>
            <div class="col l8 pull-l4 m6 pull-m6 s12">
                <div class="scction-img"> <img src="images/secimg1.png" alt=""> </div>
            </div>
        </div>
    </div>
</div>
<div class="saveandget-section">
    <div class="container">
        <div class="row">
            <div class="col l5 push-l7 col m5 push-m7 s12">
                <div class="section-and-img"> <img src="images/cash-and-img.png" alt=""> </div>
            </div>
            <div class="col l7 pull-l5 m7 pull-m5 s12">
                <div class="section-and-text">
                    <h3 class="noshadow">Save and Get Cash Back!</h3>
                    <p>Download our free browser extension "BackPack," to stretch your money even further! Account holders get all kinds of exclusive offers. Create a free account, enjoy the savings and watch your CashPack cash grow. It's money that will go to the good causes you've chosen!</p>
                    <div class="section-and-btn howitbtn">
                        <div class="section-and-btn-cover" ng-if="islogincahspack === false">
                            <a class="waves-effect waves-light btn section-and-btn-element" href="#signup-pop" modal> <img src="images/signup.png" alt="">Sign up and Earn</a>
                        </div>
                        <div id="hiw1" class="section-and-btn-cover orange-btn installCashPackExtension" ng-click="inst()">
                            <a class="waves-effect waves-light btn section-and-btn-element" href="javascript:void(0);"> <img src="images/install_cashpack_butto.png" alt="">Install BackPack</a>
                        </div>
                        <div id="hiw2" class="section-and-btn-cover orange-btn" style="border: 1px solid #03A9F4">
                            <a class="waves-effect waves-light btn section-and-btn-element" href="javascript:void(0);" style="background: #03A9F4;font-size: 12px">BackPack is already Installed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cash-pack-org-section sharing-section">
    <div class="container">
        <div class="row">
            <div class="col l7 push-l5 m6 s12">
                <div class="section-text sharing-text">
                    <h3 class="noshadow">Sharing is Caring!</h3>
                    <p>The more people you tell...the more you, your community and your causes benefit! Share coupons and deals to help your friends save money. Their savings even kick back a little extra Cash to your CashPack...and the more your CashPack grows, the more everyone wins!</p>
                </div>
            </div>
            <div class="col l5 pull-l7 m6 s12">
                <div class="scction-img sharing-img"> <img src="images/sharing-img.png" alt=""> </div>
            </div>
        </div>
    </div>
</div>
<div class="checkout-section">
    <div class="container">
        <div class="row">
            <div class="col l6 push-l6 m6 push-m6 s12">
                <div class="checkout-img-section"> <img src="images/checkout-img.png" alt=""> </div>
            </div>
            <div class="col l6 pull-l6 m6 pull-m6 s12">
                <div class="checkout-text-secttion">
                    <h3 class="noshadow">The CashPack <br/> Checkout Difference</h3>
                    <p>Our Coupons at Checkout technology is AWESOME and often can find great savings with a click of a button.  Even if there are no active codes for your purchase, CashPack just saved you a ton of time checking those codes…and you still get the cash back on your purchase.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coupons-section">
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">
                <div class="checkout-img-section coupons-img-section"> <img src="images/icon-img.png" alt=""> </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="checkout-text-secttion">
                    <h3 class="noshadow">No Coupons? <br/> You Still Get Free Money!</h3>
                    <p>Even if there’s not a coupon the day you’re shopping… you still earn cash back! Click anywhere on our site or BackPack, or click on the Activate Cash Back button and money from your purchase will be deposited in your account. Free money for buying what you needed anyway!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="help-section">
    <div class="container">
        <div class="row">
            <div class="col l6 push-l6 m6 push-m6 s12">
                <div class="checkout-img-section coupons-img-section"> <img src="images/help.png" alt=""> </div>
            </div>
            <div class="col l6 pull-l6 m6 pull-m6 s12">
                <div class="checkout-text-secttion">
                    <h3 class="noshadow">How Can We Help?</h3>
                    <p>CashPack is fun and worthwhile to use, but if you have challenges our experts are ready to help out and we like to be kept on our toes! Search our FAQs to see if we've already answered your questions… or Drop Us a Line and we'll get back to you lickety split!</p>
                    <div class="help-btn-section">
                        <div class="help-btn-section-cover orange-btn"> <a href="#/faq" class="waves-effect waves-light btn help-btn-section-ele">FAQs</a> </div> <span style="right: 36%;"><a href="mailto:info@cashpack.org?Subject=CashPack" target="_blank">Drop Us a Line</a></span> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="givingback">
    <div class="container">
        <div class="row">
            <div class="col l8 offset-l2 m12 offset-m0 s12 offset-s0">
                <h3 class="noshadow">The CashPack Goal of Giving Back</h3>
                <p> We think supporting school, church, sports, and other good causes is imperative for the health of a community. </p>
                <div class="givingback-img"> <img src="images/giveing-back-img.png" alt=""> </div>
                <p>So we want to make it as easy as possible for you to do that, without breaking the bank! With CashPack, you to get great deals on the things you needed to buy anyway. But we add even more value for account holders. Cash back from your online shopping will end up as contributions to causes that make your community a better place to be.</p> <a href="#" class="giving-back-btn">It feels good to do good!</a> </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row full-wrapper banner-wrapper">
                <a href="#vid" data-target='vidModal' modal><div class="video-playBut" ng-click="start();"></div></a>

<img id="vidmg1" src="images/video-back.png">
       
    </div>
<div class="modal vidcls" id="vidModal"> 
<div class="modal-content pro-fundraiser">
   <a href="javascript:void(0);" ng-click="close();" class="modal-content-modal-close modal-close ex">X</a>
    <div class="pro-fundraiser-content">   
    <video style="width: 100%;" id="video1" class="pro-fundraiser-content" controls ng-click="playIt()">
      <source ng-src="https://s3-us-west-2.amazonaws.com/cash-pack-assets/how-it-works-video/how-it-works.mp4" type="video/mp4">
    </video> 
    </div>
    </div>
</div>