
<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>Privacy</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<section class="full-wrapper about">
    <div class="container">
        <div class="row termscls">
            <ul>
                <li><h6>What is CashPack’s Privacy Policy?</h6>
                <p>This Policy describes how CashPack.org (referred to CashPack through the remainder of this document) treats personal information including information on the websites and apps where CashPack is located. All products, services and applications located within CashPack are subject to this privacy policy. It also applies to our information collection and tracking practices for our mobile application and our Browser Extension called BackPack. By using our products and/or services, you agree, without limitation or qualification, to be bound by this privacy policy. This privacy policy governs your use of the software tools developed by CashPack. Tools we use include browser cookies and web beacons. Required legal notices regarding our privacy practices will be accessible through the posting of a clear and conspicuous link to the current version of this privacy policy on CashPack.org near the bottom of most pages on our website. Any capitalized terms that are not defined in this policy are defined in CashPack’s Terms and Conditions. 
                </p>
                </li>
                <br>
                <li><h6>What information does CashPack collect? </h6>
                <p>There are different kinds of information we collect from you and about you. CashPack will not collect any unique information about you except when you specifically and knowingly provide such information. 
Contact Information: We only require you to provide your name, email address and zip code upon registration with CashPack. Your phone number can be added as an option if you request SMS notifications. 
Payment Information: We will collect your credit card number if direct donations are made through CashPack. CashPack does not store that information on our servers.
Submitted or Posted Information: We collect the information you post in a public space on CashPack.org. We also collect information when you contact us. 
Purchases Made with Merchants: If you participate in our programs, we get information when you make a purchase from one of our merchants. We may also collect purchase information about you from third parties.
Demographic Information: We may collect information such as gender and age when you contact us or enter a promotion.
Other Information: When you use CashPack, we may collect information about the browser you're using. We might view sites you came from and/or what site you visit once you leave CashPack.org. If you are using BackPack, our browser extension, we may also collect information about your search history. We may look at clickstream data. If you are using  the mobile app or website, we may collect your GPS location and your unique device identifier. We might look at how often you use the app, where you use it, and where you downloaded it.
                </p>
                </li>
                <br>
                <li>
                <h6>We use information as disclosed and described here:</h6>
                <p>Collected information is used to respond to your requests or questions and to improve our products and services. For example, we might use your information to make our website mobile app and browser extension better or to customize your experience with us or to understand your preferences. We may combine information we get from you with information about you we get from third parties. We also may use your information for security purposes in order to protect our company, our customers, and our websites. Also, we may use information for marketing purposes. For example, when you register with our sites we might send you information about special offers, new features or updates. These might be third party offers or products we think you would find interesting. If you register with us, we'll enroll you to receive our emails. We also may use information to customize offers you receive which includes using your shopping history on affiliates or other third-party platforms. We will not share any personally identifiable information to third parties except (1) to parties who perform services for us; (2) when we are required by law; (3) to protect the property, security, safety, and rights of CashPack; (4) to respond to an emergency; or (5) as otherwise stated in this Privacy Policy.
                </p></li>
<br>
<li><h6>Cookies: </h6>
<p>When you visit CashPack.org or open an email from CashPack, we send one or more cookies to your computer or device you are currently using. These cookies can collect data regarding your operating system, browser type, device type, mobile device ID, screen resolution, IP address and other technical information as well as navigation events and session information as you use our website or other applications. This information can allow us to understand how you use CashPack and what products and services may be of interest to you. The cookies we place on your device are also used to allow the advertising networks we work with to set and read their own cookies and collect similar information. Generally, you can remove, block, or disable cookies using the setting in your web browser. However, if our cookies are removed, it will affect your ability to use CashPack since you will no longer to able to enroll or log in to our site through our website. You will still be able to browse our website, but only as a visitor and not be able to participate in the cash back feature or other member benefits of CashPack. 
</p></li>
<br>
<li><h6>How CashPack protects your information:
</h6>
<p>CashPack takes reasonable precautions to protect your information from loss, misuse, or alteration. We constantly maintain reasonable physical, electronic, and procedural safeguards for your information. However, we cannot guarantee the security of your information as there is no such thing as a perfect security system. Additionally, because internet communication is insecure, it is also possible the information you share with us or your access of any information via the website will be intercepted during transmission. CashPack is not liable for any breach of systems or interception of our transmission and we hereby fully disclaim, to the fullest extent provided under law, any liability associated with any claim relating to a breach of security, data, or information.</p> 
</li><br>
<li><h6>Changes to Policy: </h6>
<p>CashPack.org may change this privacy policy occasionally. All changes will be posted on this page with the date of our last update so users may be made aware of  what information we collect and to whom we disclose such information.
</p>
</li>
            </ul>

        </div>
    </div>
</section>
