
<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>Terms</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<section class="full-wrapper about">
    <div class="container">

    <div class="row termscls">
        <!--             <h2 >CASHPACK’S TERMS OF USE </h2>
 -->
        <ul>
            <li>
                <h6>INTRODUCTION</h6>
                <p>This agreement ("Agreement") is between You and CashPack LLC ("CashPack"). This agreement applies to any CashPack software or service ("Services") located at www.cashpack.org ("Website") or any other location where our Services are located. "You" or "Affiliate" or "Publisher" or "Store" or "Agency" shall mean any entity identified in an enrollment form submitted by the same or affiliated persons, and/or any agency or network or company acting on its or their behalf, which shall also be bound by the terms of this Agreement.</p>
            </li>
            <li>
                <h6>DESCRIPTION OF SERVICE</h6>
                <p>CashPack provides users with access to one of the world leaders in electronic coupon services. We partner with thousands of merchants and make available their tens of thousands of coupons. Coupons and deals are usable by any online shoppers. Becoming a member of the CashPack community is free of charge and provides cash back benefits that will ultimately support a charitable cause chosen by the account holder. Our affiliate merchants pay CashPack a commission when an account holder makes a purchase through our service. CashPack then redirects 75% of that commission back to the user’s account. Quarterly, the user will decide which payment method and to which causes the earned cash back will be distributed. CashPack will pay out to the account holder chosen causes on the 15th of the month following each quarter’s end. Please read carefully and understand CashPack’s Terms of Use and how they apply to you before registering for CashPack.org</p>
            </li>
            <li>
                <h6>REGISTRATION OBLIGATIONS</h6>
                <p style="margin: 0 0 1px;">In consideration of your use of the Service, you represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of the United States or other applicable jurisdictions. You also agree to: 
                <ul class="termpt"><li>(a) provide true, accurate, current and complete information about yourself as prompted by the Service's registration form (the "Registration Data") and, </li>
                <li>(b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or CashPack has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, CashPack has the right to suspend or terminate your account and refuse any and all current or future use of the Service (or any portion thereof). Multiple accounts held by the same individual or entity is subject to immediate termination unless expressly authorized in writing by CashPack. You may only register an account for You or web sites owned, operated, licensed or controlled by You. You may not share your password with any other party. You are solely responsible for any and all account security and any and all activity generated from your account.</li></ul> </p>
            </li>
            <li>
                <h6>PAYOUT TO CAUSES</h6>
                <p style="margin: 0 0 1px;">CashPack distributes checks to causes quarterly. Merchants don’t report sales to us for up to eight weeks in order to allow time for returns, exchanges and refunds. Travel purchases don’t appear until a few weeks after travel is complete. When you’re an account holder, <ul class="termpt"><li>(1) you direct cash back funds to the causes of your own choice and/or already established charities.</li><li> (2) You determine how much to allocate to each cause.</li><li> (3) CashPack will ask you to confirm a payment method: an electronic check via email, or PayPal or Stripe.</li></ul> <p style="margin: 0 0 1px;">Once those three steps are taken, CashPack will write a check, on your behalf, to the causes you’ve chosen. The deadline to make a choice about how to allocate your CashPack funds is at the end of each quarter (March, June, September, December). Payments will be made on the 15th of the following month. CashPack requires there be a minimum of $10 in your account before we are able to send payment to your causes. If that minimum is not met, cash back funds will remain in your CashPack account. That money does not expire.</p> </p>
            </li>
            <li>
                <h6>PRIVACY POLICY</h6>
                <p style="margin: 0 0 1px;">The privacy of your personal information is very important to us. For more on what information we collect and how we use such information, please read our complete Privacy Policy. You acknowledge, consent and agree that CashPack may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary to: </p>
                <ul class="termpt">
                <li>(a) comply with legal process; </li>
                <li>(b) enforce the TOU; </li>
                <li>(c) respond to claims that any Content violates the rights of third parties; </li>
                <li>(d) respond to your requests for customer service; or </li>
                <li>(e) protect the rights, property or personal safety of CashPack, its users and the public. </li>
                </ul>
                <p style="margin: 0 0 1px;">You further acknowledge, consent and agree that CashPack may disclose your account information and status to its employees, directors, officers, consultants and advisors including affiliated merchants, networks and agencies who need such information to perform their respective duties. CashPack may also display your likeness or company logo on CashPack’s website.</p>
            </li>
            <li>
                <h6>MEMBER ACCOUNT, PASSWORD AND SECURITY</h6>
                <p>
                    The information provided during registration must be truthful and accurate and may not hide your real identity. You may only register accounts for You and/or websites owned, operated, licensed or controlled by You. You may not share your password with any other party. You are solely responsible for any and all account security and any and all activity generated from your account.</p>
            </li>
            <li>
                <h6>INTERSTATE COMMUNICATIONS</h6>
                <p>When you register with CashPack, you acknowledge that in using CashPack services to send electronic communications (including but not limited to search queries, sending messages to the CashPack blog or CashPack feedback forums, and other internet activities), you will be causing communications to be sent through CashPack’s computer networks located in around the United States. As a result, and also as a result of CashPack’s network architecture and business practices and the nature of electronic communications, even communications that seem to be intrastate in nature can result in the transmission of interstate communications regardless of where you are physically located at the time of transmission. Accordingly, by agreeing to the TOU, you acknowledge that use of the service results in interstate data transmissions.</p>
            </li>
            <li>
                <h6>INTERNATIONAL USE</h6>
                <p>Recognizing the global nature of the internet, you agree to comply with all local rules regarding online conduct and acceptable Content. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside. CashPack cannot and will not be liable for any loss or damage arising from your failure to comply with this Section.</p>
            </li>
            <li>
                <h6>INDEMNITY</h6>
                <p>You agree to indemnify and hold CashPack LLC, the CashPack parties, and all subsidiaries, affiliates, officers, members, agents, employees, partners and licensors harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of content you submit, post, transmit or otherwise make available through the Service, your use of the Service, your connection to the Service, your violation of this contract, your violation of any rights of another or any claims that result from your operation of your storefront, including, but not limited to, indecent content, claims your suppliers or customers related to your storefront, and governmental regulatory claims related to your storefront. </p>
            </li>
            <li>
                <h6>RESALE OR REDISTRIBUTION OF SERVICE</h6>
                <p>You agree not to reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any portion of the Service, use of the Service, or access to the Service.</p>
            </li>
            <li>
                <h6>MONETIZATION USING THIRD PARTY SERVICES</h6>
                <p>You agree to not engage, participate in or provide access to any separate third party services or any co-monetization effort utilizing CashPack links or data using third party services or software, except otherwise authorized by CashPack.</p>
            </li>
            <li>
                <h6>MODIFICATIONS TO LINKS</h6>
                <p>You agree not to modify any CashPack links provided from our Service.</p>
            </li>
            <li>
                <h6>MODIFICATIONS TO MEMBERSHIP</h6>
                <p>CashPack reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the membership (or any part thereof) with or without notice. You agree that CashPack shall not be liable to you or to any third party for any modification, suspension or discontinuance of the membership.</p>
            </li>
            <li>
                <h6>TERMINATION</h6>
                <p>CashPack reserves the right to terminate or refuse participation to any applicant or participant at any time in its sole discretion. If CashPack terminates your account, all legally earned cash back in your account will be distributed to one of your existing causes at the next payment cycle. If no cause was created, CashPack will distribute the funds to you directly. No funds will be distributed if you have violated these Terms of Use. You can terminate your account at any time directly in your portal or by emailing info@cashpack.org. </p>
            </li>
            <li>
                <h6>LINKS</h6>
                <p>The Service may provide, or third parties may provide, links to other World Wide Web sites or resources. Because CashPack has no control over such sites and resources, you acknowledge and agree that CashPack is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that CashPack shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.</p>
            </li>
            <li>
                <h6>LIMITED LICENSE</h6>
                <p>You acknowledge and agree that the Service and any necessary software used in connection with the Service ("Software") contain proprietary and confidential information that is protected by applicable intellectual property and other laws. You further acknowledge any information presented to you through the Service or by advertisers is protected by copyrights, trademarks, service marks, patent or other proprietary rights and laws. Except as expressly authorized by CashPack, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Service or the Software, in whole or in part. CashPack grants you a personal, non-transferable and non-exclusive right and license to use the Service; provided you do not (and do not allow any third party to) copy, modify, create a derivative work from, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, grant a security interest in or otherwise transfer any right in the Software. You agree neither to modify the Software in any manner or form, nor to use modified versions of the Software, including (without limitation) for the purpose of obtaining unauthorized access to the Service. You agree not to access the Service by any means other than through the interface that is provided by CashPack for use in accessing the Service.</p>
            </li>
            <li>
                <h6>DISCLAIMER OF WARRANTIES</h6>
                <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT: 1. YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. CASHPACK AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. 2. CASHPACK AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS MAKE NO WARRANTY THAT (i) THE SERVICE WILL MEET YOUR REQUIREMENTS; (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE; (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS; AND (v) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED. 3. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. 4. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM CASHPACK OR THROUGH OR FROM THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TOU.</p>
            </li>
            <li>
                <h6>LIMITATION OF LIABILITY</h6>
                <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT CASHPACK AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF CASHPACK HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE. IN NO EVENT WILL CASHPACK BE LIABLE FOR DAMAGES IN EXCESS OF THE CASH BACK EARNED BY YOU DURING THE PRIOR TWELVE (12) MONTH PERIOD.</p>
            </li>
            <li>
                <h6>EXCLUSIONS AND LIMITATIONS</h6>
                <p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS IN THE DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY SECTIONS MAY NOT APPLY TO YOU.</p>
            </li>
            <li>
                <h6>NOTICE</h6>
                <p>CashPack may provide you with notices, including those regarding changes to the TOU, by e-mail, or postings on the Service.</p>
            </li>
            <li>
                <h6>TRADEMARKS AND COPYRIGHTS</h6>
                <p>The CashPack and CashPack, LLC trademarks and service marks and other of CashPack’s and its affiliates' logos and product and service names are trademarks of CashPack, LLC or its affiliates, as applicable. All material on this site, including, but not limited to images, logos, illustrations, audio clips, video clips, website coding, website processes, website services and website text is protected by copyrights, trademarks and other intellectual property rights which are owned and controlled by CashPack or by other parties that have licensed their material to CashPack. Material found on the website or any web site owned, operated, licensed or controlled by CashPack may not be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any way, including by e-mail or other electronic means without the prior written consent from CashPack. Modification of the materials, use of the materials on any other web site or networked computer environment, or use of the materials for any purpose other than personal, non-commercial use is a violation of the copyrights, trademarks and other proprietary rights, and is prohibited. The fact that CashPack may not object to every use of the material on this site is not to be construed as a waiver of any of these rights.</p>
            </li>
            <li>
                <h6>GENERAL INFORMATION </h6>
                <p>Entire Agreement: The TOU constitutes the entire agreement between you and CashPack and governs your use of the Service, superseding any prior agreements between you and CashPack with respect to the Service. You also may be subject to additional terms and conditions that may apply when you use other CashPack Services. Choice of Law and Forum: The TOU and the relationship between you and CashPack shall be governed by the laws of the State of Washington without regard to its conflict of law provisions. You and CashPack agree to submit to the personal and exclusive jurisdiction of the courts located within the county of King, Washington. Waiver and Severability of Terms: The failure of CashPack to exercise or enforce any right or provision of the TOU shall not constitute a waiver of such right or provision. If any provision of the TOU is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the TOU remain in full force and effect. By accepting our TOU you acknowledge that you may not sublicense use of the Service to any third party without CashPack’s prior written consent, in which case you shall be solely liable for the acts and omissions of such sublicensees and shall ensure their compliance with this Agreement. </p>
            </li>
            <li>
                <h6>ASSIGNMENT</h6>
                <p>We may assign this Agreement, in whole or in part, at any time with or without notice to you. You may not assign this Agreement, or any part of it, to any other person. Any attempt to do so will void the Agreement. You may not transfer to anyone else, either temporarily or permanently, any rights to use the Service or any part of the Service without written approval from CashPack.
                </p>
            </li>
        </ul>
        </div>
    </div>
</section>
