<div class="container">
  <form ng-controller="EditArrayCtrl" name="myForm">
    <div class="row editRow" ng-repeat="name in names">
    <div class="col-md-4"><input type="checkbox" ng-model="name.isChecked" checklist-model="name.Selected" checklist-value="name.Name"><strong>  Name:- </strong> {{name.Name}}</div>
    <div class="col-md-4"><strong>Country:- </strong> {{ name.Country}}</div>
    <div class="col-md-2"><button class="btn btn-primary btn-sm" ng-click="edit($index)">Edit</button></div>
    <div class="col-md-2"> <button class="btn btn-primary btn-sm" ng-click="remove($index)">Remove</button></div>
    </div>
  <div class="row">
    <div class="col-md-5">
      Name: <input type="text" name="user" ng-model="input" placeholder="Name" required>
      <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
      <span ng-show="myForm.user.$error.required">Name is required.</span>
      </span>
    </div>
    <div class="col-md-5">
      Country: <input type="text" name="country" ng-model="inputCountry" placeholder="Country" required>
      <span style="color:red" ng-show="myForm.country.$dirty && myForm.country.$invalid">
      <span ng-show="myForm.country.$error.required">Country is required.</span>
      </span>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-sm" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
      myForm.country.$dirty && myForm.country.$invalid" ng-if="normal" ng-show="showButton" ng-click="add()">Add</button>
    <button type="submit" class="btn btn-primary btn-sm" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
    myForm.country.$dirty && myForm.country.$invalid" ng-if="!normal" ng-show="showButton" ng-click="modifyName()">Modify</button>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6"><button class="btn btn-primary btn-lg" ng-click="deleteMultiple()">Delete Selected</button></div>
  </div>
</form>
</div>
