<div class="container">
  <div>
    <div class="col-md-8 col-md-offset-2">
      <h1>Type a letter in the input field:</h1>
      <div class="topCont"><input type="text" ng-disabled="textBlock" ng-model="test">
        <button type="submit" class="btn btn-primary btn-sm" ng-click="orderByMe('Name')">By Name</button>
        <button type="submit" class="btn btn-primary btn-sm" ng-click="orderByMe('Country')">By Country</button>
        <button class="btn btn-primary btn-sm" ng-click="clear()">Clear Search</button>
      </div>
    </div>
    <br></br>
    <br></br>
  <!-- <div class="row" ng-repeat="name in filteredData">
    <div class="col-md-4"><strong>Name:- </strong> {{name.Name}}</div>
    <div class="col-md-4"><strong>Country:- </strong> {{ name.Country}}</div>
  </div> -->
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered">
      <thread>
        <tr>
          <th class="text-center">NAME</th>
          <th class="text-center">COUNTRY</th>
        </tr>
      </thread>
      <tbody>
        <!-- <div class="row" ng-repeat="name in names"> -->
          <tr ng-repeat="name in filteredData">
            <td>
              <div class="col-md-6">{{name.Name}}</div>
            </td>
            <td>
              <div class="col-md-6">{{name.Country}}</div>
            </td>
          </tr>
      </tbody>
      <tfooter>
        <tr>
          <td id="notFoundDiv" ng-show="filteredData.length==0" style="color: red; font-weight: bold">No Records Found</td>
        </tr>
      </tfooter>
  </table>
  </div>
  <!-- <div id="notFoundDiv" ng-show="filteredData.length==0" style="color: red; font-weight: bold">No Records Found</div> -->
</div>

</div>
