<div class="container">
  <div ng-controller="PostsCtrl">
    <h2 class="text-center">FUll List Of Names</h2>
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-bordered">
        <thread>
          <tr>
            <th class="text-center">NAME</th>
            <th class="text-center">COUNTRY</th>
          </tr>
        </thread>
        <tbody>
          <!-- <div class="row" ng-repeat="name in names"> -->
            <tr ng-repeat="name in names">
              <td>
                <div class="col-md-6">{{name.Name}}</div>
              </td>
              <td>
                <div class="col-md-6">{{name.Country}}</div>
              </td>
            </tr>
          <!-- </div> -->
        </tbody>
      <!-- <div class="col-md-6"><strong>Name:- </strong> {{name.Name}}</div> -->
      <!-- <div class="col-md-6"><strong>Country:- </strong> {{ name.Country}}</div> -->
    </table>
    </div>
</div>
</div>
