<template>
<div class="forgot-password">
  <div class="forgot-password-frame">
    <div class="header-wrapper">
      <img src="static/images/officepal-logo.png" alt="Office Pal" />
      <h1>Forgot Your Password?</h1>
      <h3>No worries just enter your email address below.</h3>
      <h3>We'll send you instructions how to reset your passwords.</h3>
    </div>
    <div class="forgot-password-wrapper">
      <form name="forgot-password-form" method="post">
        <div class="form-control">
          <label for="email" :class="{'control-label': true, 'label': true}">Your email *</label>
          <input type="email" name="email" v-model="email" data-vv-as="Email" :class="{'input': true, 'form-input': true }" v-validate="'required|email'" @focus="focus($event)" @blur='blur($event)' />
          <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
        </div>

        <div class="form-control overflow">
          <button type="button" class="button" @click="signin">Request Password Reset <i class="fa fa-lock" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
    <div class="footer-wrapper">
      <div class="login-wrapper">
        <router-link to="forgotpassword"><i class="fa fa-angle-left" aria-hidden="true"></i> Login with current password</router-link>
      </div>
      <div class="signup-account-wrapper">
        <router-link to="signup">Create a new account <i class="fa fa-angle-right" aria-hidden="true"></i></router-link>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    focus: function(event) {
      //            console.log(event)
      $(event.target).prev('label.control-label').css({
        'transform': 'translateY(0)'
      });
    },
    blur: function(event) {
      if ($(event.target).val() === '') {
        $(event.target).prev('label.control-label').css({
          'transform': 'translateY(23px)'
        });
      }
    },
    signin: function() {
      this.$validator.validateAll().then((result) => {
        //                console.log(result)
        if (result) this.$router.push('/');
      });
    }
  },
  mounted() {
    if (this.$session.has('userloggedin')) this.$router.push('/');
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: inherit;
}

.forgot-password {
  background-color: #2c3e50;
  height: 100%;
}

.header-wrapper {
  margin-bottom: 40px;
}

.header-wrapper h1 {
  color: #95a5a6;
  margin: 22px 0 12px;
}

.header-wrapper h3 {
  color: #2c3e50;
  font-size: 16px;
}

.forgot-password-wrapper {
  margin-bottom: 30px;
  color: #95a5a6;
}

.forgot-password-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecf0f1;
  padding: 40px 50px;
  border-radius: 5px;
  width: 36%;
}

.control-label {
  display: block;
  text-align: left;
  cursor: text;
  pointer-events: none;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translateY(23px);
  -moz-transform: translateY(23px);
  transform: translateY(23px);
}

.form-control {
  padding-bottom: 15px;
}

.form-input {
  width: 100%;
  height: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid;
  border-color: #95a5a6;
  font-size: 15px;
}

.footer-wrapper {
  overflow: hidden;
}

.footer-wrapper a {
  text-decoration: none;
}

.login-wrapper {
  float: left;
  color: #c0293b;
}

.signup-account-wrapper {
  float: right;
  color: #34495e;
}

.overflow {
  overflow: hidden;
}

.button {
  background-color: #27ae60;
  border: transparent;
  color: #ecf0f1;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 14px;
  padding: 12px 25px;
  margin: 20px 0;
}

.is-danger {
  color: #c0392b;
  display: block;
  text-align: left;
}
</style>
