<script>
export default {
  name: 'Header',
  props: ['name'],
  filters: {
    firstName: function(value) {
      if (!value) return '';
      return value.split(' ')[0];
    }
  },
  template: `<div class="header">
							  <p>{{ name | firstName }}</p>
							  <ul>
							    <li><a href="javascript:void(0)" v-on:click="$emit('logout', name )">Logout</a></li>
							  </ul>
						 </div>`

}
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}

.header {
  padding: 15px;
  background: #2c3e50;
  color: #ecf0f1;
  overflow: hidden;
}

p {
  margin: 0;
  float: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  float: right;
}

li {
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
}
</style>
