<template>
<div class="home">
  <app-header :name="user.name" v-on:logout="logout"></app-header>
  <div class="employee-main-wrapper">
    <div class="employee-list-wrapper">

    </div>
    <a href="#employee-add-wrapper" data-modal class="employee-add-btn"><i class="fa fa-plus"></i></a>
  </div>
  <div id="employee-add-wrapper" class="employee-add-wrapper modal">
    <div class="modal-header">
      <h2>add employee</h2>
    </div>
    <div class="modal-content">
      <div class="loader" v-show="loader"><img src="static/images/loader.gif" /></div>

      <form name="employee-add-form" method="post">
        <div class="form-control">
          <label for="empname" :class="{'control-label': true, 'label': true}">Full Name *</label>
          <input type="text" name="empname" v-model="empname" data-vv-as="Full Name" :class="{'input': true, 'form-input': true }" v-validate="'required'" @focus="focus($event)" @blur='blur($event)' @keyup.enter="addEmp" />
          <transition name="fade"><span v-show="errors.has('empname')" class="help is-danger">{{ errors.first('empname') }}</span></transition>
        </div>

        <div class="form-control">
          <label for="empemail" :class="{'control-label': true, 'label': true}">Email *</label>
          <input type="email" name="empemail" v-model="empemail" data-vv-as="Email" :class="{'input': true, 'form-input': true }" v-validate="'required|email'" @focus="focus($event)" @blur='blur($event)' @keyup.enter="addEmp" />
          <transition name="fade"><span v-show="errors.has('empemail')" class="help is-danger">{{ errors.first('empemail') }}</span></transition>
          <transition name="fade"><span v-show="is_emailexists" class="help is-danger">Email Already exists</span></transition>
        </div>

        <div class="form-control" style="padding-top: 15px;">
          <select name="empdesignation" v-model="empdesignation" data-vv-as="Designation" :class="{'input': true, 'form-input': true }" v-validate="'required'">
            <option value="">Select Designation *</option>
            <option :value="designation" v-for="designation in designationlist">{{ designation }}</option>
          </select>
          <transition name="fade"><span v-show="errors.has('empdesignation')" class="help is-danger">{{ errors.first('empdesignation') }}</span></transition>
        </div>

        <div class="form-control" style="text-align: right;">
          <button type="button" class="button" @click="addEmp">Add <i class="fa fa-check" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';
import Header from './Header.vue';



export default {
  name: 'Home',
  components: {
    appHeader: Header
  },
  data() {
    return {
      loader: false,
      user: {},
      empname: '',
      empemail: '',
      empdesignation: '',
      is_emailexists: false,
      designationlist: [
        'Front-End Developer',
        'Back-End Developer (PHP)',
        'Back-End Developer (.NET)',
        'Front-End Tech Lead',
        'Back-End Tech Lead (PHP)',
        'iOS Developer',
        'Android Developer',
        'iOS Tech Lead',
        'Android Tech Lead (PHP)',
        'Project Manager',
        'Account Manager'
      ]
    }
  },
  mounted() {
    $('.employee-add-btn').click(function(event) {
      $(this).modal();
      return false;
    });

    if (!this.$session.has('userloggedin')) this.$router.push('/login');
    else {
      this.email = this.$session.get('userloggedin');
      axios.get('https://officepal-b4280.firebaseio.com/user.json')
        .then((response) => {
          for (let key in response.data) {
            if (response.data[key].email === this.email) {
              this.user = response.data[key];
            }
          }
        });

      axios.get('https://officepal-b4280.firebaseio.com/employee.json')
        .then((response) => {
          for (let key in response.data) {
            console.log(response.data[key]);
            // 1. https://github.com/matfish2/vue-tables-2
            // 2. https://github.com/coderdiaz/vue-datasource
            // 3. https://github.com/MicroDroid/vue-materialize-datatable
            // 4. https://github.com/OneWayTech/vue2-datatable
            // 5. https://vuejsfeed.com/blog/comparison-of-datatable-solutions-for-vue-js
          }
        });
    }
  },
  methods: {
    logout: function(name) {
      if (this.$session.has('userloggedin')) {
        this.$session.destroy();
        this.$router.push('/login');
      }
    },

    focus: function(event) {
      $(event.target).prev('label.control-label').css({
        'transform': 'translateY(0)'
      });
    },

    blur: function(event) {
      if ($(event.target).val() === '') {
        $(event.target).prev('label.control-label').css({
          'transform': 'translateY(23px)'
        });
      }
    },

    addEmp: function() {
      this.$validator.validateAll().then((result) => {
        //                console.log(result)
        if (result) {
          this.loader = true;
          // reinitialize the flag value
          this.is_emailexists = false;
          axios.get('https://officepal-b4280.firebaseio.com/employee.json')
            .then((response) => {
              for (let key in response.data) {
                if (response.data[key].email === this.empemail) {
                  this.loader = false;

                  // set the flag value if email exists
                  this.is_emailexists = true;
                  return;
                }
              }

              // if email does not exists register the user
              if (!this.is_emailexists) {
                axios.post('https://officepal-b4280.firebaseio.com/employee.json', {
                  name: this.empname,
                  email: this.empemail,
                  designation: this.empdesignation
                }).then((response) => {
                  this.loader = false;
                  this.$swal({
                    title: "Success!",
                    text: 'Successfully Added',
                    type: "success"
                  }).then(function() {
                    $.modal.close();
                  });
                });
              }
            });
        }
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
  margin: 0
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.employee-add-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #2d3e50;
  color: #e4e8e9;
  font-size: 20px;
  cursor: pointer;
}

.employee-add-wrapper {
  border-radius: 5px;
  max-width: 75%;
  padding: 0;
  font-family: 'Source Sans Pro', 'Avenir', Helvetica, Arial, sans-serif;
}

.employee-add-wrapper .modal-header {
  padding: 15px 30px;
  border-bottom: 1px solid #95a5a6;
}

.employee-add-wrapper .modal-header h2 {
  text-transform: capitalize;
  color: #95a5a6;
}

.employee-add-wrapper .modal-content {
  margin-bottom: 10px;
  color: #95a5a6;
  padding: 15px 30px;
}

div.jquery-modal.blocker {
  background-color: rgba(107, 102, 102, 0.5);
}

.employee-add-wrapper .control-label {
  display: block;
  text-align: left;
  cursor: text;
  pointer-events: none;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translateY(23px);
  -moz-transform: translateY(23px);
  transform: translateY(23px);
}

.employee-add-wrapper .form-control {
  padding-bottom: 15px;
}

.employee-add-wrapper .form-input {
  width: 100%;
  height: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid;
  border-color: #95a5a6;
  font-size: 15px;
}

/*
.employee-add-wrapper select.form-input option {
  color: #95a5a6;
} */

.employee-add-wrapper .button {
  background-color: #27ae60;
  border: transparent;
  color: #ecf0f1;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 25px;
}

.employee-add-wrapper .button:hover {
  background-color: #2ecc71;
}

.employee-add-wrapper .is-danger {
  color: #c0392b;
  display: block;
  text-align: left;
  border-color: #c0392b;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20%;
  width: 10%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.loader img {
  height: 100%;
  width: 100%;
}
</style>
