<template>
<div class="login">
  <div class="loader" v-show="loader"><img src="static/images/loader.gif" /></div>
  <div class="login-frame">
    <div class="header-wrapper">
      <img src="static/images/officepal-logo.png" alt="Office Pal" />
      <h2>Sign Up for free to get started</h2>
    </div>
    <div class="login-wrapper">
      <form name="login-form" method="post">
        <div class="form-control">
          <label for="email" :class="{'control-label': true, 'label': true}">Your email *</label>
          <input type="email" name="email" v-model="email" data-vv-as="Email" :class="{'input': true, 'form-input': true }" v-validate="'required|email'" @focus="focus($event)" @blur='blur($event)' @keyup.enter="signin" />
          <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
        </div>

        <div class="form-control">
          <label for="password" :class="{'control-label': true, 'label': true}">Password *</label>
          <input type="password" name="password" v-model="password" data-vv-as="Password" :class="{'input': true, 'form-input': true }" v-validate="'required'" @focus="focus($event)" @blur='blur($event)' @keyup.enter="signin" />
          <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
        </div>

        <div class="form-control overflow">
          <button type="button" class="button" ref="signin-btn" @click="signin($event)">Log in <i class="fa fa-lock" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
    <div class="footer-wrapper">
      <div class="forgot-password-wrapper">
        <router-link to="forgotpassword"><i class="fa fa-angle-left" aria-hidden="true"></i> I forgot my password</router-link>

      </div>
      <div class="signup-account-wrapper">
        <router-link to="signup">Create a new account <i class="fa fa-angle-right" aria-hidden="true"></i></router-link>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      loader: false,
    }
  },
  methods: {
    focus: function(event) {
      //            console.log(event)
      $(event.target).prev('label.control-label').css({
        'transform': 'translateY(0)'
      });
    },
    blur: function(event) {
      if ($(event.target).val() === '') {
        $(event.target).prev('label.control-label').css({
          'transform': 'translateY(23px)'
        });
      }
    },
    signin: function(event) {
      this.$validator.validateAll().then((result) => {
        //                console.log(result)
        if (result) {
          this.loader = true;
          axios.get('https://officepal-b4280.firebaseio.com/user.json')
            .then((response) => {
              this.loader = false;
              let flag = 0;
              for (let key in response.data) {
                if (response.data[key].email === this.email && response.data[key].password === this.password) {
                  flag = 1;
                  this.$session.start();
                  this.$session.set('userloggedin', this.email);
                  this.$router.push('/');
                }
              }
              if (!flag) {
                console.log('Invalid username password');
              }
            });
        }
      });
    }
  },
  mounted() {
    if (this.$session.has('userloggedin')) this.$router.push('/');
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: inherit;
}

.login {
  background-color: #2c3e50;
  height: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20%;
  width: 10%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.loader img {
  height: 100%;
  width: 100%;
}

.header-wrapper h2 {
  color: #95a5a6;
  margin: 20px 0 10px;
  font-size: 25px;
}

.login-wrapper {
  margin-bottom: 30px;
  color: #95a5a6;
}

.login-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecf0f1;
  padding: 25px 50px;
  border-radius: 5px;
  width: 36%;
}

.control-label {
  display: block;
  text-align: left;
  cursor: text;
  pointer-events: none;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translateY(23px);
  -moz-transform: translateY(23px);
  transform: translateY(23px);
}

.form-control {
  padding-bottom: 15px;
}

.form-input {
  width: 100%;
  height: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid;
  border-color: #95a5a6;
  font-size: 15px;
}

.footer-wrapper {
  overflow: hidden;
}

.footer-wrapper a {
  text-decoration: none;
}

.forgot-password-wrapper {
  float: left;
  color: #c0293b;
}

.signup-account-wrapper {
  float: right;
  color: #34495e;
}

.overflow {
  overflow: hidden;
}

.button {
  background-color: #27ae60;
  border: transparent;
  color: #ecf0f1;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 14px;
  padding: 12px 25px;
}

.button:hover {
  background-color: #2ecc71;
}

.is-danger {
  color: #c0392b;
  display: block;
  text-align: left;
}
</style>
