<template>
  <div class="pagenotfound">
    <div class="page-not-found-wrapper">
        <h1>404</h1>
        <button type="button" class="button" @click="goback">Go back Home</button>
    </div>
  </div>
</template>

<script>
export default {
    name: 'PageNotFound',
    methods: {
        goback: function(){
            if(this.$session.has('userloggedin')) this.$router.push('/');
            else this.$router.push('/login');
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
        margin: 0;
        color: #ecf0f1;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a{
        color: inherit;
    }    

    .pagenotfound{
        background-color: #2c3e50;
        height: 100%;
    }

    .page-not-found-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .button{
        background-color: #27ae60;
        border: transparent;
        color: #ecf0f1;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        padding: 12px 25px;
    }

    .button:hover{
        background-color: #2ecc71;
    }
</style>
