<template>
<div class="signup">
  <div class="loader" v-show="loader"><img src="static/images/loader.gif" /></div>

  <div class="signup-frame">
    <div class="header-wrapper">
      <img src="static/images/officepal-logo.png" alt="Office Pal" />
      <h2>Sign Up for free to get started</h2>
    </div>
    <div class="signup-wrapper">
      <form name="signup-form" method="post">
        <div class="form-control">
          <label for="name" :class="{'control-label': true, 'label': true}">Full Name *</label>
          <input type="text" name="name" v-model="name" data-vv-as="Full Name" :class="{'input': true, 'form-input': true }" v-validate="'required'" @focus="focus($event)" @blur='blur($event)' @keyup.enter="signup" />
          <transition name="fade"><span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span></transition>
        </div>

        <div class="form-control">
          <label for="email" :class="{'control-label': true, 'label': true}">Email *</label>
          <input type="email" name="email" v-model="email" data-vv-as="Email" :class="{'input': true, 'form-input': true }" v-validate="'required|email'" @focus="focus($event)" @blur='blur($event)' @keyup.enter="signup" />
          <transition name="fade"><span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span></transition>
          <transition name="fade"><span v-show="is_emailexists" class="help is-danger">Email Already exists</span></transition>
        </div>

        <div class="form-control overflow">
          <div class="left-password">
            <label for="password" :class="{'control-label': true, 'label': true}">Password *</label>
            <input type="password" name="password" v-model="password" data-vv-as="Password" :class="{'input': true, 'form-input': true }" v-validate="'required'" @focus="focus($event)" @blur='blur($event)' @keyup.enter="signup" />
            <transition name="fade"><span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span></transition>
          </div>
          <div class="right-password">
            <label for="rpassword" :class="{'control-label': true, 'label': true}">Repeat Password *</label>
            <input type="password" name="rpassword" v-validate="'confirmed:password'" v-model="rpassword" data-vv-as="Repeat Password" :class="{'input': true, 'form-input': true}" @focus="focus($event)" @blur='blur($event)' @keyup.enter="signup" />
            <transition name="fade"><span v-show="errors.has('rpassword')" class="help is-danger">{{ errors.first('rpassword') }}</span></transition>
          </div>
        </div>

        <div class="form-control checkbox">
          <input type="checkbox" name="terms" id="terms" v-model="terms" v-validate="'required'" />
          <label for="terms">By clicking Sign Up, you agree our <router-link to="/">Terms</router-link> and that you have read our <router-link to="/">Privacy Policy</router-link></label>
          <span v-show="errors.has('terms')" class="help is-danger">{{ errors.first('terms') }}</span>

        </div>

        <div class="form-control overflow">
          <button type="button" class="button" @click="signup">Sign Up <i class="fa fa-check" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
    <div class="footer-wrapper">
      <div class="forgot-password-wrapper">
        <router-link to="forgotpassword"><i class="fa fa-angle-left" aria-hidden="true"></i> I forgot my password</router-link>
      </div>
      <div class="signin-account-wrapper">
        <router-link to="login">Sign into my account <i class="fa fa-angle-right" aria-hidden="true"></i></router-link>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'SignUp',
  data() {
    return {
      name: '',
      email: '',
      password: '',
      rpassword: '',
      terms: false,
      is_emailexists: false,
      loader: false,
    }
  },
  methods: {
    focus: function(event) {
      //            console.log(event)
      $(event.target).prev('label.control-label').css({
        'transform': 'translateY(0)'
      });
    },
    blur: function(event) {
      if ($(event.target).val() === '') {
        $(event.target).prev('label.control-label').css({
          'transform': 'translateY(23px)'
        });
      }
    },
    signup: function() {
      this.$validator.validateAll().then((result) => {
        //                console.log(result)
        if (result) {
          this.loader = true;
          // reinitialize the flag value
          this.is_emailexists = false;
          axios.get('https://officepal-b4280.firebaseio.com/user.json')
            .then((response) => {
              for (let key in response.data) {
                if (response.data[key].email === this.email) {
                  this.loader = false;

                  // set the flag value if email exists
                  this.is_emailexists = true;
                  return;
                }
              }

              // if email does not exists register the user
              if (!this.is_emailexists) {
                axios.post('https://officepal-b4280.firebaseio.com/user.json', {
                  name: this.name,
                  email: this.email,
                  password: this.password,
                  terms: this.terms
                }).then((response) => {
                  this.loader = false;
                  this.$session.set('userloggedin', this.email);
                  this.$router.push('/');
                });
              }
            });
        }
      });
    }
  },
  mounted() {
    if (this.$session.has('userloggedin')) this.$router.push('/')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: inherit;
}

.signup {
  background-color: #2c3e50;
  height: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20%;
  width: 10%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.loader img {
  height: 100%;
  width: 100%;
}

.header-wrapper h2 {
  color: #95a5a6;
  margin: 20px 0 10px;
  font-size: 25px;
}

.signup-wrapper {
  margin-bottom: 10px;
  color: #95a5a6;
}

.signup-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecf0f1;
  padding: 25px 50px;
  border-radius: 5px;
  width: 36%;
}

.control-label {
  display: block;
  text-align: left;
  cursor: text;
  pointer-events: none;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translateY(23px);
  -moz-transform: translateY(23px);
  transform: translateY(23px);
}

.form-control {
  padding-bottom: 15px;
}

.form-input {
  width: 100%;
  height: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid;
  border-color: #95a5a6;
  font-size: 15px;
}

.footer-wrapper {
  overflow: hidden;
}

.footer-wrapper a {
  text-decoration: none;
}

.forgot-password-wrapper {
  float: left;
  color: #c0293b;
}

.signin-account-wrapper {
  float: right;
  color: #34495e;
}

.button {
  background-color: #27ae60;
  border: transparent;
  color: #ecf0f1;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 14px;
  padding: 12px 25px;
}

.button:hover {
  background-color: #2ecc71;
}

.left-password {
  float: left;
  width: 49%;
}

.right-password {
  float: right;
  width: 49%;
}

.overflow {
  overflow: hidden;
}

.checkbox input {
  margin: 3px 0;
}

.checkbox a {
  color: #16a085;
}

.checkbox label {
  font-size: 15px;
}

.is-danger {
  color: #c0392b;
  display: block;
  text-align: left;
  border-color: #c0392b;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
