body {
    //background-color: #ccc;
}
.main-frame {
    width: 600px;
    height: 400px;
    border: #ccc 4px solid;
    background: url(../images/bg.png) no-repeat;
    background-size: cover; //background-color: #ccc;
    position: relative;
    overflow: hidden;
    position: relative;
    &:before {
        content: '';
        background-color: #92D7E7;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -9;
    }
}
.cloudimg {
    position: absolute;
    z-index: -2; //right: -500px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
.cloudsmall {
    width: 125px;
}
