html{
    height: 100% !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100% !important;
    font-family: sans-serif;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}

#root{
    height: 100%;
    background-color: #1a1919;
    font-family: 'Roboto', sans-serif;
}

.react-router-wrapper{
    height: 100%;
}