/* Responsive */
@media (max-width: 1199px) {		
}

@media (max-width: 1024px) {

}

@media (max-width: 991px) {	
.topright-toggle-section .textarea{
	display:none;	
	}
.header-notification{
	border-right:none;
	padding:23px 25px 23px 0px;
	}
.header-search{	
	padding:17px 0px 0px 20px;
	width:auto;
	}							 		 		
}

@media (max-width: 768px) {
.graphbox, .col-box-head h4{
	text-align:center;
	}
.graphbox ul.colorhints, .graphbox ul.colorhints-tab{
	float:none; margin-top:0;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {	
}

@media (max-width: 360px) {
}


