/*	1. General style, 2. Global style, 3. General style */
* {
	padding: 0;
	margin: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: 'Lato', sans-serif; 
}
/* 2. General style */
.wrapper {
	padding: 0;
	margin: 0;
	background:#f0f4f7;
	overflow: hidden;
	height: 100%;
	min-height: 600px;
}

/*.container {
	max-width: 1170px;
}*/
h1 {
	font-size: 60px;
	line-height: 72px;
    }
p {
	color: #3b3b3b;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	padding-bottom: 15px;
    }
	
/* 3. Global structure style */
.left-panel{	
	width:100%;
	height:100%;
	}
.right-panel{	
	width:100%;
	height:100%;
	}	
.expand-left-panel{	
	padding-left:15px;
	padding-right:15px;
	height:100%;
	width:290px;
	float:left;
	position:fixed;
	}
.expand-right-panel{	
	padding-left:15px;
	padding-right:15px;
	width:auto;
	margin-left:290px;
	}		
.collaps-left-panel{	
	padding-left:15px;
	padding-right:15px;
	height:100%;
	width:60px;
	float:left;
	position:fixed;
	z-index:99999!important;
	}
.collaps-right-panel{	
	padding-left:15px;
	padding-right:15px;
	width:auto;
	margin-left:60px;
	}			
.logo-background{
	background:#2a3e61; 
	min-height:64px;
	padding:15px 0px;
	text-align:center;
	}	
.logo-background{
	background:#2a3e61; 
	min-height:64px;
	padding:13px 0px;
	text-align:center;
	}		
.right-top-area{
	background:#fff; 
	min-height:64px;
	}
	
/* Expand nav start */	
.left-nav-area{
	background:#19283f; 
	height:100%;
	min-height:700px;
	padding:50px 0px;	
	}
.left-nav-area ul{
	margin:0px;
	padding:0px;
	list-style:none;	
	}
.left-nav-area ul li{
	font-size:14px;
	font-weight:700;	
	}
.left-nav-area ul li a{	
	color:#acb0bb;	
	padding:12px 20px 12px 30px;	
	position:relative;
	display:block;text-decoration:none;
	}
.left-nav-area ul li a:hover{	
	color:#fff;	
	text-decoration:none;
	}
.left-nav-area ul li a.active{	
	color:#fff;	
	text-decoration:none;
	}		
.left-nav-area ul li a span.icon i{
	font-size:16px;
	display:inline-block;
	margin-right:10px;
	margin-top:2px;		
	}
.left-nav-area ul li a span.arrow{
	position:absolute;
	right:20px;
	top:40%;
	}
.left-nav-area ul ul{
	display:none;
	margin-bottom:15px;
	}	
.left-nav-area ul li ul li{
	font-size:13px;
	font-weight:400;	
	}								
.left-nav-area ul li ul li a{
	display:block;
	padding:12px 20px 12px 60px;
	margin-bottom:0px;
	color:#838da3;
	}	
.left-nav-area ul li ul li a:hover{
	background:#36465d;
	color:#fff;
	text-decoration:none;
	}	
.left-nav-area ul li ul li a.active{
	background:#36465d;
	color:#fff;
	text-decoration:none;
	}
/* Expand nav end */		
	

/* Collaps nav start */	
.left-mobile-nav-area{
	background:#19283f; 
	height:100%;
	min-height:700px;
	padding:30px 0px;	
	}
.left-mobile-nav-area ul{
	margin:0px;
	padding:0px;
	list-style:none;	
	}
.left-mobile-nav-area ul li{
	font-size:14px;
	font-weight:700;
	position:relative;		
	}
.left-mobile-nav-area ul li a{	
	color:#acb0bb;	
	padding:18px 20px;	
	position:relative;
	display:block;
	}
.left-mobile-nav-area ul li a:hover{	
	color:#fff;	
	text-decoration:none;
	background:#101a2b;
	}
.left-mobile-nav-area ul li a.active{	
	color:#fff;
	background:#101a2b;
	}		
.left-mobile-nav-area ul li a span.icon i{
	font-size:16px;
	display:inline-block;
	margin-right:10px;
	margin-top:2px;		
	}
.left-mobile-nav-area ul li a span.mobile-nav, .left-mobile-nav-area ul li a span.arrow{
	display:none;
	}	
.left-mobile-nav-area ul ul{
	display:none !important;	
	}
.left-mobile-nav-area ul li:hover ul{
	display:block !important;
	position:absolute;
	top:0;
	left:60px;
	background:#2a3e61;
	padding:10px;	
	width:200px;
	z-index:99;
    }	
.left-mobile-nav-area ul ul li{
	font-size:13px;
	font-weight:400;	
	}								
.left-mobile-nav-area ul ul li a{
	display:block;
	padding:8px 10px;
	margin-bottom:0px;
	color:#838da3;		
	text-align:left;
	background:none;	
	}	
.left-mobile-nav-area ul li ul li a:hover, .left-mobile-nav-area ul li ul li a.active{	
	color:#fff;
	text-decoration:none; background:none;
	}
/* Collaps nav end */		
		
/* Header notification area start */			
.header-notification{
	display:inline-block;
	border-right:solid 1px #dee5ed;
	padding:23px 45px 23px 0px;
	}
.header-notification ul{
	margin:0px;
	padding:0px; list-style:none;
	}
.header-notification ul li{		
	position:relative;
	display:inline;
	font-size:18px;
	}
.header-notification ul li a{	
	color:#acb8c8;
	padding:0px 18px;				
	}
.header-notification ul li a:hover{	
	color:#2a3e61;				
	}	
.header-notification ul li a span.roundshape{
	font-size:13px;line-height:25px;
	width:25px;	height:25px;
	border-radius:50%;
	background:#f3565d;
	position:absolute;	
	color:#fff;
	text-align:center;
	top:-8px;
	right:-2px;
	}
/* Header notification area end */	
	
/* Header search area start */					
.header-search{
	display:inline-block;
	padding:17px 0px 0px 40px;
	width:49%;
	}
.header-search-area{
	width:100%;
	}
.header-search-area span.search{
	float:left;
	margin-top:8px;
	}	
.header-search-area i{
	font-size:18px;
	color:#acb8c8;
	display:inline-block;
	vertical-align:middle;
	}	
.header-search .form-control{
	display:inline-block;
	width:90%;
	border:none; outline:none; font-size:13px;
	background:#fff; border-radius:0px;
	box-shadow:none;
	vertical-align:middle;
	}	
/* Header search area end */	
		
/* Top right toggle area start */	
.topright-toggle-section{
	display:inline-block;
	float:right;
	padding-top:10px;
	padding-right:5px;
	position:relative;	
	}
	
.topright-toggle-section .image-area{
	display:inline-block; position:relative;
	width:47px; height:47px;
	background:#eee;
	border-radius:50%;
	overflow:hidden;
	float:left;
	margin-right:5px;
	}
.topright-toggle-section .image-area span{
	display:inline-block; position:relative;
	width:15px; height:15px;
	background:#eee;
	border-radius:50%;
	overflow:hidden;
	float:left;
	margin-right:10px;
	}		
.topright-toggle-section .textarea{
	display:inline-block;
	font-size:13px; line-height:47px; font-weight:700;
	float:left; margin-right:10px;
	cursor:pointer;		
	}
.topright-toggle-section .trhttoggle{
	cursor:pointer;
	}	
.topright-toggle-section .textarea span{
	display:inline-block;
	margin-left:10px;	
	}
.topright-toggle-section .textarea span.textareaname{
	display:inline-block;
	}	
.toprht-togglenav{	
	width:180px;
	position:absolute;
	background:#fff;
	border-radius:0px 0px 5px 5px;
	padding:10px 20px;
	top:65px;
	right:0px;
	-webkit-box-shadow: 1px 1px 1px 1px #eee;
    -moz-box-shadow:1px 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px 1px #eee;
	display:none;
	z-index:10;
	}
.toprht-togglenav:after{
	bottom: 100%;
	right: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #eee;
	border-width: 6px;
	margin-left: -6px;	
	}	
				
.toprht-togglenav ul{
	margin:0px;
	padding:0px; list-style:none;
	}
.toprht-togglenav ul li{
	display:block;
	padding:8px 0px;
	font-size:12px; font-weight:300;
	}
.toprht-togglenav ul li a{
	color:#a7a7af;
	text-decoration:none;
	}
.toprht-togglenav ul li a span{
	display:inline-block;
	margin-right:5px;
	}	
.toprht-togglenav ul li a:hover{
	color:#4b8ccc; text-decoration:none;
	}	
/* Top right toggle area start */				

.right-midcontent-area{	
	padding:10px 20px;
	}
	
/* Breadcrumb start */	
.breadcrumb{
	width:auto; height:auto;
	margin-bottom:20px;
	background-color:transparent;
	padding:8px 0px;
	}
.breadcrumb ul{
	margin:0px; padding:0px; 
	list-style:none;
	}
.breadcrumb ul li{
	background:url(../images/round-arrow.png) no-repeat 0px 6px;	
	padding:0px 10px 0px 20px;
	font-size:12px;line-height:18px;
	display:inline-block; font-weight:300;
	}
.breadcrumb ul li a{
	color:#acb0bb;
	}
.breadcrumb ul li a:hover, .breadcrumb ul li a.active{
	color:#5e6578;
	text-decoration:none;
	}				
.breadcrumb ul li:first-child{
	background:none;	
	padding:0px 10px 0px 0px;
	font-size:12px;line-height:18px;
	display:inline-block;
	}
/* Breadcrumb end */

.col-box-area{
	background:#fff;
	border-radius:10px;
	padding:28px 20px;
	-webkit-box-shadow: 1px 1px 1px 1px #eee;
    -moz-box-shadow:1px 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px 1px #eee;
	min-height:220px;
	margin-bottom:30px;
	}
.col-box-head{
	margin-bottom:25px;
	}		
.col-box-head h4{
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
	}
.graphbox{
	width:100%;
	height:auto; position:relative;
	}			
.graphbox ul{
	margin:0px; padding:0px;
	list-style:none;
	}	
.graphbox ul li{
	display:inline-block;
	margin:0px 8px 10px 8px;
	font-size:12px;
	color:#5e6578;
	vertical-align:top;
	}
.graphbox ul li:last-child{	
	margin:0px 3px 0px 8px;
	}	
.graphbox ul li span{
	float:left;
	margin-right:7px;
	margin-top:-1px;
	}
.graphbox ul li span.highlighted{
	float:left;
	display:inline-block;
	font-size:26px; line-height:14px;
	font-weight:900;
	}	
.graphbox ul li span.highlighted small{
	font-size:12px;
	font-weight:400;
	}
.graphbox ul.colorhints{
	position:relative;
	float:right;
	margin-top:-35px; margin-bottom:25px;
	}
.graphbox ul.colorhints-tab{
	position:relative;
	float:right;
	margin-top:-95px; margin-bottom:25px;
	}		
	
.col-box-other{
	background:#fff;
	border-radius:10px;
	-webkit-box-shadow: 1px 1px 1px 1px #eee;
    -moz-box-shadow:1px 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px 1px #eee;
	min-height:300px;
	margin-bottom:30px;
	}
.col-box-other .colbox-head-text{
	padding:29px 0px;
	color:#5e6578;
	font-size:26px; line-height:18px;
	font-weight:900;
	border-bottom:solid 1px #edeaea;
	}
.col-box-other .colbox-head-text span{
	font-size:14px; font-weight:400;
	color:#5e6578;
	}	
.col-box-other .colbox-head-text:last-child{
	color:#e85366;
	border-bottom:none;
	}
	
/* Tab button start */					
.default-tab{
	margin-top:20px; margin-bottom:20px;
	}
.default-tab .btn{
	padding:8px 20px;
	border-radius: 8px;
	}
.default-tab .btn-primary {
    color: #5e6578;
    background-color: #fff;
    border-color: #d9e1ee;
    }
.default-tab .btn-primary:hover {
    background-color: #d9e1ee;
    border-color: #d9e1ee;
    }
.default-tab .btn-primary:focus{
    background-color: #d9e1ee;
    border-color: #d9e1ee;
    }
.img-responsive-custom{
	max-width:100%;
	}	
/* Tab button end */		


/*** d3 GRAPH STYLE ***/	

text {
	font: 10px sans-serif;
    font-weight: 600;
    fill: rgb(173, 173, 173);
}

.axis path,
.axis line {
  fill: none;
  /*stroke: #000;*/
  /*shape-rendering: crispEdges;*/
}
.toolTip{
	position: absolute;
	padding: 12px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	text-align: center;
}
.tooltip-value{
	font-size: 22px;
	font-weight: 800;

}

.outreach-donut-block, .enrolled-donut-block{
	width: 125px;
	height: 125px;
	display: inline-block;
    border-radius: 10px;
}
.enrolled-donut-chart, .outeach-donut-chart{
	width: 125px;
	height: 100px;
    display: inline-block;
}
.enrolled-donut-block{
	background: #4b8ccc;
}
.outreach-donut-block{
	background: #e85366;
}
.enrolled-donut-block ul, .outreach-donut-block ul{
	width: 100%;
	height: 25px;
}
.enrolled-donut-block li, .outreach-donut-block li{
	width: 38%;
	font-size: 8px !important;
	margin: 5px 0px 0px 0px!important;
	color: #FFF !important;
}

.graphbox li span.harp-block, .graphbox li span.non-harp-block{
	width: 8px;
    height: 8px;
    border-radius: 5px;
    margin: 0 !important;
    text-align: center !important;
}
.enrolled-donut-block li span.non-harp-block{
	background: #25517d;
}
.outreach-donut-block li span.non-harp-block{
	background: #932634;
}
.enrolled-donut-block li span.harp-block, .outreach-donut-block li span.harp-block{
    background: #FFF;
}
.harp-text{
	 margin-right: 0px !important; 
     margin-top: 0px !important; 
     margin-left: 2px;
}
.composite-acuity-block{
	width: 125px;
	height: 125px;
	display: inline-block;
    background: #f1f1f1;
    border-radius: 5px;
}

#compositeAcuityFirst{
	margin-right: 2px;
}
.composite-acuity-block:last-child{
	/*background: #cbdbda;*/
}
.cmp-act-ul{
	width: 100%;
	margin-top: 10px !important;
}
.graphbox .cmp-act-ul li{
	width: 44%;
    font-weight: 800;
    font-size: 13px;
}



/*030616 */
.monthly-enrolment-container{
	width:100%;
	height:202px;
	padding-left:0px;
	margin-right:0px;
	}
.assignmen-summary-graph{
	width:100%;
	height:444px;
	padding-left:0px;
	margin-right:0px;
	}
.enroll-summery-graph{
	width:100%;
	height:193px;
	padding-left:0px;
	margin-right:0px;
	}	
.donut-label{
	display: block;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #5e6578;
}
.percentage-label{
	font-size: 15px;
	fill: #FFFFFF;
}