.top-banner {
	background-color: rgba(209, 26, 36, 1.0);
}

.top-banner,
.bottom-banner.first {
	margin-bottom: 20px;
}

@media(min-width: 1200px) {

	#right-banner-zero,
	#right-banner-one {
		display: block;
		width: 150px;
		height: 320px;
		position: absolute;
		right: 15px;
	}
	
	#right-banner-zero {
		top: 100px;
	}

	#right-banner-one {
		top: 435px;
	}

}