.side-menu {
	z-index: 9999;
	width: 260px;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow: auto;
	background: rgba(66, 65, 65, 1.0);
	margin-left: -260px;
	-webkit-transition: margin .2s ease-in-out;
	   -moz-transition: margin .2s ease-in-out;
	    -ms-transition: margin .2s ease-in-out;
	     -o-transition: margin .2s ease-in-out;
	        transition: margin .2s ease-in-out;
}

.side-menu a {
	text-decoration: none!important;
}

.side-menu-closer {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.side-menu-closer,
.side-menu-closer:hover,
.side-menu-closer:active,
.side-menu-closer:focus,
.side-menu-closer:visited {
	color: rgba(255, 255, 255, 1.0);
}

.side-menu-open {
	margin-left: 0;
}

.side-menu ul {
	margin-bottom: 0;
}

.side-menu > ul > li:first-child {
	border-top: 1px solid rgba(71, 70, 70, 1.0);
}

.side-menu > ul > li {
	border-bottom: 1px solid rgba(71, 70, 70, 1.0);
}

.side-menu ul > li > a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: rgba(255, 255, 255, 1.0);
}

.side-menu ul > li > a:hover {
	background-color: rgba(66, 65, 65, 1.0);
}

.side-menu header {
	position: relative;
	color: rgba(255, 255, 255, 1.0);
	padding: 30px 0;
}

.side-menu header h3 {
	margin: 0;
}

@media(min-width: 1200px) {
	
	.side-menu {
		top: 80px;
		margin-left: 0;
		width: 120px;
	}

	.side-menu > ul > li:first-child {
		border-top: none;
	}

}

	
