body, h1, h2, h3, h4, h5, h6 { 
 	font-family: 'Open Sans', sans-serif; 
} 

body {
	background-color: rgba(240, 240, 240, 1.0);
}

div[ng-view] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 100px;
}

a {
	cursor: pointer;
}

label {
	font-weight: normal;
	font-size: 13px;
}

::-webkit-input-placeholder {
   color: rgba(164, 164, 164, 1.0)!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(164, 164, 164, 1.0)!important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(164, 164, 164, 1.0)!important;  
}

:-ms-input-placeholder {  
   color: rgba(164, 164, 164, 1.0)!important;  
}

.angular-google-map-container { height: 400px; }

.spinner {
	margin-top: 20px;
}

.stf-alert {
	margin-top: 10px;
}

.stf-thumbnail {
	width: 100px;
	height: 100px;
}

.tooltip-message-alert {
	z-index: 9999;
	position: fixed;
	top: 14px;
	right: 15px;
	left: 15px;
}

a.add-new-btn {
	z-index: 8888;
	display: block;
	position: fixed;
	bottom: 15px;
	left: 15px;
}

a.config-btn {
	z-index: 8888;
	display: block;
	position: fixed;
	bottom: 75px;
	left: 15px;
}

.picker__select--month,
.picker__select--year {
	padding: 0;
}

.main-color	{
	color: rgba(62, 63, 58, 1.0)!important;
}

.stf-title {
	color: rgba(197, 56, 31, 1.0)!important;
	text-decoration: none!important;
}

.mtop {
	margin-top: 15px;
}

.mbottom {
	margin-bottom: 15px;
}

.mtop-0 {
	margin-top: 0!important;
}

.mbottom-0 {
	margin-bottom: 0!important;
}

.panel .panel-title {
	font-size: 16px;
}

.loader,
.stf-alert {
	margin-top: 10px;
}

.btn-primary {
	background-color: rgba(229, 48, 24, 1.0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: rgba(176, 37, 19, 1.0)!important;
}

.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled.focus, 
.btn-primary[disabled].focus, 
fieldset[disabled] .btn-primary.focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active {
    background-color: rgba(250, 52, 26, 1.0)!important;
    border-color: transparent;
}

.panel {
	border: none;
	-webkit-border-radius: 0;
	        border-radius: 0;
}

.panel,
.well {
	-webkit-box-shadow: 0px 0px 9px -3px rgba(79, 79, 79, 1.0);
	        box-shadow: 0px 0px 9px -3px rgba(79, 79, 79, 1.0);
}

.well-sm {
	padding: 9px 15px;
}

.panel-form,
.panel-results,
.panel-basic-card {
	margin: 0 auto 20px auto;
	width: 100%;
	max-width: 630px;
}

.panel-list {
	margin-bottom: 10px;
}

.panel-list-item {
	color: #98978B!important;
}

#login-form,
#forgot-password-form {
	margin-top: 30px;
}

.new-item-link {
	padding-top: 7px;
}

.minimal-item-data {
	padding: 20px 0 40px 0;
}

.tab-content {
	padding-top: 20px;
}

.progress {
	-webkit-border-radius: 0;
	        border-radius: 0;
}

.progress-bar {
	background-color: rgba(229, 48, 24, 1.0);
}

ul.item-data > li {
	padding: 7px 0;
	border-bottom: 1px solid rgba(230, 230, 230, 1.0);
}

ul.item-data > li:first-child {
	border-top: 1px solid rgba(230, 230, 230, 1.0);
}

.panel-card {
	margin: 0 auto 20px auto;
	width: 100%;
	max-width: 700px;
}

.panel-card .panel-heading .panel-title {
	margin-top: 4px;
}

.panel-card .sub-heading {
	background-color: rgba(230, 230, 230, 1.0);
	padding: 2px 0;
}

.gmap-input {
	top: 50px!important;
	left: 10px!important;
	width: 80%;
}

.player-team-logo {
	max-width: 100px;
}

.pagination-links > .btn {
	padding: 1px 16px;
	-webkit-border-radius: 0;
	        border-radius: 0;
}

.pagination-links > .btn-link {
	color: rgba(197, 56, 31, 1.0);
}

.timer-control {
	background-color: rgba(248, 245, 240, 1.0);
	opacity: 1;
	padding-right: 16px;
	padding-left: 16px;
	border: 1px solid rgba(223, 215, 202, 1.0);
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.total-time {
	margin-top: 10px;
	margin-bottom: 20px;
}

.reset-timer-btn {
	margin-left: 10px;
}

@media(min-width: 768px) {
	
	.tooltip-message-alert {
		right: auto;
		width: 100%;
		max-width: 350px;
	}

	.gmap-input {
		width: 60%;
	}

}

@media(min-width: 1200px) {
	
	#wrapper {
		margin-left: 120px;
		padding-right: 165px;
	}

	.tooltip-message-alert {
		left: 135px;
	}

	a.add-new-btn,
	a.config-btn {
		left: 135px;
	}

}

@media(max-width: 991px) {

	.panel-list-main-item {
		font-size: 18px;
		display: block;
		margin-bottom: 5px;
	}

	ul.item-data {
		margin-top: 10px;
	}

}