.topbar {
	z-index: 1030;
	width: 100%;
	height: 80px;
	background-color: rgba(255, 255, 255, 1.0);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.main-logo {
	z-index: 1040;
	width: 120px;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
}

.main-logo,
.main-logo:hover,
.main-logo:focus,
.main-logo:active,
.main-logo:visited {
	text-decoration: none;
	background-color: rgba(229, 48, 24, 1.0);
	color: rgba(255, 255, 255, 1.0);
}

.side-menu-opener,
.topbar-info,
.logout {
	position: absolute;
}

.side-menu-opener,
.logout {
	font-size: 18px;
	top: 27px;
}

.side-menu-opener {
	left: 15px;	
}

.topbar-info {
	margin: 0;
	top: 14px;
	left: 50px;
}

.logout {
	right: 15px;
}

@media (min-width: 1200px) {
	
	.topbar-info {
		left: 135px;
	}

}