<template>
  <div id="app">
    <before-login v-if="logedOut"></before-login>
    <after-login v-else></after-login>
  </div>
</template>

<script>

import beforelogin from './components/beforelogin.vue';
import afterlogin from './components/afterlogin.vue';
import firebase from 'firebase';
import { EventBus } from './main.js';

export default {
  name: 'app',
  data(){
    return{
      logedOut : true,
    }
  },
  components: {
    'before-login': beforelogin,
    'after-login': afterlogin,
	},
  created(){
    EventBus.$on('onLoggedIn', status => {
      if(status){
        this.logedOut = false;
      }
      else {
        this.logedOut = true;
      }
    });
  },

  
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

.modal-outer {
  min-height: 100vh;
}
.user-modal {
  padding: 30px 60px;
  background: #ffffff;
  border-radius: 8px;
}
.section-heading {
  padding: 25px;
  text-align: center;
}
.section-heading h2 {
  color: #7F8C8D;
  font-size: 28px;
  font-weight: 300;
}
.site-logo {
  text-align: center;
  padding: 20px 0 0;
}
.custom-checkbox label {
  position: relative;
  padding-left: 25px;
  color: #7F8C8D;
  font-size: 12.5px;
}
.custom-checkbox label a {
  color: #1ABC9C;
  text-decoration: underline;
}
.custom-checkbox label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  height: 15px;
  width: 15px;
  background: #ECF0F1;
  border: 1px solid #BDC3C7;
  border-radius: 3px;
}
.custom-checkbox input {
  display: none;
}
.custom-checkbox input:checked + label::before {
    background: #34495E;
    border-color: #34495E;
    box-shadow: 0px 0px 0px 2px #ffffff inset;
}
.login-links a {
    display: block;
    color: #34495E;
    font-size: 16px;
}
.login-links svg {
  vertical-align: middle;
  margin-top: -2px;
}
a.forgot-password {
  color: #E74C3C;
}
.login-links {
  margin-top: 30px;
}
.btn svg {
  margin: 0 5px;
  top: 3px;
  position: relative;
}
.cta-btn {
  margin-top: 30px;
}
.loader {
    text-align: center;
    width: 40px;
    margin: 20px auto;
}
.loader img {
    max-width: 100%;
}
.dashboardWrap .col {
  padding: 0;
}
</style>
