
<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>Browse An Offer</strong></a> </div>
            </div>
        </nav>
    </div>
</div>

<section class="full-wrapper all-merchants-top all-Coupon-top" ng-cloak>
    <div class="container">
        <h1>Browse An Offer</h1>
        <div class="clr"></div>
        <div class="row all-merchants-top-left coupsrh">

            <div class="col l10 offset-l1 m12 offset-m0 s12 offset-s0">
                <div class="row">
                    <div class="col s12">
                        <div class="store-search">
                            <form name="Searchform" novalidate ng-submit="search(Searchform.$valid)">
                            <div class="store-search-border">
                                <div class="store-search-but">
                                    <button value="" type="submit" class="submit" ng-click="search()" type="submit" ><img src="images/store-search-but.png"></button>
                                </div>
                                <input type="text" class="search-input" placeholder="Search by stores" ng-model="SearchText">
                            </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="full-wrapper cupons-list-main">
    <div class="container">
        <div class="cupons-list" style=" width: 90%;">
            <ul equalize-height="off">
                <li ng-repeat="off in allList track by off.id" equalize-height-add="off">
                    <div class="row" equalize-height-add="off">
                        <div class="icons">
                            <favouite user="off" ></favouite>
                            <share></share>
                        </div>
                        <div class="col l2 s12 left"><a href="{{::off.startLink}}" target="blank"><img ng-src="{{::off.logo}}"></a></div>
                        <div class="col l8 s12 middle">
                            <a href="{{::off.startLink}}" target="blank">
                            <div class="time-count" am-time-ago="off.endDate"></div>
                             
                             
                            <div class="middle-inner">{{::off.offer}}</div></a>

                             
                        </div>
                        <div class="col l2 s12 right"  ng-if="off.code">
                            <copy user="off"></copy>
                        </div>
                        <div class="col l2 s12 right" ng-if="!off.code">
                                <div class="cupon-code-border">
                                    <a href="{{::off.startLink}}" target="blank"><span class="btn button getdeal">Get Deals</span></a>
                                </div>
                        </div>
                    </div>
                </li>
            </ul>




            
        </div>
        <div class="clr"></div>



        <div ng-if="(cuponsCtrl.loadingMsg!='')" class="cuperror"><br><b>{{cuponsCtrl.loadingMsg}}</b></div>
            
           <div ng-if="(allList.length==0 &&  cuponsCtrl.loadingMsg=='')" class="cuperror"><br> <b>No Coupons found</b></div>
            <div class="cuperror" style="clear:both;" ng-if="totalRecords!=0">
            <pagination
                page="1"
                page-size="recordsPerPage"
                total="totalRecords"
                show-prev-next="true"
                use-simple-prev-next="false"
                dots="...."
                hide-if-empty="false"
                adjacent="2"
                scroll-top="false"
                pagination-action="findNextOffer(page)" />
            </div>
    </div>
</section>