.side-menu header,
.side-menu ul>li>a,
.side-menu-closer,
.side-menu-closer:active,
.side-menu-closer:focus,
.side-menu-closer:hover,
.side-menu-closer:visited {
    color: rgba(255, 255, 255, 1)
}

.closebtn,
.closebtn:active,
.closebtn:focus,
.closebtn:hover,
.closebtn:visited{
     color: #fff
}
.top-banner {
    background-color: rgba(209, 26, 36, 1)
}
.bottom-banner.first,
.top-banner {
    margin-bottom: 20px
}
footer {
    padding: 20px 0;
    margin-left: 0
}
@media(min-width:1200px) {
    #right-banner-one, #right-banner-zero {
        display: block;
        width: 150px;
        height: 320px;
        position: absolute;
        right: 15px
    }
    #right-banner-zero {
        top: 100px
    }
    #right-banner-one {
        top: 435px
    }
    footer {
        margin-left: 120px;
        padding-right: 165px
    }
}
.side-menu {
    z-index: 9999;
    width: 120px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(66, 65, 65, 1);
    margin-left: -260px;
    -webkit-transition: margin .2s ease-in-out;
    -moz-transition: margin .2s ease-in-out;
    -ms-transition: margin .2s ease-in-out;
    -o-transition: margin .2s ease-in-out;
    transition: margin .2s ease-in-out
}
.side-menu a {
    text-decoration: none!important
}
.side-menu-closer {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center
}
.side-menu-open {
    margin-left: 0
}
.side-menu ul {
    margin-bottom: 0
}
.side-menu>ul>li:first-child {
    border-top: 1px solid rgba(71, 70, 70, 1)
}
.side-menu>ul>li {
    border-bottom: 1px solid rgba(71, 70, 70, 1)
}
.side-menu ul>li>a {
    display: block;
    padding: 15px;
    text-decoration: none
}
li.mainMenu:hover a.dashboardTitle{
    background-color: #605a5a;
}
.side-menu header {
    position: relative;
    padding: 30px 0
}
.side-menu header h3 {
    margin: 0
}
@media(min-width:1200px) {
    .side-menu {
        top: 80px;
        margin-left: 0;
        /*width: 120px*/
    }
    .side-menu>ul>li:first-child {
        border-top: none
    }
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif
}
body {
    background-color: rgba(240, 240, 240, 1)
}
div[ng-view] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 100px
}
a {
    cursor: pointer
}
label {
    font-weight: 400;
    font-size: 13px
}
::-webkit-input-placeholder {
    color: rgba(164, 164, 164, 1)!important
}
:-moz-placeholder {
    color: rgba(164, 164, 164, 1)!important
}
::-moz-placeholder {
    color: rgba(164, 164, 164, 1)!important
}
:-ms-input-placeholder {
    color: rgba(164, 164, 164, 1)!important
}
.angular-google-map-container {
    height: 400px
}
.spinner {
    margin-top: 20px
}
.stf-alert {
    margin-top: 10px
}
.stf-thumbnail {
    width: 100px;
    height: 100px
}
.tooltip-message-alert {
    z-index: 9999;
    position: fixed;
    top: 14px;
    right: 15px;
    left: 15px
}
a.add-new-btn,
a.config-btn {
    z-index: 8888;
    display: block;
    position: fixed;
    left: 15px
}
a.add-new-btn {
    bottom: 15px
}
a.config-btn {
    bottom: 75px
}
.picker__select--month,
.picker__select--year {
    padding: 0
}
.main-color {
    color: rgba(62, 63, 58, 1)!important
}
.stf-title {
    color: rgba(197, 56, 31, 1)!important;
    text-decoration: none!important
}
.mtop {
    margin-top: 15px
}
.mbottom {
    margin-bottom: 15px
}
.mtop-0 {
    margin-top: 0!important
}
.mbottom-0 {
    margin-bottom: 0!important
}
.panel .panel-title {
    font-size: 16px
}
.loader,
.stf-alert {
    margin-top: 10px
}
.btn-primary {
    background-color: rgba(229, 48, 24, 1)
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: rgba(176, 37, 19, 1)!important
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: rgba(250, 52, 26, 1)!important;
    border-color: transparent
}
.panel {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0
}
.panel,
.well {
    -webkit-box-shadow: 0 0 9px -3px rgba(79, 79, 79, 1);
    box-shadow: 0 0 9px -3px rgba(79, 79, 79, 1)
}
.well-sm {
    padding: 9px 15px
}
.panel-basic-card,
.panel-form,
.panel-results {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 630px
}
.panel-list {
    margin-bottom: 10px
}
.panel-list-item {
    color: #98978B!important
}
#forgot-password-form,
#login-form {
    margin-top: 30px
}
.new-item-link {
    padding-top: 7px
}
.minimal-item-data {
    padding: 20px 0 40px
}
.tab-content {
    padding-top: 20px
}
.progress {
    -webkit-border-radius: 0;
    border-radius: 0
}
.progress-bar {
    background-color: rgba(229, 48, 24, 1)
}
ul.item-data>li {
    padding: 7px 0;
    border-bottom: 1px solid rgba(230, 230, 230, 1)
}
ul.item-data>li:first-child {
    border-top: 1px solid rgba(230, 230, 230, 1)
}
.panel-card {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 700px
}
.panel-card .panel-heading .panel-title {
    margin-top: 4px
}
.panel-card .sub-heading {
    background-color: rgba(230, 230, 230, 1);
    padding: 2px 0
}
.gmap-input {
    top: 50px!important;
    left: 10px!important;
    width: 80%
}
.player-team-logo {
    max-width: 100px
}
.pagination-links>.btn {
    padding: 1px 16px;
    -webkit-border-radius: 0;
    border-radius: 0
}
.pagination-links>.btn-link {
    color: rgba(197, 56, 31, 1)
}
.timer-control {
    background-color: rgba(248, 245, 240, 1);
    opacity: 1;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid rgba(223, 215, 202, 1);
    -webkit-border-radius: 4px;
    border-radius: 4px
}
.total-time {
    margin-top: 10px;
    margin-bottom: 20px
}
.reset-timer-btn {
    margin-left: 10px
}
.mainMenu{
    position: relative;
    width: auto;
    border: none;
    
}
.submenu_overlap ,.submenu_overlap_user,.submenu_overlap_content{ 
    left: 120px;
    position: fixed;
    top: 0;
    width: 220px;
    z-index: 999;
    height: 480px;
    background-color: #4a4542;
    box-shadow: 0 0 0px #000;
    display: none;
}
.side-menu > ul > li{
  border: none;
}
/*.dashboard:hover .submenu_overlap {
    display:block;
}*/
.submenu_overlap .submenu-title,.submenu_overlap_user,.submenu_overlap_content {
  color: #fff;
  margin-right: 15px;
}

.dashboardTitle{
    background: rgba(66, 65, 65, 1);
    border-bottom: 1px solid rgba(71, 70, 70, 1);
    width: 120px;
}
.side-menu > ul > .dashboardTitle:first-child {
  border-top: 1px solid rgba(71, 70, 70, 1);
}

@media(min-width:768px) {
    .tooltip-message-alert {
        right: auto;
        width: 100%;
        max-width: 350px
    }
    .gmap-input {
        width: 60%
    }
}
@media(min-width:1200px) {
    #wrapper {
        margin-left: 120px;
        /*padding-right: 165px*/
    }
    .tooltip-message-alert,
    a.add-new-btn,
    a.config-btn {
        left: 135px
    }
}
.main-logo,
.topbar {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0
}
@media(max-width:991px) {
    .panel-list-main-item {
        font-size: 18px;
        display: block;
        margin-bottom: 5px
    }
    ul.item-data {
        margin-top: 10px
    }
}
.topbar {
    z-index: 1030;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    right: 0
}
.main-logo {
    z-index: 1040;
    width: 120px
}
.main-logo,
.main-logo:active,
.main-logo:focus,
.main-logo:hover,
.main-logo:visited {
    text-decoration: none;
    background-color: rgba(229, 48, 24, 1);
    color: rgba(255, 255, 255, 1)
}
.logout,
.side-menu-opener,
.topbar-info {
    position: absolute
}
.logout,
.side-menu-opener {
    font-size: 18px;
    top: 27px
}
.side-menu-opener {
    left: 15px
}
.topbar-info {
    margin: 0;
    top: 14px;
    left: 50px
}
.logout {
    right: 15px
}
@media (max-width: 1200px) {
.menu-class{margin-bottom:14px!important;}
}
@media (min-width: 1200px) {
    .topbar-info {
        left: 135px
    }
}
.respo-hg {
    height: auto;
}

.mainheader{
   /* background-color: #dad8d8*/
    background-color :#424141;
}

.headerTitle{
color :#fff;
}

.selectedmenu{
background-color: #605a5a;
}

.sub-menu li:hover
{
   background-color: #403934; 
}
.sub-menu {
    margin-top:22px;
}
.sub-menu li
{
   border-bottom: 1px solid rgba(71, 70, 70, 1) 
}
 
.activemenu {
    background-color:#605a5a;
}

.slick-slide img {
    border: 5px solid #424141;
    display: block;
    width: 100%;
}
.panel-footer1 {
    padding: 10px 15px;
    background-color: #403934;
    border-top: 1px solid #dfd7ca;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.text-center1 {
    text-align: center;
}
