  <div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
    <div> Description : {{hero.desc}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
     <label>description: </label>
        <input [(ngModel)]="hero.desc" placeholder="description"/>
  </div>
  <button (click)="goBack()">Back</button>