<template>      
    <div class="heading-menu">
         <div class="logo-wrapper">
             <router-link to="/"><img src="static/images/logo.png"/></router-link>
         </div>
         <div class="account-icon">
              <a href="javascript:void(0)" class="account-menu" v-on:click="displayMenu"><img src="http://www.castellhowellfoods.co.uk/wp-content/uploads/2015/07/User_silhouette_128.png" /></a>
              <ul class="dropdown">
                  <li>
                      <router-link to="/login" v-show="!loggedin">Login</router-link>
                      <a href="javascript:void(0)" v-on:click="logout" v-show="loggedin">Logout</a>
                  </li>
                  <li>
                      <router-link to="/wishlist">Wishlist</router-link>
                  </li>
                  <li>
                      <router-link to="/cart">Cart</router-link>
                  </li>              
              </ul>          
         </div>
    </div>
</template>
<script>
    export default {
        name: 'header',
        data(){
          return {
              loggedin : false
          }  
        },
        mounted(){
            this.$session.start();
            if(this.$session.get('user') !== undefined){
                this.loggedin = true;
            }else{
                this.loggedin = false;
            }
            console.log(this.loggedin)
        },
        methods:{
            displayMenu(){
                if($('.dropdown').hasClass('display')){
                    $('.dropdown').removeClass('display');
                }else{
                    $('.dropdown').addClass('display');
                }
            },
            
            logout(){
                this.$session.start();
                if(this.$session.get('user') !== undefined){
                    this.$session.destroy();
                    this.$router.push('/login'); 
                }
                this.$router.push('/login'); 
            }
        }
    }
</script>
<style scoped="true">
    .dropdown{
        display: none;
        position: absolute;
        top: 35px;
        right: 0px;    
        background-color: azure;
        z-index: 1;
        padding: 0 40px;
        border-radius: 2px;
    }
    
    .display{
        display: block;
    }
    
    .dropdown li a{
        text-decoration: none;
        color: #0055a5;
        text-transform: capitalize;
        font-size: 15px;
    }
    
    

    .heading-menu{
        background-color: black;
        height: 60px;
    }

    .heading-menu ul li{
        display: inline-block;
        padding: 10px;
        color: white;
        font-size: 15px;
    }
    

    .shopping-cart-icon{
        height: 40px;
        width: 40px;
        position: absolute;
        top: 10px;
        right: 100px;
        cursor: pointer;
    }
    
    .account-icon{
        height: 35px;
        width: 35px;
        position: absolute;
        top: 15px;
        right: 30px;
        cursor: pointer;
    }
    
    .shopping-cart-icon img, .account-icon img{
        width: 100%;
    }
    
    .logo-wrapper{
        height: 56px;
        width: 60px;
        position: absolute;
        left: 30px;
    }
    
    .logo-wrapper img{
        width: 100%;
        height: 100%;
    }
</style>