<template>
  <div class="main-container">    
    <app-header></app-header>       
    <div class="body-container">
      <div class="image-slider">
        <slick ref="slick" :options="slickOptions">
          <a href="static/images/slider-1.jpg" target="_blank"><img src="static/images/slider-1.jpg" alt=""></a>
          <a href="static/images/slider-2.jpg" target="_blank"><img src="static/images/slider-2.jpg" alt=""></a>
          <a href="static/images/slider-3.jpg" target="_blank"><img src="static/images/slider-3.jpg" alt=""></a>
          <a href="static/images/slider-1.jpg" target="_blank"><img src="static/images/slider-1.jpg" alt=""></a>
          <a href="static/images/slider-2.jpg" target="_blank"><img src="static/images/slider-2.jpg" alt=""></a>
          <a href="static/images/slider-3.jpg" target="_blank"><img src="static/images/slider-3.jpg" alt=""></a>
        </slick>
        <div class="pluckard-text">
          <p>T-MARKET</p>
          <p>BEST T-SHIRTS IN TOWN</p>
        </div>
      </div>

      <div class="product-list-wrapper">
        <ul>
          <li v-for="item in productList">
            <div class="item-wrapper">                
                <div class="image-wrapper">
                    <img :src=item.src alt="">
                    <p>{{ item.description }}</p>
                    <p>Rs. {{ item.price }}/-</p>
                </div>
                <div class="action-wrapper">
                    <div class="description-wrapper">
                        <p>{{ item.description}}</p>
                        <p>Rs. {{ item.price}}/-</p>                        
                    </div>
                    <div class="quickview-wrapper">
                        <router-link :to="'product/' + item.id">Quick View</router-link>
                    </div>
                </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Slick from 'vue-slick';
import axios from 'axios';
import Header from './Header.vue';

export default {
  name: 'Home',
  components: { 
      Slick ,
      appHeader : Header
  },
  data: () => ({
    slickOptions: {
      slidesToShow: 3,
      autoplay: true,
      autoplaySpeed: 5000,
      arrows: false,
    },
    productList: [],
    errorlist: [],
  }),
  mounted() {
//     axios.post('https://tmarket-c0133.firebaseio.com/user.json', { id: 1, username: 'admin', password: 'admin' })
//     .then((response) => {
//       console.log(response);
//     })
//     .catch((error) => {
//       console.log(error.message);
//     });
     
      
     let self = this;
     axios.get('https://tmarket-c0133.firebaseio.com/data.json')
     .then((response) => {
       let ind = 0;
       for (let key in response.data) {
         if (response.data.hasOwnProperty(key)) {
             self.productList.push(response.data[key]);
             self.productList[ind].src = 'static/images/' + self.productList[ind].src;
             ind = ind + 1;
         }
       }
     })
     .catch((error) => {
       this.errorlist = error;
     });              
  },
  methods: {
    reInit() {
      this.$refs.slick.reSlick();
    }
  },
};
</script>

<style lang="css" scoped="true">
  .image-slider{
    margin: 5px;
    position: relative;
  }

  .pluckard-text{
    position: absolute;
    top: 25%;
    left: 34%;
  }

  .pluckard-text p:first-child{
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin: 0;
  }

  .pluckard-text p:last-child{
    font-size: 30px;
    font-weight: bold;
    color: #e9c826;
    margin: 0;
    background-color: black;
    padding: 10px;
  }

  .product-list-wrapper ul{
    list-style: none;
  }

  .product-list-wrapper ul li{
    display: inline-block;
      margin: 20px 0;
  }
    .item-wrapper{
        position: relative;
        margin: 0 5px;
        border: 1px solid#f1f1f1;
    }
    .action-wrapper{
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;   
        height: 100%;
    }
    
    .item-wrapper:hover .action-wrapper{
        display: block;
    }
    
    .description-wrapper{
        height: 80%;
        width: 100%;
        background: rgba(73, 75, 76, 0.71);
        color: white;
        font-weight: bold;
        padding-top: 100px;
        box-sizing: border-box;
    }
    
    .quickview-wrapper{
        height: 20%;
        width: 100%;        
        background: #e47838;
        color: #f1f1f1;
        font-weight: bold;
        cursor: pointer;        
        padding-top: 20px;
        box-sizing: border-box;
    }
        
    .quickview-wrapper a{
        color: white;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    
    .image-wrapper{
        width: 332px;
        height: 332px;
    }
    
    .image-wrapper img{
        width: 100%;
        height: 100%;
    }
</style>
