<template>
    <div class="login-container">        
        <div class="form-wrapper">            
            <form name="login-form">
                <div class="form-control">  
                    <input type="text" name="username" class="input-form" v-model="username"/>
                </div>

                <div class="form-control">  
                    <input type="password" name="password" class="input-form" v-model="password"/>
                </div>

                <div class="form-control">
                    <button type="button" v-on:click="login" class="btn">Login</button>
                </div>
            </form>
            <p>Please use 'admin' in both username and password fields</p>
        </div>
    </div>
</template>

<script>
    
    import axios from 'axios';
    export default {
        name: 'Login',
        data(){
            return {
                username : '',
                password : ''
            }
        },
        methods: {
            login(){
                axios.get('https://tmarket-c0133.firebaseio.com/user.json')
                    .then((response) => {
                       let flag = 0;
                       for(let key in response.data){
                           if(response.data[key].username === this.username && response.data[key].password === this.password){
                                flag = 1;
                                this.$session.start();
                                this.$session.set('user', {username : this.username, userid: 1});
                                this.$router.push('/');                    
                            }
                       }
                       if(!flag){                          
                            alert('login unsuccessful');         
                       }           
                 })
                 .catch((error) => {
                   alert('something went wrong.please try again.');
                 }); 
            }
        }
    };
</script>

<style>
    .form-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #c3bebe;
        padding: 35px;
        border-radius: 5px;
    }
    
    .btn{
        padding: 10px 20px;
        font-size: 15px;
        border-radius: 4px;
        background: #12a597;
        color: #f1f1f1;
        border: transparent;
    }
    
    .form-control{
        width: 100%;
        height: 35px;
    }
    
    .form-control input{
        width: 85%;
        border: transparent;
        border-bottom: 1px solid #12a597;
        font-size: 18px;
    }
</style>