<template>
    <div class="main-container">
        <app-header></app-header>
        <div class="heading-container">
            <p>T-shirt - #<span>{{ id }}</span></p>
        </div>
        <div class="body-container">
            <div class="image-container">
                <img :src="'../static/images/'+item.src"/>
            </div>
            <div class="description-container">
                <div class="item-title"><h2>{{ item.description }}</h2></div>
                <div class="price-tag">Price: Rs. {{ item.price }} <p style="font-weight: bold;">Cash On Delivery Available</p></div>
                <div class="action-wrapper">
                    <div class="quantity-wrapper">
                        <span>Quantity : </span>
                        <select v-model="quantity">
                            <option value="0">Select</option>
                            <option v-for="q in item.quantity" :value="q">
                                {{ q }}
                            </option>
                        </select>
                    </div>
                    <div class="wishlist-wrapper">
                        <button class="btn btn-wishlist" v-on:click="addtoWishlist">Add to Wishlist</button>
                    </div>
                    <div class="cart-wrapper">
                        <button class="btn btn-cart"  v-on:click="addtoCart">Add to Cart</button>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';    
    import MessageBox from 'vue-msgbox';  
    import Header from './Header.vue';
    
    export default {
        name: 'Product',         
        components: { 
            appHeader : Header
        },
        data(){
            return{
                id : parseInt(this.$route.params.id),
                item : {},
                quantity : "0"
            }
        },
        mounted(){
            axios.get('https://tmarket-c0133.firebaseio.com/data.json')
            .then((response) => {
                for(let key in response.data){
                    if(response.data[key].id === this.id){
                        this.item = response.data[key];
                    }
                }
             })
             .catch((error) => {
               this.errorlist = error;
             }); 
            
        },
        methods:{
            addtoWishlist(){
                this.$session.start();
                if(typeof this.$session.get('user') !== 'undefined'){
                    const userInfo = this.$session.get('user'); 
                     axios.post('https://tmarket-c0133.firebaseio.com/wishlist.json', { userid: userInfo.userid, productid: this.id})
                         .then((response) => {
                           alert('item added');
                         })
                         .catch((error) => {
                           console.log(error.message);
                         });
                }else{
                    alert('please log in first');
                }
            },
            
            addtoCart(){                
                this.$session.start();                
                if(typeof this.$session.get('user') !== 'undefined'){
                    if(! parseInt(this.quantity)){
                        alert('please select at least one');
                        return false;
                    }
                    const userInfo = this.$session.get('user'); 
                     axios.post('https://tmarket-c0133.firebaseio.com/cart.json', { 
                             userid: userInfo.userid, 
                             productid: this.id, 
                             quantity: parseInt(this.quantity)
                         })
                         .then((response) => {
                           alert('item added to cart');
                         })
                         .catch((error) => {
                           console.log(error.message);
                         });
                }else{
                    alert('please log in first');
                }                
            }
        }
    }
</script>
<style scoped>
    .heading-container p{
        text-align: left;
    }
    
    .body-container{
        height: 80%;
        width: 100%;
    }
    
    .image-container{
        height: 100%;
        width: calc(50% - 4px);
        border: 1px solid#e4dede;
        border-radius: 5px; 
        float: left;
    }
    
    .image-container img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    
    .description-container {
        height: 100%;
        width: 50%;
        padding-left: 15px;
        float: left;
        box-sizing: border-box;        
        text-align: left;
    }
    
    .item-title{
        border-bottom: 1px solid#f1f1f1;
    }
    
    .btn{
        padding: 12px 15px;
        font-size: 15px;
        border: 1px solid #f1f1f1;
        color: #fff;
        background: blue;
        cursor: pointer;
    }
    
    .btn-wishlist{
        background-color: #279027;
    }
        
    .btn-cart{
        background-color: #d01919;
    }    
    
    .btn-buynow{
        background-color: #ef7f0b;
    }
        
    .btn-wishlist:hover{
        background-color: #49b949;
    }
    
    .btn-cart:hover{
        background-color: #e64949;
    }
    
    .btn-buynow:hover{
        background-color: #ea8d2c;
    }    
    
    .action-wrapper > div{
        margin: 8px 0;
    }
    
    .quantity-wrapper select{
        background-color: #ecdcdc;
        color: #040101;
        height: 30px;
        width: 15%;
    }
</style>