<template>
    <div class="main-container">        
        <app-header></app-header>
        <div class="wishlist-container">
            <ul>
              <li v-for="item in wishlist">
                <div class="item-wrapper">                
                    <div class="image-wrapper">
                        <router-link  :to="'product/' + item.id"><img :src='"static/images/"+item.src' alt=""></router-link>
                    </div>
                    <div class="description-wrapper">                        
                        <p>{{ item.description }}</p>
                        <p>Rs. {{ item.price }}/-</p>
<!--                        <button class="btn-cart">Add to cart</button>-->
                    </div>
                </div>
              </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';    
    import Header from './Header.vue';
    export default {
        name: 'Wishlist',  
        components: { 
            appHeader : Header
        },
        data(){
            return {
                wishlist : [],
                productid: []
            }
        },
        mounted(){
            this.$session.start();
            const userInfo = this.$session.get('user'); 
            axios.get('https://tmarket-c0133.firebaseio.com/wishlist.json')
                 .then((response) => {
                    for(let key in response.data){
                        if(response.data[key].userid === userInfo.userid){
                            this.productid.push(response.data[key].productid);
                        }
                    }
                    
                    // retrieve wishlist product from productid array
                    axios.get('https://tmarket-c0133.firebaseio.com/data.json')
                         .then((response) => {
                            for(let key in response.data){
                                if(this.productid.indexOf(response.data[key].id) >= 0){
                                    this.wishlist.push(response.data[key]);
                                }
                            }
                            console.log(this.wishlist)
                         })
                         .catch((error) => {
                           this.errorlist = error;
                         });  
                     })
                 .catch((error) => {
                   this.errorlist = error;
                 });  
        }
    }
</script>
<style scoped="true">
    ul{
        list-style: none;
        padding: 0;
        overflow: hidden;
    }
    
    ul li{
        float: left;
        width: 100%;
    }
    .image-wrapper{
        float: left;
        width: 332px;
        height: 332px;
    }
    
    .image-wrapper img{
        width: 100%;
        height: 100%;        
    }
    
    .description-wrapper{
        float: left;
        padding: 40px 25px;
        font-weight: bold;
        color: #352d2d;
    }
    
    .btn-cart{
        padding: 12px 15px;
        font-size: 15px;
        border: 1px solid #f1f1f1;
        color: #fff;
        background: #d01919;
        cursor: pointer;
    }
    
    .btn-cart:hover{
        background-color: #e64949;
    }
</style>