.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fade {
opacity: 0;
-webkit-transition: opacity 0.15s linear;
transition: opacity 0.15s linear;
}
.fade.in {
opacity: 1;
}
      .thumbnail
      {
          margin-bottom: 20px;
          padding: 0px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
      }

      .item.list-group-item
      {
          float: none;
          width: 100%;
          background-color: #fff;
          margin-bottom: 10px;
      }
      .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
      {
          background: #428bca;
      }

      .item.list-group-item .list-group-image
      {
          margin-right: 10px;
      }
      .item.list-group-item .thumbnail
      {
          margin-bottom: 0px;
      }
      .item.list-group-item .caption
      {
          padding: 9px 9px 0px 9px;
      }
      .item.list-group-item:nth-of-type(odd)
      {
          background: #eeeeee;
      }

      .item.list-group-item:before, .item.list-group-item:after
      {
          display: table;
          content: " ";
      }

      .item.list-group-item img
      {
          float: left;
      }
      .item.list-group-item:after
      {
          clear: both;
      }
      .list-group-item-text
      {
          margin: 0 0 11px;
      }

      .list .list-group-image{float:left;margin-right:10px;}
       .layoutType{ background: #000;color: #fafafa;}
       .thumbnail span{    margin-right: 10px;cursor: pointer}
       .autocomplete{
        border: 1px solid #ccc;
       }
      .autocomplete ul{    list-style-type: none;}
      .autocomplete ul li{cursor:pointer;    margin-left: -40px;    padding: 4px;}
      .autocomplete ul li:hover{background: #5ad2bc;color:#222;}

     .minHeight {
        min-height: 100px;
      }
      .imgVid{

      }
      .downlaodBtn{
        color:#333;
      }
      .list-group-item-heading p span{cursor: pointer;}
      .list-group-item-heading h4 span{cursor: pointer;}
      .loadmore{text-align: center;}

    