<div class="top-spacer">
</div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a><!-- <a href="#/profile" class="breadcrumb second-breadcrumb">My Account</a> --> <a href="javascript:void(0)" class="breadcrumb"><strong>My Favorites</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<div class="top-merchants-fav pro-profile">
    <div class="container">
        <div class="tab-section">
            <div class="row ">
                <div class="col s12">
                    <ul class="tabs my-tab" tabs reload="allTabContentLoaded">
                        <li class="tab col s3"><a class="active" href="#test1"> <img src="images/store-icone-1.png">Favorite Stores<!-- <span style="display:none;" >-{{" "+favouriteList.length}}</span> --></a></li>
                        <li class="tab col s3"><a href="#test2"><img src="images/coupon-icone-2.png">Favorite Coupons<!-- <span style="display:none;" >-{{" "+couponsList.length}}</span> --></a></li>
                        <li class="tab col s3"><a href="#test3"><img src="images/fav-icone3.png">Favorite Deals<!-- <span style="display:none;" >-{{" "+dealsList.length}}</span> --></a></li>
                    </ul>
                </div>
                <div id="test1" class="col s12 tab-panel fav1">
                    <div class="coupons-listing-section" ng-if="favouriteList.length>0" equalize-height="fav1">
                        <div class="coupons-listing" equalize-height-add="fav1" ng-repeat="fav in favouriteList track by fav.favoriteId">
                            <div class="coupons-listing-image favmarlist"> <img ng-src="{{::fav.logo}}" alt="" ng-cloak/>
                            </div>
                            <div class="coupons-listing-text">
                                <h5> {{::fav.name}}</h5>
                               <!--  <p>{{fav.description | limitTo:20}}..</p> -->
                                <P  ng-if="fav.cashbackType==='Flat Rate'"> Up To ${{::fav.cashbackValue}} Cash Back</P>
                        <P ng-if="fav.cashbackType==='Percentage'"> Up To {{::fav.cashbackValue}}% Cash Back</P>
                        <P ng-if="fav.cashbackType===''"> No Cash Back</P>
                            </div>
                            <div class="coupons-listing-copuns">
                                <span class="cupon-code-cover cupon-listing-code-cover"><a href="#/store/{{::fav.domain}}?{{::fav.country}}" class="btn button cupon-code cupon-listing-code waves-effect">Coupons</a></span>
                            </div>
                            
                            <div class="like-section">
                                <a href="javascript:void(0);" ng-click="removeFav(fav.favoriteId,'merchant');" class="wish-list-icone">
                                    <span class="deleatbtn"></span></a>
                                <div class="fixed-action-btn-share horizontal click-to-toggle-share sh-list-icone"  ng-click="toggleShare($event)">
                                    <a class="share"><i>share</i></a>
                                    
                                    <ul class="fshareicon social-ul social-display">    
                                        <li>
                                            <a socialshare="" socialshare-provider="twitter" socialshare-text="cashpack"  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a  socialshare="" socialshare-provider="facebook" socialshare-text="cashpack"  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a  socialshare="" socialshare-provider="email" socialshare-text="cashpack"  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a  socialshare="" socialshare-provider="pinterest" socialshare-text="cashpack"  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="favouriteList.length===0">
                        <br> <b>No Stores to show</b></div>
                </div>
                <div id="test2" class="col s12 tab-panel fav2">
                    <div class="coupons-listing-section" ng-if="couponsList.length>0" equalize-height="fav2">
                        <div class="coupons-listing" equalize-height-add="fav2" ng-repeat="fav1 in couponsList track by fav1.favoriteId">
                            <div class="coupons-listing-image favmarlist"> <a href="{{::fav1.startLink}}" target="_blank"><img ng-src="{{::fav1.logo}}" alt="" ng-cloak/></a>
                            </div>
                            
                                <div class="coupons-listing-text">
                                    <h5>{{fav1.merchantName}}</h5>
                                    <p ng-if="fav1.offer.length>25">{{::fav1.offer | limitTo:textLimit}}..</p>
                                    <p ng-if="fav1.offer.length<25">{{::fav1.offer | limitTo:textLimit}}</p>
                                    <p ng-if="fav1.offer.length==25">{{::fav1.offer}}</p>
                                     
                                </div>
                            
                            <div class="coupons-listing-copuns">
                                <copy user="fav1"></copy>
                            </div>
                            <div class="like-section">
                                <a href="javascript:void(0);" ng-click="removeFav(fav1.favoriteId,'offer');" class="wish-list-icone">
                                    <span class="deleatbtn"></span></a>
                                <div class="fixed-action-btn-share horizontal click-to-toggle-share sh-list-icone " ng-click="toggleShare($event)">
                                    <a class="share"><i>share</i></a>
                                    <ul class="fshareicon social-ul social-display">
                                    <li><a socialshare="" socialshare-provider="twitter" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li><li><a  socialshare="" socialshare-provider="facebook" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li><li><a  socialshare="" socialshare-provider="email" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li><li><a  socialshare="" socialshare-provider="pinterest" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                        <!-- <li><a class="btn-floating blue" socialshare="" socialshare-provider="twitter" socialshare-text="" socialshare-hashtags="" socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                        <li><a class="btn-floating yellow darken-1" socialshare="" socialshare-provider="email" socialshare-text="" socialshare-hashtags="" socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                        <li><a class="btn-floating red" socialshare="" socialshare-provider="pinterest" socialshare-text="" socialshare-hashtags="" socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                        <li><a class="btn-floating blue" socialshare="" socialshare-provider="facebook" socialshare-text="" socialshare-hashtags="" socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="couponsList.length===0">
                        <br> <b>No Coupons to show</b></div>
                </div>
                <div id="test3" class="col s12 tab-panel fav3">
                    <div class="coupons-listing-section" ng-if="dealsList.length>0" equalize-height="fav3">
                        <div class="coupons-listing" equalize-height-add="fav3" ng-repeat="fav3 in dealsList track by fav3.favoriteId">
                            <a class="deals-block" href="{{::fav3.startLink}}" target="_blank">
                                <div class="coupons-listing-image favmarlist"> <img ng-src="{{::fav3.logo}}" alt="" ng-cloak/>
                                </div>
                                <div class="coupons-listing-text">
                                    <h5>{{fav3.merchantName}}</h5>
                                    <p ng-if="fav3.offer.length>80">{{::fav3.offer| limitTo:80}}..</p>
                                    <p ng-if="fav3.offer.length<80">{{::fav3.offer}}</p>
                                    <p ng-if="fav3.offer.length==80">{{::fav3.offer}}</p>
                                </div>
                                <div class="like-section">
                                    <a href="javascript:void(0);" ng-click="removeFav(fav3.favoriteId,'offer');" class="wish-list-icone">
                                        <span class="deleatbtn"></span>
                                    </a>
                                    <div class="fixed-action-btn-share horizontal click-to-toggle-share sh-list-icone" ng-click="toggleShare($event)">
                                        <a class="share">
                                            <i>share</i>
                                        </a>
                                        <ul class="fshareicon social-ul social-display">
                                            <li>
                                                <a socialshare="" socialshare-provider="twitter" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}">
                                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a  socialshare="" socialshare-provider="facebook" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}">
                                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a  socialshare="" socialshare-provider="email" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a  socialshare="" socialshare-provider="pinterest" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}">
                                                    <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    </div>
                    <div ng-if="dealsList.length===0">
                        <br> <b>No Deals to show</b></div>
                </div>
            </div>
        </div>
    </div>
</div>
