.slick-wrapper{
    max-width: 93vw;
    margin: 0 auto;
}


.toptracks img, .topartists img, .topalbums img{
    margin: 0 auto;
    width: 96%;
    cursor: pointer;
}

svg path{
    fill: #e72c30;
}

.music-playbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    display: none;
}

/*.slick-prev {
    left: -45px;
}

.slick-next {
    right: -20px;
}

.slick-next:before, .slick-prev:before{
    font-size: 50px;
}*/

.slick-dots li button:before {
    color: #ad1c5e;
}

.song-heading{
    padding-left: 16px;
    color: #a9a3a3;
    font-size: 16px;
}

.trending-tracks, .trending-artists{
    margin-bottom: 50px;
}

.music-player{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
    background: #21242e;

}
.player-container{
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    width: 96%;
    overflow: hidden;
    position: relative;
}

/*----- Player Cover Image -----*/
.player-cover{
    height: 100px;
    float: left;
    width: 100px;
}

/*----- Player Progress Bar -----*/
.player-progress-container{
    background-color: #1a1919;
    /*float: left;    */
    position: absolute;
    top: 1px;
    left: 350px;
    width: calc(100% - 350px);
    height: 5px;
}
.player-progress-value{
    background-color: #e72c30;
}

.player-progress-value:after{
    background-color: #e72c30;
    height: 0;
    width: 0;
}
/*----- Player Options Bar -----*/
.player-options{
    padding: 0;  
    top: 12px;
    left: 350px;
    position: absolute;
    width: calc(100% - 350px);   
}

/*----- Player Artist Info -----*/
.artist-info{
    padding: 5px;
    height: 100px;
    width: 250px;
    float: left;
    color: #e72c30;
    top: 0;
}
.artist-name{
    font-size: 15px;
}
.artist-song-name{
    font-size: 15px;
}

/*----- Top Artist List -----*/
.topartists, .topartists a img{
    height: 100%;
}

.topartists a{
    height: 100%;
    display: block;
}

/*----- Top Album List -----*/
.topalbums, .topalbums a img{
    height: 100%;
}

.topalbums a{
    height: 100%;
    display: block;
}

/*----- Top Track List -----*/
.toptracks, .toptracks a img{
    height: 100%;
}

.toptracks a{
    height: 100%;
    display: block;
}