.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.navbar-default{    
    background-color: #222;
    border: transparent;
    height: 100%;
}

.navbar > .container {
  width: 96%;
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus{
    color: #e72c30;
    font-size: 15px;
}

.navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
   background-color: #1a1919;
}

.navbar-default .navbar-nav>.open>a{
    color: #e72c30;
    background-color: #1a1919;
}

.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
    color: #e72c30;
    background-color: #1a1919;
}

.dropdown-menu>li>a{
    color: #e72c30;
    background-color: #1a1919;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus{
    color: #e72c30;
    background-color: #222;
}

.dropdown-menu{
    background-color: #222;
    font-size: 15px;
    padding: 0;
}