.container-fluid{
    height: 100%;
}
.grid{
    height: 100%;
}
.main-register-wrapper{
    height: 100%;
    position: relative;
}
.register-form-wrapper{
    position: absolute;
    width: 42%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    border: 1px solid #6d133c;
    box-shadow: 0px 0px 17px 12px #43162a;
}

.register-form-wrapper .row{
    margin-left: 0;
    margin-right: 0;
}

.form-control{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #6d133c;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #1a1919;
}

.password{
    padding-left: 0;
    padding-right: 5px;
}

.confirm-password{
    padding-left: 5px;
    padding-right: 0;
}

.register-btn{
    background-color: #383737;
    color: #899999;
    border-color: transparent;
    width: 100%;
    height: 45px;
    border-radius: 0;
    font-size: 16px;
}

.register-btn:hover, .register-btn:active, .register-btn:focus{
    color: #899999;
    background-color: #3a1726;
    border-color: #3a1726;
}

.register-form-wrapper .row:last-child{
    margin-top: 20px;
}

.register-form-wrapper a:focus, .register-form-wrapper a:hover {
    color: #899999;
    text-decoration: none;
}

.forgot-password {
    padding-left: 0;
}

.login-link{
    padding-right: 0;
    text-align: right;
}
.input-perfect{
    display: none;
}

.input-error{
    color: #337ab7;
    padding-left: 12px;
}

body.swal2-shown .swal2-container{
    top: 50%;
    right: unset;
    bottom: unset;
    left: 50%;
    transform: translate(-50%, -50%);
}
.swal2-popup .swal2-header .swal2-title{
    color: #882655;
    font-size: 24px;
}

.swal2-popup .swal2-content #swal2-content{ 
    color: #2c728f;
    font-size: 16px;
    font-weight: 500;
}

.swal2-popup .swal2-actions .swal2-styled.swal2-confirm {
    background-color: #872754 !important;
    font-size: 13px;
}

@media (max-width: 1125px){
    .register-form-wrapper{
        width: 50%;
    }
}

@media (max-width: 1000px){
    .register-form-wrapper{
        width: 55%;
    }
}

@media (max-width: 900px){
    .register-form-wrapper{
        width: 60%;
    }
}

@media (max-width: 840px){
    .register-form-wrapper{
        width: 65%;
    }
}

@media (max-width: 720px){
    .register-form-wrapper{
        width: 75%;
    }
}

@media (max-width: 500px){
    .register-form-wrapper{
        width: 90%;
    }
}

@media (max-width: 300px){
    .container-fluid{
        padding-left: 5px;
        padding-right: 5px;
    }
    .register-form-wrapper{
        width: 100%;
        padding: 15px;
        box-shadow: none;
    }
}

@media (max-width: 767px){
    .password, .confirm-password{
        padding-left: 0;
        padding-right: 0;
    }
}