<footer class="full-wrapper">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <div class="footer-logo"><a href="#"><img src="images/footer-logo.png" alt="footer-logo" width="100%"></a></div>
            </div>
            <div class="col s12 l6">
                <div class="footer-nav">
                    <a href="#/home"  ng-class="{activefooter: (footercurrectpath=='home'||footercurrectpath=='')}">Home</a>
                    <a href="#/faq"  ng-class="{activefooter: (footercurrectpath=='faq')}">FAQ</a>
                    <a href="#/aboutUs"  ng-class="{activefooter: (footercurrectpath=='aboutUs')}">About</a>
                    <a href="#/howitworks"  ng-class="{activefooter: (footercurrectpath=='howitworks')}"> How It Works</a>
                    <a href="#/feedback" ng-class="{activefooter: (footercurrectpath=='feedback')}"">Feedback</a>                    
                    <a href="#/privacy"  ng-class="{activefooter: (footercurrectpath=='privacy')}">Privacy</a>
                    <a href="#/terms"  ng-class="{activefooter: (footercurrectpath=='terms')}">Terms</a>
                </div>
            </div>
            <div class="col s4 l3 social">
                <div class="row">
                    <div class="f-social-left">Follow us on:</div>
                    <div class="f-social-right">
                        <div class="f-social-tabs">
                            <a href="https://www.facebook.com/cashpack.org/" target="_blank"><img src="images/fb-icon.png"></a>
                        </div>
                        <div class="f-social-tabs">
                            <a href="https://twitter.com/cashpackorg" target="_blank"><img src="images/twitter-icon.png"></a>
                        </div>
                        <div class="f-social-tabs">
                            <a href="https://www.instagram.com/shopcashpack/" target="_blank"><img src="images/instagram-icon.png"></a>
                        </div>
                        <div class="f-social-tabs">
                            <a href="https://www.pinterest.com/getcashpack/" target="_blank"><img src="images/pin_icon.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom-row">
            &copy; {{ current|date:'yyyy' }} CashPack. All Rights Reserved.
            <div class="clr"></div>
            <div class="footer-bottom-icons"><img src="images/bottom-icons.png" width="100%"></div>
            <p style="opacity: 0;"><span><i class="fa fa-home"></i></span></p>
        </div>
    </div>
</footer>
