<header class="full-wrapper">
    <div class="header header-without-login" ng-if="!loggedIn">
        <nav class="white pro-nav" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo"> <img ng-src="images/logo.png" alt="" /> </a>
                <ul class="right hide-on-med-and-down pro-menu">
             
                    <li><a href="#/aboutUs" ng-class="{active: headercurrectpath=='aboutUs'}">About</a></li>
                    <li><a href="#/howitworks" ng-class="{active: headercurrectpath=='howitworks'}">How It Works</a></li>
                    <li><a href="#/faq" ng-class="{active: headercurrectpath=='faq'}">FAQ</a></li>
                    
                    <li><a href="#/allstores" ng-class="{active: headercurrectpath=='allstores'}">Stores</a></li>
                    <!-- <li><a href="#/fundraiser" ng-class="{active: headercurrectpath=='fundraiser'}">Support a Cause</a></li> -->
                    <li><a class="search topsearch searchbtn" ng-click="ShowOrHide()" href="javascript:void(0)"><img ng-src="images/search-icone.png" alt="" /></a>
                    </li>
                    <li>
                        <div class="login-border pro-login"> <a href="#login-pop" class="waves-effect waves-light btn button login ng-isolate-scope" ng-click="modalRef(myLogForm)" id="login-but" modal><span class="ng-scope">Login</span></a> </div>
                    </li>
                    <li>
                        <div class="signup-border pro-signup"> <a href="#signup-pop" class="waves-effect waves-light btn button signup ng-isolate-scope" ng-click="modalRef(myRegForm)" id="signup-but" modal><span class="ng-scope">Sign Up</span></a> </div>
                    </li>
                </ul>
                <ul id="nav-mobile" class="side-nav" style="transform: translateX(0px); width: 280px;">
                 
                      <li><a href="#/aboutUs" ng-class="{active: headercurrectpath=='aboutUs'}">About</a></li>
                    <li><a href="#/howitworks" ng-class="{active: headercurrectpath=='howitworks'}">How It Works</a></li>
                    <li><a href="#/faq" ng-class="{active: headercurrectpath=='faq'}">FAQ</a></li>
                    <li ng-if="loggedIn"><a href="#/favourites" ng-class="{active: headercurrectpath=='favourites'}">Favorites</a></li>
                    <li><a href="#/allstores" ng-class="{active: headercurrectpath=='allstores'}">Stores</a></li>
                    <li ng-if="loggedIn"><a href="#/causes" ng-class="{active: headercurrectpath=='causes'}">My Cause</a></li>
                    <li>
                        <a class="search topsearch searchbtn" ng-click="ShowOrHide()" href="javascript:void(0)">
                            <img ng-src="images/search-icone.png" alt="" /></a>
                        
                    </li>
                    <li>
                        <div> <a href="#login-pop" class="waves-effect waves-light btn button login ng-isolate-scope"  ng-click="modalRef(myLogForm)" id="login-but" modal><span class="ng-scope">Login</span></a> </div>
                    </li>
                    <li>
                        <div> <a href="#signup-pop" class="waves-effect waves-light btn button signup ng-isolate-scope" ng-click="modalRef(myRegForm)" id="signup-but" modal><span class="ng-scope">Sign Up</span></a> </div>
                    </li>
                </ul>
                <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="true" ng-click="hideSearch()">
                    <i class="material-icons">menu</i></a>
            </div>
            <div class="search-bg-section" ng-class="dropdownContent">
                <div class="search-contaner">
                    <div class="search-bg-element" ng-controller="searchController">
                        <form name="Searchform" novalidate ng-submit="hdrsearch(Searchform.$valid)" autocomplete="off">
                            <div class="ng-isolate-scope">
                                <div class="input-field">
                                    <input type="text" name="scrTxt" id="search" placeholder="Search by keywords" ng-model="scrTxt" autocomplete="off">
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light search-btn" value="search type=" submit " name="action ">
                            <img src="images/store-search-but.png" alt=" ">
                    
                        </button>

                    </form>
                </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="header header-with-login " ng-if="loggedIn ">
        <nav class="white pro-nav " role="navigation ">
            <div class="nav-wrapper container ">
                <a id="logo-container " href="#/home" class="brand-logo "> <img ng-src="images/logo.png " alt=" " /> </a>
                <ul class="right hide-on-med-and-down pro-menu ">
                  
                    <li><a href="#/aboutUs" ng-class="{active: headercurrectpath=='aboutUs'}">About</a></li>
                    <li><a href="#/howitworks" ng-class="{active: headercurrectpath=='howitworks'}">How It Works</a></li>
                    <li><a href="#/faq" ng-class="{active: headercurrectpath=='faq'}">FAQ</a></li>
                    <li ng-if="loggedIn"><a href="#/favourites" ng-class="{active: headercurrectpath=='favourites'}">Favorites</a></li>
                    <li ng-if="loggedIn"><a href="#/allstores" ng-class="{active: headercurrectpath=='allstores'}">Stores</a></li>
                    <li><a href="#/supportcauses/" ng-class="{active: headercurrectpath=='supportcauses/'}">Support a Cause</a></li>
                    <li ng-if="loggedIn"><a href="#/causes" ng-class="{active: headercurrectpath=='causes'}">My Causes</a></li>
                    <li><a href="#/refer" ng-class="{active: headercurrectpath=='refer'}">Refer a Friend</a></li>
                    <li>
                        <a class="search topsearch searchbtn " ng-click="ShowOrHide()" href="javascript:void(0)"><img ng-src="images/search-icone.png " alt=" " /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" ng-click="inst()" class="tooltipped install-btn installCashPackExtension" data-position="bottom" data-delay="50" data-tooltip="Install BackPack"><img src="images/install-cashpack.png" alt="Install BackPack"/></a>
                     
                    </li>
                    <li>
                       
                    </li>
                    <li class="profile-menu-section">
                        <a class="profile-img-link " data-activates='drop-down' dropdown data-click="true ">
                            <div class="profile-img ">
                                <img class="img-circle " data-ng-src="{{userLogo}} " ng-if="userLogo " />
                                <img class="img-circle " data-ng-src="images/placeholder.jpg " ng-if="!userLogo " />
                            </div>
                        </a>
                        <div class="drop-down" id='drop-down'>
                            <div class="cross-section "> <span></span> </div>
                            <div class="title-section "><a ng-click="a1()" href="javascript:void(0)">
                                <div class="title-section-img ">
                                    <div class="img-section ">
                                        <img class="img-circle " style="width:90% " data-ng-src="{{userLogo}} " ng-if="userLogo " />
                                        <img class="img-circle " style="width:90% " data-ng-src="images/placeholder.jpg " ng-if="!userLogo " />
                                    </div>
                                </div>
                                <div class="title-section-text ">
                                    <p ng-if="userName!='null null'">{{userName}}</p>
                                    <p ng-if="userName=='null null'">Welcome to cashpack</p> <span>{{price | currency}}</span> </div>
                           </a> </div>
                            <div class="title-section-menu ">
                                <ul>
                                    <li>
                                        <a ng-click="a1()"><img ng-src="images/Capa.png " alt=" " /> My Account</a>
                                    </li>
                                    <li>
                                        <a ng-click="a2()"><img ng-src="images/favorite.png " alt=" " /> My Favorites </a>
                                    </li>
                                    <li>
                                        <a ng-click="a3()"><img ng-src="images/settings-2.png " alt=" " /> My Settings</a>
                                    </li>
                                    <li>
                                        <a ng-click="a4()"><img ng-src="images/donation.png " alt=" " /> My Causes</a>
                                    </li>
                                    <li>
                                        <a ng-click="logout()"><img ng-src="images/power-button.png " alt=" " /> Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul id="nav-mobile1" class="side-nav " style="transform: translateX(0px); width: 280px; ">
                  
                    <li><a href="#/aboutUs" ng-class="{active: headercurrectpath=='aboutUs'}">About</a></li>
                    <li><a href="#/howitworks" ng-class="{active: headercurrectpath=='howitworks'}">How It Works</a></li>
                    <li><a href="#/faq" ng-class="{active: headercurrectpath=='faq'}">FAQ</a></li>
                    <li ng-if="loggedIn"><a href="#/favourites" ng-class="{active: headercurrectpath=='favourites'}">Favorites</a></li>
                    <li><a href="#/allstores" ng-class="{active: headercurrectpath=='allstores'}">Stores</a></li>
                    <li><a href="#/supportcauses/" ng-class="{active: headercurrectpath=='supportcauses/'}">Support a Cause</a></li>
                    <li ng-if="loggedIn"><a href="#/causes" ng-class="{active: headercurrectpath=='causes'}">My Causes</a></li>
                    <li><a href="#/refer" ng-class="{active: headercurrectpath=='refer'}">Refer a Friend</a></li>
                    <li>
                        <a class="search topsearch searchbtn " ng-click="ShowOrHide()" href="javascript:void(0)"><img ng-src="images/search-icone.png " alt=" " /></a>
                        
                    </li>
                    <li>
                        <a ng-href="{{extensionpath}}" class="instal-btn waves-effect "><img ng-src="images/install-icone.png " alt=" " /> Install BackPack </a>
                   
                    </li>
                   <!--  <li>
                        <a href="# "><img ng-src="images/notification.png " alt=" " /> </a>
                    </li> -->
                    <li class="profile-menu-section">
                        <a class="profile-img-link " data-activates='drop-down-mob' dropdown data-click="true ">
                            <div class="profile-img " ng-click="ShowOrHideAfter() ">
                                <img class="img-circle " data-ng-src="{{userLogo}} " ng-if="userLogo "/>
                                <img class="img-circle " data-ng-src="images/placeholder.jpg " ng-if="!userLogo "/>
                            </div>
                        </a>
                        
                    </li>
           
                </ul> 
                <a href="# " class="button-collapse " data-activates="nav-mobile1" data-sidenav="left" data-menuwidth="500" data-closeonclick="true">
                <i class="material-icons " ng-click="hideSearch()">menu</i></a>
                </div>
            
                <div class="search-bg-section" ng-class="dropdownContent">
                    <div class="search-contaner">
                        <div class="search-bg-element" ng-controller="searchController">
                            <form name="Searchform" novalidate ng-submit="hdrsearch(Searchform.$valid)" autocomplete="off">
                                <div class="ng-isolate-scope">
                                    <div class="input-field">
                                        <input type="text" name="scrTxt" id="search" placeholder="Search by keywords" ng-model="scrTxt" autocomplete="off">
                                    </div>
                                </div>
                                <button class="btn waves-effect waves-light search-btn" value="search type=" submit " name="action ">
                                <img src="images/store-search-but.png" alt=" ">
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="profile-menu-section profile-menu-section-mobile" >
                    <a class="imgmobclick profile-img-link " id="profileId-img" ng-click="ShowOrHideHeader()"  >
                       <div class="profile-img " >
                            <img class="img-circle " data-ng-src="{{userLogo}} " ng-if="userLogo "/>
                            <img class="img-circle " data-ng-src="images/placeholder.jpg " ng-if="!userLogo "/>
                        </div>
                    </a>
                </div>

                <div class="drop-down-mob" ng-class="menuHeader" id='drop-down-mob-header' style="z-index: 999">
                    <div class="cross-section " ng-click="ShowOrHideHeader()" id="drop-down-mob-close"> <span></span> </div>
                    <div class="title-section ">
                    <a ng-click="a1()" href="javascript:void(0)">
                        <div class="title-section-img ">
                            <div class="img-section ">
                                <img class="img-circle " style="width:90%; " data-ng-src="{{userLogo}} " ng-if="userLogo " />
                                <img class="img-circle " style="width:90%; " data-ng-src="images/placeholder.jpg " ng-if="!userLogo " />
                            </div>
                        </div>
                        <div class="title-section-text ">
                                    <p ng-if="userName!='null null'">{{userName}}</p>
                                    <p ng-if="userName=='null null'">Welcome to cashpack</p> <span>{{price | currency}}</span> 
                        </div>
                    </a></div>
                    <div class="title-section-menu ">
                        <ul>
                            <li>
                                <a ng-href="#/profile"><img ng-src="images/Capa.png" alt=" " /> My Account</a>
                            </li>
                            <li>
                                <a ng-href="#/favourites"><img ng-src="images/favorite.png" alt=" " /> My Favorites </a>
                            </li>
                            <li>
                                <a ng-href="#/settings"><img ng-src="images/settings-2.png" alt=" " /> My Settings</a>
                            </li>
                            <li>
                                <a ng-href="#/causes"><img ng-src="images/donation.png" alt=" " /> My Causes</a>
                            </li>
                            <li ng-click="logout()" class="test-logout">
                                <a ng-click="logout()" ><img ng-src="images/power-button.png" alt=" " /> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
       
        


    </div>


</header>


<!-- Login Modal -->
<div class="modal popup-form" id="login-pop" ng-if="!loggedIn">
   
    <div class="modal-action modal-close popup-close" ng-click="modalRef(myLogForm)" id="login-close"></div>
    <div class="popup-form-head">
        <span>Login</span>
        <br>
    </div>
    <div class="button-wrap">
        <div class="facebook-but-border">
            <a class="waves-effect waves-light btn button modal-close facebook-but" ng-click="fb_login();">Login with Facebook</a>
        </div>
        <div id="status">
        </div>
    </div>
    <div class="clr"></div>
    <div class="clr"></div>
    <div class="popup-devider-no-mark">
        <div class="popup-or">or</div>
    </div>
    <div class="clr"></div>
    <div class="popup-inner">
         <form name="myLogForm" novalidate autocomplete="off" class="simple-form" ng-submit="login(myLogForm.$valid);">
            <div class="input-field col s12">
                <input id="emailAddress" name="email" type="email" class="validate" ng-model="loginForm.emailAddress" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="Enter your Email" required autocomplete="off">
                <span style="color:red;font-size: 13px;margin-left: 67px" ng-if="(myLogForm.email.$dirty || myLogForm.$submitted) && myLogForm.email.$invalid">
                    <span style="color: red; font-size: 13px; " class="errlogmsg" ng-if="myLogForm.email.$error.required || myLogForm.$submitted">Email is required</span>
                <span style="color: red; font-size: 13px; " class="errlogmsg" ng-if="myLogForm.email.$dirty && myLogForm.email.$error.pattern">Invalid email address</span>
                </span>
            </div>
            <div class="input-field col s12">
                <input id="password" type="password" name="password" class="validate" placeholder="Enter your Password" ng-model="loginForm.password" ng-minlength="8" required autocomplete="off">
                <span style="color:red;font-size: 13px; display: block; 
                text-align: center" ng-if="(myLogForm.password.$dirty || myLogForm.$submitted) && myLogForm.password.$invalid">
                    <span ng-if="myLogForm.password.$error.required || myLogForm.$submitted">Password is required</span>
                <span ng-if="myLogForm.password.$dirty &&  myLogForm.password.$error.minlength">Password must be atleast 8 digit!</span>
                </span>
            </div>
            <input type="checkbox" ng-model="loginForm.logcheck" class="filled-in" id="filled-in-box" />
            <label for="filled-in-box" value="" class="remLog">Remember Me
            <!-- {{logcheck}} -->
                </label>
                <a href="#wrong-pop" class="modal-action modal-close waves-light forgetpasswardpopup" id="forget-but" modal>Forgot your password?</a>
            <div class="button-wrap but-wrapper">
                <span style="color:red;font-size: 14px; display: block;left: 27px !important; 
            position: relative;" ng-if="myLogForm.$submitted && myLogForm.$dirty ">{{loginError}}</span>
                <div class="popup-but-border login-border">
                    <button id="logsubbtn" class="modal-action waves-effect waves-light btn button popup-but userlogin login" type="submit" name="action">Login</button>
                    <div class="signtxt text-center"><span class="themetxtcolor extrathinfont"></span> <a href="#signup-pop" ng-click="modalRef(myLogForm)" class="modal-close" modal>Don’t have an account?</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Signup Modal -->
<div class="modal popup-form" id="signup-pop" ng-if="!loggedIn">
    <form name="myRegForm" autocomplete="false" class="simple-form" ng-submit="register(myRegForm.$valid);" novalidate>
    <div class="popup-close  modal-close popup-close" ng-click="modalRef(myRegForm)" id="signup-close"></div>
    <div class="popup-form-head">
        <span>Create Account</span>
        <br>
    </div>
    <div class="button-wrap">
        <div class="facebook-but-border">
            <a class="waves-effect waves-light btn button modal-close facebook-but" ng-click="fb_login()">Signup with Facebook</a>
        </div>
    </div>
    <div class="clr"></div>
    <div class="clr"></div>
    <div class="popup-devider-no-mark">
        <div class="popup-or">or</div>
    </div>
    <div class="clr"></div>
    <div class="popup-inner">
       
            <div class="input-field col s12">
                <input id="emailAddress" name="email" type="email" class="validate" placeholder="Enter your Email" ng-model="registerForm.emailAddress" autocomplete="false" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                <span style="color:red;font-size: 13px; margin-left: 67px;" ng-if="(myRegForm.email.$dirty || myRegForm.$submitted) && myRegForm.email.$invalid">
                    <span style="color:red;font-size: 13px;" ng-if="myRegForm.email.$error.required || myRegForm.$submitted">Email is required</span>
                <span style="color:red;font-size: 13px;" ng-if="myRegForm.email.$error.pattern">Invalid email address</span>
                </span>
            </div>
            <div class="input-field col s12">
                <input id="pwdsignup" type="password" name="password" class="validate" placeholder="Enter your Password" ng-model="registerForm.password" autocomplete="new-password" ng-minlength="8" required>
                <span style="color:red;font-size: 13px;display: block;
                    text-align: center" ng-if="(myRegForm.password.$dirty || myRegForm.$submitted) && myRegForm.password.$invalid">
                    <span ng-if="myRegForm.password.$error.required || myRegForm.$submitted">Password is required</span>
                    <span ng-if="myRegForm.password.$dirty &&  myRegForm.password.$error.minlength">Password must be atleast 8 digit!</span>
                </span>
            </div>
            <div class="input-field col s12">
                <input id="confirmpassword" type="password" name="confirmpassword" class="validate" ng-model="confirmForm.confirmpassword" autocomplete="off" placeholder="Confirm Password" ng-minlength="8" pw-check="pwdsignup" required>
                <span style="color:red;font-size: 13px; display: block;
                     text-align: center;" ng-if="(myRegForm.confirmpassword.$dirty || myRegForm.$submitted) && myRegForm.confirmpassword.$invalid">
                    <span ng-if="myRegForm.confirmpassword.$error.required || myRegForm.$submitted">Confirm Password is required</span>
                <span ng-if="myRegForm.confirmpassword.$error.pwmatch  && myRegForm.confirmpassword.$dirty &&  !myRegForm.confirmpassword.$error.minlength">Fields do not match!</span>
                <!-- <span ng-if="myRegForm.confirmpassword.$dirty &&  myRegForm.confirmpassword.$error.minlength">Password must be atleast 8 digit!</span> -->
                </span>
            </div>
            <div class="button-wrap but-wrapper">
                <span style="color:red;font-size: 14px; display: block;left: 27px !important;
                    position: relative;" ng-if="myRegForm.$submitted && myRegForm.$dirty ">{{signinError}}</span>
                <div class="popup-but-border login-border signup-border">
                    <button id="signsubbtn" class="modal-action  waves-effect waves-light btn button popup-but usersignup signup" type="submit" name="action">Sign up</button>
                    <div class="signtxt text-center"><span class="themetxtcolor extrathinfont"></span> <a href="#login-pop" ng-click="modalRef(myRegForm)"  class="modal-close" modal>Already have an account?</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Forgot Password Modal -->
<div class="modal popup-form" id="wrong-pop" ng-if="!loggedIn">
    <div class="modal-action modal-close popup-close" id="wrong-pop-close"></div>
    <a href="#login-pop" class="modal-close back" modal> < Back To Login</a>
    <div class="popup-form-head"><span>Enter your email</span></div>
    <div class="popup-inner">

       <span class="forpas">We will send an email with a link to recover your password</span>
        <form name="myWrongForm" ng-submit="WrongPassword(myWrongForm.$valid);" novalidate class="simple-form" id="frmInvite" autocomplete="off">
            <div class="input-field col s12">
                <input id="emailAddress" type="email" name="email" class="validate" ng-model="wrongForm.emailAddress" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                <span style="color:red;font-size: 13px; margin-left: 67px;" ng-if="(myWrongForm.email.$dirty || myWrongForm.$submitted) && myWrongForm.email.$invalid">
                    <span style="color:red;font-size: 13px;" ng-if="(myWrongForm.email.$dirty || myWrongForm.$submitted) &&  myWrongForm.email.$error.required">Email is required</span>
                <span style="color:red;font-size: 13px;" ng-if="(myWrongForm.email.$dirty || myWrongForm.$submitted) &&  myWrongForm.email.$error.pattern">Invalid email address</span>
                </span>
            </div>
            <div class="popup-but-border  login-border">
                <button href="javascript:void(0)" class="modal-action waves-effect waves-light btn button popup-but forgetpass" type="submit" name="action">Reset password</button>
            </div>
        </form>
    </div>
</div>
<!-- Reset Password Modal WIth Hash-->
<div class="modal popup-form" id="reset-password-pop" autocomplete="off">
    <div class="modal-action modal-close popup-close" id="reset-password-close"></div>
    <div class="popup-form-head"><span>Reset Password</span></div>
    <div class="popup-inner">
        <form name="resetFrm" ng-submit="ResetPassword(resetFrm.$valid);" novalidate class="simple-form" >
            <!--  <div class="input-field col s12">
                <input id="restpwd1" type="password" name="password1" class="validate" ng-model="resetFrm.password1" required placeholder="Enter Your Current Password" autocomplete="off">
                
            </div> -->
            <div class="input-field col s12">
                <input id="restpwd2" type="password" name="password2" class="validate" ng-model="resetFrminput.password2" required placeholder="Enter New Password" autocomplete="off">
                <span style="color:red;font-size: 13px;display: block;
                text-align: center" ng-if="(resetFrm.password2.$dirty || resetFrm.$submitted) && resetFrm.password2.$invalid">
                    <span ng-if="resetFrm.password2.$error.required">Password is required</span>
                    <span ng-if="resetFrm.password2.$error.minlength">Password must be atleast 8 digit!</span>
                </span>
            </div>
            <div class="input-field col s12">
                <input id="restpwd3" type="password" name="password3" class="validate" ng-model="resetFrminput.password3" required placeholder="Enter Password Again" autocomplete="off" pw-check="restpwd2">
                <span style="color:red;font-size: 13px;display: block;
    text-align: center" ng-if="(resetFrm.password3.$dirty || resetFrm.$submitted) && resetFrm.password3.$invalid">
                    <span ng-if="resetFrm.password3.$error.required">Password is required</span>
                <!-- <span ng-if="resetFrm.password3.$error.minlength">Password must be atleast 8 digit!</span> -->
                <span ng-if="resetFrm.password3.$error.pwmatch">Confirm Password do not match!</span>
                </span>
            </div>
            <input id="hash" type="hidden" name="hash" class="validate" ng-model="resetFrminput.hash">
            <div class="popup-but-border  login-border">
                <button type="submit" name="action" class="modal-action waves-effect waves-light btn button popup-but forgetpass">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="coupon-overlay"></div>
<div id="demoModalpopUp" class="modal modal-copyCode" >
    <div class="modal-inner-container">
        <a href="javascript:void(0);" ng-click="closeModal()" class="modal-content-modal-close modal-close">X</a>
        <div class="offer-redemption-content">
          <!-- <div class="container"> -->
          <div class="row">
            <!-- <div class="col l4 m4 s12">
            <div class="top"><a href="{{coupon.startLink}}" target="blank"><img ng-src="{{coupon.logo}}" alt="{{coupon.merchantName}}" class="img" ng-cloak></a></div>
            </div> -->
           <!--  <div class="col l8 m8 s12"> -->
            <div class="col l12 m12 s12">
            <p class="copy-paste">Click to Copy and paste this code at <a href="{{coupon.startLink}}" style="" target="blank">{{coupon.merchantName}}</a>
                </p>
                <div class="modal-content fund-coupon pro-fundraiser">
                    <div  class="coupon-details" >
                        <span id="codeCoupon" ng-click="copyCode($event)" ngclipboard data-clipboard-text="{{coupon.code}}">{{coupon.code}}</span>
                        <button style="visibility: hidden;" class="copy-btn">Copy</button>
                    </div>
                </div>
                <h3 style="font-size:14px;">{{coupon.offer | limitTo:strLimit}}
                    <span class="cursor-pntr" ng-if="coupon.offer.length > 50 && coupon.offer.length != strLimit">
                        <p ng-click="showMore()" class="more-less">
                    Read More...</p></span>
                    <span class="cursor-pntr" ng-if="coupon.offer.length == strLimit">
                        <p ng-click="showLess()" class="more-less">
                    ...Read Less</p></span>
                </h3>
                </div>
                
                
            </div>
           </div>

           <!-- </div> -->
        </div>
        
        
        <!-- <div class="coupon-offer">
                <p class="offer-details-header">Details</p>
                <p class="offer-details-info" style="color: #40a4bb;">{{coupon.offer}}</p>
            </div> -->
        <div class="offer-detail-container">
            <div class="offer-detail-information">
                <div class="offer-action coupon-fav" fav-show user="coupon" style="position: relative;" ng-if="coupon.id">
                 Add To Favorite 
                <!-- <div class="icons" ><favouite user="coupon"></favouite></div> -->
                </div>
                <div class="offer-action coupon-fav" fav-delete user="coupon" style="position: relative;" ng-if="coupon.id==undefined">
                Delete Favorite 
                <!-- <div class="icons" ><favouite user="coupon"></favouite></div> -->
                </div>
                <div class="offer-action coupon-email" ng-click="showSubscribe('emailSubscribe')">Share</div>
                <!-- <div class="offer-action coupon-text" ng-click="showSubscribe('phoneSubscribe')">Send as Text</div> -->
            </div>
            <form name="emailCoupon" class="email-form-send"  ng-if="emailSubscribe">
                <div>
                    <p class="send-form-copy"><span>Share Your Coupon</span></p>
                    <div class="send-input-container">  
                        <div class="">  
                           <!--  <input class="input js-address" type="email" placeholder="Email Address">  
                             <button type="submit" class="button button-primary js-send-email">Send</button>  -->  
                              <ul class="share-panel">
                                <li >
                                    <a socialshare="" socialshare-provider="twitter" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-twitter-square" style="font-size: 32px;" aria-hidden="true"></i></a>
                                </li>
                
                                <li>
                                <a  socialshare="" socialshare-provider="facebook" socialshare-text="}"  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 32px;"></i></a></li>
                
                                <li><a  socialshare="" socialshare-provider="email" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-envelope" aria-hidden="true" style="font-size: 32px;"></i></a></li>
                
                                <li><a  socialshare="" socialshare-provider="pinterest" socialshare-text=""  socialshare-url="{{$location.$$absUrl}}"><i class="fa fa-pinterest-square" aria-hidden="true" style="font-size: 32px;"></i></a></li>
                    </ul>
                        </div>  
                        <!-- <div class="text-center"><small> Your email will only be used to send this deal.  </small></div> -->
                    </div>
                </div>
            </form>
            <!-- <form name="phoneCoupon" class="phone-form-send"  ng-if="phoneSubscribe">
                <div>
                    <p class="send-form-copy"><span>Text this deal to your inbox</span></p>
                    <div class="send-input-container">  
                        <div class="inline-form-elements">  
                            <input class="input js-address" type="text" placeholder="Phone Number">  
                             <button type="submit" class="button button-primary js-send-phone">Send</button>   
                        </div>  
                        <div class="text-center"><small> Your number will only be used to send you this deal.  </small></div>
                    </div>
                </div>
            </form> -->
            <!-- <div class="coupon-offer">
                <p class="offer-details-header">Details</p>
                <p class="offer-details-info" style="color: #40a4bb;">{{coupon.offer}}</p>
            </div> -->
        </div>
    </div>
</div>

<a href="#" id="back-to-top" title="Back to top"></a>

<div class="modal popup-form" id="logout-pop" autocomplete="off">
    <div class="popup-form-head"><span><img src="images/logo.png"></span></div>
    <div class="clr"></div>
    <div class="clr"></div>
    <div class="popup-inner">
       <div class="input-field col s12">
       <img src="images/lock.png" class="one">
       </div>
       
       <div class="input-field col s12">
           <span>Processing...</span>
           <span><img src="images/load.gif"></span>
       </div>  
    </div>
</div>