*{
	box-sizing: content-box;
}
body{
	height: 100%;
	margin: 0;
}

.main-wrapper{
	position: relative;
    margin-top: 50px;
}

.gallery{
    overflow: hidden;
    margin: 10px auto;
}

ul.carousel{
	height: 300px;
	padding: 0;
}

ul.carousel li{
	list-style: none;
	float: left;
	width: 200px;
	height: 300px;
	z-index: 1;
	position: relative;
}

.arrow{
	width: 10%;
    position: absolute;
    top: 25%;
    cursor: pointer;
}

.previous-arrow{
	left: 0;
}

.next-arrow{
	right: 0;
}

img{
	width: 100%;
	height: 100%;	
}