<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app',
  /*created(){
    let currentUser=sessionStorage.getItem("userName") || "";
    if(currentUser==""){
      this.$router.push('/');
    }
  }*/
}
</script>

<style>


</style>
