* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #211917 url(../images/bg-body.png) repeat-y center top;
  font-family: "QuattrocentoSans-Regular";
}

h1, h2, h3, h4, p, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  background-color: #241b18;
  border-bottom: 1px solid #fff;
}

.header>div {
  width: 940px;
  max-width: 940px;
  margin: 0 auto;
  padding: 36px 0;
  overflow: hidden;
}

.header-logo {
  float: left;
}

.header-menu {
  float: right;
  margin-top: 26px;
}

.header-menu ul {
  list-style: none;
}

.header-menu ul li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0 15px;
}

.header-menu ul li a {
  display: block;
  color: #fff;
  font-family: "Oswald";
  font-size: 14px;
}

.header-menu ul li.selected a {
  color: #f8c948;
}

.content {
  width: 940px;
  margin: 0 auto;
}

.banner-content-wrapper {
  overflow: hidden;
  height: 407px;
  width: 100%;
  border-width: 1px;
  border-style: none solid solid;
  border-color: #fff;
}

.banner-content-image, .banner-content-description {
  float: left;
  width: 50%;
  position: relative;
}

.banner-content-image img {
  width: 100%;
}

.view-details {
  text-align: center;
  position: absolute;
  left: 330px;
  bottom: 25px
}

.view-details span {
  font-size: 14px;
}

.view-details p {
  font-size: 24px;
}

.view-details a {
  background: url(../images/buttons.png) no-repeat;
  width: 109px;
  height: 35px;
  line-height: 35px;
  display: block;
  color: #9e781e;
  text-transform: uppercase;
  font-size: 14px;
}

.banner-content-description {
  background: url(../images/bg-pattern.jpg) no-repeat;
  height: 407px;
  padding: 61px 55px;
  ;
}

.banner-content-description h1 {
  color: #241b18;
  font-family: "Oswald";
  font-size: 34px;
  font-weight: normal;
  margin: 0 0 24px;
  text-align: center;
  text-shadow: 1px 1px #fff;
}

.banner-content-description p {
  text-align: justify;
  line-height: 24px;
  color: #241b18;
  font-size: 15px;
}

.room-demo-list {
  overflow: hidden;
}

.room-demo-list li {
  list-style: none;
  float: left;
  width: calc(100% / 3);
  background-color: #4b3a33;
}

.room-demo-list li.bedroom {
  background-color: #241b18;
}

.room-demo-list .details {
  background: url(../images/separator-light.png) repeat-x left top;
  padding: 16px 20px 0;
}

.room-demo-list .details h4 {
  color: #ffc947;
  font-family: "Oswald";
  font-weight: normal;
  margin: 0 0 6px;
  text-transform: uppercase;
}

.room-demo-list .details p {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0 0 24px;
  text-align: justify;
}

.info-blog-wrapper {
  background-color: #fff;
}

.info-blog-list {
  overflow: hidden;
}

.info-blog-list li {
  list-style: none;
  float: left;
}

.info-blog-list li.info {
  width: 33.3%;
  background: url(../images/separator-light-vertical.png) repeat-y right top;
  padding: 20px 40px 0 20px;
}

.info-blog-list li p {
  color: #7b7b7b;
  font-family: "Oswald";
  font-size: 14px;
  padding-bottom: 0;
  text-transform: uppercase;
  line-height: 24px;
  text-align: justify;
}

.info-blog-list li.info h1 {
  color: #241b18;
  display: block;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 0 24px;
}

.info-blog-list li.blog {
  width: 66.67%;
  padding: 20px 40px 0 20px;
}

.first-blog, .second-blog {
  float: left;
  width: 50%;
  overflow: hidden;
}

.first-blog-text, .first-blog-image, .second-blog-text, .second-blog-image {
  width: 50%;
  float: left;
}

.footer {
  background-color: #e2b241;
  border-top: 1px solid #fff;
}

.footer-wrapper {
  width: 940px;
  max-width: 940px;
  margin: 0 auto;
  padding: 20px 0 30px;
  overflow: hidden;
}

.footer-list {
  list-style: none;
  float: left;
  width: calc(100% / 3);
  background: url(../images/separator-dark-vertical.png) repeat-y right top;
  padding-left: 15px;
  padding-right: 15px;
}

.showroom-visit {
  padding-left: 0;
}

.newsletter {
  padding-right: 0;
}

.footer-list>h4 {
  color: #000;
  font-family: "Oswald";
  font-size: 14px;
  padding-bottom: 0;
  text-transform: uppercase;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 12px;
}

.showroom-visit p {
  margin-bottom: 20px;
}