* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(../images/bg-body.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.page-wrapper{
	max-width: 960px;
	margin: 0 auto 50px;
	background-color: #356618;
}

.header{
	width: 96%;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
}
.header .logo-wrapper{
	padding: 15px 0;
}
.logo-wrapper a{
	display: block;
}
.menu-wrapper{
	background-color: #4b4b4b;
	font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  border-bottom: 1px solid #fff;
}
.menu-wrapper ul{
	overflow: hidden;
	list-style: none;
}
.menu-wrapper ul li{
	float: left;
	text-align: center;
	width: calc(100% / 6);
	height: 50px;
	padding: 0;
}
.menu-wrapper ul li a{
	color: #f0f2c9;
	line-height: 50px;
	text-decoration: none;
	display: block;
}
.menu-wrapper ul li.selected a, .menu-wrapper ul li.selected a:hover{
	background: #96b285;
    color: #356618;
}
.menu-wrapper ul li a:hover{
	background: #daead0;
	color: #1b330c;
}
.body{
	width: 96%;
	margin: 0 auto;
}
.banner-wrapper{
	position: relative;
}
.banner-wrapper img{
	width: 100%;
}
.banner-headline-wrapper{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 15px;
  z-index: 2;
  transform: translateY(124px);

  animation: appear 5s ease-in 0s forwards;
}
@keyframes appear{
    0%{
        transform: translateY(114px);
    }
    100%{
        transform: translateY(0);
    }
}
.owl-theme .owl-nav [class*=owl-]{
  color: #4b4b4b;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 0;
  position: absolute;
  top: 50%;
}
.owl-theme .owl-nav .owl-prev{
  left: 0;
}
.owl-theme .owl-nav .owl-next{
  right: 0;
}
.banner-headline-wrapper p:first-child{
	color: #dee45f;
	text-transform: uppercase;
	font-size: 24px;
}
.banner-headline-wrapper p{
	font-family: sans-serif;
	color: #fff;
	padding-bottom: 8px;
}
.continue{
	background: url(../images/interface.png) no-repeat -400px 0;
	height: 20px;
  width: 20px;
  display: inline-block;
  top: 5px;
  left: 5px;
  position: relative;
}
.list-wrapper {
  position: relative;
	padding: 15px;
  z-index: 3;
}
.list-wrapper ul{
	list-style: none;
	overflow: hidden;
}
.list-wrapper ul li{
	float: left;
	width: calc((100% - (2 * 15px))/ 3);
	padding-right: 15px;
	overflow: hidden;
}
.list-wrapper ul li img{
	float: left;
	width: 30%;
}
.gardening-tips{
	overflow: hidden;
}
.gardening-tips a{
	float: right;
	width: 65%;
	font-family: sans-serif;
	font-size: 15px;
}
.gardening-tips-header{
	color: #dee45f;
	padding-bottom: 10px;
}
.gardening-tips-description{
	color: #fff;
}
.feature-tips-wrapper{
	background-color: #fff;
}
.feature-wrapper{
	width: 96%;
	margin: 0 auto;
	border-bottom: 1px solid #d4cbcb;
	padding: 20px 0;
}
.feature-wrapper .feature-wrapper-h1{
	background: #dce9d4;
	font-size: 18px;
	color: #836145;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 20px;
	border-bottom: 2px solid #b3cca4;
	text-shadow: 1px 1px 1px #fff;
}
.feature-menu{
	margin-top: 20px;
}
.feature-menu ul{
	list-style: none;
	overflow: hidden;
}
.feature-menu ul li{
	float: left;
	width: calc((100% - (3 * 20px)) / 4);;
	margin-left: 20px;
}
.feature-menu ul li:first-child{
	margin: 0;
}
.feature-menu ul li img{
	width: 100%;
}
.feature-menu ul li h1{
	color: #836145;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 24px 0 10px;
    text-transform: uppercase;
}

.feature-menu ul li p{
	  color: #4b4b4b;
    letter-spacing: 0.028em;
    line-height: 24px;
    text-align: left;
}
.tips-wrapper{
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
}
.tips-image-wrapper{
  float: left;
  width: 38%;
}
.tips-description{
  float: left;
  width: 62%;
}
.tips-wrapper .tips-wrapper-h1{
	background: #dce9d4;
	font-size: 18px;
	color: #836145;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 20px;
	border-bottom: 2px solid #b3cca4;
	text-shadow: 1px 1px 1px #fff;
}
.tips-description ol{
  padding: 20px 0;
  font-size: 14px;
}
.tips-description ol li{
  color: #4b4b4b;
  font-weight: bold;
  margin: 10px 0;
}
.tips-description ol li p{
  font-weight: normal;
  letter-spacing: 0.028em;
  line-height: 24px;
  font-size: 14px;
}
.footer{
  width: 96%;
  margin: 0 auto;
  background: #dce9d4;
  border-top: 1px solid #b8d0aa;
}
.footer-list ul{
  list-style: none;
  overflow: hidden;
  padding: 20px 20px 0;
}
.footer-list ul li.footer-placeholder{
  width: calc(100% / 4);
  float: left;
}
.footer-social-wrapper ul{
  list-style: none;
  padding: 0;
}
.footer-list h1{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 13px;
    text-shadow: 1px 1px 1px #ffffff;
    text-transform: uppercase;
}
.footer-placeholder p{
  color: #8c8c8c;
  font-size: 15px;
}
.footer-social-wrapper li{
  margin-bottom: 10px;
}
.footer-social-wrapper a{
  padding-left: 30px;
  color: #8c8c8c;
  display: block;
  font-size: 15px;
}
.footer-social-wrapper a#email{
  height: 14px;
  line-height: 14px;
  background: url(../images/icons.png) no-repeat 0 0;
}
.footer-social-wrapper a#facebook{
  height: 20px;
  line-height: 20px;
  background: url(../images/icons.png) no-repeat 0 -38px;
}
.footer-social-wrapper a#twitter{
  height: 18px;
  line-height: 18px;
  background: url(../images/icons.png) no-repeat 0 -88px;
}
.footer-social-wrapper a#googleplus{
  height: 20px;
  line-height: 20px;
  background: url(../images/icons.png) no-repeat 0 -135px;
}
.copy-right{
  color: #ffffff;
  height: 37px;
  line-height: 37px;
  text-align: center;
  text-shadow: 1px 1px 1px #8da181;
  font-size: 14px;
}
