body {
    background: #2C3E50;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-control:focus {
    outline: none;
    box-shadow: none !important;
}

.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #BDC3C7;
    padding-left: 0;
    padding-right: 0;
}

.help {
    font-size: 12px;
    color: red;
}

.is-danger {
    border-color: red;
}

.btn {
    padding-left: 25px;
    padding-right: 15px;
    cursor: pointer;
}