<template>
  <div class="app-header">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Shopping Cart</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li v-bind:class="{ active: activeClass.homeActive}">
              <a v-on:click="clickedHome">Home</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Category <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Laptop</a></li>
                <!--<li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>-->
              </ul>
            </li>
          </ul>
          <div class="nav navbar-nav navbar-right">
            <li>
              <form class="navbar-form" role="search">
                <div class="input-group add-on">
                  <input v-model="data" v-on:keyup="onChangeSearchInput" class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                  <div class="input-group-btn">
                    <!--<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
                  </div>
                </div>
              </form>
            </li>
            <li>
              <button class="btn btn-default btn-sm cart-btn" v-on:click="clickedCartItems">
                <span class="glyphicon glyphicon-shopping-cart cart-icon"></span> {{no_of_cart_item}}
              </button>
            </li>
            <li v-bind:class="{ active: activeClass.loginActive}"><a v-on:click="clickedLogin"> Login </a></li>
            <!--<li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>-->
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</template>



<script>
import { mapGetters, mapActions } from 'vuex'
import {bus} from '../main';
export default {
  name: 'appHeader',
  data () {
    return {
      data:'',
      activeClass:
      {
        homeActive:true,
        loginActive:false
      },
      no_of_cart_item:'',
      searchText:''
    }
  },
  computed:{
    /*...mapGetters({
      activeClass: 'activeClass',
      no_of_cart_item:'no_of_cart_item',
      searchText: 'searchText'
    }),*/
  },
  methods:{
    /*...mapActions({
      onChangeSearchInput:'getSearchData'
    }),*/
    deactiveAllNavItem: function(){
      this.activeClass.homeActive=false;
      this.activeClass.loginActive=false;
    },

    clickedHome: function(){
      this. deactiveAllNavItem();
      this.activeClass.homeActive=true;
      this.$router.push('/');
    },

    clickedCartItems: function(){
      this.deactiveAllNavItem();
      this.$router.push('/viewCart');
    },
    clickedLogin:function(){
      this. deactiveAllNavItem();
      this.activeClass.loginActive=true;
      this.$router.push('/login');
    },
    onChangeSearchInput: function(){
      bus.$emit('onSearch', this.searchText);
    }
  },
  created(){
    bus.$on('onCartItem', (data)=>{
      this.no_of_cart_item=data;
      //console.log("Emit fire..",data);
    });
    let cartItems=JSON.parse(localStorage.getItem("cartItems")) || [];
    this.no_of_cart_item=Object.keys(cartItems).length;
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.cart-icon{
  font-size: 20px; 
  color: red;
}
.cart-btn{
  margin-top: 5px;
}
</style>
