<template>
	<div class="home">
  	<div class="album text-muted">
      <div class="container" v-if="panelActive">
        <div class="row">
          <div class="col well">
            <h3>Please Wait...</h3>
          </div>
        </div>
      </div>
  		<div class="container" v-if="!panelActive">
      	<div class="row">
          <div v-for="product in products" class="card col-sm-4 col-md-4 col-lg-4">
            <router-link v-bind:to="'/details/'+ product.id">
              <img data-src="holder.js/100px280?theme=thumb" alt="Thumbnail [100%x280]" v-bind:src="getImgUrl(product.image)" data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
              <p class="card-text pname">{{product.name}}</p>
              <p class="card-text pprice">Price : {{product.price}}</p>
            </router-link>
            <p>
            	<button class="btn btn-success">Buy Now</button>
            	<button class="btn btn-warning" v-on:click="addToCart(product)">Add To Cart</button>
            </p>
          </div>
      	</div>
  		</div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import {baseUrlImage, baseUrl} from '../data/url';
import {bus} from '../main';
export default {
  name: 'Home',
  data () {
    return {
     // searchText:''
    }
  },
  computed:{
    ...mapGetters({
      products: 'allProducts',
      panelActive:'panelActive',
      searchText: 'searchText'
    }),
    /*products(){
      //console.log(this.$store.state.products);
      //this.panelActive=false;
      return this.$store.state.products;
    },*/
  	filteredProducts: function(){
        return this.products.reverse().filter((product) => {
          return product.name.toLowerCase().match(this.searchText.toLowerCase());
        });
      }
  },
  methods:{
  	getImgUrl:function(name) {
    	var images = baseUrlImage + name;
    	return images;
  	},
    addToCart:function(product){
      let cartItems=JSON.parse(localStorage.getItem("cartItems")) || [];
      cartItems.push(product);
      localStorage.setItem("cartItems",JSON.stringify(cartItems)); 
      //console.log(Object.keys(cartItems).length);
      bus.$emit('onCartItem', Object.keys(cartItems).length);
    }
  },
  created(){
  	/*this.$http.get(baseUrl +'/prductdemo').then(response => {
    	// get body data
    	this.products = response.body;
      this.panelActive=false;
 		 //console.log(response.body);

  	}, response => {
    	// error callback
    	console.log(response.body);
    });*/
    this.$store.dispatch('getAllProducts');

    bus.$on('onSearch', (data)=>{
      this.searchText=data;
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pname{
	font-size: 20px;
    color: black;
    font-weight: bold;
}
.pprice{
	font-size: 15px;
    color: #632020;
    font-weight: bold;
}
</style>