<template>
  <div class="orderCheckout">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <form>
            <div class="form-group">
              <label for="add">Shipping Details:</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="phone" placeholder="Mobile No.">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="add1" placeholder="Add Line 1">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="add2" placeholder="Add Line 2">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="city" placeholder="Enter City">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="state" placeholder="State">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="pin" placeholder="Pin">
            </div>
            <div class="form-group">
              <input type="checkbox" id="payment" name="payment">
              <label for="payment">Cash On Delivery.</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {bus} from '../main';
export default {
  name: 'orderCheckout',
  data () {
    return {
      data:''
    }
  },
  computed:{
    
  },
  methods:{

  },
  created(){

  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
