<template>
  	<div class="viewProduct">
      <div class="container" v-if="panelActive">
        <div class="row">
          <div class="col well">
            <h3>Please Wait...</h3>
          </div>
        </div>
      </div>

			<div class="container" v-if="!panelActive">
        <div class="row well">
          <div class="card col-sm-4 col-md-4 col-lg-4 col-lg-offset-1">
            <img data-src="holder.js/100px280?theme=thumb" alt="Thumbnail [100%x280]" v-bind:src="getImgUrl(product.image)" data-holder-rendered="true" style="height: 280px; width: 100%; display: block;"> 
          </div>

          <div class="card col-sm-4 col-md-4 col-lg-4 col-lg-offset-1">
            <p class="card-text pname">{{product.name}}</p>
            <p class="card-text pprice">Price : {{product.price}}</p>
            <p>
              <button class="btn btn-success">Buy Now</button>
              <button class="btn btn-warning">Add To Cart</button>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col well pdesc">
            Description :  {{product.desc}}
          </div>
        </div>
      </div>
  	</div>
</template>

<script>
export default {
  name: 'viewProduct',
  data () {
    return {
      id:this.$route.params.id,
      product:{},
      url:'http://localhost:8000/api',
      panelActive:true
    }
  },
  computed:{
  	
  },
  methods:{
  	getImgUrl:function(name) {
      var images = 'http://localhost:8000/images/' + name;
      return images;
    }
  },
  created(){
    this.$http.get(this.url+'/prductdemo/'+this.id).then(function(data){
        //console.log(data);
        //this.blog=data.body;
        return data.json();
      }).then(function(data){
        this.product=data;
        this.panelActive=false;
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pname{
  font-size: 20px;
    color: black;
    font-weight: bold;
}
.pprice{
  font-size: 20px;
  color: #632020;
  font-weight: bold;
}
.ptext{
  min-height: 280px;
}
.pdesc{
  font-size: 15px;
}
</style>