<template>
  <div class="viewCartItem">
    <div class="container">
      <div v-for="product in products" class="row well">
        <div class="card col-sm-4 col-md-4 col-lg-4 col-lg-offset-1">
          <img data-src="holder.js/100px280?theme=thumb" alt="Thumbnail [100%x280]" v-bind:src="getImgUrl(product.image)" data-holder-rendered="true" style="height: 100px; width: 100px; display: block;"> 
        </div>
        <div class="card col-sm-4 col-md-4 col-lg-4 col-lg-offset-1">
          <p class="card-text pname">{{product.name}}</p>
          <p class="card-text pprice">Price : {{product.price}}</p>
          <p>
            <button class="btn btn-danger" v-on:click="deleteCartItem(product.id)">Delete</button>
          </p>
        </div>
      </div>
      <div class="row well">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3 class="text-center">Total Price : {{getTotalCartPrice()}}</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <router-link to="/checkout"><button class="btn btn-primary">Proceed to Checkout</button></router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {baseUrlImage, baseUrl} from '../data/url';
import {bus} from '../main';

export default {
  name: 'viewCartItem',
  data () {
    return {
      data:'',
      products:[]
    }
  },
  computed:{

  },
  methods:{
    deleteCartItem:function(id){
      //console.log(this.books);
      let index=this.products.findIndex(function(product){
          return(product.id==id);
        });

      this.products.splice(index,1);
      localStorage.setItem('cartItems', JSON.stringify(this.products));
      //console.log(index);
      bus.$emit('onCartItem', Object.keys(this.products).length);
    },
    getImgUrl:function(name) {
      var images = baseUrlImage + name;
      return images;
    },
    getTotalCartPrice:function(){
      var totalPrice=0;
      this.products.forEach(function(product){
        totalPrice += product.price;
      });
      return totalPrice;
    }
  },
  created(){
    //console.log("viewCartItem Created");
    this.products = JSON.parse(localStorage.getItem("cartItems")) || [];
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
