<div class="top-spacer">
</div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>FAQ</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<section class="full-wrapper faq">
    <div class="container">
        <div class="row">
            <div classs="col l12 m12 s12">
                <h1>Frequently Asked Questions</h1>
            </div>
            <div class="col l6 m7 s12" style="position:relative">
                <!-- <h2>Ask Our Experts</h2> -->
                <p>We bet if you have a question about cashpack, someone else has wondered the same thing! You can check our FAQs to see if there’s already an answer at your fingertips.</p>
                <br>
                <b> <p>If what you need isn’t here, feel free to drop us a line!</b>
                
                <div class="category-search-border">
                    <span class="btn button category-search" ng-class="catName" ng-click="showOrHide(faqFrm)"><img  src="images/Shape.png" class="dropus">Drop Us a Line</span>
                    <div class="category-select-mega" ng-class="className">
                    <div class="category-select-mega-top">
                        <div class="arrow"><img src="images/category-select-mega-arrow.png" width=100%>
                        </div>
                        <a href="javascript:void(0);" ng-click="close();" class="modal-content-modal-close modal-close ex" style="color: #fff">X</a>
                    </div>
                    <div class="mega-bottom">
                        <div class="row">
                            <div id="vertical-scrollbar-demo" class="gray-skin demo" >
                                <div class="col l12 m12 s12">
                                    <script src='https://www.google.com/recaptcha/api.js'></script>
                                    <form name="faqFrm" novalidate autocomplete="off" class="simple-form" ng-submit="faqDropALine(faqFrm.$valid,faqFrm);">
                                        <div input-field class="input-fild">
                                            <input type="text" ng-model="faqFm.name" name="name" required autocomplete="off" placeholder="Name">
                                            <p class="frmerr" ng-if="(faqFrm.name.$dirty ||faqFrm.$submitted) && faqFrm.name.$invalid">
                                                <span ng-if="faqFrm.name.$error.required ||faqFrm.$submitted">name is required</span>
                                            </p>
                                        </div>
                                        <div input-field class="input-fild">
                                            <input name="email" type="email" ng-model="faqFm.emailAddress" required autocomplete="off" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="Email">
                                            <p class="frmerr" ng-if="(faqFrm.email.$dirty ||faqFrm.$submitted) && faqFrm.email.$invalid">
                                                <span class="frmerr" ng-if="faqFrm.email.$error.required">Email is required</span>
                                                <span class="frmerr" ng-if="faqFrm.email.$error.pattern">Invalid email address</span>
                                            </p>
                                        </div>
                                        <div input-field class="input-fild">
                                            <input type="text" name="phone" ng-model="faqFm.phoneNumber" ng-pattern="/^[0-9]+$/" required autocomplete="off" placeholder="Phone">
                                            <p class="frmerr" ng-if="(faqFrm.phone.$dirty ||faqFrm.$submitted) && faqFrm.phone.$invalid">
                                                <span class="frmerr" ng-if="faqFrm.phone.$error.required">phone number is required</span>
                                                <span class="frmerr" ng-if="faqFrm.phone.$error.pattern">Invalid phone number</span>
                                            </p>
                                        </div>
                                        <div input-field class="input-fild">
                                            <input type="text" name="organization" ng-model="faqFm.organization" required autocomplete="off" placeholder="Organization">
                                            <p class="frmerr" ng-if="(faqFrm.organization.$dirty ||faqFrm.$submitted) && faqFrm.organization.$invalid">
                                                <span class="frmerr" ng-if="faqFrm.organization.$error.required ||faqFrm.$submitted">organization is required</span>
                                            </p>
                                        </div>
                                        <div input-field class="input-fild">
                                            <textarea ng-model="faqFm.message" class="materialize-textarea" name="suggestion" required autocomplete="off" placeholder="Your Suggestions"></textarea>
                                            <p class="frmerr" ng-if="(faqFrm.suggestion.$dirty ||faqFrm.$submitted) && faqFrm.suggestion.$invalid">
                                                <span class="frmerr" ng-if="faqFrm.suggestion.$error.required ||faqFrm.$submitted">Enter Your Suggestions</span>
                                            </p>
                                        </div>
                                        <div class="google-cap">
                                            <div class="g-recaptcha" data-sitekey="6LcoORkUAAAAAGmhG55dG3E8KrM7ScU16Lp2sV0-"></div>
                                        </div>
                                        <div class="feedback-form-btm-section">
                                            <div class="feedback-form-btm-cover">
                                                <button class="btn waves-effect waves-light feedback-form-btm" type="submit" name="action"> Submit </button>
                                            </div>
                                        </div>
                                    </form>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
            </div>
            <div class="col l6 m5 s12 mob_posiotion ">
                <img src="images/faq.png" class="faq_img">
            </div>
        </div>
        <div class="store-search faqsrh">
                            <div class="store-search-border" style="background: #CCD9E3;">
                                    
                                    <input type="text" class="search-input" ng-model="searchText" placeholder="Find your question">
                                
                            </div>
                        </div>
                    </div>
    </div>
</section>
<section class="full-wrapper faq_ask">
<div class="container" ng-repeat="info in infores| filter:searchText">
       
        <h4>{{info.header}}:</h4>
        <div class="row">
            <div class="col l12 m12 s12">
                <ul class="collapsible faq_collapse" data-collapsible="accordion">
                    <li ng-repeat="item in info.details|filter:searchText " >
                        <div class="collapsible-header" id="{{item.qno}}"><span>{{item.qno}}</span>{{item.question}}</div>
                        <div update-content content="{{item.ans}}" class="collapsible-body">
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
</div>
</section>
<style type="text/css">
.searchengine span img {
    display: inline-block;
    margin-bottom: -2px;
}

ol.benefits {
    padding-left: 8%;
}

ol.benefits li {
    list-style-type: disc !important;
    padding: 7px !important;
}
</style>
