<template>
  <div id="app">
<!--     <img src="./assets/logo.png">-->
<!--    <a href="#" class="btn common-btn u-solid-dark-grey-btn">Click here</a>-->
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>


<style>
    #app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  /*color: #2c3e50;*/
  margin-top: 0px;
        height: 100%;
        position: relative;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .40s;
}

.fade-enter-active {
  transition-delay: .40s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
