<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a><a href="#/profile" class="breadcrumb second-breadcrumb">My Account</a> <a href="javascript:void(0)" class="breadcrumb"><strong>My settings</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<div class="top-merchants pro-profile Personal-Information">
    <div class="container">
        <div class="row pro-profile-theme clearfix">
            <div class="col m12 s12">
                <h3><img src="images/p-i.png"/>Personal Information </h3> </div>
            <div class="Personal-Information-form-section">
                <div class="row">
                    <form class="col s12" name="frmupdate" ng-submit="userSubmit(frmupdate.$valid)" autocomplete="off" >
                        <div class="col s12 m12 l3 push-l9">
                            <div class="Personal-Information-form-image">
                                <div class="Personal-Information-form-image-round">
                                    <img data-ng-src="{{updateUserdata.image}}" ng-if="(file && updateUserdata.image && !isbase64)" />
                                    <img data-ng-src="{{updateUserdata.image}}" ng-if="(!file && updateUserdata.image && !isbase64)" />
                                    <img ng-src="{{updateUserdata.image}}" ng-if="(!file && updateUserdata.image && isbase64)" />
                                    <img ng-src="data:image/png;base64,{{file.base64}}" ng-if="(file && updateUserdata.image && isbase64)" />
                                    <img ng-src="data:image/png;base64,{{file.base64}}" src="images/placeholder.jpg" data-err-src="images/placeholder.jpg" ng-if="!updateUserdata.image" />

                                </div>

                                <p><a href="javascript:void(0);" style="color: #309ad8;" ng-click="chooseFile()"><b>Change Profile Picture</b></a></p>
                                <input type="file" ng-model="file" name="file" base-sixty-four-input maxsize="500" accept="image/png" style="opacity: 0;" id="uploadFile">
                            </div>
                        </div>
                        <div class="col s12 m12 l9 pull-l3">
                            <div class="Personal-Information-form-content">
                                <div class="row">
                                    <div class="row">
                                        <div class="input-field col s12"> <span>First Name</span>
                                            <input name="Firstname" id="first_name" type="text" class="validate" ng-model="updateUserdata.firstName" required>
                                            <p ng-if="(frmupdate.Firstname.$dirty ||frmupdate.$submitted) && frmupdate.Firstname.$invalid">
                                                <span ng-if="frmupdate.Firstname.$error.required ||frmupdate.$submitted">First Name is required</span>
                                            </p>
                                            </div>
                                        <div class="input-field col s12"> <span>Last Name</span>
                                            <input id="last_name" name="Lastname" type="text" class="validate" ng-model="updateUserdata.lastName" required>
                                            <p ng-if="(frmupdate.Lastname.$dirty ||frmupdate.$submitted) && frmupdate.Lastname.$invalid">
                                                <span ng-if="frmupdate.Lastname.$error.required ||frmupdate.$submitted">Last Name is required</span>
                                            </p>
                                             </div>
                                        <div class="input-field col s12"> <span>Email</span>
                                            <input id="email" name="email" type="email" class="validate" ng-model="updateUserdata.emailAddress" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                            <p ng-if="(frmupdate.email.$dirty ||frmupdate.$submitted) && frmupdate.email.$invalid">
                                                <span ng-if="frmupdate.email.$error.required ||frmupdate.$submitted">Email is required</span>
                                                <span ng-if="frmupdate.email.$error.pattern">Invalid email address</span>
                                            </p>
                                            </div>
                                        <div class="input-field col s12"> <span>Address</span>
                                            <input id="address" type="text" class="validate" ng-model="updateUserdata.address">
                                        </div>
                                        <div class="input-field col s12"> <span>Phone</span>
                                            <input id="phoneNum" type="text" class="validate" ng-model="updateUserdata.phoneNumber" required>
                                        </div>
                                        <div class="input-field col s12"> <span class="">City</span>
                                            <input type="text" id="city" name="city" class="validate" ng-model="updateUserdata.city">
                                        </div>
                                        <div class="input-field col s12"> <span>State</span>
                                            <select  chosen ng-model="selected.abbreviation"  ng-options="s.abbreviation as s.name for s in statelist">
                                              <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="input-field col s12">
                                            <span >Zip Code</span>
                                            <input type="text" name="zipcode" class="validate" id="zipcode"  ng-model="updateUserdata.zipCode" required />
                                            <p ng-if="(frmupdate.zipcode.$dirty ||frmupdate.$submitted) && frmupdate.zipcode.$invalid">
                                                <span ng-if="frmupdate.zipcode.$error.required ||frmupdate.$submitted">Zip Code is required</span>
                                            </p>
                                        </div>


                                        <div class="input-field col s12"> <span>Country</span>
                                            <select  chosen ng-model="selectedCountry.abbreviation" ng-options="s.abbreviation as s.name for s in updateUserdata.country">
                                              <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="input-field col s12"> <span>Date Of Birth</span>
                                            <div class="birth-day">
                                                <label for="Birth-day">
                                                    <input input-date type="text" name="created" id="Birth-day" container="" format="yyyy-mm-dd" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="100" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()" on-stop="onStop()" ng-model="updateUserdata.birthDate" />
                                                    <div class="date-icone"></div>
                                                </label>
                                            </div>
                                        </div>

                                        <div id="faqpass" class="input-field input-field-submit col s12">
                                            <span>&nbsp;</span>
                                            <div class="cupon-code-cover">
                                                <div class="btn button cupon-code waves-effect">
                                                    <input type="submit" value="Save Changes" name="Save-Changes" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row pro-profile-theme theme-change-password clearfix">
            <div class="col m12 s12">
                <h3><img src="images/p-i2.png"/>Change Password </h3> </div>
            <div class="Personal-Information-form-section">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="Personal-Information-form-content">
                            <form class="col m12 s12" name="changepass" ng-submit="userSubmit(changepass.$valid)" >
                                <div class="row">
                                    <div class="col l9 m12 s12">
                                        <div class="input-field col s12"> <span>Enter New Password</span>
                                            <input placeholder="" name="password" id="enter_new_password" type="Password" ng-model="updateUserdata.password" class="validate" ng-minlength="8" required>
                                            <span class="valofpro" ng-if="(changepass.password.$dirty || changepass.$submitted) && changepass.password.$invalid">
                                                            <span ng-if="changepass.password.$error.required || changepass.$submitted">Password is required</span>
                                                        <span ng-if="changepass.password.$dirty &&  changepass.password.$error.minlength">Password must be atleast 8 digit!</span>
                                                        </span>
                                             </div>
                                        <div class="input-field col s12"> <span>Confirm Password</span>
                                            <input placeholder="" name="confirmpassword" id="confirm_password" type="Password" ng-model="updateUserdata.confirmpassword" pw-check="enter_new_password" class="validate" ng-minlength="8" required>
                                            <span ng-if="(changepass.confirmpassword.$dirty || changepass.$submitted) && changepass.confirmpassword.$invalid">
                                                <span ng-if="changepass.confirmpassword.$error.required || changepass.$submitted">Confirm Password is required</span>
                                            <span ng-if="changepass.confirmpassword.$error.pwmatch  && changepass.confirmpassword.$dirty &&  !changepass.confirmpassword.$error.minlength">Fields do not match!</span>
                                            <span ng-if="changepass.confirmpassword.$dirty &&  changepass.confirmpassword.$error.minlength">Password must be atleast 8 digit!</span>
                                            </span>
                                             </div>
                                    </div>
                                    <div class="col l3 m12 s12 padding-cover">
                                        <div class="input-field input-field-submit col s12">
                                            <div class="cupon-code-cover">
                                                <div class="btn button cupon-code waves-effect">
                                                    <input type="submit" value="Save Changes" name="Save-Changes" /> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reminder-settings">
                <h3><img src="images/calendar-clock.png">Reminder Settings</h3> <span>(Notifications for Favorite Stores and Coupons only)</span>
                <div class="reminder-listing-form">
                    <div class="row">
                    <form id="form3" name="frmupdate" ng-submit="userSubmit3(frmupdate.$valid)" novalidate="">
                        <div class="col l4 m12 s12 reminder-listing-thumbnel">
                            <div class="reminder-listing-thumbnel-inner">
                                <p>Notify me if any of my favorite coupon expires</p>
                                <div class="drop-btn" ng-repeat="expiration in expirations">
                                    <input type="checkbox" class="filled-in exp-checkbox" id="{{expiration.id}}" ng-model="expiration.selected" value="{{expiration.selected}}" />
                                    <label for="{{expiration.id}}">{{expiration.id}} Expiration</label>
                                </div>
                                <div class="drop-btn btn button cupon-code waves-effect cupon-code-upd" ng-click="allexpiry();">
                                    <input type="button" class="filled-in" id="all" value="Select All" />                                   
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m12 s12 reminder-listing-thumbnel">
                            <div class="reminder-listing-thumbnel-inner">
                                <p>Notify me whenever a new coupon comes from my favorite store</p>
                                <div class="drop-btn">
                                    <input type="checkbox" ng-model="updateUserdata.notificationsNewCoupons" class="filled-in" id="new-coupons"/>
                                    <label for="new-coupons">New Coupons Notification</label>
                                </div>
                               <!--  <div class="drop-btn drop-btn-down"> -->
                               <!--  <a data-activates='drop-down-mar' dropdown data-click="true"> My Stores </a> -->
                                    <!-- <div class="drop-down-march" id='drop-down-mar'>
                                    <ul>
                                        <li ng-repeat="f in favouriteList">
                                        <div>{{f.name}}</div>
                                        </li>
                                    </ul>
                                    </div> -->
                                <!-- </div>
                                <div class="add-more-cover"> <a href="#" class="add-more">Add More Favorites</a> </div> -->
                            </div>
                        </div>
                        <div class="col l4 m12 s12 reminder-listing-thumbnel">
                            <div class="reminder-listing-thumbnel-inner">
                                <p>How to receive notification</p>
                                <div class="drop-btn" ng-repeat="notification in notifications">
                                    <input type="checkbox" class="filled-in child-checkbox" id="{{notification.id}}" value="{{notification.value}}" ng-model="notification.selected"/>
                                    <label for="{{notification.id}}">{{notification.label}} Notification</label>
                                </div>
                                <div class="drop-btn btn button cupon-code waves-effect cupon-code-upd"  ng-click="allNotify()">
                                    <input type="button" class="filled-in" id="all-notification" value="Select All" />                                   
                                </div>
                            </div>
                        </div>
                        <div class="col m12 s12 reminder-listing-thumbnel-btn">
                            <div class="cupon-code-cover cupon-code-cover-upd">
                                <div class="btn button waves-effect cupon-code-upd last">
                                    <input type="submit" value="Save Changes" name="Save-Changes" /> 
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
