.space, .space_del{
	margin-top: 20px;
}
.space-dropdown {
	margin-bottom: 15px;
}
.box-space {
	margin-bottom: 5px;
}
.view_cls, .del_cls, .del_cls_del, .restore {
	margin-bottom: 25px;
}
.new-btn {
	margin-top: 35px;
	float:right;
}
.default_hidden {
	font-size: 14px !important;
}
.nodata_class {
	font-size: 20px;
	color: #dd0404;
}