<div class="top-spacer"></div>
<div class="top-merchants pro-fundraiser">
    <div class="container">
        <nav>
            <div class="nav-wrapper pro-breadcrumb">
                <div class="col s12"> <a href="#/home" class="breadcrumb first-breadcrumb">Home</a> <a href="javascript:void(0)" class="breadcrumb"><strong>My Account</strong></a> </div>
            </div>
        </nav>
    </div>
</div>
<div class="top-merchants pro-profile pro-profile">
    <div class="container">
        <div class="row pro-profile-theme clearfix">
            <div class="col m12 s12">
                <h3><img src="images/profile-user.png"/>Profile <a href="#/settings"><img src="images/edit-pen.png"/></a></h3> </div>
            <div class="col m6 s12">
                <div class="profile-samary">
                    <div class="profile-samary-img">
                        <div class="profile-samary-img-round">
                            <img class="img-circle" data-ng-src="{{usersData.image}}" ng-if="usersData.image" />
                            <img class="img-circle" data-ng-src="images/placeholder.jpg" ng-if="!usersData.image" />
                        </div>
                    </div>
                    <div class="profile-samary-text">
                        <h4 ng-if="(usersData.firstName !== null && usersData.lastName !== null)">{{usersData.firstName +" "+usersData.lastName}}</h4>
                        <h4 ng-if="(usersData.firstName == null && usersData.lastName == null)">Welcome To CashPack</h4>
                        <p ng-if="usersData.emailAddress">Email : <span>{{usersData.emailAddress}}</span></p>
                        <p ng-if="usersData.phoneNumber">Phone : <span>{{usersData.phoneNumber}}</span></p>
                        <p ng-if="usersData.birthDate">Date Of Birth : <span>{{usersData.birthDate | date: "y-MM-dd"}}</span></p>
                    </div>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="profile-samary-address">
                    <!-- <h6>Address :</h6> -->
                    <p ng-if="usersData.address">Address :<span>{{usersData.address}}</span></p>
                    <p ng-if="usersData.state">State :<span>{{selectedstate.name}}</span></p>
                    <p ng-if="usersData.city">City :<span>{{usersData.city}}</span></p>
                    <p ng-if="usersData.zipCode">ZipCode :<span>{{usersData.zipCode}}</span></p>
                </div>
            </div>
        </div>
        <div class="account-section clearfix">
            <div class="row account-total-section">
                <div class="col l7 m12 s12 account-section-content">
                    <h5><img src="images/Group-icone.png" style="display: initial;" alt=""/>CashPack Account</h5>
                    <p>Total value accumulated in my account</p>
                    <div class="help-btn-section-cover withdrw" style="width: 202px;height: 56px;"> <a ng-click="Withdraw()" href="javascript:void(0)" class="waves-effect waves-light btn help-btn-section-ele">Withdraw</a> </div>
                </div>
                <div class="col l5 m12 s12 account-section-img">
                    <!-- <div style="display: inline-block;height: 168px;width: 339px;"> -->
                    <div class="round-img">
                        <p><sup>$</sup>{{price | currency}}</p>
                    </div >
                    <div class="asl">
                    <a href="javascript:void(0);" class="price1" ng-click="Total();">Total</a> | 
                    <a href="javascript:void(0);" class="price2" ng-click="avail();" >Available</a> | 
                    <a href="javascript:void(0);" class="price3" ng-click="Pending();">Pending</a>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="donation-section clearfix" id="profileTransc">
            <div class="row donation-total-section">
                <div class="col s12 m7 donation-section-content">
                    <h5><img src="images/charity.png" alt="">CashPack Donations</h5>
                    <p>Total donation to my causes</p>
                </div>
                <div class="col s12 m5 donation-section-img">
                    <div class="donation-section-round-cover">
                        <div class="donation-section-round">
                            <sup>$</sup>0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history-section clearfix">
            <h3><img src="images/history-clock-button.png" alt=""/> Transaction History</h3>
            <div class="filter-section">
                <!-- <div class="date date-start">
                    <label for="inputCreated">
                        <span for="inputCreated-form-transaction">From Date</span>
                        <input input-date type="text" name="created" id="inputCreated" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="15" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()" on-stop="onStop()" ng-model="data.startDate" />
                        <div class="date-icone"></div>
                    </label>
                </div>
                <div class="date date-start">
                    <label for="inputExpired">
                        <span for="inputCreated-to-transaction">To Date</span>
                        <input input-date type="text" name="created" id="inputExpired" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="15" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()" on-stop="onStop()" ng-model="data.expirationDate" />
                        <div class="date-icone"></div>
                    </label>
                </div> -->
                <div class="table-section clearfix">
                <table id="datatable" class="responsive-table" width="100%">
                     <thead>
                            <tr>
                                <th data-field="date">Date</th>
                                 <th data-field="date">Merchants</th>
                               <!--  <th data-field="merchants">Merchants</th> -->
                                <!-- <th data-field="coupon">Coupon</th> -->
                                <th data-field="cmsn">Commission</th>
                                <th data-field="totAmnt">Total Amount</th>
                                <th data-field="status">Status</th>
                                <!-- <th data-field="description">Description</th> -->
                            </tr>
                        </thead>
                        <tbody></tbody>
                </table>

                   <!--  <div  ng-if="favHist.length===0" style="text-align: center;padding: 34px;font-weight: bold;">No data found</div> -->
                    <p>Once the store confirms your purchase (3-10 days), your transaction will appear here.</p>
                </div>
            </div>
        </div>
        <!-- <div class="donation-history-section clearfix">
            <h3><img src="images/donation-histo2.png" alt=""/> Donation History</h3>
            <div class="filter-section donation-filter-section">
                <div class="date deta-date">
                    <a class='dropdown-button drop-btn-design' data-activates='drop-down1' dropdown data-click="true">Today</a>
                    <form action="#">
                        <ul class="drop-down1" id='drop-down1'>
                            <li>
                                <input class="with-gap" name="group4" type="radio" id="test1" value="test1" />
                                <label for="test1">Yesterday</label>
                            </li>
                            <li>
                                <input class="with-gap" name="group3" type="radio" id="test2" value="test2" />
                                <label for="test2">last week</label>
                            </li>
                            <li>
                                <input class="with-gap" name="group1" type="radio" id="test3" value="test3" />
                                <label for="test3">Last Month</label>
                            </li>
                            <li>
                                <input class="with-gap" name="group2" type="radio" id="test4" value="test4" />
                                <label for="test4">Year to Date</label>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="date date-start">
                    <label for="inputCreated">
                        <span for="inputCreated-form-donation">From Date</span>
                        <input input-date type="text" name="created" id="inputCreated-form-donation" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="15" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()" on-stop="onStop()" ng-model="data.startdate" />
                        <div class="date-icone"></div>
                    </label>
                </div>
                <div class="date date-start">
                    <label for="inputCreated">
                        <span for="inputCreated-to-donation">To Date</span>
                        <input input-date type="text" name="created" id="inputCreated-to-donation" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close" select-years="15" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()" on-set="onSet()" on-stop="onStop()" ng-model="data.expirationDate" />
                        <div class="date-icone"></div>
                    </label>
                </div>
                <div class="table-section clearfix">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th data-field="date">Date</th>
                                <th data-field="merchants">Type</th>
                                <th data-field="coupon">Name</th>
                                <th data-field="description">Cause detail</th>
                                <th data-field="Amount">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cl in charList">
                                <td>{{cl.edate}}</td>
                                <td><img ng-src="{{cl.pic}}" alt="" /></td>
                                <td>{{cl.name}}</td>
                                <td>{{cl.description}} </td>
                                <td>{{cl.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div> -->
    </div>
</div>
