<template>
  <div class="afterLogIn">
      <site-header></site-header>
      <div class="dashboardWrap">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-sm-3">
              
              <site-sidebar></site-sidebar>
            </div>
            <div class="col col-sm-9">
              <router-view/>
            </div>
          </div>
        </div>
      </div>
      <site-footer></site-footer>
    </div>
</template>

<script>
import header from '../components/header.vue';
import footer from '../components/footer.vue';
import sidebar from '../components/sidebar.vue';
export default {
  name: 'after-login',
  data () {
    return {
      msg: ''
    }
  },
  components:{
    'site-header': header,
    'site-footer': footer,
    'site-sidebar': sidebar,
    
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
