<template>
  <div class="beforeLogIn">
      <div class="container">
        <div class="modal-outer row align-items-center justify-content-center">
          <div class="col-sm-7">
            <div class="user-modal">
              <div class="site-logo">
                <img src="../assets/images/Logo.png" alt="">
              </div>
              <div class="site-login">
                <router-view/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: 'before-login',
  data () {
    return {
      msg: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .page-not-found {
    text-align: center;
  }
  .page-not-found img {
    max-width: 400px;
    margin: 0 auto;
    padding: 100px 30px 50px;
  }
</style>
