<template>
  <div class="dashboard">
    <div>
      dashboard {{ usernamed }}
      <button v-on:click="logout"> logout </button>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
import { EventBus } from '../main.js';

export default {
  name: 'dashboard',
  data () {
    return {
      logedInUser: '',
      usernamed: '',
    }
  },
  methods: {
    logout: function(){
      firebase.auth().signOut().then(() => {
        this.$router.replace('login');
        EventBus.$emit('onLoggedIn', false);
      });
    },
    
  },
  created(){
    this.logedInUser = firebase.auth().currentUser.email;
    EventBus.$emit('onLoggedIn', true);

    this.usernamed = firebase.auth().currentUser.displayName 
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .dashboard {
    height: 100vh;
    background: #ffffff;
    padding: 30px;
  }
</style>
