<template>
  <div class="footer">
    <div>
      <div class="container">
        footer
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'site-footer',
  data () {
    return {
      msg: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .footer {
    background: #ffffff;
    border-top: 2px solid #212529;
    padding: 20px;
  }
</style>
