<template>
 <div class="site-login">
    <div class="section-heading">
      <h2>Use you existing account to log in</h2>
    </div>
    <div class="alert alert-danger" v-if="errMsg">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      {{'Opps! ' + errMsgPlus}}
    </div>
    <div class="modal-inner">
      <form @submit.prevent="validateBeforeSubmit" v-if="!loaderShow">
          <div class="form-group">
            <input name="email" v-model="userdetails.email" v-validate="'required|email'" :class="{'form-control input': true, 'is-danger': errors.has('email') }" type="text" placeholder="Your Email *">
            <i v-show="errors.has('email')" class="fa fa-warning"></i>
            <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
          </div>
          <div class="form-group">
            <input name="password" v-model="userdetails.password" v-validate="'required|min:6'" :class="{'form-control input': true, 'is-danger': errors.has('password') }" type="password" placeholder="Password *">
            <i v-show="errors.has('password')" class="fa fa-warning"></i>
            <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
          </div>
          <div class="form-group cta-btn text-right">
            <button class="btn btn-success" type="submit">Log in <icon name="unlock-alt"></icon></button>
          </div>
          <div class="form-group login-links">
            <div class="row">
              <div class="col-sm-6">
                <router-link to="resetpassword" class="forgot-password"><icon name="angle-left"></icon> &nbsp; I forgot my password </router-link>
              </div>
              <div class="col-sm-6 text-right">
                <router-link to="registration" class="sign-in">Create a new account &nbsp; <icon name="angle-right"></icon></router-link>
              </div>
            </div>
          </div>
      </form>
      <div class="loader" v-else><img src="../assets/images/loading.gif" alt=""></div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  name: 'login',
  data: () => ({
    userdetails: {
      email: '',
      password: '',
    },
    loaderShow: false,
    errMsg: false,
    errMsgPlus: '',
  }),
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.loaderShow = true;
          this.errMsg = false;
          
          firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION).then(
            (user) => {
              firebase.auth().signInWithEmailAndPassword(this.userdetails.email, this.userdetails.password).then(
                (user) => {
                  this.loaderShow = false;
                  this.$router.replace('dashboard');
                },
                (err) => {
                  this.loaderShow = false;
                  this.errMsg = true;
                  this.errMsgPlus = err.message 
                }
              )
            }
          );
          return;
        }
        this.errMsg = true;
        this.errMsgPlus = 'The Email and Password fields are required.'
        //alert('Correct them errors!');
      });
    },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
