<template>
  <div class="pagenot-found">
    <div class="page-not-found"><img src="../assets/images/Page-not-found.png" alt=""></div>
    <div class="text-center"><router-link to="/login" class="sign-in"><button class="btn btn-success" type="button">Go to home page &nbsp; </button></router-link></div>
  </div>
</template>

<script>
export default {
  name: 'pagenotfound',
  data () {
    return {
    }
  },
  methods: {
    
  },
  created(){
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
