<template>
  <div class="registration">
    <div class="site-registration">
      <div class="section-heading">
        <h2>Sign up for free to get started</h2>
      </div>
      <div class="alert alert-danger" v-if="errMsg">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        {{'Opps! ' + errMsgPlus}}
      </div>
      <div class="modal-inner" v-if="!registrationSuccess">
        <form @submit.prevent="validateBeforeSubmit" v-if="!loaderShow">
            <div class="form-group">
                <input name="name" v-model="userdetails.name" v-validate="'required'" :class="{'form-control input': true, 'is-danger': errors.has('name') }" type="text" placeholder="Full Name *">
                <i v-show="errors.has('name')" class="fa fa-warning"></i>
                <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
            </div>
            <div class="form-group">
              <input name="email" v-model="userdetails.email" v-validate="'required|email'" :class="{'form-control input': true, 'is-danger': errors.has('email') }" type="text" placeholder="Your Email *">
              <i v-show="errors.has('email')" class="fa fa-warning"></i>
              <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
            </div>
            <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <input name="password" v-model="userdetails.password" v-validate="'required|min:6'" :class="{'form-control input': true, 'is-danger': errors.has('password') }" type="password" placeholder="Password *">
                    <i v-show="errors.has('password')" class="fa fa-warning"></i>
                    <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
                  </div>
                  <div class="col-sm-6">
                    <p class="control has-icon has-icon-right">
                        <input name="confirmpassword" v-model="userdetails.confirmpassword"  v-validate="'required|confirmed:password'" :class="{'form-control input': true, 'is-danger': errors.has('confirmpassword') }" type="password" placeholder="Repeat Password *">
                        <i v-show="errors.has('confirmpassword')" class="fa fa-warning"></i>
                        <span v-show="errors.has('confirmpassword')" class="help is-danger">{{ errors.first('confirmpassword') }}</span>
                    </p>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <div class="custom-checkbox">
                <input type="checkbox" id="checkbox-1" name="terms" v-validate="'required'">
                <label for="checkbox-1">By clicking Sign Up, you agree to our <a href="#"> Terms</a> and that you have read our <a href="#">Privacy Policy</a>.</label>
                <span class="help is-danger" v-show="errors.has('terms')">{{ errors.first('terms') }}</span>
              </div>
            </div>
            <div class="form-group text-right">
              <button class="btn btn-success" type="submit">Sign up <icon name="check"></icon></button>
            </div>
            <div class="form-group login-links">
              <div class="row">
                <div class="col-sm-6">
                  <router-link to="resetpassword" class="forgot-password"><icon name="angle-left"></icon> &nbsp; I forgot my password </router-link>
                </div>
                <div class="col-sm-6 text-right">
                  <router-link to="/login" class="sign-in">Sign in to my account &nbsp; <icon name="angle-right"></icon></router-link>
                </div>
              </div>
            </div>
            
        </form>
        <div class="loader" v-else><img src="../assets/images/loading.gif" alt=""></div>
      </div>
      <div class="modal-inner" v-else>
        <div class="success-msg">
          <h4>You are successfully registered</h4>
          <router-link to="/login" class="sign-in"><button class="btn btn-success" type="submit">Log in <icon name="unlock-alt"></icon></button></router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
export default {
  name: 'login',
  data: () => ({
    userdetails: {
      email: '',
      name: '',
      password: '',
      confirmpassword: ''
    },
    registrationSuccess: false,
    loaderShow: false,
    errMsg: false,
    errMsgPlus: ''
    
  }),
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.loaderShow = true;
          this.errMsg = false;
          firebase.auth().createUserWithEmailAndPassword(this.userdetails.email, this.userdetails.password).then(
            (user) => {
              this.loaderShow = false;
              this.registrationSuccess = true
              firebase.auth().signOut();
              user.updateProfile({
                displayName: this.userdetails.name,
                //photoURL: "https://example.com/jane-q-user/profile.jpg"
              }).then(function() {
                console.log('Update successful');
              }).catch(function(error) {
                console.log('An error happened')
              });
            },
            (err) => {
              this.loaderShow = false;
              this.registrationSuccess = false;
              this.errMsg = true;
              this.errMsgPlus = err.message   
            }
          );
          return;
        }
        this.errMsg = true;
        this.errMsgPlus = 'All the fields are required.'
        //alert('Correct them errors!');
      });
    },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.success-msg {
  text-align: center;
}
.success-msg h4 {
  color: green;
  margin-bottom: 25px
}
</style>
