<template>
  <div class="resetpassword">
    <div>
      <div class="section-heading">
          <h2>Please enter your email </h2> 
      </div>
      <div class="alert alert-danger" v-if="errMsg">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        {{ 'This email is not registered' }}
      </div>
      <div class="alert alert-success" v-if="succMsg">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        {{ 'Password reset link sent to your Email address'}}
      </div>
      <form @submit.prevent="validateBeforeSubmit">
          <div class="form-group">
            <input name="email" v-model="email" v-validate="'required|email'" :class="{'form-control input': true, 'is-danger': errors.has('email') }" type="text" placeholder="Your Email *">
            <i v-show="errors.has('email')" class="fa fa-warning"></i>
            <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
          </div>
          <div class="form-group login-links">
              <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn-danger" type="submit">Reset your password &nbsp; </button>
                </div>
                <div class="col-sm-6 text-right">
                  <router-link to="/login" class="sign-in"><button class="btn btn-success" type="button">Sign in to my account &nbsp; </button></router-link>
                </div>
              </div>
            </div>
      </form>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
export default {
  name: 'resetpassword',
  data: () => ({
      email: '',
      errMsg: false,
      succMsg: false
  }),
  methods: {
      validateBeforeSubmit() {
        var self = this;
        this.$validator.validateAll().then((result) => {
            var auth = firebase.auth();
            var emailAddress = this.email;
            if (result) {
                auth.sendPasswordResetEmail(emailAddress).then(function() {
                  // Email sent.
                  console.log('Password reset link sent to your Email address');
                  self.succMsg = true;     
                }).catch(function(error) {
                  // An error happened.
                  console.log('This Email is not registered');
                  self.errMsg = true;
                });
            }
        });
      },
  },
  created(){
     
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
