<template>
  <div class="sidebar">
    <div>
      sidebar
    </div>
  </div>
</template>

<script>
export default {
  name: 'site-sidebar',
  data () {
    return {
      msg: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .sidebar {
    padding: 30px;
  }
</style>
