<template>
  <div class="success">
    <div>
      <input type="file" value="upload">
    </div>
  </div>
</template>

<script>
export default {
  name: 'success',
  data () {
    return {
    }
  },
  methods: {
    
  },
  created(){
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
