a:hover {
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    text-decoration: none;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}
button {
    cursor: pointer;
}
// Button Style Start
.common-btn {
    font-size: 16px;
    @include border-radius(3px);
    padding: 7px 30px;
    color: $white;
    background-color: transparent;
}
.u-solid-green-btn {
    background-color: $primary-green;
    color: $white;
    &:hover {
        background-color: $primary-green-active;
        color: $white;
    }
}

/* =================
Holo Button utility
================= */

// Light grey holo button
.u-holo-light-grey-btn {
    //@extend .common-btn;
    border: 1px solid $primary-light-grey-active;
    color: $primary-light-grey-active;
    &:hover {
        background-color: $primary-light-grey-active;
        color: $white;
    }
}
// Dark grey holo button
.u-holo-dark-grey-btn {
    //@extend .common-btn;
    border: 1px solid $primary-dark-grey-active;
    color: $primary-dark-grey-active;
    &:hover {
        background-color: $primary-dark-grey-active;
        color: $white;
    }
}
// Red holo button
.u-holo-red-btn {
    //@extend .common-btn;
    border: 1px solid $primary-red;
    color: $primary-red;
    &:hover {
        background-color: $primary-red;
        color: $white;
    }
}

/* =================
Solid Button utility
================= */

// Light grey solid button
.u-solid-dark-grey-btn {
    //@extend .common-btn;
    border: 1px solid $primary-dark-grey;
    background-color: $primary-dark-grey;
    &:hover {
        background-color: $primary-dark-grey-active;
        color: $white;
    }
}
