.main-wrapper{
	width: 600px;
    height: 400px;
    position: relative;
    margin: 40px auto;
    background-color: #b7b4b4;
}

.main-wrapper .image-wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-wrapper .image-wrapper img{
	height: 300px;
	width: 250px;
}

.jewellery-block{
	position: absolute;
    width: 30px;
    height: 30px;
}

.one{
    top: 3%;
    left: 38%;
}

.two{
    top: 3%;
    right: 38%;
}

.three{
    top: 30%;
    left: 23%;
}

.four{
    bottom: 30%;
    left: 23%;
}

.five{
    top: 30%;
    right: 23%;
}

.six{
    bottom: 30%;
    right: 23%;
}

.seven{
    bottom: 3%;
    left: 38%;
}

.eight{
    bottom: 3%;
    right: 38%;
}

