<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
    name: 'app',
    data(){
        return {
            logo: 'OfficePal'
        }
    }
}
</script>

<style>
    html{
        height: 100%;
    }
    body{
        height: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    #app {
        font-family: 'Source Sans Pro', 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        height: 100%;
    }
</style>
