<template>
<div id="app">
	    <afterlogin v-if="isLogin"/>
		<beforelogin v-if="!isLogin"/>
	</div>
</template>
	<script>
	import beforelogin from '@/components/layouts/beforelogin'
	import afterlogin from '@/components/layouts/afterlogin'
	import { EventBus } from '@/event-bus.js';

	export default {
	name: 'app',
	components: {
	beforelogin,
	afterlogin
	},
	data () {
	return {
	isLogin: false
	}
	},
	mounted() {
		this.$session.start();
         var self=this;

         console.log(this.$session.has('user'))

		EventBus.$on('checkLoginStatus', () => {
		   self.checkLogin();
		});

		this.checkLogin();

		
	},

	methods:{
	   checkLogin(){

	   if(!_.isUndefined(this.$session.has('user')))
	   {
	   		this.isLogin=(this.$session.has('user'));
	   }
	   else
	   {
	   	this.isLogin=false;
	   }
	   }
	}
	}
	</script>
	<style>
	</style>