<template>
  <div>
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>

<script>
import addblog from './components/addblog.vue';
import showBlog from './components/showBlog.vue';
import listBlog from './components/listBlog.vue';
import header from './components/header.vue';

export default {

 components:{
    'add-blog': addblog,
    'show-blog':showBlog,
    'list-Blog':listBlog,
    'app-header':header
  },
  data(){
    return{
    }
  },
  methods:{
   
  }
}
</script>

<style>

</style>
