body,
html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: $bg-color;
}
.login-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-container.card {
    width: 690px;
    padding: 45px;
}

/*
 * Card component
 */

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    //padding: 20px 25px 30px;
    margin: 15px auto;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 8px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
    margin: 0 auto 5px;
    display: block;
}

/*
 * Form styles
 */

.profile-name-card {
    font-size: 28px;
    color: $primary-light-grey-active;
    font-weight: 300;
    text-align: center;
    margin: 5px 0 10px 0;
    line-height: 30px;
}
.form-label {
    margin-bottom: 10px;
    color: #7F8C8D;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 4px;
    -webkit-transition: top 300ms linear;
    -moz-transition: top 300ms linear;
    -o-transition: top 300ms linear;
    -ms-transition: top 300ms linear;
    transition: top 300ms linear;
}
.o-form-container {
    position: relative;
    margin-bottom: 22px;
    padding-left: 4px;
    padding-right: 4px;
}
.o-form-field {
    height: 36px;
    z-index: 2;
    position: relative;
    padding: 5px;
    width: 100%;
    border: none;
    color: $primary-dark-grey;
    font-weight: 400;
    background-color: transparent;
    border-bottom: #c1c1c1 1px solid;
    &:focus {
        border-bottom: #7F8C8D 1px solid;
        color: $primary-light-grey-active;
    }
}
.js-label-transition {
    -webkit-transition: top 200ms linear;
    -moz-transition: top 200ms linear;
    -o-transition: top 200ms linear;
    -ms-transition: top 200ms linear;
    transition: top 200ms linear;
    top: -15px;
    font-size: 14px;
    @include responsive(tab) {
        top: -15px;
        font-size: 14px;
    }
}
.form-signin {
    margin-top: 20px;
    margin-bottom: 10px;
    div.row {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.o-form-button {
    text-align: right;
}
.btn--signin {
    font-weight: 600;
    span {
        font-size: 12px;
    }
}
.o-form-bottom-anchore {
    overflow: hidden;
    li {
        float: left;
        width: 50%;
        margin: 0 !important;
        a {
            display: block;
            font-size: 16px;
            line-height: 22px;
            i {
                font-size: 14px;
            }
        }
        &:last-child {
            text-align: right;
        }
    }
}
.o-fgt-anchore {
    color: $primary-red;
    &:hover {
        color: $primary-red-active;
    }
}
.o-signup-anchore {
    color: $primary-dark-grey;
    &:hover {
        color: $primary-dark-grey-active;
    }
}
// registration style
.c-checkbox-style {
    label {
        a {
            color: $primary-cyan;
            text-decoration: underline;
            font-size: 15px;
            -webkit-text-underline-position: under;
            -ms-text-underline-position: below;
            text-underline-position: under;
            &:hover {
                color: $primary-cyan-active;
            }
        }
    }
}
// Forgot Password style
.profile-subtext {
    text-align: center;
    color: #2C3E50;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
// SignUp validation style
.is-danger-msg {
    color: $alert-color;
    margin-top: 5px;
    font-size: 12px;
    display: inline-block;
    width: 100%;
}
.is-danger {
    border-bottom-color: $alert-color !important;
    color: $alert-color !important;
}
.o-form-container .is-danger + label {
    color: $alert-color !important;
}
.is-danger + div.check {
    border-color: $alert-color !important;
}
// input box autocomplete background change
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
// errors msg styling
.already-exist {
    text-align: center;
    padding: 15px 5px;
    border: $primary-red 1px solid;
    color: $primary-red;
    background-color: lighten($primary-red, 35%);
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    span {
        font-weight: 700;
    }
}
// registration success msg 
.o-post-register {}
.o-post-msg {
    font-size: 20px;
    color: $primary-light-grey-active;
    font-weight: 300;
    text-align: center;
    margin: 15px 0 15px 0;
    line-height: 30px;
    span {
        font-weight: 700;
        font-size: 26px;
        color: $primary-dark-grey;
    }
}
.o-forgot-msg {
    font-size: 20px;
    color: $primary-light-grey-active;
    font-weight: 300;
    text-align: center;
    margin: 15px 0 5px 0;
    line-height: 22px;
    span {
        font-weight: 600;
        font-size: 22px;
        color: $primary-orange-active;
    }
}
.o-post-msg-desc {
    text-align: center;
    a {
        font-weight: 600;
        color: $primary-green-active;
        text-decoration: underline;
        -webkit-text-underline-position: under;
        -ms-text-underline-position: below;
        text-underline-position: under;
        span {
            font-size: 12px;
        }
        &:hover {
            color: $primary-cyan-active;
        }
    }
}
.o-forgot-msg-desc {
    text-align: center;
    margin-bottom: 20px;
    line-height: 32px;
    span {
        font-size: 18px;
        background-color: $primary-extra-light-active;
        color: $primary-dark-grey;
        padding: 3px 7px;
        margin-left: 5px;
    }
}
// Error Section
.o-error-section {
    padding: 15px;
    text-align: center;
    h2 {
        text-align: center;
        color: $white;
        font-size: 28px;
        margin-bottom: 20px;
        font-weight: 300;
        display: inline-block;
        width: 100%;
    }
    h3 {
        font-weight: 700;
        color: $white;
        font-size: 18px;
        margin-bottom: 10px;
    }
    p {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 15px;
    }
    a {
        padding: 10px 20px;
        display: inline-block;
    }
    .error-img {
        margin-top: 20px;
        margin-bottom: 20px;
        img {
            max-width: 100%;
        }
    }
}
//Screen Footer 
.o-screen-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: #eaeaea;
    font-weight: 300;
    font-size: 14px;
    padding: 5px;
}
// Modal Style
.o-terms-modal {
    button.close {
        border: #ccc 1px solid;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        &:hover {
            background-color: #ccc;
        }
    }
    h4.modal-title {
        font-weight: 600;
        color: $primary-dark-grey;
        font-size: 24px;
        margin-bottom: 20px;
    }
}
.modal-text-area {
    overflow-y: scroll;
    max-height: 400px;
    p {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 18px;
    }
}
