<template>
  
<div class="container">    
<div id="layout1" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                  <transition name="fade">
                  <router-view></router-view>
                </transition>
            </div>
 </div>
</div>


</template>

<script>
export default {
  name: 'beforelogin',
    components: {
       
    },
  data () {
    return {
      
    }
  },
    mounted() {
       
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
