<template> 
    <nav class="navbar navbar-inverse navbar-fixed-left">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#" v-on:click="logoutData">Logout</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a data-class="navbar-fixed-left">
                <i class="fa fa-arrow-left"></i>
                Fixed Left
              </a>
            </li>
            <li>
              <a data-class="navbar-fixed-top">
                <i class="fa fa-arrow-up"></i>
                Fixed Top
                <small>(original)</small>
              </a>
            </li>
            <li>
              <a data-class="navbar-fixed-right">
                <i class="fa fa-arrow-right"></i>
                Fixed Right
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</template>
<script>
import { EventBus } from '@/event-bus.js';

export default {
name: 'sidebar',
components: {

},
data () {
return {

}
},
mounted() {

},
methods:{
  
 logoutData() {
   this.$session.destroy() 
   this.$router.push('/');  
   EventBus.$emit('checkLoginStatus', this.$session.has('user'));

 }
}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>